<!-- 렌트가격표(month.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>SAVECAR - 렌트 가격표</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link th:href="@{/css/rent_price.css}" rel="stylesheet">
    <script th:src="@{/js/rent_price.js}" defer></script>
</head>

<div layout:fragment="content">
    <a href="/rent/month/new"><button class="fixed_phone_pc_btn" ><img th:src="@{/img/arrow1.png}" width="30" height="30">  월렌트 예약가능차량 보기</button></a>
    <a href="/rent/long_term"><button class="fixed_message_pc_btn" ><img th:src="@{/img/arrow1.png}" width="30" height="30">  장기렌트 예약가능차량 보기</button></a>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h3 class="page-title">월 렌트</h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--feature section -->
    <section id="feature" class="feature sections">
      <div class="container">
          <div class="row">
              <div class="main_portfolio pinside30">
                  <div class="work_menu text-center">

                      <div class="separator"></div>
                      <div id="filters" class="toolbar mb2 mt2">
                          <h2 class="price_menu">
                              <a href="/price/month/경형"><button class="btn-md fil-cat filter">월 렌트</button></a>
                              <span class="separator_padding"> | </span>
                              <a href="/price/yearly/경형"><button class="btn-md fil-cat filter">12개월 렌트</button></a>
                              <span class="separator_padding"> | </span>
                              <a href="/price/twoYearly/경형"><button class="btn-md fil-cat filter">24개월 렌트</button></a>
                              <span class="separator_padding"> | </span>
                              <a href="/price/short"><button class="btn-md fil-cat filter">단기 렌트</button></a>
                          </h2>
<!--                              <a href="/price/camp"><button class="btn-md fil-cat filter">캠핑카</button></a></h2>-->
                      </div> 
                      <div class="separator"></div>
                  </div>    
              </div>
              <div class="main_feature text-center">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-car fa-4x"></i>
                          </div>
                          <h2>정비 포함</h2>
                          <div class="separator3"></div>
                          <p style="font-size: medium; color: #5a5a5a">4년 계약만큼 저렴하다<br/>
                          필요한 개월수만 이용하자 !</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-key fa-4x"></i>
                          </div>
                          <h2>자차 포함</h2>
                          <div class="separator3"></div>
                          <p style="font-size: medium; color: #5a5a5a">26세 기준<br />
                          21세 추가요금 발생<br />
                          단기렌트 : 자차 별도</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-coins fa-4x"></i>
                          </div>
                          <h2>주행거리별 요금제</h2>
                          <div class="separator3"></div>
                          <p style="font-size: medium; color: #5a5a5a">마일리지 제도를 이용하여<br />
                          차량유지비용을 SAVE 하라</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                             <i class="fas fa-people-arrows fa-4x"></i>
                          </div>
                          <h2>송파 장지역 방문 기준</h2>
                          <div class="separator3"></div>
                          <p style="font-size: medium; color: #5a5a5a">VAT 별도 요금<br />
                          지방배회차 상담 환영</p>
                      </div>
                  </div>
              </div>
          </div>


          <div class="pinside50"></div>

          <section class="col-lg-12" style="padding: 0;">
              <div class="pinside20" align="center">
                  <h1 style="font-weight: bold">월렌트</h1>
              </div>
              <div class="price_buttons">
                  <button class="price_button" onclick="location.href='/price/month/경형'">경형</button>
                  <button class="price_button" onclick="location.href='/price/month/준중형'">준중형</button>
                  <button class="price_button" onclick="location.href='/price/month/중형'">중형</button>
                  <button class="price_button" onclick="location.href='/price/month/중대형'">중대형</button>
                  <button class="price_button" onclick="location.href='/price/month/대형'">대형</button>
                  <button class="price_button" onclick="location.href='/price/month/소중형SUV'">소중형SUV</button>
                  <button class="price_button" onclick="location.href='/price/month/중형SUV'">중형SUV</button>
                  <button class="price_button" onclick="location.href='/price/month/중대형SUV'">중대형SUV</button>
                  <button class="price_button" onclick="location.href='/price/month/대형SUV'">대형SUV</button>
                  <button class="price_button" onclick="location.href='/price/month/승합'">승합</button>
                  <button class="price_button" onclick="location.href='/price/month/수입차'">수입차</button>
              </div>
              <div style="text-align: right;">
                  <button onclick="hideDeposit();" class="deposit_button">보증금 숨기기</button>
              </div>
              <div class="responsive">
                  <table id="example" class="table table-bordered table-responsive">
                      <thead>
                      <tr>
                          <th scope="row" style="word-break: keep-all;">차종</th>
                          <th scope="row">차명</th>
                          <th class="depositColumn">보증금</th>
                          <th>2000km</th>
                          <th>2500km</th>
                          <th>3000km</th>
                          <th>4000km</th>
                          <th>21세</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="monthlyRent : ${monthlyRentList}">
                          <td scope="row" th:text="${monthlyRent.category2}"></td>
                          <td scope="row" th:text="${monthlyRent.name}"></td>
                          <td scope="col" th:text="${#numbers.formatInteger(monthlyRent.deposit, 3, 'COMMA')}" class="depositColumn"></td>
                          <td scope="col" th:text="${#numbers.formatInteger(monthlyRent.cost_for_2k, 3, 'COMMA')}"></td>
                          <td scope="col" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * monthlyRent.cost_for_2_5k / 1000)*1000, 3, 'COMMA')}"></td>
                          <td scope="col" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * monthlyRent.cost_for_3k / 1000)*1000, 3, 'COMMA')}"></td>
                          <td scope="col" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * monthlyRent.cost_for_4k / 1000)*1000, 3, 'COMMA')}"></td>
                          <td scope="col" th:text="${#numbers.formatInteger(monthlyRent.age_limit, 3, 'COMMA')}"></td>
                      </tr>
                      </tbody>
                  </table>
              </div>

              <div class="bg-light pinside30" style="margin-top: 70px;">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h3>간편 상담신청</h3>
                          <hr>
                          <form name="reservation-info">
                              <div class="row">
                                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group has-feedback">
                                          <label class="control-label" for="name"><span style="color:red">*</span> 이름</label>
                                          <textarea class="form-control" id="reservation-detail-name" name="textarea" rows="1" placeholder="이름을 입력해주세요."></textarea>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group has-feedback">
                                          <label class="control-label" for="phone"><span style="color:red">*</span> 연락처</label>
                                          <textarea class="form-control" id="reservation-detail-phone" name="textarea" rows="1" placeholder="연락처를 입력해주세요."></textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group has-feedback">
                                          <label class="control-label" for="carname">차량명</label>
                                          <textarea class="form-control" id="reservation-detail-carname" name="textarea" rows="1" placeholder="차량명을 입력해주세요."></textarea>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group has-feedback">
                                          <label class="control-label" for="region">지역</label>
                                          <textarea class="form-control" id="reservation-detail-region" name="textarea" rows="1" placeholder="지역을 입력해주세요."></textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group has-feedback">
                                          <label class="control-label" for="resdate">대여 일자</label>
                                          <textarea class="form-control" id="reservation-detail-resdate" name="textarea" rows="1" placeholder="예상 대여일자를 입력해주세요."></textarea>
                                      </div>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group has-feedback">
                                          <label class="control-label" for="textarea">요청 사항</label>
                                          <textarea class="form-control" id="reservation-detail-details" name="textarea" rows="1" placeholder="요청사항을 입력해주세요."></textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group has-feedback">
                                          <p class="text-center"><input id="agree" type="checkbox"> 개인정보 수집 및 이용에 동의합니다.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group text-center" style="margin:0px">
                                          <a class="btn1 btn1-default" onclick="make_reservation_price()">상담신청 </a>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </section><br><br>
      </div>
      <!--End of container -->

    </section>
    <!--End of feature Section -->

    <div class="pinside50"></div>

    <!-- START SCROLL TO TOP  -->
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>

</div>
</html>