<!-- 캠핑카렌트(calendar.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 캠핑카 렌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/camping_calendar.css}" rel="stylesheet">

    <script>
// <!--        function toggleImg(id) {-->
// <!--            let before = document.getElementById("headerImg").src;-->
// <!--            let tmp = document.getElementById(id).src;-->
// <!--            document.getElementById("headerImg").src = tmp;-->
// <!--            document.getElementById(id).src = before;-->
// <!--        }-->
        $(window).load(function() {
            let idList = document.getElementsByClassName('displayOnlyActive');
            for (i=0; i < idList.length; i++) {
                if (idList[i].dataset.id == 'calendar') {
                    let activeMenu = idList[i];
                    activeMenu.classList.add('activeCampingMenu');
                }
            };
            const subMenu = document.getElementById('displayNoneOnCalendarMenu');
            subMenu.style.display = 'none';
        });
    </script>

    <script th:src="@{/js/calendar.js}" defer></script>


</head>
    <div layout:fragment="content">
        <div th:replace="fragments/header_camp::headerFragment"></div>

        <div class="calendar_content">
<!--            <div class="camping_page text-center">-->
<!--                <a href="/camping/price"><button id="price_page_btn">캠핑카 안내</button></a>-->
<!--                <button id="reserve_page_btn" disabled>실시간 예약</button>-->
<!--            </div>-->
            <div class="container">
                <div style="width: fit-content; margin: 0 auto;">
                    <span class="title">세이브카 캠핑카 예약 현황</span>
                </div>
                <div class="calendar_header">
                    <div id="hiddenOnlythisMonth" th:data-index="${clickedMonth}">
                        <a th:unless="${clickedMonth -1 <1}" th:href="'/camping/calendar/' + ${clickedYear} + '/' + ${clickedMonth -1}">
                            <button class="calendar_nav-btn go-prev" >
                                <i class="fas fa-caret-left"></i>
                            </button>&nbsp;&nbsp;
                        </a>
                        <a th:if="${clickedMonth -1 <1}" th:href="'/camping/calendar/' + ${clickedYear -1} + '/' + ${clickedMonth +11}">
                            <button class="calendar_nav-btn go-prev" >
                                <i class="fas fa-caret-left"></i>
                            </button>&nbsp;&nbsp;
                        </a>
                    </div>
                    <!--   <button class="nav-btn go-today">Today</button>  -->
                    <div class="year-month">
                        <span name="thisYear" th:text="${clickedYear}"></span>년
                        <span name="thisMonth" th:text="${clickedMonth}"></span>월
                    </div>
                    <a th:unless="${clickedMonth +1 > 12}" th:href="'/camping/calendar/' + ${clickedYear} + '/' + ${clickedMonth +1}">
                        &nbsp;&nbsp;
                        <button class="calendar_nav-btn go-next"  >
                            <i class="fas fa-caret-right"></i>
                        </button>
                    </a>
                    <a th:if="${clickedMonth +1 > 12}" th:href="'/camping/calendar/' + ${clickedYear +1} + '/' + ${clickedMonth -11}">
                        &nbsp;&nbsp;
                        <button class="calendar_nav-btn go-next"  >
                            <i class="fas fa-caret-right"></i>
                        </button>
                    </a>
                </div>

                <!-- pc version -->
                <div class="main" id="main_pc">
                    <div style="margin-bottom: 0" class="days">
                        <div style="border-bottom: 3px solid red" class="day">일</div>
                        <div style="border-bottom: 3px solid gray" class="day">월</div>
                        <div style="border-bottom: 3px solid gray" class="day">화</div>
                        <div style="border-bottom: 3px solid gray" class="day">수</div>
                        <div style="border-bottom: 3px solid gray" class="day">목</div>
                        <div style="border-bottom: 3px solid gray" class="day">금</div>
                        <div style="border-bottom: 3px solid blue" class="day">토</div>
                    </div>

                    <div id="dates" class="dates">
                        <div class="date" th:each="date, iterStat: ${calendarDateList}" >
                            <div>
                                <span th:text="${date.year}"></span>
                                <span th:text="${date.month}"></span>
                                <span th:text="${date.day}"></span>
                                <span>/</span>
                                <span th:text="${thisYear}"></span>
                                <span th:text="${thisMonth}"></span>
                                <span th:text="${thisDay}"></span>
                                <span>/</span>
                                <span th:text="${clickedYear}"></span>
                                <span th:text="${clickedMonth}"></span>
                            </div>
                            <div>
                                <!--  calendar upside part  -->
                                <div class="upside">
                                    <span class="this date_day" th:text="${date.day}"></span>&nbsp;
                                    <span class="this date_season season" th:text="${date.season}"></span>
                                </div>
                                <!-- 예약 불가 -->
<!--                                <div class="no_reserve" th:style="${date.day} < ${thisDay} and ${date.month} <= ${thisMonth} ? 'display:block;':'display:none;' ">-->
<!--                                    <p>예약 불가</p>-->
<!--                                </div>-->
                                <!--  calendar downside part  -->
<!--                                <div th:id="${date.day}" class="downside" th:style="${date.day} < ${thisDay} and ${date.month} <= ${thisMonth} ? 'display: none':''">-->
                                <div th:id="${date.day}" class="downside">
                                    <div th:if="${dateCampingList[iterStat.index][0].reserved} != '1'">
                                        <a th:href="'/camping/calendar/'+ ${dateCampingList[iterStat.index][0].carName.carName} + '_reserve/'+ ${clickedYear} + '/' + ${clickedMonth}" th:unless="(${date.month} == ${thisMonth} and ${date.day} < ${thisDay}) or (${date.year} == ${thisYear} and ${date.month} < ${thisMonth})">
                                            <span class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName}"></span>
                                        </a>
                                        <span th:if="(${date.month} == ${thisMonth} and ${date.day} < ${thisDay}) or (${date.year} == ${thisYear} and ${date.month} < ${thisMonth})" class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName}" style="color: lightgrey; padding: 5px;"></span>
                                    </div>
                                    <div class="reserved_selections" th:unless="${dateCampingList[iterStat.index][0].reserved} != '1'">
                                        <span class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName}"></span>
                                    </div>

                                    <div th:if="${dateCampingList[iterStat.index][1].reserved} != '1'">
                                        <a th:href="'/camping/calendar/'+ ${dateCampingList[iterStat.index][1].carName.carName} + '_reserve/'+ ${clickedYear} + '/' + ${clickedMonth}" th:unless="(${date.month} == ${thisMonth} and ${date.day} < ${thisDay}) or (${date.year} == ${thisYear} and ${date.month} < ${thisMonth})">
                                            <span class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName}"></span>
                                        </a>
                                        <span th:if="(${date.month} == ${thisMonth} and ${date.day} < ${thisDay}) or (${date.year} == ${thisYear} and ${date.month} < ${thisMonth})" class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName}" style="color: lightgrey; padding: 5px;"></span>
                                    </div>
                                    <div class="reserved_selections" th:unless="${dateCampingList[iterStat.index][1].reserved} != '1'">
                                        <span class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName}"></span>
                                    </div>

                                    <div th:if="${dateCampingList[iterStat.index][2].reserved} != '1'" >
                                        <a th:href="'/camping/calendar/'+ ${dateCampingList[iterStat.index][2].carName.carName} + '_reserve/'+ ${clickedYear} + '/' + ${clickedMonth}" th:unless="(${date.month} == ${thisMonth} and ${date.day} < ${thisDay}) or (${date.year} == ${thisYear} and ${date.month} < ${thisMonth})">
                                            <span class="this" th:text="${dateCampingList[iterStat.index][2].carName.carName}"></span>
                                        </a>
                                        <span th:if="(${date.month} == ${thisMonth} and ${date.day} < ${thisDay}) or (${date.year} == ${thisYear} and ${date.month} < ${thisMonth})" class="this" th:text="${dateCampingList[iterStat.index][2].carName.carName}" style="color: lightgrey; padding: 5px;"></span>
                                    </div>
                                    <div class="reserved_selections" th:unless="${dateCampingList[iterStat.index][2].reserved} != '1'" >
                                        <span th:text="${dateCampingList[iterStat.index][2].carName.carName}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="date_available">
                        <p>
                            <span>*</span>
                            <span style="color: lightgrey;">예약 완료</span>
                        </p>
                        <p>&nbsp;/&nbsp;</p>
                        <p>예약 대기</p>
                    </div>
                </div>

                <!-- mobile version -->
                <div class="main" id="main_mobile">
                    <div class="days" id="days">
                        <div id="day_sun" class="day">일</div>
                        <div class="day">월</div>
                        <div class="day">화</div>
                        <div class="day">수</div>
                        <div class="day">목</div>
                        <div class="day">금</div>
                        <div id="day_sat" class="day">토</div>
                    </div>
                    <div class="dates">
                        <div class="date" th:each="date, iterStat: ${calendarDateList}" >
                            <!--  calendar upside part  -->
                            <div class="upside text-center">
                                <div class="day_wrapper" th:id="${date.dateId+'day'}"
                                     th:class="(${dateCampingList[iterStat.index][0].reserved} == '1' and ${dateCampingList[iterStat.index][1].reserved} == '1' and ${dateCampingList[iterStat.index][2].reserved} == '1')
                                     or (${date.month} == ${thisMonth} and ${date.day} < ${thisDay}) or (${date.year} == ${thisYear} and ${date.month} < ${thisMonth}) ? 'day_wrapper disabled_day' : 'day_wrapper able_day'" onclick="dayDetail(id)">
                                    <p th:text="${date.day}" ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="date_available">
<!--                        <p><span style="color: aliceblue;">● </span>선택가능</p>-->
<!--                        <p>&nbsp;/&nbsp;</p>-->
                        <p><span style="color: #bbbbbb; ">● </span>선택불가</p>
                    </div>
                    <div id="day_detail">
                        <div th:id="${date.dateId}" class="detail_wrapper" th:each="date, iterStat: ${calendarDateList}"
                                th:style="${date.day} == ${thisDay} and ${date.month} == ${thisMonth}? 'display:flex'">
                            <div style="margin: 0;">
                                <p th:text="${date.year+'년 '+date.month+'월 '+date.day+'일 ['+date.season+']'}" style="margin: 0;"></p>
                                <p style="margin: 0;">선택한 날짜의 차량 목록</p>
                            </div>
                            <a th:href="'/camping/calendar/'+ ${dateCampingList[iterStat.index][0].carName.carName} + '_reserve/'+ ${clickedYear} + '/' + ${clickedMonth}">
                            <div class="detail_selections" th:if="${dateCampingList[iterStat.index][0].reserved} != '1'">
                                <span class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName.toUpperCase()}"></span><span> (0/1)</span>
                            </div>
                            </a>
                            <div class="detail_selections" th:unless="${dateCampingList[iterStat.index][0].reserved} != '1'">
                                <span class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName.toUpperCase()}"></span><span> (1/1)</span>
                            </div>
                            <a th:href="'/camping/calendar/'+ ${dateCampingList[iterStat.index][1].carName.carName} + '_reserve/'+ ${clickedYear} + '/' + ${clickedMonth}">
                            <div class="detail_selections" th:if="${dateCampingList[iterStat.index][1].reserved} != '1'">
                                <span class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName.toUpperCase()}"></span><span> (0/1)</span>
                            </div>
                            </a>
                            <div class="detail_selections" th:unless="${dateCampingList[iterStat.index][1].reserved} != '1'">
                                <span class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName.toUpperCase()}"></span><span> (1/1)</span>
                            </div>
                            <a th:href="'/camping/calendar/'+ ${dateCampingList[iterStat.index][2].carName.carName} + '_reserve/'+ ${clickedYear} + '/' + ${clickedMonth}">
                            <div class="detail_selections" th:if="${dateCampingList[iterStat.index][2].reserved} != '1'"  >
                                <span class="this" th:text="${dateCampingList[iterStat.index][2].carName.carName.toUpperCase()}"></span><span> (0/1)</span>
                            </div>
                            </a>
                            <div class="detail_selections" th:unless="${dateCampingList[iterStat.index][2].reserved} != '1'" >
                                <span th:text="${dateCampingList[iterStat.index][2].carName.carName.toUpperCase()}"></span><span> (1/1)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</html>