<!-- 캠핑카렌트(europe.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 캠핑카 렌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/camping.css}" rel="stylesheet">
    <link th:href="@{/css/camping_calendar.css}" rel="stylesheet">

    <script th:src="@{/js/campingcar.js}"></script>


    <script>
        // function toggleImg(id) {
        //     let before = document.getElementById("headerImg").src;
        //     let tmp = document.getElementById(id).src;
        //     document.getElementById("headerImg").src = tmp;
        //     document.getElementById(id).src = before;
        // }
        $(window).load(function() {
            let idList = document.getElementsByClassName('displayOnlyActive');
            for (i=0; i < idList.length; i++) {
                if (idList[i].dataset.id == 'calendar') {
                    let activeMenu = idList[i];
                    activeMenu.classList.add('activeCampingMenu');
                }
            };
            const subMenu = document.getElementById('displayNoneOnCalendarMenu');
            subMenu.style.display = 'none';
        });
    </script>
    <script th:src="@{/js/europe_reserve.js}" defer ></script>
</head>

<body>
    <div layout:fragment="content">
        <div th:replace="fragments/header_camp::headerFragment"></div>

        <!-- content whole wrapper-->
        <p class="car_type" th:id="${carType}" style="display: none;"></p>
        <p id="fullReturnDate" style="display: none;"></p>
        <div id="wrapper" class="content pinside60 container">
            <!--  content body-->
            <div class="row" id="mainRow">
                <!-- left column -->
                <div id="left_column" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-60">
                    <!--기본정보-->
                    <div class="row card white-card">
                        <h1 class="title">
                            <i class="fas fa-circle"></i>
                            CAMPER 기본정보
                        </h1>
                        <div class="contents">
                            <img th:src="@{/img/europe-detail-price.JPG}" id="priceImg" width="100%" height="70%">
                        </div>
<!--                        <div th:replace="/fragments/camping_explanations.html :: camper_price"></div>-->
                    </div>
                    <!--기본옵션-->
                    <div class="row card white-card">
                        <h1 class="title">
                            <i class="fas fa-circle"></i>
                            CAMPER 기본 옵션
                        </h1>
                        <div th:replace="/fragments/camping_explanations.html :: europe_basic_option"></div>
                    </div>
                    <!--시설-->
                    <div class="row card white-card">
                        <h1 class="title">
                            <i class="fas fa-circle"></i>
                            CAMPER 시설
                        </h1>
                        <div th:replace="/fragments/camping_explanations.html :: europe_installation"></div>
                    </div>
                    <!--렌트정책-->
                    <div class="row card white-card">
                        <h1 class="title">
                            <i class="far fa-circle"></i>
                            CAMPER 렌트정책
                        </h1>
                        <div th:replace="/fragments/camping_explanations.html :: rent_policy"></div>
                    </div>
                    <!--보험사항-->
                    <div class="row card white-card">
                        <h1 class="title">
                            <i class="far fa-circle"></i>
                            CAMPER 보험사항
                        </h1>
                        <div th:replace="/fragments/camping_explanations.html :: rent_insurance"></div>
                    </div>
                    <!--이용규칙-->
                    <div class="row card white-card">
                        <h1 class="title">
                            <i class="far fa-circle"></i>
                            CAMPER 이용규칙
                        </h1>
                        <div th:replace="/fragments/camping_explanations.html :: rent_rule"></div>
                    </div>
                    <!--환불정책-->
                    <div class="row card white-card">
                        <h1 class="title">
                            <i class="far fa-circle"></i>
                            CAMPER 환불정책
                        </h1>
                        <div th:replace="/fragments/camping_explanations.html :: refund_policy"></div>
                    </div>
                </div>

                <!-- right column -->
                <div id="right_column" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-60 text-center">
                    <!-- 대여날짜 -->
                    <div class="select_wrapper row" style="border: 1px solid black;" onclick="doDisplay('calendar')">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="date_menu"><h5>시작날짜</h5></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="date_time"><h5 id="selected_date">날짜를 선택해주세요</h5></div>
<!--                            <div class="date_time"><span id='rent_date' th:title="${dateId}" th:class="${clickedYear}+'년'+${clickedMonth}+'월 '+${clickedDay}+'일요일'+${clickedWDay}"></span></div>-->
                        </div>
                    </div>
                    <!-- 대여날짜 달력 -->
                    <div id="calendar_rental" class="row">
                        <div class="header">
                            <a th:href="'/camping/calendar/europe_reserve/' + ${clickedPrevYear} + '/'+ ${clickedPrevMonth}" id="hiddenOnlythisMonth" th:data-index="${clickedMonth}">
                                <button class="nav-btn go-prev"><i class="fas fa-caret-left" style="font-size: 28px;"></i></button>&nbsp;
                            </a>&nbsp;
                            <div class="year-month">
                                <span name="thisYear" th:text="${clickedYear}"></span>년
                                <span name="thisMonth" th:text="${clickedMonth}"></span>월
                            </div>&nbsp;&nbsp;
                            <a th:href="'/camping/calendar/europe_reserve/' + ${clickedNextYear} + '/'+ ${clickedNextMonth}">
                                <button class="nav-btn go-next" ><i class="fas fa-caret-right" style="font-size: 28px;"></i></button>
                            </a>
                        </div>
                        <div class="main">
                            <div class="days">
                                <div class="day">일</div>
                                <div class="day">월</div>
                                <div class="day">화</div>
                                <div class="day">수</div>
                                <div class="day">목</div>
                                <div class="day">금</div>
                                <div class="day">토</div>
                            </div>
                            <div id="rent_cal" class="dates btn-group">
                                <div class="date no-padding" th:each="date, iterStat: ${calendarDateList}">
                                    <label th:for="${date.month+'월 '+date.day+'일'}" th:id="${date.dateId}"
                                           th:class="${dateCampingList[iterStat.index][0].reserved} == '1' or (${date.year} < ${thisYear}) or (${date.month} < ${thisMonth} and ${date.year} == ${thisYear}) or (${date.day} < ${thisDay} and ${date.month} == ${thisMonth} and ${date.year} == ${thisYear})  ? 'disabled_radio' : 'able_radio'">


                                        <input class="this date_day" type="radio" th:id="${date.month+'월 '+date.day+'일'}" th:value="${date.wDay}" th:title="${date.season}"
                                               th:name="${date.year}" th:text="${date.day}" onclick="sendRentDate(id, name, value); "/>
                                    </label>

                                </div>
                            </div>
                            <div class="select_possible text-right">
<!--                                <span style="padding-right: 30px"> <span style="color: rgb(180 255 175 / 57%);">●</span> 선택가능 </span>-->
                                <span style="padding-right: 30px"> <span style="color: #9d9d9d">●</span> 선택불가 </span>
                            </div>
                        </div>
                    </div>

                    <!-- 대여 시간 -->
                    <div class="select_wrapper row" style="border: 1px solid black;" onclick="doDisplay('time_options')">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="date_menu"><h5>시작 시간</h5></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="date_time"><h5 id="selected_time">시간을 선택해주세요</h5></div>
                        </div>
                    </div>
                    <!-- 대여 시간 리스트 -->
                    <div id="calendar_rental_time" class="row" style="display: none;">
                        <div class="time_options">
                            <label for="10시">
                                <input type="radio" id="10시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 10시
                            </label>
                            <label for="11시">
                                <input type="radio" id="11시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 11시
                            </label>
                            <label for="12시">
                                <input type="radio" id="12시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 12시
                            </label>
                            <label for="13시">
                                <input type="radio" id="13시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 13시
                            </label>
                            <label for="14시">
                                <input type="radio" id="14시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 14시
                            </label>
                            <label for="15시">
                                <input type="radio" id="15시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 15시
                            </label>
                            <label for="16시">
                                <input type="radio" id="16시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 16시
                            </label>
                            <label for="17시">
                                <input type="radio" id="17시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 17시
                            </label>
                            <label for="18시">
                                <input type="radio" id="18시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 18시
                            </label>
                        </div>
                        <p class="description_time"><span style="color: red">* </span>6시 이후 대여 및 반납은 전화 문의 해주시기 바랍니다.</p>
                    </div>

                    <!-- 렌트 기간 -->
                    <div class="select_wrapper row" style="border: 1px solid black;" onclick="doDisplay('period_options')">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="date_menu"><h5>렌트 기간</h5></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="date_time"><h5 id="selected_period" style="word-break: keep-all;">렌트일자를 선택해주세요</h5></div>
                        </div>
                    </div>

                    <div id="calendar_rental_period" class="row" style="display: none;">
                        <div class="select_wrapper row" style="margin: 0 0 20px 0; border: 1px solid black;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                                <div class="date_menu"><h5>렌트 일자</h5></div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background: white; border-left: 2.5px solid black;">
                                <select name="days" id="days_select" onchange="daysSelect();">
                                    <option value="">클릭하세요&nbsp;</option>
                                    <option value="1">1일&nbsp;</option>
                                    <option value="2">2일&nbsp;</option>
                                    <option value="3">3일&nbsp;</option>
                                    <option value="4">4일&nbsp;</option>
                                    <option value="5">5일&nbsp;</option>
                                    <option value="6">6일&nbsp;</option>
                                    <option value="7">7일&nbsp;</option>
                                    <option value="8">8일&nbsp;</option>
                                    <option value="9">9일&nbsp;</option>
                                    <option value="10">10일&nbsp;</option>
                                    <option value="11">11일&nbsp;</option>
                                    <option value="12">12일&nbsp;</option>
                                    <option value="13">13일&nbsp;</option>
                                    <option value="14">14일&nbsp;</option>
                                    <option value="15">15일&nbsp;</option>
                                    <option value="16">16일&nbsp;</option>
                                    <option value="17">17일&nbsp;</option>
                                    <option value="18">18일&nbsp;</option>
                                    <option value="19">19일&nbsp;</option>
                                    <option value="20">20일&nbsp;</option>
                                    <option value="21">21일&nbsp;</option>
                                    <option value="22">22일&nbsp;</option>
                                    <option value="23">23일&nbsp;</option>
                                    <option value="24">24일&nbsp;</option>
                                    <option value="25">25일&nbsp;</option>
                                    <option value="26">26일&nbsp;</option>
                                    <option value="27">27일&nbsp;</option>
                                    <option value="28">28일&nbsp;</option>
                                    <option value="29">29일&nbsp;</option>
                                    <option value="한달">한달&nbsp;</option>
                                </select>
                            </div>
                        </div>
<!--                        <label for="days_select">렌트 일자</label>-->
<!--                        <select name="days" id="days_select" onchange="daysSelect()">-->
<!--                        </select>-->
<!--                        <p><span style="color: red">*</span>다음 예약일 전까지 가능한 날짜만큼만 표시됩니다.</p>-->
                    </div>

<!--                    <div>-->
<!--                        <div id="calResultWrapper">-->
<!--                            <div class="sel_options" id="sel_option">-->
<!--                                <h2>선택 사항</h2>-->
<!--                                <hr style="color: dimgray;"/>-->

<!--                                <div id="sel_options_output">-->
<!--                                    <div class="sel_options_outputs">-->
<!--                                        <p id="sel_option_output1_1"></p>-->
<!--                                        <p id="sel_option_output1_2"></p>-->
<!--                                    </div>-->
<!--                                    <p id="sel_option_length">➔</p>-->
<!--                                    <div class="sel_options_outputs">-->
<!--                                        <p id="sel_option_output2_1"></p>-->
<!--                                        <p id="sel_option_output2_2"></p>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <hr style="margin: 10px 0;"/>-->
<!--                            </div>-->
<!--                            <div class="sel_options" id="sel_price">-->
<!--                                <div class="result_details">-->
<!--                                    <h4>총 렌트료(VAT 미포함)</h4>-->
<!--                                    <p id="calRentFee"></p>-->
<!--                                </div>-->
<!--                                <div class="result_details">-->
<!--                                    <h4>추가 시간 요금(VAT 미포함)</h4>-->
<!--                                    <p id="calExtraFee"></p>-->
<!--                                </div>-->
<!--                                <div class="result_details">-->
<!--                                    <h4>VAT</h4>-->
<!--                                    <p id="calVat"></p>-->
<!--                                </div><hr style="color: dimgray" />-->
<!--                                <div class="result_details">-->
<!--                                    <h4>총 결제금액(VAT 포함)</h4>-->
<!--                                    <p id="calResult"></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <!--선택 사항-->
                    <div class="row result_wrapper">
                        <p class="row title"><span>선택 사항</span></p>
                        <div class="result_box">
                            <div class="result_date">
                                <div>
                                    <p id="display_result_start_date" class="display_result_date">시작 날짜</p>
                                    <hr>
                                    <p id="display_result_start_time" class="display_result_time">시간</p>
                                </div>
                                <p style="font-size: 7rem;">~</p>
                                <div>
                                    <p id="display_result_end_date" class="display_result_date">반납 날짜</p>
                                    <hr>
                                    <p id="display_result_end_time" class="display_result_time">시간</p>
                                </div>
                            </div>
                            <div class="result_price">
                                <div class="price_row">
                                    <div class="name">총 렌트료</div>
                                    <div class="price" id="rentPrice"></div>
                                </div>
                                <div class="price_row" style="display: none;">
                                    <div class="name">추가시간 요금</div>
                                    <div class="price"></div>
                                </div>
                                <div class="price_row">
                                    <div class="name">VAT</div>
                                    <div class="price" id="rentVAT"></div>
                                </div>
                                <hr style="background-color: transparent; border-top: 3px dotted white;">
                                <div class="price_row">
                                    <div class="name">총 결제금액</div>
                                    <div class="price" id="rentFullPrice"></div>
                                </div>
                            </div>
                        </div>
                        <!-- 버튼 부분 -->
                        <button id="btn_reserve" onclick="postDate()">예약신청하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>