<!-- 캠핑카렌트(limousine.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 캠핑카 렌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/camping.css}" rel="stylesheet">
    <link th:href="@{/css/camping_calendar.css}" rel="stylesheet">

    <script th:src="@{/js/campingcar.js}"></script>

    <script>
        function toggleImg(id) {
            let before = document.getElementById("headerImg").src;
            let tmp = document.getElementById(id).src;
            document.getElementById("headerImg").src = tmp;
            document.getElementById(id).src = before;
        }

        $(window).load(function() {
            let ulList = document.getElementsByClassName('header_camp_li');
            for (i=0; i < ulList.length; i++) {
                if (ulList[i].dataset.id == 'calendar') {
                    ulList[i].classList.add('active');
                }
            };
        });
    </script>
    <script th:src="@{/js/europe_reserve.js}" defer ></script>
</head>

<body onload="displayLimousinePrice();">
<div layout:fragment="content">
    <div th:replace="fragments/header_camp::headerFragment"></div>

    <!-- content whole wrapper-->
    <p class="car_type" th:id="${carType}" style="display: none;"></p>
    <p id="fullReturnDate" style="display: none;"></p>
    <div id="wrapper" class="content pinside60 container">
        <!--  content body-->
        <div class="row" id="mainRow">
            <!-- left column -->
            <div id="left_column" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-60">
                <!--사진-->
<!--                <div class="row card white-card" style="display: none;">-->
<!--                    <h1 class="title">-->
<!--                        <i class="fas fa-circle"></i>-->
<!--                        CAMPER 사진-->
<!--                    </h1>-->
<!--                    <div class="contents">-->
<!--                        <div style="margin-bottom: 2em;">-->
<!--                            <img th:src="@{/img/limimg7.JPG}" id="headerImg" width="100%" height="100%" style="object-fit:contain">-->
<!--                        </div>-->
<!--                        <div class="camping_img_small" style="display: flex; flex-wrap: wrap; justify-content: space-between; gap: 10px 0px;">-->
<!--                            <img th:src="@{/img/limimg10.JPG}" id="carImg9" onclick="toggleImg('carImg9')">-->
<!--                            <img th:src="@{/img/limimg19.JPG}" id="carImg20" onclick="toggleImg('carImg20')">-->
<!--                            <img th:src="@{/img/limimg22.JPG}" id="carImg18" onclick="toggleImg('carImg18')">-->
<!--                            <img th:src="@{/img/limimg5.JPG}" id="carImg4" onclick="toggleImg('carImg4')">-->
<!--                            <img th:src="@{/img/limimg1.JPG}" id="carImg6" onclick="toggleImg('carImg6')">-->
<!--                            <img th:src="@{/img/limimg2.JPG}" id="carImg2" onclick="toggleImg('carImg2')">-->
<!--                            <img th:src="@{/img/limimg16.JPG}" id="carImg16" onclick="toggleImg('carImg16')">-->
<!--                            <img th:src="@{/img/limimg14.JPG}" id="carImg14" onclick="toggleImg('carImg14')">-->
<!--                            <img th:src="@{/img/limimg12.JPG}" id="carImg11" onclick="toggleImg('carImg11')">-->
<!--                            <img th:src="@{/img/limimg11.JPG}" id="carImg10" onclick="toggleImg('carImg10')">-->
<!--                            <img th:src="@{/img/limimg4.JPG}" id="carImg3" onclick="toggleImg('carImg3')">-->
<!--                            <img th:src="@{/img/limimg9.JPG}" id="carImg8" onclick="toggleImg('carImg8')">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!--기본정보-->
                <div class="row card white-card">
                    <h1 class="title">
                        <i class="fas fa-circle"></i>
                        CAMPER 기본정보
                    </h1>
                    <div class="contents">
<!--                        <img th:src="@{/img/limousine-detail-price.png}" id="priceImg" width="100%" height="70%">-->
                        <table id="limousine_price_table" class="camping_price_table">
                            <tr>
                                <td></td>
                                <td>비수기</td>
                                <td style="background-color: #e0f5fb;">성수기</td>
                            </tr>
                            <tr>
                                <td>1일</td>
                                <td id="limoOffOne"></td>
                                <td id="limoPeakOne" style="background-color: #e0f5fb;"></td>

                            </tr>
                            <tr>
                                <td>4일</td>
                                <td id="limoOffFour"></td>
                                <td id="limoPeakFour" style="background-color: #e0f5fb;"></td>

                            </tr>
                            <tr>
                                <td>5일</td>
                                <td id="limoOffFive"></td>
                                <td id="limoPeakFive" style="background-color: #e0f5fb;"></td>
                            </tr>
                            <tr>
                                <td>7일</td>
                                <td id="limoOffSeven"></td>
                                <td id="limoPeakSeven" style="background-color: #e0f5fb;"></td>
                            </tr>
                            <tr>
                                <td>10일</td>
                                <td id="limoOffTen"></td>
                                <td id="limoPeakTen" style="background-color: #e0f5fb;"></td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid black;">15일</td>
                                <td style="border-bottom: 1px solid black;" id="limoOffFifteen"></td>
                                <td style="border-bottom: 1px solid black; background-color: #e0f5fb;" id="limoPeakFifteen"></td>
                            </tr>
                            <tr>
                                <td rowspan="2" style="color: mediumblue;">자차 포함</td>
                                <td>Deposit</td>
                                <td>총 렌트료의 50%</td>
                            </tr>
                            <tr>
                                <td>월렌트</td>
                                <td id="limoMonth"></td>
                            </tr>
                        </table>
                        <br>
                        <div th:replace="/fragments/camping_explanations.html :: camper_price"></div>
                    </div>

                </div>
                <!--기본옵션-->
                <div class="row card white-card">
                    <h1 class="title">
                        <i class="fas fa-circle"></i>
                        CAMPER 기본 옵션
                    </h1>
                    <div th:replace="/fragments/camping_explanations.html :: limousine_basic_option"></div>
                </div>
                <!--시설-->
                <div class="row card white-card">
                    <h1 class="title">
                        <i class="fas fa-circle"></i>
                        CAMPER 시설
                    </h1>
                    <div th:replace="/fragments/camping_explanations.html :: limousine_installation"></div>
                </div>
                <!--렌트정책-->
                <div class="row card white-card">
                    <h1 class="title">
                        <i class="far fa-circle"></i>
                        CAMPER 렌트정책
                    </h1>
                    <div th:replace="/fragments/camping_explanations.html :: rent_policy"></div>
                </div>
                <!--보험사항-->
                <div class="row card white-card">
                    <h1 class="title">
                        <i class="far fa-circle"></i>
                        CAMPER 보험사항
                    </h1>
                    <div th:replace="/fragments/camping_explanations.html :: rent_insurance"></div>
                </div>
                <!--이용규칙-->
                <div class="row card white-card">
                    <h1 class="title">
                        <i class="far fa-circle"></i>
                        CAMPER 이용규칙
                    </h1>
                    <div th:replace="/fragments/camping_explanations.html :: rent_rule"></div>
                </div>
                <!--환불정책-->
                <div class="row card white-card">
                    <h1 class="title">
                        <i class="far fa-circle"></i>
                        CAMPER 환불정책
                    </h1>
                    <div th:replace="/fragments/camping_explanations.html :: refund_policy"></div>
                </div>
            </div>

            <!-- right column -->
            <div id="right_column" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-60 text-center">
                <h1>Limousine Camper</h1>
                <!-- 대여날짜 -->
                <div class="select_wrapper row" onclick="doDisplay('calendar')">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        <div class="date_menu"><h5>시작날짜</h5></div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="date_time"><h5 id="selected_date">날짜를 선택해주세요</h5></div>
                    </div>
                </div>
                <!-- 대여날짜 달력 -->
                <div id="calendar_rental" class="row">
                    <p class="description_time hidden-xs" style="margin-bottom: 2rem; line-height: 1.5; word-break: keep-all;">
                        <span style="color: red; font-size: 15px;">* </span>
                        캠핑카 정비를 위해 기존 고객 반납 직후에는 바로 대여가 불가할 수 있습니다.
                    </p>
                    <p class="description_time hidden-lg hidden-md hidden-sm" style="margin-bottom: 2rem; line-height: 1.5;">
                        <span style="color: red; font-size: 15px;">* </span>
                        캠핑카 정비를 위해 기존 고객 반납 직후에는<br>바로 대여가 불가할 수 있습니다.
                    </p>
                    <div class="header">
                        <a th:href="'/camping/calendar/limousine_reserve/' + ${clickedPrevYear} + '/'+ ${clickedPrevMonth}" id="hiddenOnlythisMonth" th:data-index="${clickedMonth}">
                            <button class="nav-btn go-prev"><i class="fas fa-caret-left" style="font-size: 28px;"></i></button>&nbsp;
                        </a>&nbsp;
                        <div class="year-month">
                            <span name="thisYear" th:text="${clickedYear}"></span>년
                            <span name="thisMonth" th:text="${clickedMonth}"></span>월
                        </div>&nbsp;&nbsp;
                        <a th:href="'/camping/calendar/limousine_reserve/' + ${clickedNextYear} + '/'+ ${clickedNextMonth}" id="hiddenFromJuly" th:data-index="${clickedMonth}">
                            <button class="nav-btn go-next" ><i class="fas fa-caret-right" style="font-size: 28px;"></i></button>
                        </a>
                    </div>
                    <div class="main">
                        <div class="days">
                            <div class="day">일</div>
                            <div class="day">월</div>
                            <div class="day">화</div>
                            <div class="day">수</div>
                            <div class="day">목</div>
                            <div class="day">금</div>
                            <div class="day">토</div>
                        </div>
                        <div id="rent_cal" class="dates btn-group">
                            <div class="date no-padding" th:each="date, iterStat: ${calendarDateList}">
                                <label th:for="${date.month+'월 '+date.day+'일'}" th:id="${date.dateId}"
                                       th:class="(${dateCampingList[iterStat.index][1].reserved} == '2') or (${date.year} < ${thisYear}) or (${date.month} < ${thisMonth} and ${date.year} == ${thisYear}) or (${date.day} < ${thisDay} and ${date.month} == ${thisMonth} and ${date.year} == ${thisYear})  ? 'disabled_radio' : 'able_radio'"
                                       th:classappend="${dateCampingList[iterStat.index][1].reserved} == '1' ? 'double_circle' : ''">


                                    <input class="this date_day" type="radio" th:id="${date.month+'월 '+date.day+'일'}" th:value="${date.wDay}" th:title="${date.season}"
                                           th:name="${date.year}" th:text="${date.day}" th:onclick="'sendRentDate(id, name, value, '+${date.dateId}+')'" />
                                </label>

                            </div>
                        </div>
                        <div class="select_possible text-right">
                            <span style="padding-right: 30px"> <span style="color: #9d9d9d">●</span> 선택불가 </span>
                        </div>
                    </div>
                </div>

                <!-- 대여 시간 -->
                <div class="select_wrapper row" onclick="doDisplay('time_options')">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        <div class="date_menu"><h5>시작 시간</h5></div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="date_time"><h5 id="selected_time">시간을 선택해주세요</h5></div>
                    </div>
                </div>
                <!-- 대여 시간 리스트 -->
                <div id="calendar_rental_time" class="row" style="display: none;">
                    <div class="time_options" id="time_select">
                        <label for="10시" name="time_option">
                            <input type="radio" id="10시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 10시
                        </label>
                        <label for="11시" name="time_option">
                            <input type="radio" id="11시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 11시
                        </label>
                        <label for="12시" name="time_option">
                            <input type="radio" id="12시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 12시
                        </label>
                        <label for="13시" name="time_option">
                            <input type="radio" id="13시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 13시
                        </label>
                        <label for="14시" name="time_option">
                            <input type="radio" id="14시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 14시
                        </label>
                        <label for="15시" name="time_option">
                            <input type="radio" id="15시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 15시
                        </label>
                        <label for="16시" name="time_option">
                            <input type="radio" id="16시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 16시
                        </label>
                        <label for="17시" name="time_option">
                            <input type="radio" id="17시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 17시
                        </label>
                        <label for="18시" name="time_option">
                            <input type="radio" id="18시" class="rent_time_radio" name="time1" onclick="sendRentTime(id);" /> 18시
                        </label>
                    </div>
                    <p class="description_time"><span style="color: red">* </span>6시 이후 대여 및 반납은 전화 문의 해주시기 바랍니다.</p>
                </div>

                <!-- 렌트 기간 -->
                <div class="select_wrapper row" onclick="doDisplay('period_options')">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        <div class="date_menu"><h5>렌트 기간</h5></div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="date_time"><h5 id="selected_period" style="word-break: keep-all;">렌트일자를 선택해주세요</h5></div>
                    </div>
                </div>

                <div id="calendar_rental_period" class="row" style="display: none;">
                    <div class="select_wrapper row" style="margin: 0 0 20px 0;">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="date_menu"><h5>렌트 일자</h5></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background: white; border-left: 2.5px solid black;">
                            <select name="days" id="days_select" onchange="daysSelect();">
                                <option value="">렌트 일자 선택</option>
                            </select>
                            <p style="font-size: 15px; text-align: right; margin-top: 10px;"><span style="color: red; font-size: 15px;">* </span>최소 2일 이상 예약 가능합니다.</p>
                        </div>
                    </div>
                    <!--                        <p><span style="color: red">*</span>다음 예약일 전까지 가능한 날짜만큼만 표시됩니다.</p>-->
                </div>

                <!-- 추가 시간 -->
                <div class="select_wrapper row" style="border: 1px solid black;" onclick="doDisplay('extra_time_options')">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        <div class="date_menu"><h5>추가 시간</h5></div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="date_time"><h5 id="selected_extra_time" style="word-break: keep-all;">추가시간을 선택해주세요</h5></div>
                    </div>
                </div>

                <!-- 추가 시간 리스트-->
                <div id="calendar_rental_extra_time" class="row" style="display: none;">
                    <div class="select_wrapper row" style="margin: 0 0 20px 0; border: 1px solid black;">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="date_menu"><h5>추가 시간</h5></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background: white; border-left: 2.5px solid black; border-radius: 0 12px 12px 0;">
                            <select name="extra_time" id="extra_time_select" onchange="extraTimeSelect();">
                                <option value="">추가 시간 선택</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--선택 사항-->
                <div class="row result_wrapper">
                    <p class="row title"><span>선택 사항</span></p>
                    <div class="result_box">
                        <div class="result_date">
                            <div>
                                <p id="display_result_start_date" class="display_result_date">시작 날짜</p>
                                <hr>
                                <p id="display_result_start_time" class="display_result_time">시간</p>
                            </div>
                            <p style="font-size: 7rem;">~</p>
                            <div>
                                <p id="display_result_end_date" class="display_result_date">반납 날짜</p>
                                <hr>
                                <p id="display_result_end_time" class="display_result_time">시간</p>
                            </div>
                        </div>
                        <div class="result_price">
                            <div class="price_row">
                                <div class="name">총 렌트료</div>
                                <div class="price" id="rentPrice"></div>
                            </div>
                            <div class="price_row">
                                <div class="name">VAT</div>
                                <div class="price" id="rentVAT"></div>
                            </div>
                            <div class="price_row" style="margin-top: 3em;">
                                <div class="name mobile_small">추가시간 요금</div>
                                <div class="price" id="extraTimePrice"></div>
                            </div>
                            <hr style="background-color: transparent; border-top: 3px dotted white;">
                            <div class="price_row">
                                <div class="name">총 결제금액</div>
                                <div class="price" id="rentFullPrice"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 버튼 부분 -->
                    <button id="btn_reserve" onclick="postDate()">예약신청하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>