<!--캠핑카 홈-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>캠핑카 렌트 - SAVECAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/library/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/camping.css}" rel="stylesheet">
    <link th:href="@{/css/camping_calendar.css}" rel="stylesheet">

    <script th:src="@{/js/camping_main.js}" defer></script>
    <script>
        $(window).load(function() {
            let ulList = [...document.getElementsByClassName('header_camp_li')];
            let targetUl = ulList.find(ul => ul.dataset.id === 'campingCarHome');
            targetUl && targetUl.classList.add('active');
        });
    </script>
</head>

<body onload="displayCheapestPrice();">
<div layout:fragment="content">
    <div th:replace="fragments/header_camp::headerFragment"></div>

    <!-- content whole wrapper-->

    <div id="wrapper" class="content pinside60 container">
        <!--  content body-->
        <div class="row" id="campingCarHome">
            <section id="feature" class="feature sections" style="margin: 0; padding: 0;">
                <div class="space-medium" style="padding: 0;">
                    <div class="row" style="margin-bottom: 70px;">
                        <div class="head_title sections text-center" style="padding-top: 30px;">
                            <h1>캠핑카 렌트</h1>
                            <p style="word-break: keep-all; text-align: left; color: dimgrey;">세이브카의 깔끔한 호텔급 캠핑카로 따뜻하고 안락한 캠핑을 즐겨보세요.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-top: 30px;" th:each="campingCar, i : ${campingCarList}">
                            <div class="text-center">
                                <!-- service block -->
                                <!-- service img -->
                                <div class="service-img">
                                    <!-- service img -->
                                    <div th:onclick="moveToCampingReservation([[${campingCar.carName}]])"
                                        th:style="${campingCar.carName == 'travel'} ? 'pointer-events: none;' : 'cursor: pointer'">
                                        <img th:if="${imagesMainList[i.index].imageId != -1}" th:src="${imagesMainList[i.index].url}" width="360" height="360" style="border-radius: 20px;">
                                        <img th:if="${imagesMainList[i.index].imageId == -1}" th:src="@{/img/popup_campingcar.png}" width="360" height="360" style="border-radius: 20px;">
                                    </div>
                                </div>
                                <div class="service-content">
                                    <!-- service content -->
                                    <h3 style="text-align: left;">
                                        <span th:text="${campingCar.carName.toUpperCase()}"></span>
                                        <span> VIP CAMPER</span>
                                    </h3>
                                    <div class="explanation">
                                        <div>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>차고지: 가천대역 캠프 [성남대로 1329]</span>
                                        </div>
                                        <div>
                                            <i class="fas fa-address-card"></i>
                                            <span th:text="${campingCar.license}"></span>
                                        </div>
                                        <div>
                                            <i class="fas fa-bed"></i>
                                            <spanc th:text="${campingCar.personnel}">5인 취침</spanc>
                                        </div>
                                        <div>
                                            <i class="fas fa-oil-can"></i>
                                            <span>
                                                <span th:text="${campingCar.fuel}"></span>
                                                <span> / </span>
                                                <span th:text="${campingCar.gearBox}"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <p style="text-align: right; color: dodgerblue; margin-top: 10px;">
                                        <span th:id="${campingCar.carName + 'Price'}" style="font-family: 'Black Han Sans', sans-serif; font-size: 24px;"></span>
                                        <span>원 / 일</span>
                                        <span th:if="${campingCar.carName=='travel'}" style="color: black;">[장기 대여중]</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:each="campingCarHome, homeIndex : ${campingCarHomeList}" style="margin-bottom: 70px;">
                        <div class="head_title sections text-center" style="padding-top: 30px;">
                            <h1 th:text="${campingCarHome.title}"></h1>
                            <p th:text="${campingCarHome.description}" style="word-break: keep-all; text-align: left; color: dimgrey;"></p>
                            <br>
                        </div>
                        <div th:each="image, imageIndex : ${campingCarHomeImageDoubleList[homeIndex.index]}"
                            th:if="${campingCarHome.columnNum == 1}" class="tab_content_size">
                            <div>
                                <img th:src="${image.imageUrl}" alt="image">
                            </div>
                        </div>
                        <div th:if="${campingCarHome.columnNum != 1}" class="multipleColumns" >
                            <div th:each="image, imageIndex : ${campingCarHomeImageDoubleList[homeIndex.index]}"
                                 th:class="'column column_' + ${campingCarHome.columnNum}">
                                <img th:src="${image.imageUrl}" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="head_title sections text-center" style="padding-top: 30px;">
                                <h1>상담 신청하기</h1>
                                <br>
                            </div>
                            <div id="reservation-info" name="reservation-info" >
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group has-feedback">
                                            <label class="control-label" for="name">* 이름</label>
                                            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                <input type="text" class="form-control" id="reservation-simple-name" placeholder="성함을 입력해주세요." required oninvalid="this.setCustomValidity('필수 입력 정보입니다.')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group has-feedback">
                                            <label class="control-label" for="phone">* 연락처</label>
                                            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                <input type="text" class="form-control" id="reservation-simple-phone" placeholder="연락처 ex) 010-0000-0000" required >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group has-feedback">
                                            <label class="control-label" for="textarea">요청 사항</label>
                                            <div class="input-group"> <span class="input-group-addon"><i class="fas fa-clipboard"></i></span>
                                                <textarea class="form-control" id="reservation-simple-details" name="textarea" rows="7" placeholder="요청사항을 입력해주세요.(약정 주행거리 등)"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group has-feedback">
                                            <p class="text-center"><label><input type="checkbox" id="agree1" class="agree"> 개인정보 수집 및 이용에 동의합니다.</label></p>
                                            <p class="text-center"><label><input type="checkbox" id="agree2" class="agree"> 보험사 사고경력조회에 동의합니다.</label></p>
                                            <p class="text-center"><label><input type="checkbox" id="agree3" class="agree"> 보험사고 경력 조회시에 당사 규정에 따라 거부될 수 있음을 확인합니다.</label></p>
                                            <p class="text-center"><label><input type="checkbox" id="agree4" class="agree" onclick="check_camping_all_box()"> 모두 동의</label></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group text-center">
                                            <button class="btn btn-primary" onclick="make_camping_main_reservation()">상담신청 </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <button onclick="topFunction()" id="toTheTopBtn" title="Go to top">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
        </div>
</div>
</div>
</body>
</html>