<!--  결제창 (reservation.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 결제</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/camping.css}" rel="stylesheet">
    <link th:href="@{/css/camping_calendar.css}" rel="stylesheet">
    <link th:href="@{/css/reservation.css}" rel="stylesheet">

    <script th:src="@{/js/reservation.js}" defer></script>
    <script>
        $(window).load(function() {
            let ulList = document.getElementsByClassName('header_camp_li');
            for (i=0; i < ulList.length; i++) {
                if (ulList[i].dataset.id == 'calendar') {
                    ulList[i].classList.add('active');
                }
            };
        });
    </script>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="fragments/header_camp::headerFragment"></div>

        <div class="paying_content container">
            <!-- main content -->
            <div class="row">
                <p th:text="${rent_date}" style="display: none;" id="original_rent_start_date"></p>
                <p th:text="${return_date}" style="display: none;" id="original_rent_end_date"></p>
                <p th:text="${total}" style="display: none;" id="totalPrice"></p>
                <p th:text="${extraTime}" style="display: none;" id="extraTime"></p>

                <!-- left content -->
                <div id="left_col" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- 예약 상품 정보 -->
                    <div class="card">
                        <p class="title"><span>예약 상품 정보</span></p>
                        <div class="contents">
                            <span th:text="${carType}" class="info_title" id="carType"></span>
                            &nbsp;
                            <span th:text="${day}" class="info_title" id="useDay"></span>
                            <span class="info_title">&nbsp;대여</span>
                            <div class="result_date">
                                <div>
                                    <h1>대여 일시</h1>
                                    <div style="display: flex; justify-content: flex-end; padding: 0;">
                                        <span id="display_result_start_date" class="display_result_date"></span>
                                        &nbsp;
                                        <span id="display_result_start_time" class="display_result_time" th:text="${rent_time}"></span>
                                    </div>
                                </div>
                                <p style="font-size: 7rem; margin-top: 20px;">~</p>
                                <div>
                                    <h1>반납 일시</h1>
                                    <div style="display: flex; justify-content: flex-end; padding: 0;">
                                        <span id="display_result_end_date" class="display_result_date" th:text="${return_date}"></span>
                                        &nbsp;
                                        <span id="display_result_end_time" class="display_result_time" th:text="${return_time}"></span>
                                    </div>
                                </div>
                            </div>
                            <p style="text-align: right; font-size: 16px; word-break: keep-all;">* 6시 이후 반납은 전화문의 해주시기 바랍니다.</p>
                        </div>
                    </div>

                    <!--예약자 정보-->
                    <div class="card" style="margin-top: 60px;">
                        <p class="title"><span>예약자 정보</span></p>
                        <div class="contents input_wrapper">
                            <div class="input_row">
                                <p class="input_name"><i class="fas fa-star-of-life"></i>성명</p>
                                <input type="text" placeholder="홍길동" id="input_name">
                            </div>
                            <div class="input_row">
                                <p class="input_name"><i class="fas fa-star-of-life"></i>연락처</p>
                                <input type="text" placeholder="010-1234-5678" id="input_phone">
                            </div>
                            <div class="input_row">
                                <p class="input_name"><i class="fas fa-star-of-life"></i>입금자명</p>
                                <input type="text" placeholder="홍길동" id="input_deposit_name">
                            </div>
                            <hr style="background-color: transparent; border-top: 1px dotted black;">
                            <p class="input_name">요청사항</p>
                            <textarea rows="5" id="input_demand"></textarea>

                        </div>
                    </div>

<!--                    <div class="bg-white pinside20 margin-bottom-20" id="info_deposit">-->
<!--                        <div>-->
<!--                            <h3 class="text-left">렌트 이용규칙</h3>-->
<!--                            <hr style="margin: 0 0 20px 0" />-->
<!--                        </div>-->

<!--                        <div class="row pinside20 ">-->
<!--                            <div id="deposit_explain" class="explanations col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left" >-->
<!--                                <p>1) 총 결제 금액의 50%를 선결제하시고</p>-->
<!--                                <p>배차 당일에 보증금은 현금,</p>-->
<!--                                <p>대여료는 신용카드 및 네이버 스토어, 현금 결제가 가능합니다.</p>-->
<!--                                <p>2) 보증금은 반납 일주일 이내 환불됩니다.</p>-->
<!--                                <p>3) 예약 신청 후, 선입금자에게 예약이</p>-->
<!--                                <p>확정되고 확인 문자가 발송됩니다.</p>-->
<!--                                <p>4) 자차 포함 금액입니다. </p>-->
<!--                                <p>5) 26세기준, 21세 요금은 1일당 11만원이 추가됩니다.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <!-- 취소 환불 규정에 대한 동의 -->
<!--                    <div class="bg-white pinside20" id="info_refund">-->
<!--                        <div>-->
<!--                            <h3 class="text-left">취소/환불 규정에 대한 동의</h3>-->
<!--                            <hr style="margin: 0 0 20px 0" />-->
<!--                        </div>-->
<!--                        <div class="row pinside10 ">-->
<!--                            <div class="explanations col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">-->
<!--                                <p>1) 31일전 취소 : 총렌트료의 100%환불</p>-->
<!--                                <p>2) 30일전 취소 : 총렌트료의 30% 수수료 부과</p>-->
<!--                                <p>3) 15일전 취소 : 총렌트료의 40% 수수료 부과</p>-->
<!--                                <p>4) 7일전 취소 : 총렌트료의 50% 수수료 부과</p>-->
<!--                                <p>5) 3일전 취소 : 총렌트료의 80% 수수료 부과</p>-->
<!--                                <p>6) 2일전 취소 : 환불불가</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

                <!-- right content -->
                <div id="right_col" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- 최종 결제 금액 -->
                    <div class="result_wrapper">
                        <p class="title"><span>최종 결제 금액</span></p>
                        <div class="result_box">
                            <div class="price_row">
                                <div class="name">총 렌트료</div>
                                <div class="price" id="rentPrice"></div>
                            </div>
                            <div class="price_row">
                                <div class="name">VAT</div>
                                <div class="price" id="rentVAT"></div>
                            </div>
                            <div class="price_row" style="margin-top: 3em;">
                                <div class="name">추가시간 요금</div>
                                <div class="price" id="extraTimePrice"></div>
                            </div>
                            <hr style="background-color: transparent; border-top: 3px dotted white;">
                            <div class="price_row">
                                <div class="name">총 결제금액</div>
                                <div class="price" id="rentFullPrice"></div>
                            </div>
                            <div class="price_row">
                                <div class="name">선결제금액<br>(50%)</div>
                                <div class="price" id="prepayPrice"></div>
                            </div>
                            <div class="price_row">
                                <div class="name">보증금<br>(현장 결제)</div>
                                <div class="price" id="deposit">300,000 원</div>
                            </div>
                        </div>
                    </div>

<!--                    <div class="bg-white pinside20 margin-bottom-20" id="info_price">-->
<!--                        <div>-->
<!--                            <h3 class="text-left">최종 결제 금액</h3>-->
<!--                            <hr style="margin: 0 0 20px 0" />-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <div class="price_between">-->
<!--                                <p>총 렌트료(VAT미포함)</p>-->
<!--                                <p id="total_fee"></p>-->
<!--                            </div>-->
<!--&lt;!&ndash;                            <div class="price_between">&ndash;&gt;-->
<!--&lt;!&ndash;                                <p>추가 시간 요금(VAT미포함)</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p id="extra_fee" th:class="${extraFee}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            <div class="price_between">-->
<!--                                <p>VAT</p>-->
<!--                                <p id="vat_fee"></p>-->
<!--                            </div><hr style="color: dimgray" />-->
<!--                            <div class="price_between final_price">-->
<!--                                <p>총 결제 금액(VAT포함)</p>-->
<!--                                <p id="total_price" th:class="${total}"></p>-->
<!--                            </div>-->
<!--                            <div id="pre_paying" class="price_between final_price">-->
<!--                                <p>선결제 금액(50%)</p>-->
<!--                                <p id="half_price"></p>-->
<!--                            </div>-->
<!--                            <div class="price_between">-->
<!--                                <p><span style="color:red;">*</span>보증금(배차시 결제)</p>-->
<!--                                <p id="deposits">300,000원</p>-->
<!--                            </div><hr/>-->
<!--                            <div class="price_between">-->
<!--                                <p>* 21세 추가요금 : 1일당 11만원</p>-->
<!--                            </div>-->

<!--                            <div class="price_between">-->
<!--                                <p>전일정 전액 송금하시면 됩니다.</p>-->
<!--                            </div><hr/>-->

<!--                            <div class="text-center">-->
<!--                                <h4 style="margin-bottom: 0"><span style="font-weight: bold">하나은행</span> : 810-626121-01404</h4>-->
<!--                                <h4>㈜세이브카</h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


                    <!-- 결제 수단 -->
<!--                    <div class="text-left bg-white pinside20 margin-bottom-20" id="info_refund2">-->
<!--                        <div>-->
<!--                            <h3 class="text-left">취소/환불 규정에 대한 동의</h3>-->
<!--                            <hr style="margin: 0 0 20px 0" />-->
<!--                        </div>-->
<!--                        <div class="row pinside20 ">-->
<!--                            <div class="explanations col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">-->
<!--                                <p>1) 31일전 취소 : 총렌트료의 100%환불</p>-->
<!--                                <p>2) 30일전 취소 : 총렌트료의 30% 수수료 부과</p>-->
<!--                                <p>3) 15일전 취소 : 총렌트료의 40% 수수료 부과</p>-->
<!--                                <p>4) 7일전 취소 : 총렌트료의 50% 수수료 부과</p>-->
<!--                                <p>5) 3일전 취소 : 총렌트료의 80% 수수료 부과</p>-->
<!--                                <p>6) 2일전 취소 : 환불불가</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <!-- 약관 동의 -->
                    <div class="card" style="margin-top: 60px;">
                        <p class="title"><span>약관 동의</span></p>
                        <div class="contents">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <!-- 1번째 동의 -->
                                <div class="panel panel-default">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                개인정보 및 렌트 이용규칙에 대한 동의
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p>본인은 귀사에 차량렌트를 신청함으로써 [개인정보 보호법] 제15조 및 제17조에 따라</p>
                                            <p>아래의 내용으로 개인정보를 수집, 이용 및 제공하는데 동의합니다.</p>
                                            <p><i class="fas fa-star"></i> 개인정보의 수집 및 이용에 관한 사항</p>
                                            <p>- 수집하는 개인정보 항목 : 성명, 입금자명, 전화번호</p>
                                            <p>- 개인정보의 이용 목적 : 수집된 개인정보를 렌트 계약서 작성서류로 활용하며, 목적 외의 용도로는 사용하지 않습니다.</p>
                                            <p><i class="fas fa-star"></i> 개인정보의 보관 및 이용 기간</p>
                                            <p>- 귀하의 개인정보를 다음과 같이 보관하며, 수집, 이용 및 제공목적이 달성된 경우</p>
                                            <p>[개인정보 보호법] 제21조에 따라 처리합니다.</p>
                                            <br>

                                            <p><i class="fas fa-star"></i>인수 및 반납</p>
                                            <p>운영시간 : 09시 ~ 18시</p>
                                            <p>연료 Full-To-Full : 연료는 입고 시 가득 채워서 반납하셔야 합니다.</p>
                                            <p>방문배회차지 : 장지역[가든파이브], 복정역[강남자동차매매단지] 中 당사 지정장소</p>
                                            <p>* 배회차는 방문으로만 진행합니다.</p>

                                            <br>
                                            <p><i class="fas fa-star"></i>예약 안내</p>
                                            <p>요금은 24시간 기준으로 캠핑카대여 특성상 체크인 & 체크아웃 시간으로 운영하여야 하나</p>
                                            <p>고객의 편의중심으로 24시간 기준으로 요금을 책정하였습니다.</p>
                                            <p>예약금은 총렌트료의 50%를 현금으로 입금하시고, 대여료는 신용카드 및 네이버 스토어 결제가 가능합니다.</p>
                                            <p>자차요금이 포함 되어 있습니다.</p>
                                            <p>입금계좌 : 하나은행 810-626121-01404 ㈜세이브카</p>


                                            <p><i class="fas fa-star"></i>CAPMER 이용규칙</p>
                                            <p>1) 금연차량을 원칙으로 운영중입니다.</p>
                                            <p>2) 차량청소 : 오물통과 각종 쓰레기는 비우시고 반납</p>
                                            <p>* 차량 내에서 신발을 벗고 사용해주세요! [위반 시, 패널티 3만원]</p>
                                            <p>3) 사고, 정비로 대여가 불가능 할 수 있으며 이에 대한 손해배상을 청구 할 수 없습니다.</p>
                                            <p>4) 계절별로 캠핑설비의 특성상 관리에 주의가 필요하며 일부 시설은 사용이 제한 될 수 있습니다.</p>
                                            <p>5) 배차전 사용설명 영상이나 설명서를 미리 숙지하시고 배차시 사용설명을 교육 받으셔야 합니다^^</p>
                                            <p>6) 서비스품목이 추가되거나 예약완료 될 수 있으니 상담시 문의바랍니다.</p>
                                            <p>7) 차량별 옵션이 추가되거나 차이가 발생 할 수 있습니다.</p>
                                            <p>8) 캠핑카 DEPOSIT은 일주일 이내 환불해드립니다.</p>
                                            <br>

                                            <p><i class="fas fa-star"></i>보험 안내</p>
                                            <p>대인 무한 대물 2천 자손 1.5천</p>
                                            <p>자차포함<b style="font-size: x-small">[최대 2500만원 한정]</b> : 차대차사고 제외, 캠핑카 설비 및 가구 제외, <br/>
                                                자기부담금 50~200만원[과실30%이내]</p>
                                            <br>
                                            <p><i class="fas fa-star"></i>운전자 조건</p>
                                            <p>26세기준, 21세 요금은 1일당 11만원이 추가됩니다.</p>
                                            <p>운전면허 1종과 2종 가능차량이 상이하므로 꼭 확인부탁드립니다.</p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <p class="checkboxes"><input id="check_agreement" type="checkbox" value="rent"/>약관에 동의합니다</p>
                            </div>
                        </div>
                    </div>

                    <div id="btn_final_wrapper">
                        <button id="btn_final" type="button" onclick="reserveDone()">예약 신청 완료</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>