<!-- 관리자 메인페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>SAVECAR - 관리자 페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link th:href="@{/css/admin.css}" rel="stylesheet">
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/admin.js}" defer></script>
  <script>
    $(window).load(function() {
      let campingcarMenu = document.getElementById('campingcarMenu');
      campingcarMenu.classList.add('activeAdminMenu');
    });
  </script>

</head>
<body>
<div class="page_wrapper">
  <div id="logout_box"><a href="/admin/logout"><button id="logout">로그아웃</button></a></div>
  <div class="content_wrapper">

    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="list_container">
      <div style="text-align: right;">
        <button class="camping-completely-delete-btn set_reserve">목록에서 삭제</button>
      </div>
      <div class="reserve_list" id="reserve_list_title">
        <p style="flex: 1">삭제</p>
        <p class="created_date">예약신청날짜</p>
        <p class="name">성명</p>
        <p class="car_type">차종</p>
        <p class="rent_date">시작날짜</p>
        <p class="rent_time">시작시간</p>
        <p class="return_date">반납날짜</p>
        <p class="return_time">반납날짜</p>
        <p class="total">총결제금액</p>
        <p class="reservation">예약</p>
        <p id="set_reserve_header" class="set_reserve">확정</p>
      </div>
      <div class="reserve_list_wrapper" th:each="reservation : ${campingCarReservationList}">
        <p style="flex: 1; display: flex; justify-content: center; align-items: center;">
          <input th:if="${reservation.reservation != 1}" type="checkbox" name="selected_camping_reservation" th:value="${reservation.id}">
        </p>
        <div class="reserve_list" th:onclick="'location.href = \'/admin/campingcar/detail/'+${reservation.id}+'\''" >

          <p class="created_date" th:text="${#strings.arraySplit(reservation.createdDate, 'T')[0]}"></p>
          <p class="name" th:text="${reservation.name}"></p>
          <p class="car_type" th:text="${#strings.substring(reservation.carType.toUpperCase(), 0,4)}"></p>
          <p class="rent_date" th:text="${reservation.rentDate}"></p>
          <p class="rent_time" th:text="${reservation.rentTime}"></p>
          <p class="returnDate" th:text="${reservation.returnDate}"></p>
          <p class="return_time" th:text="${reservation.returnTime}"></p>
          <p class="total" th:text="${#numbers.formatInteger(reservation.total,0, 'COMMA')}"></p>
          <p class="reservation" th:text="${reservation.reservation} == 1? 'O':'X'"></p>

          <div style="display: none;">
            <p class="carTypeList" th:data-index="${reservation.id}" th:text="${reservation.carType}"></p>
            <p class="rentDateList" th:data-index="${reservation.id}" th:text="${reservation.rentDate}"></p>
            <p class="rentTimeList" th:data-index="${reservation.id}" th:text="${reservation.rentTime}"></p>
            <p class="returnDateList" th:data-index="${reservation.id}" th:text="${reservation.returnDate}"></p>
            <p class="returnTimeList" th:data-index="${reservation.id}" th:text="${reservation.returnTime}"></p>
            <p class="dayList" th:data-index="${reservation.id}" th:text="${reservation.day}"></p>
            <p class="extraTimeList" th:data-index="${reservation.id}" th:text="${reservation.extraTime}"></p>
            <p class="depositList" th:data-index="${reservation.id}" th:text="${reservation.deposit}"></p>
            <p class="totalList" th:data-index="${reservation.id}" th:text="${reservation.total}"></p>
            <p class="totalHalfList" th:data-index="${reservation.id}" th:text="${reservation.totalHalf}"></p>
            <p class="nameList" th:data-index="${reservation.id}" th:text="${reservation.name}"></p>
            <p class="phoneList" th:data-index="${reservation.id}" th:text="${reservation.phone}"></p>
            <p class="depositorList" th:data-index="${reservation.id}" th:text="${reservation.depositor}"></p>
            <p class="detailList" th:data-index="${reservation.id}" th:text="${reservation.detail}"></p>
            <p class="agreeList" th:data-index="${reservation.id}" th:text="${reservation.agree}"></p>
            <p class="campingReservationList" th:data-index="${reservation.id}" th:text="${reservation.reservation}"></p>
            <p class="campingReservationIdList" th:data-index="${reservation.id}" th:text="${reservation.id}"></p>
            <p class="orderCodeList" th:data-index="${reservation.id}" th:text="${reservation.orderCode}"></p>
          </div>
        </div>

        <button class="set_reserve" th:data-index="${reservation.id}" onclick="setReservationOnMenu(this)"
                th:style="${reservation.reservation} == 1? 'pointer-events:none; background: gray ' : null">
          확정
        </button>
      </div>

    </div>
  </div>
</div>

</body>

</html>