<!-- 관리자 상세페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>SAVECAR - 관리자 페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Style -->
  <link th:href="@{/css/admin.css}" rel="stylesheet">
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/admin.js}" defer></script>
  <script>
    $(window).load(function() {
      let campingcarMenu = document.getElementById('campingcarMenu');
      campingcarMenu.classList.add('activeAdminMenu');
    });
  </script>

</head>

<body>
<div class="page_wrapper">
  <div id="logout_box"><a href="/admin/logout"><button id="logout">로그아웃</button></a></div>
  <div class="content_wrapper">

    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="detail_container" >
      <div class="detail_list" id="go_back_wrapper">
        <a href="/admin/campingcar/menu"><button id="go_back">🠔 뒤로가기</button></a>
      </div>
      <div class="detail_list" id="detail_set_reserve">
        <button th:id="${reservation.id}" class="set_reserve" onclick="setCampingReserve(id)"
                th:style="${reservation.reservation} == 1? 'pointer-events:none; background: gray ' : null">확정</button>

        <!--        <form method="GET" onsubmit="return confirm('예약을 확정하시겠습니까?')" th:action="${'/campingcar/reservation/update/'+campingCarReservation.id}">-->
<!--          <input th:style="${campingCarReservation.reservation} == 1? 'pointer-events:none; background: gray' : null" class="set_reserve" type="submit" value="확정"/>-->
<!--        </form>-->
      </div>
      <div class="detail_list" id="detail_list_title">
        <p>종류</p>
        <p>값</p>
      </div>
      <div class="detail_list">
        <p>차종</p>
        <p th:text="${campingCarReservation.carType.toUpperCase()}"></p>
      </div>
      <div class="detail_list">
        <p>생성일</p>
        <p th:text="${#strings.arraySplit(campingCarReservation.createdDate, 'T')[0]}"></p>
      </div>
      <div class="detail_list">
        <p>수정일</p>
        <p th:text="${#strings.arraySplit(campingCarReservation.modifiedDate, 'T')[0]}"></p>
      </div>
      <div class="detail_list">
        <p>시작일</p>
        <p th:text="${campingCarReservation.rentDate}"></p>
      </div>
      <div class="detail_list">
        <p>시작시간</p>
        <p th:text="${campingCarReservation.rentTime}"></p>
      </div>
      <div class="detail_list">
        <p>일권</p>
        <p th:text="${campingCarReservation.day}"></p>
      </div>
      <div class="detail_list">
        <p>성명</p>
        <p th:text="${campingCarReservation.name}"></p>
      </div>
      <div class="detail_list">
        <p>연락처</p>
        <p th:text="${campingCarReservation.phone}"></p>
      </div>
      <div class="detail_list">
        <p>임금자명</p>
        <p th:text="${campingCarReservation.depositor}"></p>
      </div>
      <div class="detail_list">
        <p>보증금</p>
        <p th:text="${#numbers.formatInteger(campingCarReservation.deposit,0, 'COMMA')}"></p>
      </div>
      <div class="detail_list">
        <p>총결제금액</p>
        <p th:text="${#numbers.formatInteger(campingCarReservation.total,0, 'COMMA')}"></p>
      </div>
      <div class="detail_list">
        <p>선결제금액</p>
        <p th:text="${#numbers.formatInteger(campingCarReservation.totalHalf,0, 'COMMA')}"></p>
      </div>
      <div class="detail_list">
        <p>예약</p>
        <p th:text="${campingCarReservation.reservation}"></p>
      </div>
      <div class="detail_list">
        <p id="custom_demand">요구사항</p>
        <p id="custom_demand_detail" th:text="${campingCarReservation.detail}"></p>
      </div>
      <div class="detail_list" id="detail_set_delete">
        <form method="GET" onsubmit="return confirm('예약을 \'취소\'하시겠습니까?')" th:action="${'/reservation/cancel/'+campingCarReservation.id}">
          <input class="set_reserve" type="submit" value="예약취소"/>
        </form>
      </div>

    </div>
  </div>
</div>

</body>

</html>