<!-- 관리자 캠핑카 내용 설정 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_campingcar_setting.js}" defer></script>
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(window).on('load', function () {
            let settingMenu = document.getElementById('campingcarSettingMenu');
            settingMenu.classList.add('activeAdminMenu');
        });
    </script>
</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="inner_content container" style="text-align: center;">
            <h2 class="page_title">캠핑카 내용 수정</h2>
            <div style="margin-top: 30px;">
                <ul class="nav nav-tabs" style="justify-content: center;">
                    <li class="nav-item" th:each="campingCar, i : ${campingCarList}">
                        <a class="nav-link" data-toggle="tab" th:href="@{'#' + ${campingCar.carName}}" th:text="${campingCar.carName}"
                           th:classappend="${i.index == 0 ? 'show active' : ''}"></a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: 30px;">
                    <div class="tab-pane fade" th:each="campingCar, i : ${campingCarList}" th:id="${campingCar.carName}"
                         th:classappend="${i.index == 0 ? 'show active' : ''}">
                        <div style="text-align: right";>
                            <button onclick="editCampingcarSetting(name)" th:name="${campingCar.carName}" class="btn btn-primary" th:text="${campingCar.carName.toUpperCase() + ' 내용 수정하기'}"></button>
                        </div>
                        <div id="textarea_wrapper" style="margin-bottom: 100px;">
                            <article style="display: none;">
                                <p th:text="${campingCar.carNum}" class="carNum"></p>
                                <p th:text="${campingCar.carCode}" class="carCode"></p>
                                <p th:text="${campingCar.yearmodel}" class="yearmodel"></p>
                            </article>
                            <article>
                                <h4 class="text_explanation">기본 정보</h4>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>CAMPER 명</td>
                                        <td>
                                            <span th:text="${campingCar.carName.toUpperCase()}"></span>
                                            <span>VIP</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>연료 / 미션</td>
                                        <td>
                                            <div style="display:flex; justify-content: space-between;">
                                                <input type="text" class="fuel" style="width: 45%;" th:value="${campingCar.fuel}">
                                                <span> / </span>
                                                <input type="text" class="gearBox" style="width: 45%;" th:value="${campingCar.gearBox}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>면허 종류</td>
                                        <td>
                                            <input type="text" class="license" th:value="${campingCar.license}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>인원정보</td>
                                        <td>
                                            <input type="text" class="personnel" th:value="${campingCar.personnel}">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </article>
                            <article>
                                <h4 class="text_explanation">요금 설명</h4>
                                <textarea rows="8" class="camperPrice" th:text="${campingCar.camper_price}"></textarea>
                            </article>
                            <article>
                                <h4 class="text_explanation">기본 옵션</h4>
                                <textarea rows="8" class="basicOption" th:text="${campingCar.basic_option}"></textarea>
                            </article>
                            <article>
                                <h4 class="text_explanation">시설</h4>
                                <textarea rows="8" class="facility" th:text="${campingCar.facility}"></textarea>
                            </article>
                            <article>
                                <h4 class="text_explanation">렌트 정책</h4>
                                <textarea rows="8" class="rentPolicy" th:text="${campingCar.rent_policy}"></textarea>
                            </article>
                            <article>
                                <h4 class="text_explanation">보험 사항_보험 안내</h4>
                                <textarea rows="8" class="rentInsurance" th:text="${campingCar.rent_insurance}"></textarea>
                            </article>
                            <article>
                                <h4 class="text_explanation">보험 사항_운전자 조건</h4>
                                <textarea rows="8" class="driverLicense" th:text="${campingCar.driver_license}"></textarea>
                            </article>
                            <article>
                                <h4 class="text_explanation">이용 규칙</h4>
                                <textarea rows="8" class="rentRule" th:text="${campingCar.rent_rule}"></textarea>
                            </article>
                            <article>
                                <h4 class="text_explanation">환불 정책</h4>
                                <textarea rows="8" class="refundPolicy" th:text="${campingCar.refund_policy}"></textarea>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>