<!-- 관리자 캠핑카 사진 수정 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <link th:href="@{/css/admin_campingcar_image.css}" rel="stylesheet">
    <link th:href="@{/css/library/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_campingcar_image.js}" defer></script>
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(window).on('load', function () {
            let campingcarImageMenu = document.getElementById('campingcarImageMenu');
            campingcarImageMenu.classList.add('activeAdminMenu');
        });
        $(function(){
            $( ".sortable" ).sortable();
        });
    </script>
</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="inner_content container" style="text-align: center;">
            <h2 class="page_title">캠핑카 사진 수정</h2>
            <div style="margin-top: 30px;">
                <ul class="nav nav-tabs" style="justify-content: center;">
                    <li class="nav-item" th:each="car, i : ${imagesMainList}">
                        <a class="nav-link" data-toggle="tab" th:href="@{'#' + ${car.carName.carName}}" th:text="${car.carName.carName.toUpperCase()}"
                           th:classappend="${i.index == 0 ? 'show active' : ''}" th:data-title="${car.carName.carName}"></a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: 30px;">
                    <div class="tab-pane fade"  th:each="car, i : ${imagesMainList}" th:id="${car.carName.carName}"
                         th:classappend="${i.index == 0 ? 'show active' : ''}">
                        <h4>대표 이미지</h4>
                            <div class="image-box">
                                <div class="upload-box" th:if="${car.isUploaded == '1'}">
                                    <div style="text-align: right; margin-bottom: 10px;">
                                        <button class="btn btn-danger" th:onclick="uploadImage('mainDelete', [[${car.carName.carName}]], '0', [[${car.imageId}]])">삭제하기</button>
                                    </div>
                                    <img th:src="${car.url}" th:alt="${car.imageId}">
                                </div>
                                <div class="upload-box" th:unless="${car.isUploaded == '1'}">
                                    <input type="file" name="file" th:title="${car.carName.carName}" th:data-title="0">
                                    <button th:onclick="uploadImage('mainUpload', [[${car.carName.carName}]], '0', [[${car.imageId}]])">대표 이미지 넣기</button>
                                </div>
                            </div>
                        <br>
                        <h4>추가 이미지</h4>
                        <div style="text-align: right; margin-bottom: 10px;">
                            <button class="btn btn-primary changeOrderBtn" onclick="displaySortingBox();">이미지 순서 변경</button>
                        </div>
                        <div class="changeOrderBox">
                            <div class="changeOrderBoxTop">
                                <span style="font-size: 18px;">추가 이미지 순서 변경</span>
                                <button onclick="displaySortingBox();" class="btn btn-outline-primary">X</button>
                            </div>
                            <ul class="sortable">
                                <li th:each="car, i : ${imagesExtraList[i.index]}" class="oneItem" th:classappend="${car.carName.carName}+'Item'" th:data-title="${car.title}" th:data-imageId="${car.imageId}">
                                    <div>
                                        <img th:src="${car.url}" th:alt="${car.imageId}">
                                        <span>추가 이미지</span>
                                        <span th:text="${i.index + 1}"></span>
                                    </div>
                                    <i class="fas fa-bars" style="margin-right: 10px;"></i>
                                </li>
                                <button class="btn btn-primary" th:onclick="saveChangedData([[${car.carName.carName}]]);">순서 변경하기</button>
                            </ul>
                        </div>
                        <div class="image-box" th:if="${not #lists.isEmpty(imagesExtraList[i.index])}">
                            <div class="upload-box" th:each="car, i : ${imagesExtraList[i.index]}">
                                <div style="text-align: right; margin-bottom: 10px;">
                                    <button class="btn btn-danger" th:onclick="uploadImage('extraDelete', [[${car.carName.carName}]], '0', [[${car.imageId}]])">삭제하기</button>
                                </div>
                                <img th:src="${car.url}" th:alt="${car.imageId}">
                            </div>
                            <div class="upload-box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <input type="file" name="file" th:title="${car.carName.carName}" th:data-title="${car.imageId}" style="width: -webkit-fill-available;">
                                <button class="btn btn-primary" th:onclick="uploadImage('extraUpload', [[${car.carName.carName}]], [[${car.imageId}]], [[${car.imageId}]])" style="margin-top: 10px;">이미지 넣기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>