<!-- 관리자 할인/인상 적용 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_discount.js}" defer></script>

    <script>
        $(window).on('load', function () {
            let discountMenu = document.getElementById('discountMenu');
            discountMenu.classList.add('activeAdminMenu');
        });
    </script>
</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="inner_content">
            <div name="discountForm">
                <h2 class="page_title" style="text-align: center;">할인/인상가 적용하기</h2>
                <div class="form-group">
                    <label for="carNo">차량번호</label>
                    <input type="text" class="form-control" name="carNo" id="carNo" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="carNo">차량이름</label>
                    <input type="text" class="form-control" name="carName" id="carName">
                </div>
                <div class="form-group">
                    <label for="discount">할인/인상률(%)</label>
                    <input type="text" class="form-control" name="discount" id="discount">
                </div>
                <div style="margin-bottom: 1rem;">
                    <label style="color: red;">↑ 할인을 하고 싶으면 음수 값으로, 인상을 하고 싶으면 양수 값으로 적어주세요.</label>
                </div>
                <div class="form-group">
                    <label for="discount-description">할인/인상 설명</label>
                    <input type="text" class="form-control" name="discount-description" id="discount-description">
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-info" onclick="make_discount()">할인/인상 적용하기</button>
                </div>
            </div>
            <div id="mainTable" class="discount-table">
                <h2 class="page_title">할인/인상가 적용 차량 목록</h2>
                <p style="text-align: right;"><span style="color: red;">*</span>할인/인상률 계산 후 1000원 미만은 버림</p>
                <table class="table table-striped">
                    <thead id="table_header" class="thead-dark">
                    <tr>
                        <th>차량번호</th>
                        <th colspan="2">차량이름</th>
                        <th colspan="2">할인/인상률</th>
                        <th colspan="2">할인/인상 설명</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody id="mainTable_tbody">
                    <tr th:each="discount, iterStat : ${discountList}">
                        <td scope="col" th:text="${discount.carNo}" class="editCarNo" th:data-index="${discount.discountId}"></td>
                        <td scope="col" th:text="${discount.carName}" class="editCarName" th:data-index="${discount.discountId}"></td>
                        <td scope="col">
                            <span style="margin-right: 3%;"><button class="btn btn-info btn-sm" onclick="discountUpdate('carName', this)" th:data-index="${discount.discountId}">수정</button></span>

                        </td>
                        <td scope="col" th:text="${discount.discount} + '%'" class="editDiscount" th:data-index="${discount.discountId}"></td>
                        <td>
                            <span style="margin-right: 3%;"><button class="btn btn-info btn-sm" onclick="discountUpdate('price', this)" th:data-index="${discount.discountId}">수정</button></span>
                        </td>
                        <td scope="col" th:text="${discount.description}" class="discountDescription" th:data-index="${discount.discountId}"></td>
                        <td>
                            <span style="margin-right: 3%;"><button class="btn btn-info btn-sm" onclick="discountUpdate('description', this)" th:data-index="${discount.discountId}">수정</button></span>
                        </td>
                        <td>
                            <span><button class="delete-btn btn btn-info btn-sm" th:data-index="${discount.discountId}">삭제</button></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

</body>

</html>