<!-- 관리자 메인페이지 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script>
        $(window).on('load', function () {
            let indexMenu = document.getElementById('indexMenu');
            indexMenu && indexMenu.classList.add('activeAdminMenu');
        });
    </script>
</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content sm-content">
        <nav class="navbar navbar-expand-lg navbar-light" sec:authorize="isAuthenticated()">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="container" style="text-align: center; margin: 3vh auto;">
            <h1>관리자 메인 페이지</h1>
            <h3 sec:authorize="isAuthenticated()">반갑습니다. <span sec:authentication="name"></span>님!</h3>

            <br />
            <div sec:authorize="isAnonymous()" style="text-align: center;">
                <h2>로그인</h2>
                <hr>
                <div th:if="${error}">
                    <p th:text="${exception}" ></p>
                </div>
                <form action="/admin/login" method="post">
                    <input type="hidden"  />

                    <div class="form-group" style="display: block;">
                        <label for="exampleInputEmail1">아이디</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="username" style="text-align: center;">
                    </div>
                    <div class="form-group" style="display: block;">
                        <label for="exampleInputPassword1">비밀번호</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" style="text-align: center;">
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">로그인</button>
                    </div>
                </form>
            </div>

            <div style="margin-top: 50px;">
<!--                <a sec:authorize="isAnonymous()" class="btn btn-info" th:href="@{/admin/login}">로그인</a>-->
                <a sec:authorize="isAuthenticated()" class="btn btn-info" th:href="@{/admin/logout}">로그아웃</a>
<!--                <a sec:authorize="isAnonymous()" class="btn btn-info" th:href="@{/admin/signup}">회원가입</a>-->
            </div>
        </div>

<!--        <div>-->
<!--            <h1>파일 업로드</h1> <hr>-->

<!--            <form th:action="@{/admin/test/image}" method="post" enctype="multipart/form-data">-->
<!--                제목 : <input type="text" name="title"> <br>-->
<!--                파일 : <input type="file" name="file"> <br>-->
<!--                <button>등록하기</button>-->
<!--            </form>-->
<!--        </div>-->

    </div>
</div>

</body>

</html>