<!-- 관리자 장기렌트 차량 사진 수정 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <link th:href="@{/css/admin_longTerm.css}" rel="stylesheet">
    <link th:href="@{/css/library/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_longTerm.js}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(window).on('load', function () {
            let longTermMainMenu = document.getElementById('longTermMainMenu');
            longTermMainMenu.classList.add('activeAdminMenu');
        });
        // $(function(){
        //     $( ".sortable" ).sortable();
        // });
    </script>
</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="inner_content container" style="text-align: center;">

            <h2 class="page_title">
                <h2 th:text="${longTermRent.carName}"></h2>
                <h2>차량 이미지 수정</h2>
            </h2>
            <div style="margin-top: 30px;">
<!--                <p style="text-align: center;">준비 중 입니다.</p>-->
                <div class="upload-box" style="border: 1px solid #dee2e6; padding: 10px; margin: 30px auto; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <input type="file" name="file" multiple="multiple" accept="image/*" th:title="${longTermRent.carName}" id="imageFile" style="width: -webkit-fill-available;">
                    <button class="btn btn-primary" th:data-id="${longTermId}"
                            onclick="clickAddImage(this)"
                            style="margin-top: 10px;">
                        이미지 추가하기
                    </button>
                </div>
<!--                <div style="text-align: right; margin-bottom: 10px;">-->
<!--                    <button class="btn btn-primary changeOrderBtn" onclick="displaySortingBox();">이미지 순서 변경</button>-->
<!--                </div>-->
                <div class="image-box" th:if="${not #lists.isEmpty(longTermRentImageList)}">
                    <div class="upload-box" th:each="image, i : ${longTermRentImageList}" style="height: auto;">
                        <p>
                            <span th:text="${i.index + 1}"></span>
                            <span>번째 이미지</span>
                        </p>
                        <div style="text-align: right; margin-bottom: 10px;">
                            <button class="btn btn-danger" th:data-id="${image.imageId}"
                                    th:onclick="clickDeleteImage(this)">
                                삭제하기
                            </button>
                        </div>
                        <img th:src="${image.imageUrl}" th:alt="${image.imageId}" style="height: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>