<!-- 관리자 모렌 예약 신청_메뉴 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script>
        $(window).on('load', function () {
            let morenReservationMenu = document.getElementById('morenReservationMenu');
            morenReservationMenu.classList.add('activeAdminMenu');
        });
    </script>
</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content list_container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="inner_content">
            <h2 class="page_title" style="text-align: center;">모렌 예약 신청</h2>
            <div style="text-align: right;">
                <button class="moren-completely-delete-btn set_reserve">목록에서 삭제</button>
            </div>
            <div class="reserve_list" id="reserve_list_title" style="justify-content: space-between;">
                <p style="flex: 1">삭제</p>
                <p style="flex: 2">예약 신청 시간</p>
                <p style="flex: 1">차량 번호</p>
                <p style="flex: 1">이름</p>
                <p style="flex: 2">전화번호</p>
                <p style="flex: 2">대여시작일</p>
                <p style="flex: 2">월 대여료</p>
                <p style="flex: 3">취소 및 확정</p>
                <p style="flex: 2">상세 페이지</p>
                <!--                <p>목록에서 삭제</p>-->
            </div>
            <div class="reserve_list" id="reserve_list_title_mobile">
                <p style="flex: 1; text-align: center; margin-bottom: 0;">삭제</p>
                <p style="flex: 10; text-align: center; margin-bottom: 0;">예약 신청 내용</p>
            </div>
            <div class="reserve_list_wrapper" th:each="reservation, iterStat : ${#lists.sort(morenReservationList, byTime)}">
                <div class="reserve_checkbox">
                    <input th:if="${reservation.reservationStatus == '0'}" type="checkbox" name="selected_moren_reservation" th:value="${reservation.id}">
                </div>
                <div class="reserve_list" style="justify-content: space-between;">
                    <p style="flex: 2" class="grid_oneline">
                        <span class="reserve_list_mobile_title">예약 신청 시간: </span>
                        <span th:text="${#strings.arraySplit(reservation.createdDate, 'T')[0]+' '+#strings.arraySplit(reservation.createdDate, 'T')[1]}"></span>
                    </p>
                    <p style="flex: 1">
                        <span class="reserve_list_mobile_title">차량 번호: </span>
                        <span class="carNo" th:text="${reservation.carNo}" th:data-index="${reservation.id}"></span>
                    </p>
                    <p style="flex: 1">
                        <span class="reserve_list_mobile_title">이름: </span>
                        <span class="reservationName" th:text="${reservation.reservationName}" th:data-index="${reservation.id}"></span>
                    </p>
                    <p style="flex: 2" class="grid_oneline">
                        <span class="reserve_list_mobile_title">전화번호: </span>
                        <span class="reservationPhone" th:text="${reservation.reservationPhone}" th:data-index="${reservation.id}"></span>
                    </p>
                    <p style="flex: 2" class="grid_oneline">
                        <span class="reserve_list_mobile_title">대여시작일: </span>
                        <span class="reservationDate" th:text="${reservation.reservationDate}" th:data-index="${reservation.id}"></span>
                    </p>
                    <p class="reservationTime" th:text="${reservation.reservationTime}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="reservationAddress" th:text="${reservation.Address}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="reservationAddressDetail" th:text="${reservation.AddressDetail}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p style="flex: 2" class="grid_oneline">
                        <span class="reserve_list_mobile_title">월 대여료: </span>
                        <span class="number" th:text="${reservation.carAmountTotal}"></span>
                        <span>원</span>
                    </p>
                    <p class="reservationStatus" th:text="${reservation.reservationStatus}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="carPrice" th:text="${reservation.carPrice}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="carTax" th:text="${reservation.carTax}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="carName" th:text="${reservation.carName}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="reservationId" th:text="${reservation.id}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="rentTerm" th:text="${reservation.rentTerm}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="costPerKm" th:text="${reservation.costPerKm}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="carAmountTotal" th:text="${reservation.carAmountTotal}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="carDeposit" th:text="${reservation.carDeposit}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="reservationDetails" th:text="${reservation.reservationDetails}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="kilometer" th:text="${reservation.kilometer}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="reservationAge" th:text="${reservation.reservationAge}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="reservationGuarantee" th:text="${reservation.reservationGuarantee}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="carCode" th:text="${reservation.carCode}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="pickupPlace" th:text="${reservation.pickupPlace}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p class="orderCode" th:text="${reservation.orderCode}" style="display: none;" th:data-index="${reservation.id}"></p>
                    <p style="flex: 3" class="grid_oneline">
                        <button class="moren-reservation-btn set_reserve" data-behavior="confirm" th:name="${reservation.id}" th:data-index="${reservation.id}"
                                th:style="${reservation.reservationStatus} == '1' ? 'pointer-events: none; background: gray; word-break: keep-all; margin: 0;' : 'word-break: keep-all; cursor: pointer; margin: 0;'">
                            확정
                        </button>

                        <button class="moren-reservation-btn set_reserve" data-behavior="cancel" th:name="${reservation.id}" th:data-index="${reservation.id}"
                                th:style="${reservation.reservationStatus} == '0' ? 'pointer-events: none; background: gray; word-break: keep-all; margin: 0;' : 'word-break: keep-all; cursor: pointer; margin: 0;'">
                            확정 취소
                        </button>
                    </p>
                    <p style="flex: 2" class="grid_oneline">
                        <a th:href="'/admin/moren/reservation/detail/' + ${reservation.id}">
                            <button class="set_reserve btn_mobile_card" style="margin: 0;">상세 페이지</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

</body>

</html>
