<!-- 관리자페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

    <script th:src="@{/js/jquery.min.js}" defer></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script>
        $(window).load(function() {
            let morenReservationMenu = document.getElementById('morenReservationMenu');
            morenReservationMenu.classList.add('activeAdminMenu');
        });
    </script>
</head>
<body>
<div class="page_wrapper">
    <div id="logout_box"><a href="/admin/logout"><button id="logout">로그아웃</button></a></div>
    <div class="content_wrapper">

        <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

        <div class="content_container">
            <div>
                <a href="/admin/moren/reservation/menu">
                    <i class="fas fa-arrow-left" style="margin-top: 30px; color: black; font-size: 30px;"></i>

                </a>
            </div>
            <div class="head_title" style="text-align: center;">
                <h2>예약 신청 상세 페이지</h2>
            </div>
            <div class="detail_container">
                <div class="detail_list" id="detail_list_title">
                    <p>종류</p>
                    <p>값</p>
                </div>
                <div class="detail_list">
                    <p>예약한 시간</p>
                    <p>예약한 시간</p>
                </div>
                <div class="detail_list">
                    <p>차량 번호</p>
                    <p th:text="${morenReservationDTO.carNo}" class="carNo">예약한 시간</p>
                </div>
                <div class="detail_list">
                    <p>렌트 기간</p>
                    <select name="" class="rentTerm" onchange="displayNextOptions(this)">
                        <option value="한달" th:selected="${morenReservationDTO.rentTerm} == '한달' ? true : false">한달</option>
                        <option value="12개월" th:selected="${morenReservationDTO.rentTerm} == '12개월' ? true : false">12개월</option>
                        <option value="24개월" th:selected="${morenReservationDTO.rentTerm} == '24개월' ? true : false">24개월</option>
                    </select>
                </div>
                <div class="detail_list">
                    <p>약정 주행거리</p>
                    <select name="" class="kilometer" id="selectKilometer">
                        <option th:if="${morenReservationDTO.rentTerm=='한달'}" value="2000km" th:selected="${morenReservationDTO.kilometer} == '2000km' ? true : false">2000km</option>
                        <option th:if="${morenReservationDTO.rentTerm=='한달'}" value="2500km" th:selected="${morenReservationDTO.kilometer} == '2500km' ? true : false">2500km</option>
                        <option th:if="${morenReservationDTO.rentTerm=='한달'}" value="3000km" th:selected="${morenReservationDTO.kilometer} == '3000km' ? true : false">3000km</option>
                        <option th:if="${morenReservationDTO.rentTerm=='한달'}" value="4000km" th:selected="${morenReservationDTO.kilometer} == '4000km' ? true : false">4000km</option>
                        <option th:if="${morenReservationDTO.rentTerm=='한달'}" value="기타" th:selected="${morenReservationDTO.kilometer} == '기타' ? true : false">기타</option>
                        <option th:if="${(morenReservationDTO.rentTerm=='12개월')||(morenReservationDTO.rentTerm=='24개월')}" value="20000km" th:selected="${morenReservationDTO.kilometer} == '20000km' ? true : false">20000km</option>
                        <option th:if="${(morenReservationDTO.rentTerm=='12개월')||(morenReservationDTO.rentTerm=='24개월')}" value="30000km" th:selected="${morenReservationDTO.kilometer} == '2500km' ? true : false">30000km</option>
                        <option th:if="${(morenReservationDTO.rentTerm=='12개월')||(morenReservationDTO.rentTerm=='24개월')}" value="40000km" th:selected="${morenReservationDTO.kilometer} == '3000km' ? true : false">40000km</option>
                        <option th:if="${(morenReservationDTO.rentTerm=='12개월')||(morenReservationDTO.rentTerm=='24개월')}" value="기타" th:selected="${morenReservationDTO.kilometer} == '기타' ? true : false">기타</option>
                    </select>
                </div>
                <div class="detail_list">
                    <p>예약자 이름(입금자명)</p>
                    <textarea class="reservationName" th:text="${morenReservationDTO.reservationName}"></textarea>
                </div>
                <div class="detail_list">
                    <p>예약자 전화번호</p>
                    <textarea class="reservationPhone" th:text="${morenReservationDTO.reservationPhone}"></textarea>
                </div>
                <div class="detail_list">
                    <p>예약자 생년월일</p>
                    <textarea class="reservationAge" th:text="${morenReservationDTO.reservationAge}"></textarea>
                </div>
                <div class="detail_list">
                    <p>대여 날짜 및 시간</p>
                    <div style="display: flex; align-items: center;">
                        <input type="date" class="reservationDate" th:value="${morenReservationDTO.reservationDate}">
                        <input type="time" class="reservationTime" th:value="${morenReservationDTO.reservationTime}">
                    </div>
                </div>
                <div class="detail_list">
                    <p>신용 보증</p>
                    <p th:text="${morenReservationDTO.reservationGuarantee}"></p>
                </div>
                <div class="detail_list">
                    <p>배차 요청 주소</p>
                    <textarea class="reservationAddress" th:text="${morenReservationDTO.address}"></textarea>
                </div>
                <div class="detail_list">
                    <p>배차 요청 상세 주소</p>
                    <textarea class="reservationAddressDetail" th:text="${morenReservationDTO.addressDetail}"></textarea>
                </div>
                <div class="detail_list">
                    <p>요청 사항</p>
                    <textarea class="reservationDetails" th:text="${morenReservationDTO.reservationDetails}"></textarea>
                </div>
                <div class="detail_list">
                    <p>공급가</p>
                    <div style="display: flex; align-items: center;">
                        <p class="number carPrice" th:text="${morenReservationDTO.carPrice}" id="displayCarPrice"></p><span>원</span>
                    </div>
                </div>
                <div class="detail_list">
                    <p>부가세</p>
                    <div style="display: flex; align-items: center;">
                        <p class="number carTax" th:text="${morenReservationDTO.carTax}" id="displayCarTax"></p><span>원</span>
                    </div>
                </div>
                <div class="detail_list">
                    <p>총 렌트료</p>
                    <textarea class="carAmountTotal" onkeyup="changePrice(this);" id="carAmountTotalInput" th:text="${morenReservationDTO.carAmountTotal}"></textarea>
                </div>
                <div class="detail_list">
                    <p>보증금</p>
                    <textarea class="carDeposit" th:text="${morenReservationDTO.carDeposit}"></textarea>
                </div>
                <div class="detail_list">
                    <p>방문 또는 배차 신청</p>
                    <select name="" class="pickupPlace">
                        <option value="방문" th:selected="${morenReservationDTO.pickupPlace} == '방문' ? true : false">방문</option>
                        <option value="배차 신청" th:selected="${morenReservationDTO.pickupPlace} == '배차 신청' ? true : false">배차 신청</option>
                    </select>
                </div>
                <p class="reservationStatus" th:text="${morenReservationDTO.reservationStatus}" style="display: none;"></p>
                <p class="carName" th:text="${morenReservationDTO.carName}" style="display: none;"></p>
                <p class="costPerKm" th:text="${morenReservationDTO.costPerKm}" style="display: none;"></p>
                <p class="reservationGuarantee" th:text="${morenReservationDTO.reservationGuarantee}" style="display: none;"></p>
                <p class="carCode" th:text="${morenReservationDTO.carCode}" style="display: none;"></p>
                <span class="reservationId" style="display: none;" th:text="${morenReservationDTO.id}"></span>
                <span class="reservationStatus" style="display: none;" th:text="${morenReservationDTO.reservationStatus}"></span>
                <div th:if="${morenReservationDTO.reservationStatus == '0'}" style="display: flex; justify-content: space-between;">
                    <button class="moren-reservation-btn set_reserve" data-behavior="confirm" th:name="${morenReservationDTO.id}"
                            th:style="${morenReservationDTO.reservationStatus} == '1' ? 'pointer-events: none; background: gray' : null">
                        확정
                    </button>
                    <button class="moren-reservation-btn set_reserve" data-behavior="cancel" th:name="${morenReservationDTO.id}"
                            th:style="${morenReservationDTO.reservationStatus} == '0' ? 'pointer-events: none; background: gray' : null">
                        확정 취소
                    </button>
                    <button class="moren-reservation-btn set_reserve" data-behavior="edit" th:name="${morenReservationDTO.id}">수정</button>
                </div>
                <div th:if="${morenReservationDTO.reservationStatus == '1'}" style="display: flex; justify-content: space-between;">
                    <p style="text-align: center; width: 100%; color: darkblue;">위 예약 신청은 확정되었습니다.</p>
                </div>
                <div th:if="${morenReservationDTO.reservationStatus == '-1'}" style="display: flex; justify-content: space-between;">
                    <p style="text-align: center; width: 100%; color: red;">위 예약 신청은 취소되었습니다.</p>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>