<!-- 관리자 팝업 내용 설정 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <link th:href="@{/css/admin_popup.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link th:href="@{/css/library/font-awesome.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_popup.js}" defer></script>
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(window).on('load', function () {
            let settingMenu = document.getElementById('popupSettingMenu');
            settingMenu.classList.add('activeAdminMenu');
        });
    </script>
</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>


        <div class="inner_content" style="text-align: center;">
            <h2 class="page_title">index page 글 수정</h2>
            <div style="text-align: right; margin-bottom: 20px;">
                <button onclick="indexEdit();" class="btn btn-primary btn-lg">저장하기</button>
            </div>
            <div>
                <p>첫 줄 : <input type="text" id="index_main_txt_1" th:value="${index_main_txt_1}" size="40"></p>
                <p>둘째 줄 : <input type="text" id="index_main_txt_2" th:value="${index_main_txt_2}" size="40"></p>
            </div>
        </div>

<!--        <div class="inner_content" style="text-align: center;">-->
<!--            <h2 class="page_title">팝업 내용 수정</h2>-->
<!--            <div style="text-align: right; margin-bottom: 20px;">-->
<!--                <button onclick="popupEdit();" class="btn btn-primary btn-lg">저장하기</button>-->
<!--            </div>-->
<!--            <div id="divpop1" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 popStyle1">-->
<!--                <div class="popup_upper">-->
<!--                    <div class="popup_content">-->
<!--                        <div class="popup_header">-->
<!--                            <h1>-->
<!--                                <input type="text" id="popup1_contact">-->
<!--                            </h1>-->
<!--                        </div>-->
<!--                        <div class="popup1_box1">-->
<!--                            <table style="margin: 0 auto;">-->
<!--                                <tr>-->
<!--                                    <td>-->
<!--                                        <input type="text" id="popup1_box1_line1_title">-->
<!--                                    </td>-->
<!--                                    <td class="three_span">-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line1_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_yellow">-->
<!--                                            <input type="text" id="popup1_box1_line1_price">-->
<!--                                        </span>-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line1_text2">-->
<!--                                        </span>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>-->
<!--                                        <input type="text" id="popup1_box1_line2_title">-->
<!--                                    </td>-->
<!--                                    <td class="three_span">-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line2_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_yellow">-->
<!--                                            <input type="text" id="popup1_box1_line2_price">-->
<!--                                        </span>-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line2_text2">-->
<!--                                        </span></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>-->
<!--                                        <input type="text" id="popup1_box1_line3_title">-->
<!--                                    </td>-->
<!--                                    <td class="three_span">-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line3_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_yellow">-->
<!--                                            <input type="text" id="popup1_box1_line3_price">-->
<!--                                        </span>-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line3_text2">-->
<!--                                        </span>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>-->
<!--                                        <input type="text" id="popup1_box1_line7_title">-->
<!--                                    </td>-->
<!--                                    <td class="three_span">-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line7_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_yellow">-->
<!--                                            <input type="text" id="popup1_box1_line7_price">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_small">-->
<!--                                            <input type="text" id="popup1_box1_line7_text2">-->
<!--                                        </span>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>-->
<!--                                        <input type="text" id="popup1_box1_line8_title">-->
<!--                                    </td>-->
<!--                                    <td class="three_span">-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line8_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_yellow">-->
<!--                                            <input type="text" id="popup1_box1_line8_price">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_small">-->
<!--                                            <input type="text" id="popup1_box1_line8_text2">-->
<!--                                        </span>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>-->
<!--                                        <input type="text" id="popup1_box1_line4_title">-->
<!--                                    </td>-->
<!--                                    <td class="three_span">-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line4_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_yellow">-->
<!--                                            <input type="text" id="popup1_box1_line4_price">-->
<!--                                        </span>-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line4_text2">-->
<!--                                        </span>-->
<!--&lt;!&ndash;                                        <span class="popup1_box1_small">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <input type="text" id="popup1_box1_line4_text3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        </span>&ndash;&gt;-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>-->
<!--                                        <input type="text" id="popup1_box1_line5_title">-->
<!--                                    </td>-->
<!--                                    <td class="three_span">-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line5_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_yellow">-->
<!--                                            <input type="text" id="popup1_box1_line5_price">-->
<!--                                        </span>-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line5_text2">-->
<!--                                        </span>-->
<!--&lt;!&ndash;                                        <span class="popup1_box1_small">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <input type="text" id="popup1_box1_line5_text3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        </span>&ndash;&gt;-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>-->
<!--                                        <input type="text" id="popup1_box1_line6_title">-->
<!--                                    </td>-->
<!--                                    <td class="three_span">-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box1_line6_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_yellow">-->
<!--                                            <input type="text" id="popup1_box1_line6_price">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box1_small">-->
<!--                                            <input type="text" id="popup1_box1_line4_text3">-->
<!--                                        </span>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                        <div class="popup1_box2">-->
<!--                            <div class="popup1_box2_upper">-->
<!--                                <h4>-->
<!--                                    <input type="text" id="popup1_banner1">-->
<!--                                </h4>-->
<!--                                <h4>-->
<!--                                    <input type="text" id="popup1_banner2">-->
<!--                                </h4>-->
<!--                                <p class="popup1_box2_upper_title">-->
<!--                                    <input type="text" id="popup1_box2_line1_title">-->
<!--                                </p>-->
<!--                                <p class="five_span">-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line1_text1">-->
<!--                                    </span>-->
<!--                                    <span class="popup1_box2_purple">-->
<!--                                        <input type="text" id="popup1_box2_line1_price1">-->
<!--                                    </span>-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line1_text2">-->
<!--                                    </span>-->
<!--                                    <span class="popup1_box2_purple">-->
<!--                                        <input type="text" id="popup1_box2_line1_price2">-->
<!--                                    </span>-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line1_text3">-->
<!--                                    </span>-->
<!--                                </p>-->
<!--                                <p class="popup1_box2_upper_title">-->
<!--                                    <input type="text" id="popup1_box2_line2_title">-->
<!--                                </p>-->
<!--                                <p class="five_span">-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line2_text1">-->
<!--                                    </span>-->
<!--                                    <span class="popup1_box2_purple">-->
<!--                                        <input type="text" id="popup1_box2_line2_price1">-->
<!--                                    </span>-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line2_text2">-->
<!--                                    </span>-->
<!--                                    <span class="popup1_box2_purple">-->
<!--                                        <input type="text" id="popup1_box2_line2_price2">-->
<!--                                    </span>-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line2_text3">-->
<!--                                    </span>-->
<!--                                </p>-->
<!--                                <p class="popup1_box2_upper_title">-->
<!--                                    <input type="text" id="popup1_box2_line3_title">-->
<!--                                </p>-->
<!--                                <p class="five_span">-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line3_text1">-->
<!--                                    </span>-->
<!--                                    <span class="popup1_box2_purple">-->
<!--                                        <input type="text" id="popup1_box2_line3_price1">-->
<!--                                    </span>-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line3_text2">-->
<!--                                    </span>-->
<!--                                    <span class="popup1_box2_purple">-->
<!--                                        <input type="text" id="popup1_box2_line3_price2">-->
<!--                                    </span>-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup1_box2_line3_text3">-->
<!--                                    </span>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="popup1_box2_bottom">-->
<!--                                <i class="fas fa-clipboard-check"></i>-->
<!--                                <div style="display: flex; flex-direction: column; justify-content: center;">-->
<!--                                    <p>-->
<!--                                        <input type="text" id="popup1_box2_bottom_line1">-->
<!--                                    </p>-->
<!--                                    <p class="three_span">-->
<!--                                        <span style="color: #7506db;">-->
<!--                                            <input type="text" id="popup1_box2_bottom_line2_title">-->
<!--                                        </span>-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box2_bottom_line2_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box2_small">-->
<!--                                            <input type="text" id="popup1_box2_bottom_line2_text2">-->
<!--                                        </span>-->
<!--                                    </p>-->
<!--                                    <p class="three_span">-->
<!--                                        <span style="color: #7506db;">-->
<!--                                            <input type="text" id="popup1_box2_bottom_line3_title">-->
<!--                                        </span>-->
<!--                                        <span>-->
<!--                                            <input type="text" id="popup1_box2_bottom_line3_text1">-->
<!--                                        </span>-->
<!--                                        <span class="popup1_box2_small">-->
<!--                                            <input type="text" id="popup1_box2_bottom_line3_text2">-->
<!--                                        </span>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="popup_footer">-->
<!--                            <h4 style="margin: 10px 20px;">-->
<!--                                <input type="text" id="popup1_button">-->
<!--                            </h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="divpop2" class="col-sm-12 col-xs-12 hidden-lg hidden-md popStyle2">-->
<!--                <div class="popup_upper">-->
<!--                    <div class="popup_content">-->
<!--                        <div class="popup_bg_img_wrapper">-->
<!--                            <div class="popup_bg_img" th:style="'background-image:url('+ @{/img/popup_campingcar.png} +');'">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="popup_bg_red">-->
<!--                            <h4 style="padding-top: 0.5em;">-->
<!--                                <input type="text" id="popup2_contact">-->
<!--                            </h4>-->
<!--                            <h4 class="popup_outline_text" style="position: relative;">-->
<!--                                <input type="text" id="popup2_subtitle">-->
<!--                            </h4>-->
<!--                            <h4 class="popup_outline_text" style="position: relative;">-->
<!--                                <input type="text" id="popup2_title">-->
<!--                            </h4>-->
<!--                        </div>-->
<!--                        <div class="popup_bg_green">-->
<!--                            <div class="popup_bottom_content_wrapper">-->
<!--                                <div class="popup_box popup_box_slogan">-->
<!--                                    <input type="text" id="popup2_slogan">-->
<!--                                </div>-->
<!--                                <div class="popup_box_wrapper" style="margin-bottom: 40px;">-->
<!--                                    <div class="popup_box">-->
<!--                                        <p class="popup_box_title" id="popup2_box1_title"></p>-->
<!--                                        <p class="popup_box_subtitle">-->
<!--                                            <input type="text" id="popup2_box1_subtitle">-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_price">-->
<!--                                            <span class="popup_box_text" style="width: 40%;">-->
<!--                                                주중 :-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number" style="width: 30%;" id="popup2_box1_line1_price"></span>-->
<!--                                            <span class="popup_box_text" style="width: 30%;">-->
<!--                                                만원-->
<!--                                            </span>-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_price">-->
<!--                                            <span class="popup_box_text" style="width: 40%;">-->
<!--                                                주말 :-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number" style="width: 30%;" id="popup2_box1_line2_price"></span>-->
<!--                                            <span class="popup_box_text" style="width: 30%;">-->
<!--                                                만원-->
<!--                                            </span>-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_text" th:text="${campingCarList[0].license}"></p>-->
<!--                                        <p class="popup_box_text display_text">-->
<!--                                            <span class="fixed_width">인원정보 : </span>-->
<!--                                            <span class="fixed_width" th:text="${campingCarList[0].personnel}"></span>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="popup_box">-->
<!--                                        <p class="popup_box_title" id="popup2_box2_title"></p>-->
<!--                                        <p class="popup_box_subtitle">-->
<!--                                            <input type="text" id="popup2_box2_subtitle">-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_price">-->
<!--                                            <span class="popup_box_text" style="width: 40%;">-->
<!--                                                주중 :-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number" style="width: 30%;" id="popup2_box2_line1_price"></span>-->
<!--                                            <span class="popup_box_text" style="width: 30%;">-->
<!--                                                만원-->
<!--                                            </span>-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_price">-->
<!--                                            <span class="popup_box_text" style="width: 40%;">-->
<!--                                                주말 :-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number" style="width: 30%;" id="popup2_box2_line2_price"></span>-->
<!--                                            <span class="popup_box_text" style="width: 30%;">-->
<!--                                                만원-->
<!--                                            </span>-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_text" th:text="${campingCarList[1].license}"></p>-->
<!--                                        <p class="popup_box_text display_text">-->
<!--                                            <span class="fixed_width">인원정보 : </span>-->
<!--                                            <span class="fixed_width" th:text="${campingCarList[1].personnel}"></span>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="popup_box popup_box_slogan promotion_slogan" style="display: grid; grid-template-columns: 10% 77% 10%; align-items: center;">-->
<!--                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>-->
<!--                                    <span>-->
<!--                                        <input type="text" id="popup2_promotion">-->
<!--                                    </span>-->
<!--                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>-->
<!--                                </div>-->
<!--                                <div class="popup_box_wrapper">-->
<!--                                    <div class="popup_box">-->
<!--                                        <p class="popup_box_title"></p>-->
<!--                                        <p class="popup_box_subtitle"></p>-->
<!--                                        <p class="popup_box_price popup2_box34_oneline">-->
<!--                                            <span class="popup_box_text">-->
<!--                                                <input type="text" id="popup2_box3_line1_title">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number">-->
<!--                                                <input type="text" id="popup2_box3_line1_price">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_text">만원</span>-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_price popup2_box34_oneline">-->
<!--                                            <span class="popup_box_text">-->
<!--                                                <input type="text" id="popup2_box3_line2_title">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number">-->
<!--                                                <input type="text" id="popup2_box3_line2_price">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_text">만원</span>-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_price popup2_box34_oneline">-->
<!--                                            <span class="popup_box_text">-->
<!--                                                <input type="text" id="popup2_box3_line3_title">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number">-->
<!--                                                <input type="text" id="popup2_box3_line3_price">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_text">만원</span>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="popup_box">-->
<!--                                        <p class="popup_box_title"></p>-->
<!--                                        <p class="popup_box_subtitle"></p>-->
<!--                                        <p class="popup_box_price popup2_box34_oneline">-->
<!--                                            <span class="popup_box_text">-->
<!--                                                <input type="text" id="popup2_box4_line1_title">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number">-->
<!--                                                <input type="text" id="popup2_box4_line1_price">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_text">만원</span>-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_price popup2_box34_oneline">-->
<!--                                            <span class="popup_box_text">-->
<!--                                                <input type="text" id="popup2_box4_line2_title">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number">-->
<!--                                                <input type="text" id="popup2_box4_line2_price">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_text">만원</span>-->
<!--                                        </p>-->
<!--                                        <p class="popup_box_price popup2_box34_oneline">-->
<!--                                            <span class="popup_box_text">-->
<!--                                                <input type="text" id="popup2_box4_line3_title">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_price_number">-->
<!--                                                <input type="text" id="popup2_box4_line3_price">-->
<!--                                            </span>-->
<!--                                            <span class="popup_box_text">만원</span>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="popup_button">-->
<!--                                    <input type="text" id="popup2_button">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

</body>

</html>