<!-- 관리자 12개월 가격 수정 페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <link th:href="@{/css/admin_rent_car.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_rentcar.js}" defer></script>
    <script>
        $(window).on('load', function () {
            let priceYearlyMenu = document.getElementById('priceYearlyMenu');
            priceYearlyMenu.classList.add('activeAdminMenu');
        });
    </script>
</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content" style="width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="container inner_content" style="width: 100%;">
            <h2 class="page_title" style="text-align: center;">12개월 가격 수정</h2>
            <div style="margin-top: 30px;">
                <div class="a_buttons">
                    <a href="/admin/rentcar/price/yearly/menu/경형">
                        <button class="btn btn-outline-info">경형</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/준중형">
                        <button class="btn btn-outline-info">준중형</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/중형">
                        <button class="btn btn-outline-info">중형</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/중대형">
                        <button class="btn btn-outline-info">중대형</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/대형">
                        <button class="btn btn-outline-info">대형</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/소중형SUV">
                        <button class="btn btn-outline-info">소중형SUV</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/중형SUV">
                        <button class="btn btn-outline-info">중형SUV</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/중대형SUV">
                        <button class="btn btn-outline-info">중대형SUV</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/대형SUV">
                        <button class="btn btn-outline-info">대형SUV</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/승합">
                        <button class="btn btn-outline-info">승합</button>
                    </a>
                    <a href="/admin/rentcar/price/yearly/menu/수입차">
                        <button class="btn btn-outline-info">수입차</button>
                    </a>
                </div>
                <div id='my-spinner'>
                    <div class="loading_spinner_box">
                        <div class="loading_spinner"></div>
                        <p>처리중....</p>
                    </div>
                </div>
                <table class="table rentcarEditTable table-striped">
                    <thead>
                    <tr class="bundle_row">
                        <td colspan="3" style="font-size: 1.3rem;">모든차량 일괄 수정</td>
                        <td>
                            <input type="number" style="width: 6rem;" id="bundleDeposit">
                            <button class="btn btn-primary" onclick="editBundleData('yearly', '보증금');">보증금 수정</button>
                        </td>
                        <td>
                            <input type="number" style="width: 10rem;" id="bundle20000km">
                            <button class="btn btn-primary" onclick="editBundleData('yearly', '20000km');">20,000km 수정</button>
                        </td>
                        <td>
                            <input type="number" style="width: 10rem;" id="bundle30000km">
                            <button class="btn btn-primary" onclick="editBundleData('yearly', '30000km');">30,000km 수정</button>
                        </td>
                        <td>
                            <input type="number" style="width: 10rem;" id="bundle40000km">
                            <button class="btn btn-primary" onclick="editBundleData('yearly', '40000km');">40,000km 수정</button>
                        </td>
                        <td></td>
                        <td colspan="9"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="thead-dark">
                        <th scope="col">종류</th>
                        <th scope="col">분류</th>
                        <th scope="row">차명 년식</th>
                        <th scope="col">보증금</th>
                        <th scope="col">20,000km</th>
                        <th scope="col">30,000km</th>
                        <th scope="col">40,000km</th>
                        <th scope="col">other</th>
                        <th scope="col">21세</th>
                        <th scope="col">km당 추가요금</th>
                        <th scope="col">모렌_차명</th>
                        <th scope="col">년식_시작</th>
                        <th scope="col">년식_끝</th>
                        <th scope="col">신용</th>
                        <th scope="col">img_url</th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each="car, i : ${ monthlyRentList }">
                        <td th:text="${car.yearlyRent.category1}" class="category1" th:data-title="${car.yearlyRent.id}"></td>
                        <td th:text="${car.yearlyRent.category2}" class="category2" th:data-title="${car.yearlyRent.id}"></td>
                        <td scope="row" th:text="${car.yearlyRent.name}" class="name" th:data-title="${car.yearlyRent.id}"></td>
                        <td>
                            <textarea type="text" th:text="${#numbers.formatInteger(car.yearlyRent.deposit, 0, 'COMMA')}" class="deposit" th:data-title="${car.yearlyRent.id}"></textarea>
                        </td>
                        <td style="display: none;" th:text="${car.cost_for_2k}" th:data-title="${car.yearlyRent.id}" class="cost_for_2k"></td>
                        <td style="display: none;" th:text="${car.cost_for_3k}" th:data-title="${car.yearlyRent.id}" class="cost_for_3k"></td>
                        <td style="display: none;" th:text="${car.cost_for_4k}" th:data-title="${car.yearlyRent.id}" class="cost_for_4k"></td>
                        <td>
                            <p th:text="${#numbers.formatInteger(T(Math).round(car.yearlyRent.cost_for_20k * car.cost_for_2k / 1000)*1000, 0, 'COMMA')}"
                                class="display_cost_for_20k" th:data-title="${car.yearlyRent.id}"></p>
                            <p th:text="${#numbers.formatInteger(car.yearlyRent.cost_for_20k_price,0,'COMMA')}" class="display_cost_for_20k" th:data-title="${car.yearlyRent.id}"></p>
                            <textarea type="number"
                                      th:text="${car.yearlyRent.cost_for_20k}" class="cost_for_20k long_input" th:data-title="${car.yearlyRent.id}"
                                      onkeyup="calculatePriceOnMenu(this, 'yearly', 'cost_for_20k');"></textarea>
                        </td>
                        <td>
                            <p th:text="${#numbers.formatInteger(T(Math).round(car.yearlyRent.cost_for_30k * (T(Math).round(car.cost_for_3k * car.cost_for_2k / 1000)*1000) / 1000)*1000, 0, 'COMMA')}"
                               class="display_cost_for_30k" th:data-title="${car.yearlyRent.id}"></p>
                            <p th:text="${#numbers.formatInteger(car.yearlyRent.cost_for_30k_price,0,'COMMA')}" class="display_cost_for_30k" th:data-title="${car.yearlyRent.id}"></p>
                            <textarea type="number"
                                      th:text="${car.yearlyRent.cost_for_30k}" class="cost_for_30k long_input"
                                      th:data-title="${car.yearlyRent.id}"
                                      onkeyup="calculatePriceOnMenu(this, 'yearly', 'cost_for_30k')"></textarea>
                        </td>
                        <td>
                            <p th:text="${#numbers.formatInteger(T(Math).round(car.yearlyRent.cost_for_40k * (T(Math).round(car.cost_for_4k * car.cost_for_2k / 1000)*1000) / 1000)*1000, 0, 'COMMA')}"
                               class="display_cost_for_40k" th:data-title="${car.yearlyRent.id}"></p>
                            <p th:text="${#numbers.formatInteger(car.yearlyRent.cost_for_40k_price,0,'COMMA')}" class="display_cost_for_40k" th:data-title="${car.yearlyRent.id}"></p>
                            <textarea type="number"
                                      th:text="${car.yearlyRent.cost_for_40k}" class="cost_for_40k long_input"
                                      th:data-title="${car.yearlyRent.id}"
                                      onkeyup="calculatePriceOnMenu(this, 'yearly', 'cost_for_40k')"></textarea>
                        </td>
                        <td>
                            <p class="cost_for_others" th:text="${car.yearlyRent.cost_for_others}" th:data-title="${car.yearlyRent.id}"></p>
                        </td>
                        <td>
                            <p th:text="${car.yearlyRent.age_limit}" class="age_limit" th:data-title="${car.yearlyRent.id}"></p>
                        </td>
                        <td>
                            <textarea type="text" th:text="${car.yearlyRent.cost_per_km}" class="cost_per_km" th:data-title="${car.yearlyRent.id}"></textarea>
                        </td>
                        <td>
                            <p th:text="${car.yearlyRent.nameMoren}" class="nameMoren" th:data-title="${car.yearlyRent.id}"></p>
                        </td>
                        <td>
                            <p th:text="${car.yearlyRent.start}" class="start" th:data-title="${car.yearlyRent.id}"></p>
                        </td>
                        <td>
                            <p th:text="${car.yearlyRent.end}" class="end" th:data-title="${car.yearlyRent.id}"></p>
                        </td>
                        <td>
                            <select name="credit" class="credit" th:data-title="${car.yearlyRent.id}">
                                <option value="0" th:selected="${car.yearlyRent.credit == '0' ? true : false}">0</option>
                                <option value="1" th:selected="${car.yearlyRent.credit == '1' ? true : false}">1</option>
                                <option value="2" th:selected="${car.yearlyRent.credit == '2' ? true : false}">2</option>
                            </select>
                        </td>
                        <td style="display: flex; flex-direction: column;">
                            <p th:text="${car.yearlyRent.img_url}" class="img_url" th:data-title="${car.yearlyRent.id}" style="width: 10rem; height: 3.5rem; overflow: hidden;"></p>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" th:onclick="editRentPriceMenu([[${car.yearlyRent.id}]], 'yearly');" style="margin: 4px;">수정하기</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>