<!-- 관리자 렌트카 등록 페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
<!--    <link th:href="@{/css/library/font-awesome.css}" rel="stylesheet">-->
    <link th:href="@{/css/admin_rent_car.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_rentcar.js}" defer></script>

    <script>
        $(window).on('load', function () {
            let registerRentCarMenu = document.getElementById('registerRentCarMenu');
            registerRentCarMenu.classList.add('activeAdminMenu');
        });
    </script>

</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content" style="width: 95%;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="container inner_content" style="width: 100%;">
            <h2 class="page_title" style="text-align: center;">가격 등록</h2>
            <div class="detail_top_div" style="text-align: right; margin-bottom: 20px;">
                <button class="btn btn-primary" onclick="registerRentCar();">등록하기</button>
            </div>
            <div class="detail_container register_rent_car">
                <div class="detail_list">
                    <p class="detail_first"><span style="color: red; vertical-align: super;">*</span>종류</p>
                    <select name="category1" class="category1 detail_second" id="category1" onchange="displayCategory2(this, true);">
                        <option value="">선택하세요</option>
                        <option value="국산승용" selected>국산승용</option>
                        <option value="국산승합•RV">국산승합•RV</option>
                        <option value="수입차">수입차</option>
                    </select>
                </div>
                <div class="detail_list">
                    <p class="detail_first"><span style="color: red; vertical-align: super;">*</span>분류</p>
                    <select name="category2" class="category2 detail_second" id="category2">
                        <option value="">선택하세요</option>
                        <option value="경형" selected>경형</option>
                        <option value="준중형">준중형</option>
                        <option value="중형">중형</option>
                        <option value="중대형">중대형</option>
                        <option value="대형">대형</option>
                    </select>
                </div>
                <div class="detail_list">
                    <p class="detail_first"><span style="color: red; vertical-align: super;">*</span>차명 년식</p>
                    <input class="detail_second" type="text" id="name" value="" />
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        보증금
                        <br>
                        <span style="font-size: 14px;">예시) 500000</span>
                    </p>
                    <input class="detail_second" type="number" id="deposit" value=""/>
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        2,000km
                        <br>
                        <span style="font-size: 14px;">예시) 1000000</span>
                    </p>
                    <input class="detail_second" type="number" id="cost_for_2k" onkeyup="calculatePrice(id);" value="" />
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        2,500km
                        <br>
                        <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 1.1124</span>
                    </p>
                    <div class="detail_second">
                        <p style="text-align: right; margin-bottom: 0.5rem;">
                            <span id="display_cost_for_2_5k"></span>
                            <span> 원</span>
                        </p>
                        <input type="number" id="cost_for_2_5k" onkeyup="calculatePrice(id);" value="" />
                    </div>
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        3,000km
                        <br>
                        <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 1.1124</span>
                    </p>
                    <div class="detail_second">
                        <p style="text-align: right; margin-bottom: 0.5rem;">
                            <span id="display_cost_for_3k"></span>
                            <span> 원</span>
                        </p>
                        <input type="number" id="cost_for_3k" onkeyup="calculatePrice(id);" value="" />
                    </div>
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        4,000km
                        <br>
                        <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 1.1124</span>
                    </p>
                    <div class="detail_second">
                        <p style="text-align: right; margin-bottom: 0.5rem;">
                            <span id="display_cost_for_4k"></span>
                            <span> 원</span>
                        </p>
                        <input type="number" id="cost_for_4k" onkeyup="calculatePrice(id);" value="" />
                    </div>
                </div>
                <div class="detail_list">
                    <p class="detail_first"><span style="color: red; vertical-align: super;">*</span>other</p>
                    <input class="detail_second" type="text" id="cost_for_others" value="상담" />
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        21세
                        <br>
                        <span style="font-size: 14px;">예시) 54000</span>
                    </p>
                    <input class="detail_second" type="number" id="age_limit" value="" />
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        km당 추가요금
                        <br>
                        <span style="font-size: 14px;">예시) 80</span>
                    </p>
                    <input class="detail_second" type="number" id="cost_per_km" value="" />
                </div>
                <div class="detail_list">
                    <p class="detail_first"><span style="color: red; vertical-align: super;">*</span>모렌_차명</p>
                    <input class="detail_second" type="text" id="nameMoren" value=""/>
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        년식_시작
                        <br>
                        <span style="font-size: 14px;">예시) 2020</span>
                    </p>
                    <input class="detail_second" type="number" id="start"드 value="" />
                </div>
                <div class="detail_list" style="height: auto;">
                    <p class="detail_first">
                        <span style="color: red; vertical-align: super;">*</span>
                        년식_끝
                        <br>
                        <span style="font-size: 14px;">예시) 2022</span>
                    </p>
                    <input class="detail_second" type="number" id="end" value=""/>
                </div>
                <div class="detail_list">
                    <p class="detail_first"><span style="color: red; vertical-align: super;">*</span>신용</p>
                    <select class="detail_second" name="credit" id="credit">
                        <option value="">선택하세요</option>
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="detail_list" style="background-color: cornsilk;">
                    <p class="detail_first" style="margin: 0;">12개월 렌트</p>
                </div>
                <div id="yearlyForm">
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            <span style="color: red; vertical-align: super;">*</span>
                            보증금
                            <br>
                            <span style="font-size: 14px;">예시) 500000</span>
                        </p>
                        <input class="detail_second" type="number" id="depositYearly" value=""/>
                    </div>
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            <span style="color: red; vertical-align: super;">*</span>
                            20,000km
                            <br>
                            <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 0.916666666666667</span>
                        </p>
                        <div class="detail_second">
                            <p style="text-align: right; margin-bottom: 0.5rem;">
                                <span id="display_cost_for_20k"></span>
                                <span> 원</span>
                            </p>
                            <input type="number" id="cost_for_20k" onkeyup="calculatePrice(id);" value="" />
                        </div>
                    </div>
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            <span style="color: red; vertical-align: super;">*</span>
                            30,000km
                            <br>
                            <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 1.1124</span>
                        </p>
                        <div class="detail_second">
                            <p style="text-align: right; margin-bottom: 0.5rem;">
                                <span id="display_cost_for_30k"></span>
                                <span> 원</span>
                            </p>
                            <input type="number" id="cost_for_30k" onkeyup="calculatePrice(id);" value="" />
                        </div>
                    </div>
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            <span style="color: red; vertical-align: super;">*</span>
                            40,000km
                            <br>
                            <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 1.1124</span>
                        </p>
                        <div class="detail_second">
                            <p style="text-align: right; margin-bottom: 0.5rem;">
                                <span id="display_cost_for_40k"></span>
                                <span> 원</span>
                            </p>
                            <input type="number" id="cost_for_40k" onkeyup="calculatePrice(id);" value="" />
                        </div>
                    </div>
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            <span style="color: red; vertical-align: super;">*</span>
                            km당 추가요금
                            <br>
                            <span style="font-size: 14px;">예시) 80</span>
                        </p>
                        <input class="detail_second" type="number" id="cost_per_kmYearly" value=""/>
                    </div>
                    <div class="detail_list">
                        <p class="detail_first">
                            <span style="color: red; vertical-align: super;">*</span>
                            신용
                        </p>
                        <select class="detail_second" name="credit" id="creditYearly">
                            <option value="">선택하세요</option>
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
                <div class="detail_list" style="background-color: whitesmoke;">
                    <p class="detail_first" style="margin: 0;">24개월 렌트</p>
                    <button class="btn btn-outline-info detail_second" onclick="openForm(this, 'twoYearly');" disabled >등록</button>
                </div>
                <div id="twoYearlyForm">
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            보증금
                            <br>
                            <span style="font-size: 14px;">예시) 500000</span>
                        </p>
                        <input class="detail_second" type="number" id="depositTwoYearly" value="" />
                    </div>
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            20,000km
                            <br>
                            <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 0.833333333333333</span>
                        </p>
                        <div class="detail_second">
                            <p style="text-align: right; margin-bottom: 0.5rem;">
                                <span id="display_cost_for_20Tk"></span>
                                <span> 원</span>
                            </p>
                            <input type="number" id="cost_for_20Tk" onkeyup="calculatePrice(id);" value=""/>
                        </div>
                    </div>
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            30,000km
                            <br>
                            <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 1.1124</span>
                        </p>
                        <div class="detail_second">
                            <p style="text-align: right; margin-bottom: 0.5rem;">
                                <span id="display_cost_for_30Tk"></span>
                                <span> 원</span>
                            </p>
                            <input type="number" id="cost_for_30Tk" onkeyup="calculatePrice(id);" value=""/>
                        </div>
                    </div>
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            40,000km
                            <br>
                            <span style="font-size: 14px;">퍼센트를 숫자로만 작성해주세요.<br>예시) 1.1124</span>
                        </p>
                        <div class="detail_second">
                            <p style="text-align: right; margin-bottom: 0.5rem;">
                                <span id="display_cost_for_40Tk"></span>
                                <span> 원</span>
                            </p>
                            <input type="number" id="cost_for_40Tk" onkeyup="calculatePrice(id);" value=""/>
                        </div>
                    </div>
                    <div class="detail_list" style="height: auto;">
                        <p class="detail_first">
                            km당 추가요금
                            <br>
                            <span style="font-size: 14px;">예시) 80</span>
                        </p>
                        <input class="detail_second" type="number" id="cost_per_kmTwoYearly" value=""/>
                    </div>
                    <div class="detail_list">
                        <p class="detail_first">신용</p>
                        <select class="detail_second" name="credit" id="creditTwoYearly">
                            <option value="">선택하세요</option>
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>