<!-- 관리자 24개월 가격 수정 페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <link th:href="@{/css/admin_rent_car.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_rentcar.js}" defer></script>

    <script>
        $(window).on('load', function () {
            let priceTwoYearlyMenu = document.getElementById('priceTwoYearlyMenu');
            priceTwoYearlyMenu.classList.add('activeAdminMenu');
        });
    </script>

</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <div class="container inner_content">
            <h2 class="page_title" style="text-align: center;">24개월 가격 수정</h2>
            <div style="margin-top: 30px;">
<!--                <p style="text-align: center;">준비 중 입니다.</p>-->
                <table class="table rentcarEditTable table-striped">
                    <thead></thead>
                    <tbody>
                    <tr class="thead-dark">
                        <th scope="col">종류</th>
                        <th scope="col">분류</th>
                        <th scope="col">차명 년식</th>
                        <th scope="col" class="display_none_mobile">보증금</th>
                        <th scope="col" class="display_none_mobile">20,000km</th>
                        <th scope="col" class="display_none_mobile">30,000km</th>
                        <th scope="col" class="display_none_mobile">40,000km</th>
                        <th scope="col" class="display_none_mobile">other</th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each="car, i : ${ twoYearlyRentList }">
                        <td class="category1" th:text="${car.category1}" th:data-title="${car.id}"></td>
                        <td class="category2" th:text="${car.category2}" th:data-title="${car.id}"></td>
                        <td th:text="${car.name}" class="name" th:data-title="${car.id}"></td>
                        <td class="display_none_mobile">
                            <textarea type="text" th:text="${#numbers.formatInteger(car.deposit, 0, 'COMMA')}" class="deposit" th:data-title="${car.id}"></textarea>
                        </td>
                        <td class="display_none_mobile">
                            <p th:text="${#numbers.formatInteger(car.cost_for_20Tk, 0, 'COMMA')}"></p>
                            <textarea type="text" th:text="${car.cost_for_20Tk}" class="cost_for_20Tk" th:data-title="${car.id}"></textarea>
                        </td>
                        <td class="display_none_mobile">
                            <p th:text="${#numbers.formatInteger(car.cost_for_30Tk, 0, 'COMMA')}"></p>
                            <textarea type="text" th:text="${car.cost_for_30Tk}" class="cost_for_30Tk" th:data-title="${car.id}"></textarea>
                        </td>
                        <td class="display_none_mobile">
                            <p th:text="${#numbers.formatInteger(car.cost_for_40Tk, 0, 'COMMA')}"></p>
                            <textarea type="text" th:text="${car.cost_for_40Tk}" class="cost_for_40Tk" th:data-title="${car.id}"></textarea>
                        </td>
                        <td class="display_none_mobile cost_for_others" th:text="${car.cost_for_others}" th:data-title="${car.id}"></td>
                        <td style="display: none;">
                            <span th:text="${car.age_limit}" class="age_limit" th:data-title="${car.id}"></span>
                            <span th:text="${car.cost_per_km}" class="cost_per_km" th:data-title="${car.id}"></span>
                            <span th:text="${car.nameMoren}" class="nameMoren" th:data-title="${car.id}"></span>
                            <span th:text="${car.start}" class="start" th:data-title="${car.id}"></span>
                            <span th:text="${car.end}" class="end" th:data-title="${car.id}"></span>
                            <span th:text="${car.credit}" class="credit" th:data-title="${car.id}"></span>
                            <span th:text="${car.img_url}" class="img_url" th:data-title="${car.id}"></span>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" th:onclick="editRentPriceMenu([[${car.id}]], 'twoYearly');" style="margin: 4px;">수정하기</button>
                            <a th:href="'/admin/rentcar/price/twoYearly/detail/' + ${car.id}">
                                <button class="btn btn-info btn-sm" style="margin: 4px;">상세보기</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>