<!-- 관리자 장기렌트 현황 및 수정 페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <link th:href="@{/css/admin_longTerm.css}" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>-->

    <script th:src="@{/js/admin.js}" defer></script>
    <script th:src="@{/js/admin_subscribe.js}" defer></script>

    <script>
        $(window).on('load', function () {
            let subscribeRegisterMenu = document.getElementById('subscribeMainMenu');
            subscribeRegisterMenu.classList.add('activeAdminMenu');
        });
        $(function(){
            $( "tbody" ).sortable();
            // $( "tbody" ).disableSelection();
        });
    </script>

</head>
<body>
<div class="wrapper content_wrapper">
    <div th:replace="fragments/admin_menu::adminMenuFragment"></div>

    <div class="content" style="width: 100%; max-width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>


        <div class="container inner_content" style="width: 100%; max-width: 100%;">
            <h2 class="page_title" style="text-align: center;">차량 현황</h2>
            <div style="display: flex;">
                <div style="width: 50%; padding: 20px 0 0 0;">
                    <span>* 차량이 많으면 순서 변경하는 데에 시간이 소요될 수 있습니다. </span>
                </div>
                <div style="width: 50%; text-align: right;">
                    <button class="btn btn-primary" onclick="saveChangedRowIndex();" style="margin: 0 0 10px 10px; ">순서 변경하기</button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr class="thead-dark">
                        <th></th>
                        <th scope="col">구분</th>
                        <th scope="col">차량 번호</th>
                        <th scope="col">이름</th>
                        <th scope="col">색상</th>
                        <th scope="col">연식</th>
                        <th scope="col">계약 기간</th>
                        <th scope="col">약정 주행거리</th>
                        <th scope="col">월 렌트료[VAT별도]</th>
                        <th scope="col">보증금</th>
                        <th scope="col">계약 서비스</th>
                        <th scope="col">연료</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="car, i : ${subscribeList}" class="oneItem" th:data-id="${car.subscribeId}" th:data-sequence="${car.sequence}">
                        <td>
                            <i class="fas fa-bars" style="margin-right: 10px;"></i>
                        </td>
                        <td>
                            <select name="newOld" class="newOld" th:data-id="${car.subscribeId}">
                                <option value="신차구독" th:selected="${car.newOld == '신차구독' ? true : false}">신차구독</option>
                                <option value="중고차구독" th:selected="${car.newOld == '중고차구독' ? true : false}">중고차구독</option>
                                <option value="자동차구독" th:selected="${car.newOld == '자동차구독' ? true : false}">자동차구독</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="carNum" th:value="${car.carNum}" th:data-id="${car.subscribeId}" style="width: 6rem;">
                        </td>
                        <td>
                            <textarea type="text" class="carName" th:text="${car.carName}" th:data-id="${car.subscribeId}" cols="15" rows="3"></textarea>
                        </td>
                        <td>
                            <input type="text" class="carColor" th:value="${car.carColor}" th:data-id="${car.subscribeId}" style="width: 6rem;">
                        </td>
                        <td>
                            <input type="text" class="carYearModel" th:value="${car.carYearModel}" th:data-id="${car.subscribeId}" style="width: 6rem;">
                        </td>
                        <td>
                            <input type="text" class="contractPeriod" th:value="${car.contractPeriod}" th:data-id="${car.subscribeId}" style="width: 4rem;">
                        </td>
                        <td>
                            <input type="text" class="contractKm" th:value="${car.contractKm}" th:data-id="${car.subscribeId}" style="width: 4rem;">
                        </td>
                        <td>
                            <input type="text" class="contractPrice" th:value="${car.contractPrice}" th:data-id="${car.subscribeId}" style="width: 5rem;">
                        </td>
                        <td>
                            <input type="text" class="contractDeposit" th:value="${car.contractDeposit}" th:data-id="${car.subscribeId}" style="width: 5rem;">
                        </td>
                        <td>
                            <input type="text" class="contractMaintenance" th:value="${car.contractMaintenance}" th:data-id="${car.subscribeId}" style="width: 7rem;">
                        </td>
                        <td>
                            <select name="fuel" class="fuel" th:data-id="${car.subscribeId}">
                                <option value="LPG" th:selected="${car.fuel == 'LPG' ? true : false}">LPG</option>
                                <option value="휘발유" th:selected="${car.fuel == '휘발유' ? true : false}">휘발유</option>
                                <option value="경유" th:selected="${car.fuel == '경유' ? true : false}">경유</option>
                            </select>
                        </td>
                        <td>
                            <a th:href="'/admin/subscribe/detail/' + ${car.subscribeId}">
                                <button class="btn btn-primary" th:data-id="${car.subscribeId}" style="font-size: 0.8rem;">내용 수정</button>
                            </a>
                            <a th:href="'/admin/subscribe/detail/image/' + ${car.subscribeId}">
                                <button class="btn btn-primary" th:data-id="${car.subscribeId}" style="font-size: 0.8rem;">사진 수정</button>
                            </a>
                            <button class="btn btn-danger" th:data-id="${car.subscribeId}" style="font-size: 0.8rem;" onclick="clickDelete(this)">차량 삭제</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

</body>

</html>