<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="adminMenuFragment" class="menu_container">
        <div class="menu_list">
            <a href="/admin/campingcar/menu" style="color: white;"><li style="background: #3a708f">캠핑카 예약</li></a>
            <a href="/admin/counsel/menu"><li>상담 신청</li></a>
            <a href="/admin/discount/menu"><li>할인/인상 적용</li></a>
            <a href="/admin/moren/reservation/menu"><li>모렌 예약 신청</li></a>
        </div>
    </div>

</html>