<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

        <nav id="sidebar" th:fragment="adminMenuFragment" sec:authorize="isAuthenticated()">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h3>세이브카</h3>
            </div>

            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin/index" id="indexMenu">메인</a>
                </li>
                <li id="camingcarWholeMenu">
                    <span id="camping-submenu-btn"></span>
                    <a>캠핑카</a>
                    <div id="campingcarSubmenu">
                        <ul>
                            <li>
                                <a href="/admin/campingcar/register" id="campingcarReservationMenu">예약 등록</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/menu?page=0&size=10" id="campingcarMenu">예약 현황</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/price/menu" id="campingcarPriceMenu">가격 수정</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/setting/menu" id="campingcarSettingMenu">캠핑카 정보 수정</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/image/menu" id="campingcarImageMenu">사진 수정</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/mainText/menu" id="campingcarMainTextMenu">본문 수정</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="priceWholeMenu">
                    <span id="price-submenu-btn"></span>
                    <a>렌트카</a>
                    <div id="priceSubMenu">
                        <ul>
                            <li>
                                <a href="/admin/rentcar/counsel/menu" id="counselMenu">상담 신청 내역</a>
                            </li>
                            <li>
                                <a href="/admin/rentcar/price/monthly/menu" id="priceMonthlyMenu">월렌트 가격 수정</a>
                            </li>
                            <li>
                                <a href="/admin/rentcar/price/yearly/menu" id="priceYearlyMenu">12개월 가격 수정</a>
                            </li>
                            <li>
                                <a href="/admin/rentcar/price/twoYearly/menu" id="priceTwoYearlyMenu">24개월 가격 수정</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/admin/popup/menu" id="popupSettingMenu">팝업 내용 수정</a>
                </li>
                <li>
                    <a href="/admin/moren/reservation/menu" id="morenReservationMenu">월+12/24개월 상담신청 내역</a>
                </li>
                <li>
                    <a href="/admin/discount/menu" id="discountMenu">할인/인상 적용</a>
                </li>
            </ul>
        </nav>
</html>