<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

        <nav id="sidebar" th:fragment="adminMenuFragment" sec:authorize="isAuthenticated()">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h3>세이브카</h3>
            </div>

            <div id="loading">
                <div class="loading_spinner_box">
                    <div class="loading_spinner"></div>
                </div>
            </div>

            <script type="text/javascript">
                window.onbeforeunload = function () { $('#loading').show(); }  //현재 페이지에서 다른 페이지로 넘어갈 때 표시해주는 기능
                $(window).load(function () {          //페이지가 로드 되면 로딩 화면을 없애주는 것
                    $('#loading').hide();
                });
            </script>

            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin/index" id="indexMenu" onclick="setActiveMenu('0');">메인</a>
                </li>
                <li id="camingcarWholeMenu">
                    <span id="camping-submenu-btn"></span>
                    <a>캠핑카</a>
                    <div id="campingcarSubmenu">
                        <ul>
                            <li>
                                <a href="/admin/campingcar/register" id="campingcarReservationMenu" onclick="setActiveMenu('campingCar');">예약 등록</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/menu?page=0&size=10" id="campingcarMenu" onclick="setActiveMenu('campingCar');">예약 현황</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/price/menu" id="campingcarPriceMenu" onclick="setActiveMenu('campingCar');">가격 수정</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/setting/menu" id="campingcarSettingMenu" onclick="setActiveMenu('campingCar');">캠핑카 정보 수정</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/image/menu" id="campingcarImageMenu" onclick="setActiveMenu('campingCar');">사진 수정</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/home/menu" id="campingcarHomeMenu" onclick="setActiveMenu('campingCar');">홈 내용 수정</a>
                            </li>
                            <li>
                                <a href="/admin/campingcar/mainText/menu" id="campingcarMainTextMenu" onclick="setActiveMenu('campingCar');">본문 수정</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="priceWholeMenu">
                    <span id="price-submenu-btn"></span>
                    <a>렌트카</a>
                    <div id="priceSubMenu">
                        <ul>
                            <li>
                                <a href="/admin/rentcar/expectedDay/menu" id="editExpectedDatMenu" onclick="setActiveMenu('rentCar');">n일 이내 입고예정차량</a>
                            </li>
                            <li>
                                <a href="/admin/rentcar/realtime/list" id="rentcarRealtimeListMenu" onclick="setActiveMenu('rentCar');">현대대여가능차량 리스트</a>
                            </li>
                            <li>
                                <a href="/admin/rentcar/realtime/expected/list" id="rentcarRealtimeExpectedListMenu" onclick="setActiveMenu('rentCar');">입고예정차량 리스트</a>
                            </li>
                            <li>
                                <a href="/admin/rentcar/price/register" id="registerRentCarMenu" onclick="setActiveMenu('rentCar');">가격 등록</a>
                            </li>
                            <li>
                                <a href="/admin/rentcar/price/monthly/menu/경형" id="priceMonthlyMenu" onclick="setActiveMenu('rentCar');">월렌트 가격 수정</a>
                            </li>
                            <li>
                                <a href="/admin/rentcar/price/yearly/menu/경형" id="priceYearlyMenu" onclick="setActiveMenu('rentCar');">12개월 가격 수정</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="longTermWholeMenu">
                    <span id="longterm-submenu-btn"></span>
                    <a>누구나장기렌트</a>
                    <div id="longTermSubMenu">
                        <ul>
                            <li>
                                <a href="/admin/longTerm/register" id="longTermRegisterMenu" onclick="setActiveMenu('longTerm');">차량 등록</a>
                            </li>
                            <li>
                                <a href="/admin/longTerm/main" id="longTermMainMenu" onclick="setActiveMenu('longTerm');">차량 현황</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/admin/counsel/menu?page=0&size=20" id="counselMenu" onclick="setActiveMenu('0');">상담 신청 내역</a>
                </li>
                <li>
                    <a href="/admin/popup/menu" id="popupSettingMenu" onclick="setActiveMenu('0');">팝업 내용 수정</a>
                </li>
                <li>
                    <a href="/admin/moren/reservation/menu?page=0&size=20" id="morenReservationMenu" onclick="setActiveMenu('0');">현재 대여가능차량 예약 내역</a>
                </li>
                <li>
                    <a href="/admin/discount/menu" id="discountMenu" onclick="setActiveMenu('0');">할인/인상 적용</a>
                </li>
            </ul>
        </nav>

</html>