<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- 요금 -->
    <div th:fragment="camper_price">
         <pre th:text="${explanation.camper_price}"></pre>
    </div>



    <!-- 기본 옵션 -->

    <!-- 유럽 기본 옵션 -->
    <div th:fragment="europe_basic_option" class="contents">
        <pre th:text="${explanation.europe_basic_option}"></pre>
    </div>

    <!-- 리무진 기본 옵션 -->
    <div th:fragment="limousine_basic_option" class="contents">
        <pre th:text="${explanation.limousine_basic_option}"></pre>
    </div>

    <!-- 트래블 기본 옵션 -->
    <div th:fragment="travel_basic_option" class="contents">
        <pre th:text="${explanation.travel_basic_option}"></pre>
    </div>



    <!-- 시설 -->

    <!-- 유럽 시설 -->
    <div th:fragment="europe_installation" class="contents">
        <pre th:text="${explanation.europe_facility}"></pre>
    </div>

    <!-- 리무진 시설 -->
    <div th:fragment="limousine_installation" class="contents">
        <pre th:text="${explanation.limousine_facility}"></pre>
    </div>

    <!-- 트래블 시설 -->
    <div th:fragment="travel_installation" class="contents">
        <pre th:text="${explanation.travel_facility}"></pre>
    </div>



    <!-- 밑부분 설명란 -->

    <!-- 렌트 정책 -->
    <div th:fragment="rent_policy" class="contents">
        <pre th:text="${explanation.rent_policy}"></pre>
    </div>

    <!-- 렌트 보험 사항 -->
    <div th:fragment="rent_insurance" class="contents insurance">
        <pre th:text="${explanation.rent_insurance}"></pre>
        <pre th:text="${explanation.driver_license}"></pre>
    </div>

    <!-- 렌트 이용 규칙 -->
    <div th:fragment="rent_rule" class="contents">
        <pre th:text="${explanation.rent_rule}"></pre>
    </div>

    <!-- 환불 정책 -->
    <div th:fragment="refund_policy" class="contents">
        <pre th:text="${explanation.refund_policy}"></pre>
    </div>
</html>