<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footerFragment">

    <!----------------------------------------->
    <!----------------- footer ---------------->
    <!----------------------------------------->

    <!--introduce section-->
    <section class="footer">
            <!-- footer-->
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- social block -->
                            <img th:src="@{/img/map.png}" width="50" height="50" style="margin: 20px;"/>
                            <h2 class="widget-title" style="color: #ffffff;">ADDRESS</h2>
                            <h4 class="widget-title">서울시 송파구 충민로 66 가든파이브라이프
                                <br> F-8026 [장지역, 복정역]</h4>
                        </div>
                        <!-- /.social block -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- newsletter block -->
                            <img th:src="@{/img/phone-call.png}" width="50" height="50" style="margin: 20px;"/>
                            <h2 class="widget-title" style="color: #ffffff;">CALL US</h2>
                            <h4 class="widget-title">1661-3331</h4>
                        </div>
                        <!-- newsletter block -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- newsletter block -->
                            <img th:src="@{/img/clock.png}" width="50" height="50" style="margin: 20px; "/>
                            <h2 class="widget-title" style="color: #ffffff;">상담가능시간</h2>
                            <h4>평일 9:00 ~ 18:00</h4>
                            <p>* 이외 시간에는 예약상담신청이나</p>
                            <p>핸드폰 문자로 상담신청해주세요.</p>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="main_footer">
                            <div class="footer-widget text-center">
                                <div class="separator"></div>
                                <h4 class="widget-title">
                                <h4>(주)세이브카 | 대표자 : 양성희 <br/> 서울시 송파구 충민로 66 가든파이브라이프 F-8026<br/>
                                    사업자등록번호 : 113-86-62612 | TEL : 1661-3331 </h4><br>

                                <h4>통신판매: 제2020-서울송파-2913호<br/>
                                    Copyright SavecarAndCarZ. All Rights Reserved.</h4><br>

                                <h4>(주)카즈 | 대표자 : 송영수 <br/> 서울 성동구 자동차시장1길 70 C동 가열 308호<br/>
                                    사업자등록번호 : 555-86-01842 | TEL : 1544-4680 </h4><br><br>


                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- End of footer Section -->
</div>
</html>