<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footerFragment">

    <!----------------------------------------->
    <!----------------- footer ---------------->
    <!----------------------------------------->

    <!--introduce section-->
    <section class="footer">
            <!-- footer-->
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- social block -->
                            <img th:src="@{/img/map.png}" width="50" height="50" style="margin: 20px;"/>
                            <h2 class="widget-title" style="color: #ffffff;">ADDRESS</h2>
                            <h4 class="widget-title">서울시 송파구 충민로 66 가든파이브라이프
                                <br> F-8026 [장지역, 복정역]</h4>
                        </div>
                        <!-- /.social block -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- newsletter block -->
                            <img th:src="@{/img/phone-call.png}" width="50" height="50" style="margin: 20px;"/>
                            <h2 class="widget-title" style="color: #ffffff;">CALL US</h2>
                            <h4 class="widget-title">1661-3331</h4>
                        </div>
                        <!-- newsletter block -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- newsletter block -->
                            <img th:src="@{/img/email.png}" width="50" height="50" style="margin: 20px;"/>
                            <h2 class="widget-title" style="color: #ffffff;">E-MAIL</h2>
                            <h4 class="widget-title">itscar@naver.com</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="main_footer">
                            <div class="footer-widget text-center">
                                <h4 class="widget-title">(주)세이브카<br>
                                    사업자등록번호: 113-86-62612 통신판매: 제2020-서울송파-2913호<br>
                                    Copyright SAVECAR. All Rights Reserved.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- End of footer Section -->
</div>
</html>