<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footerFragment">
    <!----------------------------------------->
    <!----------- introduce section ----------->
    <!----------------------------------------->

    <!--introduce section-->
    <section class="introduce">
        <div class="footer">
            <!-- footer-->
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- social block -->
                            <img th:src="@{/img/map.png}" width="50" height="50" style="margin: 20px;"/>
                            <h2 class="widget-title" style="color: #ffffff;">Address</h2>
                            <h4>서울시 송파구 충민로 66 가든파이브라이프
                                <br> F-8026 [장지역, 복정역]</h4>
                        </div>
                        <!-- /.social block -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- newsletter block -->
                            <img th:src="@{/img/phone-call.png}" width="50" height="50" style="margin: 20px;"/>
                            <h2 class="widget-title" style="color: #ffffff;">CALL US</h2>
                            <h4>1661-3331</h4>
                        </div>
                        <!-- newsletter block -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget">
                            <!-- newsletter block -->
                            <img th:src="@{/img/email.png}" width="50" height="50" style="margin: 20px;"/>
                            <h2 class="widget-title" style="color: #ffffff;">E-mail</h2>
                            <h4>itscar@naver.com</h4>
                        </div>
                        <!-- newsletter block -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of introduce Section -->

    <!----------------------------------------->
    <!------------- Footer section ------------>
    <!----------------------------------------->


    <!--Footer section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_footer">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="footer-widget text-center">
                                    <p>(주)세이브카<br>
                                        사업자등록번호: 113-86-62612 통신판매: 제2020-서울송파-2913호<br>
                                        Copyright SAVECAR. All Rights Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>