<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!----------------------------------------->
<!----------------- header ---------------->
<!----------------------------------------->

<div th:fragment="headerFragment">
    <div class="header_camp">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                    <img th:src="@{/img/camping_header.jpg}" alt="car" style="height: 180px; width: 270px;">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-bottom: 0;">
                    <div class="header_camp_title">
                        <h4 style="color: white;" class="pc_title">'Wheresoever you go, go with all your heart.'</h4>
                        <h4 style="color: white;" class="mobile_title">'Wheresoever you go,<br>go with all your heart.'</h4>

                    </div>
                    <div class="header_camp_navbar">
                        <ul>
                            <li class="header_camp_li" data-id="europe">
                                <a href="/camping/europe">EUROPE</a>
                            </li>
                            <li class="header_camp_li" data-id="limousine">
                                <a href="/camping/limousine">LIMOUSINE</a>
                            </li>
                            <li class="header_camp_li" data-id="travel">
                                <a href="/camping/travel">TRAVEL</a>
                            </li>
                            <li class="header_camp_li" data-id="calendar">
                                <a onclick="moveToCampingCalendar()" style="cursor: pointer; word-break: keep-all; text-align: center;">캠핑카 예약현황</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of Header-top -->
</html>