<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <!----------------------------------------->
    <!----------------- header ---------------->
    <!----------------------------------------->








    <div th:fragment="headerFragment" class="header navbar-fixed-top small menu-scroll" style="overflow: hidden;">
        <nav class="header navbar-fixed-top small menu-scroll">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                        <a class="navbar-brand" href="/index">
                            <img th:src="@{/img/savecar-logo.png}" width="200" height="50" alt="savecar-logo"></a>
                        </a>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div id="navigation" role="navigation" class="primary-navigation">
                            <ul>
                                <li class="active"><a href="/index" title="Home">Home</a></li>
                                <li class="active"><a href="/rent/month/new" title="월렌트+12개월렌트">월렌트+12/24개월렌트</a></li>
                                <li class="active"><a href="/rent/long_term" title="누구나장기렌트">누구나장기렌트</a></li>
                                <li class="active">
                                    <a onclick="moveToCampingCalendar()" style="cursor: pointer;">캠핑카렌트</a>
                                    <ul>
                                        <li><a href="/camping/europe">Europe</a></li>
                                        <li><a href="/camping/limousine">Limousine</a></li>
                                        <li><a href="/camping/travel">Travel</a></li>
                                        <li><a onclick="moveToCampingCalendar()" style="cursor: pointer;">실시간 예약</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a target='_blank' href="https://cafe.naver.com/savecarz/5" title="캠핑카 장기 & 쉐어링">캠핑카 장기 & 쉐어링</a></li>
                                <li class="active"><a href="/price/month" title="한눈에 보는 세이브카 가격표">한눈에 보는 세이브카 가격표</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- end of Header-top -->
</html>