<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!--End of header -->
    <!-- header-top -->
    <div th:fragment="headerFragment" class="header navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img th:src="@{/img/savecar-logo.png}" width="200" height="50" alt="savecar-logo"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="navigation">
                        <div id="navigation">
                            <ul>
                                <li class="active"><a href="/index" title="Home">Home</a></li>
                                <li class="has-sub"><a href="/rent/month" title="Service List">월렌트+12개월렌트</a></li>
                                <li class="has-sub"><a href="/rent/long_term" title="Portfolio">저신용장기렌트</a></li>
                                <li class="has-sub"><a href="/travel" title="Blog">캠핑카렌트</a></li>
                                <li><a href="/price" title="Contact Us">렌트가격표</a></li>
                                <li><a href="/index" title="phone">1661-3331</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
    <!-- end of Header-top -->