<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="저신용장기렌트 실시간 견적내기 및 상담 요청">
        <meta name="keywords" content="SAVECAR, 세이브카, 렌트카, 캠핑카, 실시간 견적, 렌트카 상담, 12개월 렌트, 외제차, 수입차, 국산차">

        <!-- config.html -->
        <th:block th:replace="fragments/config::configFragment" ></th:block>
    </head>

    <!-- header.html -->
    <header th:replace="fragments/header::headerFragment"></header>

    <body layout:fragment="content"></body>

    <!-- footer.html -->
    <footer th:replace="fragments/footer::footerFragment"></footer>
</html>