<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--popup Fragment 선언-->
<th:block th:fragment="popupFragment" style="width:100%; margin:0 auto;" align="center">
    <div class="row container popup_display" style="padding: 10px; ">
        <!-- POPUP1 월렌트 -->
        <div id="divpop1" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 popStyle1">
            <div class="popup_upper" onclick="location.href='/rent/month/new';" style="cursor: pointer;">
                <div class="popup_content">
                    <div class="popup_header">
                        <h1>세이브카 월렌트 대표콜 1661-3331</h1>
                    </div>
                    <div class="popup_rent_banner">
                        <h2 style="text-decoration: underline;"><span style="color: red;">달차클럽</span> 국내최저가 한달렌트 SAVECAR</h2>
                    </div>
                    <div class="popup1_box1">
                        <table class="popup1_table">
                            <tr>
                                <td>차종</td>
                                <td>
                                    <span>한달렌트</span>
                                </td>
                                <td>
                                    <span>12개월렌트</span>
                                </td>
                            </tr>
                            <tr>
                                <td>경차</td>
                                <td>
                                    <span>37만원부터</span>
                                </td>
                                <td>
                                    <span>32만원부터</span>
                                </td>
                            </tr>
                            <tr>
                                <td>아반떼/K3/SM3</td>
                                <td>
                                    <span>42만원~</span>
                                </td>
                                <td>
                                    <span>358,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>소나타/K5/SM6</td>
                                <td>
                                    <span>43만원~</span>
                                </td>
                                <td>
                                    <span>367,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>그랜져/K7</td>
                                <td>
                                    <span>52만원~</span>
                                </td>
                                <td>
                                    <span>477,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>제네시스/G70/G80/K9/EQ900</td>
                                <td>
                                    <span>95만원~</span>
                                </td>
                                <td>
                                    <span>871,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>G90/신형G80</td>
                                <td>
                                    <span>240만원~</span>
                                </td>
                                <td>
                                    <span>2,200,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>티볼리/코나/QM3/스토닉</td>
                                <td>
                                    <span>43만원~</span>
                                </td>
                                <td>
                                    <span>367,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>투싼/스포티지</td>
                                <td>
                                    <span>510,000원~</span>
                                </td>
                                <td>
                                    <span>399,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>싼타페/쏘렌토</td>
                                <td>
                                    <span>552,000원~</span>
                                </td>
                                <td>
                                    <span>552,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>팰리세이드</td>
                                <td>
                                    <span>1,075,000원~</span>
                                </td>
                                <td>
                                    <span>985,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>스타렉스/카니발</td>
                                <td>
                                    <span>52만원~</span>
                                </td>
                                <td>
                                    <span>477,000원~</span>
                                </td>
                            </tr>


                            <tr>
                                <td>BMW520/벤츠E/익스플로러/미니쿠퍼</td>
                                <td>
                                    <span>135만원~</span>
                                </td>
                                <td>
                                    <span>1,238,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>A7/A8/벤츠GLC/디스커버리</td>
                                <td>
                                    <span>142만원~</span>
                                </td>
                                <td>
                                    <span>1,302,000원~</span>
                                </td>
                            </tr>
                            <tr>
                                <td>벤츠S350</td>
                                <td>
                                    <span>250만원~</span>
                                </td>
                                <td>
                                    <span>2,292,000원~</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="popup1_box2">
                        <div class="popup1_box2_upper">
                            <h3>세이브카 사이트 최저가 실시간 견적</h3>
<!--                            <h4 id="popup1_banner2" style="margin-bottom: 20px;"></h4>-->
<!--                            <p class="popup1_box2_upper_title" id="popup1_box2_line1_title"></p>-->
<!--                            <p>-->
<!--                                <span id="popup1_box2_line1_text1"></span>-->
<!--                                <span class="popup1_box2_purple" id="popup1_box2_line1_price1"></span>-->
<!--                                <span id="popup1_box2_line1_text2"></span>-->
<!--                                <span class="popup1_box2_purple" id="popup1_box2_line1_price2"></span>-->
<!--                                <span id="popup1_box2_line1_text3"></span>-->
<!--                            </p>-->
<!--                            <p class="popup1_box2_upper_title" id="popup1_box2_line2_title"></p>-->
<!--                            <p>-->
<!--                                <span id="popup1_box2_line2_text1"></span>-->
<!--                                <span class="popup1_box2_purple" id="popup1_box2_line2_price1"></span>-->
<!--                                <span id="popup1_box2_line2_text2"></span>-->
<!--                                <span class="popup1_box2_purple" id="popup1_box2_line2_price2"></span>-->
<!--                                <span id="popup1_box2_line2_text3"></span>-->
<!--                            </p>-->
<!--                            <p class="popup1_box2_upper_title" id="popup1_box2_line3_title"></p>-->
<!--                            <p>-->
<!--                                <span id="popup1_box2_line3_text1"></span>-->
<!--                                <span class="popup1_box2_purple" id="popup1_box2_line3_price1"></span>-->
<!--                                <span id="popup1_box2_line3_text2"></span>-->
<!--                                <span class="popup1_box2_purple" id="popup1_box2_line3_price2"></span>-->
<!--                                <span id="popup1_box2_line3_text3"></span>-->
<!--                            </p>-->
                        </div>
                        <div class="popup1_box2_bottom">
                            <div>
                                <img th:src="@{/img/savecar-logo.png}" width="90" height="50" style="margin-top: 40px;"/>
                            </div>
                            <div style="display: flex; flex-direction: column; justify-content: center;">
                                <p><a href="https://www.savecar.kr/">www.savecar.kr</a></p>
                                <p>
                                    <span>사이트 가격 오픈의 투명한 전국최저가 한달렌트</span><br />
                                    <span>주행거리/연식별 국내유일 월렌트업체</span><br />
                                    <span>정비자차포함/스팀세차로 고객만족</span><br />
                                    <span>월렌트 고객만 500대 한달렌트 1위업체</span><br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="popup_footer">
                        <h4>월렌트 전국ktx역 비대면지점 운영</h4>
                    </div>
                </div>
            </div>
            <div class="popup_bottom">
                <form name="pop_form1">
                    <td align="right">
                        <input type="checkbox" name="chkbox" id="form1" value="checkbox">
                        <label for="form1">오늘 하루동안 보지 않기</label>
                        <a href="javascript:closeWinOne()">[닫기]</a>
                    </td>
                </form>
            </div>
        </div>

        <!-- POPUP2 캠핑카렌트 -->
        <div id="divpop2" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 popStyle2">

            <div id="divpop2_popup1">
                <div class="popup_upper" onclick="location.href='/rent/long_term'" style="cursor: pointer;">
                    <div class="popup_content">
                        <div class="popup_header">
                            <h1>카즈 장기렌트 대표콜 1544-4680</h1>
                        </div>
                        <div class="popup_rent_banner">
                            <h2 style="text-decoration: underline;"><span style="color: red;">달차클럽</span>누구나 장기렌트 CARZ</h2>
                        </div>
                        <div class="popup_bg_green">
                            <div class="popup_bottom_content_wrapper" style="padding: 30px; background-color: aliceblue; ">
                                <div class="popup_box_wrapper_long_term">
                                    <p class="popup_box_sub_title" style="background-color: beige;">누구나 중고차장기렌트</p>
                                    <div class="popup_box" style="text-align: left; margin-bottom: 20px; padding: 20px; background-color: #296090; color: white;">
                                        <p class="popup_box_price">
                                            <span class="popup_box_text">차종: </span>
                                            <span>G90/신형G80/EQ900/G80/G70, 그랜져/K7, 쏘렌토/싼타페/팰리세이드/카니발</span>
                                        </p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text">보증금: </span>
                                            <span>10% 및 수입차 차량 등은 별도</span>
                                        </p>
                                    </div>
                                    <p class="popup_box_sub_title" style="background-color: beige;">누구나 신차장기렌트</p>
                                    <div class="popup_box" style="text-align: left; margin-bottom: 20px; padding: 20px; background-color: #296090; color: white;">
                                        <p class="popup_box_price">
                                            <span class="popup_box_text">차종: </span>
                                            <span>그랜져/K8, 싼타페/쏘렌토, 쏘나타/K5/SM6, K3/아반떼, 셀토스/투싼/스포티지</span>
                                        </p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text">보증금: </span>
                                            <span>차량가격의 10% 및 보증금 추가시 렌트료 가격 할인</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div style="background-color: white; padding: 20px; font-size: medium; border-top: 1px solid #296090; line-height: 30px;">
                                <span>* 신차 사전주문으로 신차물량 확보</span><br/>
                                <span>* 중고차 국내최고 월렌트 당사물량 및 롯데/현대 등 경매/제휴 물량 다량 확보</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divpop2_popup2">
                <div class="popup_upper" onclick="location.href='/camping/main'" style="cursor: pointer;">
                    <div class="popup_content">
                        <div class="popup_bg_img_wrapper">
                            <div class="popup_bg_img" th:style="'background-image:url('+ @{/img/popup_campingcar.png} +');'">
                            </div>
                        </div>
                        <div class="popup_bg_red">
                            <h4 id="popup2_contact"></h4>
                            <h3 class="popup_outline_text" id="popup2_subtitle"></h3>
                            <h1 class="popup_outline_text" id="popup2_title"></h1>
                        </div>
                        <div class="popup_bg_alice_blue">
                            <div class="popup_bottom_content_wrapper">
                                <div class="popup_box popup_box_slogan" id="popup2_slogan"></div>
                                <div class="popup_box_wrapper" style="margin-bottom: 30px;">
                                    <div class="popup_box">
                                        <p class="popup_box_title" id="popup2_box1_title"></p>
                                        <p class="popup_box_subtitle" id="popup2_box1_subtitle"></p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text">주중: </span>
                                            <span class="popup_box_price_number" id="popup2_box1_line1_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text">주말: </span>
                                            <span class="popup_box_price_number" id="popup2_box1_line2_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                        <p class="popup_box_text" th:text="${campingCarList[0].license}"></p>
                                        <p>
                                            <!--                                        <span class="popup_box_text">인원정보 : </span>-->
                                            <span class="popup_box_text" th:text="${campingCarList[0].personnel}"></span>
                                        </p>
                                    </div>
                                    <div class="popup_box">
                                        <p class="popup_box_title" id="popup2_box2_title"></p>
                                        <p class="popup_box_subtitle" id="popup2_box2_subtitle"></p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text">주중: </span>
                                            <span class="popup_box_price_number" id="popup2_box2_line1_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text">주말: </span>
                                            <span class="popup_box_price_number" id="popup2_box2_line2_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                        <p class="popup_box_text" th:text="${campingCarList[1].license}"></p>
                                        <p>
                                            <!--                                        <span class="popup_box_text">인원정보 : </span>-->
                                            <span class="popup_box_text" th:text="${campingCarList[1].personnel}"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="popup_box popup_box_slogan promotion_slogan">
                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    <span id="popup2_promotion"></span>
                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                </div>
                                <div class="popup_box_wrapper">
                                    <div class="popup_box">
                                        <p class="popup_box_title"></p>
                                        <p class="popup_box_subtitle"></p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text" id="popup2_box3_line1_title"></span>
                                            <span class="popup_box_price_number" id="popup2_box3_line1_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text" id="popup2_box3_line2_title"></span>
                                            <span class="popup_box_price_number" id="popup2_box3_line2_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text" id="popup2_box3_line3_title"></span>
                                            <span class="popup_box_price_number" id="popup2_box3_line3_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                    </div>
                                    <div class="popup_box">
                                        <p class="popup_box_title"></p>
                                        <p class="popup_box_subtitle"></p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text" id="popup2_box4_line1_title"></span>
                                            <span class="popup_box_price_number" id="popup2_box4_line1_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text" id="popup2_box4_line2_title"></span>
                                            <span class="popup_box_price_number" id="popup2_box4_line2_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                        <p class="popup_box_price">
                                            <span class="popup_box_text" id="popup2_box4_line3_title"></span>
                                            <span class="popup_box_price_number" id="popup2_box4_line3_price"></span>
                                            <span class="popup_box_text">만원</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="popup_button" id="popup2_button"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup_bottom">
                    <form name="pop_form2">
                        <input type="checkbox" name="chkbox" id="form2" value="checkbox" style="margin-right:5px;">
                        <label for="form2">오늘 하루동안 보지 않기</label>
                        <a href="javascript:closeWinTwo();"><B>[닫기]</B></a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</th:block>

</html>