<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--popup Fragment 선언-->
<th:block th:fragment="popupFragment" style="width:100%; margin:0 auto;" align="center">
    <div class="row container popup_display">
        <!-- POPUP1 월렌트 -->
        <div id="divpop1" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 popStyle1">
            <a href="/rent/month/new">
                <table>
                    <tr>
                        <td align="center">
                            <div class="popContentStyle1">
                                <img th:src="@{/img/popupimg1.png}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <form name="pop_form1">
                            <td align="right">
                                <input type="checkbox" name="chkbox" id="form1" value="checkbox">
                                <label for="form1">오늘 하루동안 보지 않기</label>
                                <a href="javascript:closeWinOne()">[닫기]</a>
                            </td>
                        </form>
                    </tr>
                </table>
            </a>
        </div>

        <!-- POPUP2 캠핑카렌트 -->
        <div id="divpop2" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 popStyle4">
            <div class="popup_upper" onclick="moveToCampingCalendar()" style="cursor: pointer;">
                <div class="popup_content">
                    <div class="popup_bg_img_wrapper">
                        <div class="popup_bg_img" th:style="'background-image:url('+ @{/img/popup_campingcar.png} +');'">
                        </div>
                    </div>
                    <div class="popup_bg_red">
                        <h4 id="popup2_contact"></h4>
                        <h3 class="popup_outline_text" id="popup2_subtitle"></h3>
                        <h1 class="popup_outline_text" id="popup2_title"></h1>
                    </div>
                    <div class="popup_bg_green">
                        <div class="popup_bottom_content_wrapper">
                            <div class="popup_box popup_box_slogan" id="popup2_slogan">

                            </div>
                            <div class="popup_box_wrapper">
                                <div class="popup_box">
                                    <p class="popup_box_title" id="popup2_box1_title"></p>
                                    <p class="popup_box_subtitle" id="popup2_box1_subtitle"></p>
                                    <p class="popup_box_price">
                                        <span class="popup_box_text">주중 : </span>
                                        <span class="popup_box_price_number" id="popup2_box1_line1_price"></span>
                                        <span class="popup_box_text">만원</span>
                                    </p>
                                    <p class="popup_box_price">
                                        <span class="popup_box_text">주중 : </span>
                                        <span class="popup_box_price_number" id="popup2_box1_line2_price"></span>
                                        <span class="popup_box_text">만원</span>
                                    </p>
                                    <p class="popup_box_text" id="popup2_box1_line3"></p>
                                    <p>
                                        <span class="popup_box_text">인원정보 : </span>
                                        <span class="popup_box_text" id="popup2_box1_line4"></span>
                                    </p>
                                </div>
                                <div class="popup_box">
                                    <p class="popup_box_title" id="popup2_box2_title"></p>
                                    <p class="popup_box_subtitle" id="popup2_box2_subtitle"></p>
                                    <p class="popup_box_price">
                                        <span class="popup_box_text">주중 : </span>
                                        <span class="popup_box_price_number" id="popup2_box2_line1_price"></span>
                                        <span class="popup_box_text">만원</span>
                                    </p>
                                    <p class="popup_box_price">
                                        <span class="popup_box_text">주말 : </span>
                                        <span class="popup_box_price_number" id="popup2_box2_line2_price"></span>
                                        <span class="popup_box_text">만원</span>
                                    </p>
                                    <p class="popup_box_text" id="popup2_box2_line3"></p>
                                    <p>
                                        <span class="popup_box_text">인원정보 : </span>
                                        <span class="popup_box_text" id="popup2_box2_line4"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="popup_button" id="popup2_button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup_bottom">
                <form name="pop_form4">
                    <input type="checkbox" name="chkbox" id="form4" value="checkbox" style="margin-right:5px;">
                    <label for="form4">오늘 하루동안 보지 않기</label>
                    <a href="javascript:closeWinTwo();"><B>[닫기]</B></a>
                </form>
            </div>
        </div>
    </div>

    <!-- POPUP1 월렌트 -->
<!--    <div id="divpop1" class="hidden-xs hidden-sm col-lg-12 col-md-12 popStyle1" style="visibility: visible;">-->
<!--        <a href="/rent/month/new">-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <td style="" height="360" align="center">-->
<!--                        <div class="popContentStyle1">-->
<!--                            <img th:src="@{/img/popupimg1.png}">-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->

<!--                &lt;!&ndash; <tr><td style="border-top:1px dashed #A6A6A6;"></td></tr> &ndash;&gt;-->
<!--                <tr>-->
<!--                    <form name="pop_form1">-->
<!--                        <td align="right">-->
<!--                            <input type="checkbox" name="chkbox" id="form1" value="checkbox" style="margin-right:5px;">-->
<!--                            <label for="form1">오늘 하루동안 보지 않기</label>-->
<!--                            <a href="javascript:closeWinOne()">[닫기]</a>-->
<!--                        </td>-->
<!--                    </form>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </a>-->
<!--    </div>-->

<!--    &lt;!&ndash; POPUP2 캠핑카렌트 &ndash;&gt;-->
<!--    <div id="divpop2" class="hidden-sm hidden-xs col-lg-12 col-md-12 popStyle2">-->
<!--        <a>-->
<!--            <table>-->
<!--                <tr onclick="moveToCampingCalendar()" style="cursor: pointer;">-->
<!--                    <td height="360" align="center">-->
<!--                        <div class="popContentStyle1">-->
<!--                            <img th:src="@{/img/popupimg2.png}">-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td align="right">-->
<!--                        <form name="pop_form2">-->
<!--                            <input type="checkbox" name="chkbox" id="form2" value="checkbox" style="margin-right:5px;">-->
<!--                            <label for="form2">오늘 하루동안 보지 않기</label>-->
<!--                            <a href="javascript:closeWinTwo();"><B>[닫기]</B></a>-->
<!--                        </form>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div id="divpop3" class="col-sm-12 col-xs-12 hidden-lg hidden-md popStyle3">-->
<!--        <a href="/rent/month/new">-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <td align="center">-->
<!--                        <div class="popContentStyle1">-->
<!--                            <img th:src="@{/img/popupimg1.png}">-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td align="right">-->
<!--                        <form name="pop_form3">-->
<!--                            <input type="checkbox" name="chkbox" id="form3" value="checkbox" style="margin-right:5px;">-->
<!--                            <label for="form3">오늘 하루동안 보지 않기</label>-->
<!--                            <a href="javascript:closeWinThree();"><B>[닫기]</B></a>-->
<!--                        </form>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div id="divpop4" class="col-sm-12 col-xs-12 hidden-lg hidden-md popStyle4">-->
<!--        <div class="popup_upper" onclick="moveToCampingCalendar()" style="cursor: pointer;">-->
<!--            <div class="popup_content">-->
<!--                <div class="popup_bg_img_wrapper">-->
<!--                    <div class="popup_bg_img" th:style="'background-image:url('+ @{/img/popup_campingcar.png} +');'">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="popup_bg_red">-->
<!--                    <h4 id="popup2_contact"></h4>-->
<!--                    <h3 class="popup_outline_text" id="popup2_subtitle"></h3>-->
<!--                    <h1 class="popup_outline_text" id="popup2_title"></h1>-->
<!--                </div>-->
<!--                <div class="popup_bg_green">-->
<!--                    <div class="popup_bottom_content_wrapper">-->
<!--                        <div class="popup_box popup_box_slogan" id="popup2_slogan">-->

<!--                        </div>-->
<!--                        <div class="popup_box_wrapper">-->
<!--                            <div class="popup_box">-->
<!--                                <p class="popup_box_title" id="popup2_box1_title"></p>-->
<!--                                <p class="popup_box_subtitle" id="popup2_box1_subtitle"></p>-->
<!--                                <p class="popup_box_price">-->
<!--                                    <span class="popup_box_text" id="popup2_box1_line1_title"></span>-->
<!--                                    <span class="popup_box_price_number" id="popup2_box1_line1_red_text"></span>-->
<!--                                    <span class="popup_box_text" id="popup2_box1_line1_text"></span>-->
<!--                                </p>-->
<!--                                <p class="popup_box_price">-->
<!--                                    <span class="popup_box_text" id="popup2_box1_line2_title"></span>-->
<!--                                    <span class="popup_box_price_number" id="popup2_box1_line2_red_text"></span>-->
<!--                                    <span class="popup_box_text" id="popup2_box1_line2_text"></span>-->
<!--                                </p>-->
<!--                                <p class="popup_box_text" id="popup2_box1_line3"></p>-->
<!--                                <p class="popup_box_text" id="popup2_box1_line4"></p>-->
<!--                            </div>-->
<!--                            <div class="popup_box">-->
<!--                                <p class="popup_box_title" id="popup2_box2_title"></p>-->
<!--                                <p class="popup_box_subtitle" id="popup2_box2_subtitle"></p>-->
<!--                                <p class="popup_box_price">-->
<!--                                    <span class="popup_box_text" id="popup2_box2_line1_title"></span>-->
<!--                                    <span class="popup_box_price_number" id="popup2_box2_line1_red_text"></span>-->
<!--                                    <span class="popup_box_text" id="popup2_box2_line1_text"></span>-->
<!--                                </p>-->
<!--                                <p class="popup_box_price">-->
<!--                                    <span class="popup_box_text" id="popup2_box2_line2_title"></span>-->
<!--                                    <span class="popup_box_price_number" id="popup2_box2_line2_red_text"></span>-->
<!--                                    <span class="popup_box_text" id="popup2_box2_line2_text"></span>-->
<!--                                </p>-->
<!--                                <p class="popup_box_text" id="popup2_box2_line3"></p>-->
<!--                                <p class="popup_box_text" id="popup2_box2_line4"></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="popup_button" id="popup2_button"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="popup_bottom">-->
<!--            <form name="pop_form4">-->
<!--                <input type="checkbox" name="chkbox" id="form4" value="checkbox" style="margin-right:5px;">-->
<!--                <label for="form4">오늘 하루동안 보지 않기</label>-->
<!--                <a href="javascript:closeWinFour();"><B>[닫기]</B></a>-->
<!--            </form>-->
<!--        </div>-->
<!--&lt;!&ndash;        <table>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr onclick="moveToCampingCalendar()" style="cursor: pointer;">&ndash;&gt;-->
<!--&lt;!&ndash;                <td align="center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="popContentStyle2">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img th:src="@{/img/popupimg2.png}">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td align="right">&ndash;&gt;-->
<!--&lt;!&ndash;                    <form name="pop_form4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="checkbox" name="chkbox" id="form4" value="checkbox" style="margin-right:5px;">&ndash;&gt;-->
<!--&lt;!&ndash;                        <label for="form4">오늘 하루동안 보지 않기</label>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="javascript:closeWinFour();"><B>[닫기]</B></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->
<!--    </div>-->
<!--    </div>-->
</th:block>

</html>