<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--popup Fragment 선언-->
<th:block th:fragment="popupFragment" style="width:100%; margin:0 auto;" align="center">
    <!-- POPUP1 월렌트 -->
    <div id="divpop1" class="hidden-xs hidden-sm col-lg-12 col-md-12 popStyle1" style="visibility: visible;">
        <a href="/rent/month">
        <table>
                <tr>
                    <td style="" height="360" align="center">
                        <div class="popContentStyle1">
                            <img th:src="@{/img/popupimg1.png}">
                        </div>
                    </td>
                </tr>
                <!-- <tr><td style="border-top:1px dashed #A6A6A6;"></td></tr> -->
                <tr>
                    <form name="pop_form1">
                        <td align="right">
                            <input type="checkbox" name="chkbox" value="checkbox" style="margin-right:5px;">오늘 하루동안 보지 않기
                            <a href="javascript:closeWinOne()">[닫기]</a>
                        </td>
                    </form>
                </tr>
        </table>
        </a>
    </div>

    <!-- POPUP2 캠핑카렌트 -->
    <div id="divpop2" class="hidden-sm hidden-xs col-lg-12 col-md-12 popStyle2">
        <a href="/camping/price">
        <table>
            <tr>
                <td height="360" align="center">
                    <div class="popContentStyle1">
                        <img th:src="@{/img/popup-camp2.png}">
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <form name="pop_form2">
                        <input type="checkbox" name="chkbox" value="checkbox" style="margin-right:5px;">오늘 하루동안 보지 않기
                        <a href="javascript:closeWinTwo();"><B>[닫기]</B></a>
                    </form>
                </td>
            </tr>
        </table>
        </a>
    </div>

<!--    <div id="mobile_pop" align="center">-->
    <div id="divpop3" class="col-sm-12 col-xs-12 hidden-lg hidden-md popStyle3">
        <a href="/rent/month">
        <table>
            <tr>
                <td align="center">
                    <div class="popContentStyle1">
                        <img th:src="@{/img/popupimg1.png}">
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <form name="pop_form3">
                        <input type="checkbox" name="chkbox" value="checkbox" style="margin-right:5px;">오늘 하루동안 보지 않기
                        <a href="javascript:closeWinThree();"><B>[닫기]</B></a>
                    </form>
                </td>
            </tr>
        </table>
        </a>
    </div>

    <div id="divpop4" class="col-sm-12 col-xs-12 hidden-lg hidden-md popStyle4">
        <a href="/camping/price">
            <table>
                <tr>
                    <td align="center">
                        <div class="popContentStyle2">
                            <img th:src="@{/img/popup-camp2.png}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <form name="pop_form4">
                            <input type="checkbox" name="chkbox" value="checkbox" style="margin-right:5px;">오늘 하루동안 보지 않기
                            <a href="javascript:closeWinFour();"><B>[닫기]</B></a>
                        </form>
                    </td>
                </tr>
            </table>
        </a>
    </div>
<!--    </div>-->
</th:block>

</html>