.container {
    max-width: fit-content;
}
.a_buttons {
    display: flex;
    justify-content: center;
}
.a_buttons a button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.a_buttons a:last-child button {
    margin-right: 0;
}
.a_buttons a {
    text-decoration: none;
}
.a_buttons a:hover {
    text-decoration: none;
}
.table td, .table th {
    padding: 0;
    vertical-align: middle;
    word-break: keep-all;
}
.table th {
    word-break: keep-all;
}
.table td p {
    margin-bottom: 0.5rem;
}
.deposit {
    display: block;
}
.credit {
    width: 2rem !important;
    padding: 0.2rem 0;
}
.cost_for_others, .start, .end, .cost_per_km {
    width: 3rem !important;
}

.detail_container textarea, .detail_container select {
    max-width: 200px;
}
.detail_container input {
    border: 1px solid black;
    border-radius: 4px;
}

/*.depositColumn {*/
/*    display: revert;*/
/*}*/
/*.depositColumn.displayNone {*/
/*    display: none;*/
/*}*/

.bundle_row td {
    vertical-align: middle;
    padding: 6px 0;
    background: #f2f2f2;
}
/*.bundle_row td input {*/
/*    width: 6rem;*/
/*}*/
.bundle_row td button {
    margin-top: 6px;
}

.progressContainer{position:relative;width: 450px;padding:20px 10px;border: 1px solid #eee;margin-top: 15px;background:#000;height:20px;}
.progress{position:absolute;width: calc(100% - 20px);height: 20px;}
.progressTotal{background: #5D5D5D;border-radius: 10px;}
.progressNow{width: calc(0% - 20px);background: #FFF;border-radius: 10px;}
.progressPer{background: transparent; text-align:center;color:#A6A6A6;}

/*렌트카 등록*/
.register_rent_car textarea, .register_rent_car input {
    max-width: 168px;
}
#twoYearlyForm {
    display: none;
}
#yearlyForm .detail_list {
    background: cornsilk;
}
#twoYearlyForm .detail_list {
    background: whitesmoke;
}
#twoYearlyForm.openForm {
    display: block;
}
@media screen and (max-width: 600px) {
    .a_buttons {
        flex-wrap: wrap;
    }
    .table td, .table th {
        vertical-align: middle;
    }
    .display_none_mobile {
        display: none;
    }
}