body {
    background-color: #F8F6F2;
    font-size: 13px;
}

#logout_box {
    margin: 10px 20px 10px 10px;
    text-align: right;
}

#logout_box button {
    border: none;
    background-color: #1F1D19;
    border-radius: 0.5vh;
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}

.content_wrapper {
    display: flex;
    flex-direction: row;
}

.menu_container {
    background-color: whitesmoke;
    width: 20vw;
    margin: 0 10px;
    border: 1px solid lightgray;
    border-radius: 0.5vh;

}

.menu_container li{
    list-style: none;
    margin: 20px;

}


.list_container {
    background-color: whitesmoke;
    width: 80vw;
    margin: 0 10px;
    border: 1px solid lightgray;
    border-radius: 0.5vh;
}

#mainTable_tbody tr {

}

#mainTable_tbody td {
    padding: 10px;
}

#mainTable_tbody {
    border-spacing: 10px;

}

.reserve_list {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
}

.reserve_list p {
    text-align: center;
    align-self: center;
}

#reserve_list_title {
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

.detail_list {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
}

.detail_list p {
    text-align: center;
    align-self: center;
}

#detail_list_title {
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

.car_type {
    flex: 1;
}
.created_date {
    flex: 2;
}
.modified_date {
    flex: 2;
}
.rent_date {
    flex: 2;
}
.rent_time {
    flex: 1;
}
.return_date {
    flex: 2;
}
.return_time {
    flex: 1;
}
.day {
    flex: 2;
}
.name {
    flex: 1;
}
.deposit {
    flex: 2;
}
.total {
    flex: 2;
}
.reservation {
    flex: 1;
}
.set_reserve {
    flex: 1;
    padding: 10px;
    margin: 5px 0;
    background-color: #1F1D19;
    border-radius: 0.5vh;
    border: none;
    color: aliceblue;
}

.set_reserve:hover {
    background-color: indianred;
}

#reserve_list_title .set_reserve {
    margin: 0;
    background-color: transparent;
    color: black;
}

#go_back {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 990px) {
    .content_wrapper {
        flex-direction: column;
    }

    .menu_container {
        width: 100%;
        margin: 10px 0;
        font-size: 11px
    }

    .menu_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu_list li {
        margin: 7px 0;
        padding: 0 5px;
    }

    .list_container {
        width: 100%;
        margin: 0;
        font-size: 10px
    }



    .reserve_list {
        margin: 5px 0;
    }

    .created_date {
        display: none;
    }
    .modified_date {
        display: none;
    }

    .deposit {
        display: none;
    }

    .set_reserve {
        display: none;
    }
}