.image-box {
    /*display: block;*/
    display: grid !important;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 20px;
}


.image-box .upload-box{
    /*width:500px;*/
    height: 270px;
    border: 1px solid gray;
    padding:10px;
}
.upload-box img {
    width: 100%;
    height: 200px;
}
.changeOrderBox {
    display: none;
    border: 1px solid lightskyblue;
    /*padding: 20px 10px;*/
    margin-bottom: 20px;
}
.changeOrderBox .btn-outline-primary {
    background-color: white;
}
.changeOrderBoxTop {
    padding: 20px;
    background-color: lightskyblue;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.changeOrderBox.active {
    display: block;
}
#sortable {
    list-style: none;
    padding: 0 20px 10px 20px;
    margin-bottom: 0;
}
#sortable .oneItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid darkgrey;
}
#sortable .oneItem:last-child {
    margin-bottom: 0px;
}
.changeOrderBox img {
    max-height: 100px;
    width: 150px;
    margin-right: 10px;
}

@media (max-width: 576px) {
    .image-box {
        grid-template-columns: 100%;
    }
    .changeOrderBoxTop {
        padding: 20px 10px;
    }
    #sortable {
        padding: 0 10px 10px 10px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .image-box {
        grid-template-columns: 48% 48%;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .image-box {
        grid-template-columns: 48% 48%;
    }
}