

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-month {
  font-size: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6f6c6c;
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

.calendar_content {
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 250px;
}

.go-today {
  width: 75px;
  border-left: 1px solid #6f6c6c;
  border-right: 1px solid #6f6c6c;
}

.days {
  display: flex;
  margin: 25px 0 0 0;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  border-bottom: 3px solid gray
}

#day_sat {
  border-bottom: 3px solid blue
}

#day_sun {
  border-bottom: 3px solid red
}

.dates, .times {
  display: flex;
  flex-flow: row wrap;
  height: 600px;
  /*border-top: 1px solid #6f6c6c;*/
  /*border-right: 1px solid #6f6c6c;*/
}

.date, .time {
  width: calc(100% / 7);
  padding: 15px;
  text-align: left;
  border: 1px solid #e8e8e8;
}

.upside {
  width: 100%;
}

.no_reserve {
  text-align: center;
  color: gray;
  margin: 30% 0;
}

.downside {
  width: 100%;
  padding-top: 10px;
  height: 80%;
  font-size: 100%;
  color: black;
}

.downside div {
  margin-bottom: 10px;
}

.downside a {
  padding: 5px;
  border-radius: 2vh;
  background: #fff1d3;
}

.downside a:hover {
  color: indianred;
  background-color: lightgray;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.date_season {
  opacity: .4;
  font-size: 15px;
}

.date_day {
  font-size: 18px;
  font-weight: bold;
}

.reserved_selections {
  padding: 5px;
}

.other {
  opacity: .3;
}

a:hover {
  color: black;
}

#main_mobile {
  display: none;
}


@media (max-width: 990px) {

  .calendar_content {
    padding: 0;
    margin: 100px 0;
  }

  #main_pc {
    display: none;
  }

  #main_mobile {
    display: block;
  }

  #main_mobile #days {
    margin-bottom: 5px;
  }

  #main_mobile #days div {
    border-bottom: none;
  }

  .dates {
    display: flex;
    flex-flow: row wrap;
    height: auto;
  }

  .date {
    width: calc(100% / 7);
    height: 100%;
    border: none;
    padding: 0;
  }


  #dates {
    font-size: 10px;
  }

  .upside {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .day_wrapper {
    text-align: center;
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 50%;
  }

  .detail_wrapper {
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .detail_wrapper div {
    margin: 10px 0;
    padding: 10px 0;
    width: 65%;
    border-radius: 1vh;
  }



  a .detail_selections {
    width: 100%;
    background-color: #f3d79b;
  }

  .detail_selections span {
    color: #6f6f6f;
  }

  a .detail_selections span {
    color: aliceblue;
  }

  .detail_selections {
    background-color: #8c8c8c;
  }

  .detail_wrapper a {
    width: 65%;
  }

}