table.type11 {
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
}
table.type11 th {
  width: 1.5em; /* 155px */
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #e74c3c;
  text-align: center;
  background: #fff;
}
table.type11 td {
  width: 1.5em;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background: #fff;
}

/*==================================================================
            Feature section Style
====================================================================*/

.main_feature {
}
.main_feature .single_feature {
}
.main_feature .single_feature:hover .single_feature_icon {
  border-color: #e74c3c;
  transform: rotate(45deg);
}
.main_feature .single_feature:hover .single_feature_icon i {
  transform: rotate(-45deg);
}
.main_feature .single_feature:hover h2 {
  color: #e74c3c;
}
.main_feature .single_feature .single_feature_icon {
  border: 1px solid #ddd;
  width: 150px;
  height: 150px;
  line-height: 70px;
  margin: 50px auto;
  transition: all 0.6s;
}

.single_feature p {
  font-size: 18px;
}

.main_feature .single_feature i {
  margin: 35px;
  color: #e74c3c;
  transition: all 0.6s;
}
.main_feature .single_feature h4 {
  transition: all 0.6s;
}

.btn-md {
  background: #999999;
  padding: 1rem 2rem;
  border: 1px solid transparent;
}

.btn-md:active,
.btn-md.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}
button.btn-md:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  color: #e74c3c;
}
button.btn-md {
  text-align: center;
  font-size: 25px;
  color: #444;
  letter-spacing: 1px;
  margin: 0;
  border-radius: 0px;
  margin-top: 0px;
  background-color: transparent;
  transition: 0.5s;
  border: 0px solid #e74c3c;
}
button.btn-md:hover {
  background-color: transparent;
  color: #e74c3c;
  text-decoration: none;
  border: 0px solid #f4720a;
}

/*=================================================================
                        Camping Car navigation section
===================================================================*/
#campingnav ul ul {
  position: relative;
  left: -9999px;
}

#campingnav ul ul li {
  height: 0;
  align-content: center;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#campingnav li:hover > ul {
  left: auto;
}

#campingnav.align-right li:hover > ul {
  left: auto;
  right: 0;
}

#campingnav li:hover > ul > li {
  height: 55px;
}

#campingnav ul ul li a {
  padding: 16px;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  background: #fff;
  text-transform: uppercase;
}
#campingnav ul ul li:hover > a,
#campingnav ul ul li a:hover {
  color: #e74c3c;
  background-color: #fff;
}

#campingnav.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}

#campingnav.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#campingnav ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
#campingnav > ul > li.has-sub > a:before {
  position: absolute;
  right: -10px;
  font-family: FontAwesome;
  content: "\f107";
}
.campingnav {
  float: none;
}
.is-sticky .header {
  border-bottom: 1px solid #eae7e2;
}

#campingnav,
#campingnav ul,
#campingnav ul li,
#campingnav ul li a {
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}

#campingnav:after,
#campingnav > ul:after {
  content: ".";
  display: inline-block;
  clear: both;
  visibility: hidden;
}
#campingnav #menu-button {
  display: none;
}
#campingnav > ul > li {
  float: left;
}
#campingnav > ul > li > a {
  padding: 20px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
#campingnav > ul > li:hover > a {
  color: #e74c3c;
  background-color: #fff;
}


.date_menu, .date_time {
  font-size: 19px;
}

.total_date, .total {
  font-size: 17px;
}

hr {
  background-color: darkgrey;
}


/*=================================================================
                        달력 세션
===================================================================*/


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}
.year-month, .year-month-return {
  font-size: 20px;
}

.main {
  padding-bottom: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid #6f6c6c;*/
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 75px;
  /*border-left: 1px solid #6f6c6c;*/
  /*border-right: 1px solid #6f6c6c;*/
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  /*border-top: 1px solid #6f6c6c;*/
  /*border-right: 1px solid #6f6c6c;*/
}

.date {
  width: calc(100% / 7);
  padding: 15px;
  text-align: center;
  /*border-bottom: 1px solid #6f6c6c;*/
  /*border-left: 1px solid #6f6c6c;*/
}

.upside {
  width: 100%;
  /*height: 20%;*/
}


.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.date_season {
  opacity: .4;
  font-size: 15px;
}

.date_day {
  font-size: 18px;
  font-weight: bold;
}

.other {
  opacity: .3;
}

a:hover {
  color: black;
}


.date_menu, .date_time {
  font-size: 19px;
}

.total_date, .total {
  font-size: 17px;
}

hr {
  background-color: darkgrey;
}


/*=================================================================
                        달력 세션
===================================================================*/


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}
.year-month, .year-month-return {
  font-size: 20px;
}

.main {
  padding-bottom: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid #6f6c6c;*/
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 75px;
  /*border-left: 1px solid #6f6c6c;*/
  /*border-right: 1px solid #6f6c6c;*/
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  /*border-top: 1px solid #6f6c6c;*/
  /*border-right: 1px solid #6f6c6c;*/
}

.date {
  width: calc(100% / 7);
  padding: 15px;
  text-align: center;
  /*border-bottom: 1px solid #6f6c6c;*/
  /*border-left: 1px solid #6f6c6c;*/
}

.upside {
  width: 100%;
  /*height: 20%;*/
}


.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.date_season {
  opacity: .4;
  font-size: 15px;
}

.date_day {
  font-size: 18px;
  font-weight: bold;
}

.other {
  opacity: .3;
}

a:hover {
  color: black;
}

.car_type {
  overflow: auto;
}

#left_column {

}

.down_arrow {
  padding: 0 10px;
}

#rent_cal div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rent_cal label {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.times {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#rent_time label {
  height: 45px;
  width: 22%;
  margin: 5px;
  border-radius: 1vh;
  background: #fff8c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_wrapper:hover {
  cursor: pointer;
}

#rent_time {
  display: none;
}

#hr_time {
  display: none;
}

#calendar_return {
  display: none;
}

#calendar_return label {
  margin: 0 10px 0 0;
  font-size: 17px;
}

#calendar_return select {
  font-size: 17px;
}

.disabled_radio {
  pointer-events: none;
  color: dimgray;
  background: lightgray;
}

.disabled_radio input[type=radio]{
  display: none;
}

#rent_time input[type=radio] {
  margin: 0 5px 0 0;
}

input[type=radio] {
  appearance: none;
}

#rent_cal input[type=radio]:checked {
  appearance: none;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #4d7cff70;
  border-radius: 50%;
  margin: 0;

}

#rent_time input[type=radio]:checked{
  appearance: none;
  position: absolute;
  height: 45px;
  width: 22%;
  background: #2623ec6b;
  border-radius: 1vh;
  display: flex;
}

.disabled_time {
  appearance: none;
  position: absolute;
  height: 45px;
  width: 22%;
  margin: 0;
  background: rgba(70, 70, 70, 0.38);
  border-radius: 1vh;
}

#calResultWrapper {
  display: none;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 0.5vh;
}

.result_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result_details h4 {
  margin: 0;
}

.sel_options hr {
  margin: 15px 0;
}

#sel_option_length {
  padding: 0 35px;
}

#sel_options_output {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sel_options_outputs {
  display: flex;
  flex-direction: column;
}

#btn_reserve {
  padding: 20px 30px;
  border: none;
  border-radius: 30vh;
  background-color: #E7A625;
  color: whitesmoke;
}

#btn_reserve:hover {
  background-color: #13A0B2;
}

@media (max-width: 990px) {
  #wrapper {
    padding: 20px;
  }
}

