
@media (min-width: 991px) and (max-width: 1199px) {
  .calendar_content .container {
    width: 100%;
  }
}


.displayOnlyActive {
  display: none !important;
}
.activeCampingMenu {
  display: block !important;
}

p {
  font-size: 1.7rem;
}

.calendar_content .title {
  font-size: 36px;
}

.calendar_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  margin-bottom: 5rem;
}

.year-month {
  font-size: 30px;
}

/*.nav {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  border: 1px solid #6f6c6c;*/
/*  border-radius: 5px;*/
/*}*/

.calendar_nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  line-height: 34px;
  background-color: transparent;
  vertical-align: super;
}
.calendar_nav-btn i {
  font-size: 40px;
  color: red;
}

/* 캠핑카 페이지 버튼 css */
.camping_page {
  border-bottom: 1px solid lightgray;
}

.camping_page button {
  padding: 15px 25px;
  font-size: 17px;
  width: 170px;
  background: white;
  border: none;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top-left-radius: 0.5vh;
  border-top-right-radius: 0.5vh;

}

#reserve_page_btn {
  background: lightyellow;
}

.camping_page button:hover {
  background: lightyellow;
}

/*  */

.calendar_content {
  padding-top: 100px;
  padding-bottom: 150px;
}

.go-today {
  width: 75px;
  border-left: 1px solid #6f6c6c;
  border-right: 1px solid #6f6c6c;
}

.days {
  display: flex;
  margin: 25px 0 0 0;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  border-bottom: 3px solid gray
}

.days > .day {
  padding-bottom: 16px;
}
#day_sat {
  border-bottom: 3px solid blue
}

#day_sun {
  border-bottom: 3px solid red
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin-top: 10px;
}

.date {
  width: calc(100% / 7);
  padding: 5px;
  text-align: left;
}



#main_pc .date {
  height: 162px;
}

.upside {
  width: 100%;
}

.no_reserve {
  text-align: center;
  color: gray;
  margin: 30% 0;
}

.downside {
  width: 100%;
  padding-top: 10px;
  height: 80%;
  font-size: 100%;
  color: black;
}

.downside div {
  /*margin-bottom: 10px;*/
}

.downside a,
.downdise span {
  padding: 5px 0;
}

.downside a:hover {
  color: blue;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.date_season {
  opacity: .4;
  font-size: 15px;
}

.date_day {
  font-size: 18px;
  font-weight: bold;
}

.reserved_selections {
  color: lightgrey;
}
.reserved_selections span {
  padding: 5px 0;
}

.other {
  opacity: .3;
}

a:hover {
  color: black;
}

.date_available {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.mobile_calendar_explain {
  text-align: center;
  display: none;
}

#main_mobile {
  display: none;
  font-size: 1.3em;
}
#mobile_arrow {
  display: none;
  text-align: center;
  color: dimgray;
  font-size: 28px;
  margin-top: 20px;
}

.camping_price_table {
  background: white !important;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.camping_price_table td {
  font-size: 16px !important;
  padding: 10px !important;
}
.camping_img_small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 0px;
}

.camping_img_small > img {
  width: 24%;
  height: 120px;
}

.able_day {
  background-color: royalblue;
  color: white;
}

.double_circle {
  /*border: double dimgray;*/
  background-color: royalblue;
  box-shadow: inset 0px 0px 0px 5px white;
  border: 2px solid royalblue;
  color: white;
}

.disabled_radio.double_circle {
  border: none;
  box-shadow: none;
  color: dimgray;
  background-color: lightgrey;
}
.disabled_day.double_circle {
  border: none;
  box-shadow: none;
}
/* 모바일 화면 */
@media (max-width: 990px) {

  .calendar_content {
    padding: 0;
    margin: 100px 0;
  }

  .calendar_header {
    margin-bottom: 1rem;
  }

  #mobile_arrow {
    display: block;
  }

  #main_pc {
    display: none;
  }

  .mobile_calendar_explain, #main_mobile {
    display: block;
  }

  #main_mobile #days {
    margin-bottom: 5px;
  }

  #main_mobile #days div {
    border-bottom: none;
  }

  .dates {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    font-family: FontAwesome;
    font-weight: bold;
  }

  .date {
    width: calc(100% / 7);
    height: 100%;
    border: none;
    padding: 0;
  }


  #dates {
    font-size: 10px;
  }

  .upside {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .day_wrapper {
    text-align: center;
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .disabled_day {
    pointer-events: none;
    background:lightgray;
    color: gray;
  }

  .detail_wrapper {
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    margin-top: 3rem;
    border: 2px solid gray;
    border-radius: 12px;
  }

  .detail_wrapper div {
    padding: 1rem 0;
    width: 80%;
  }

  .calendar_content .title {
    font-size: 30px;
  }
  .year-month {
    font-size: 26px;
  }

  #day_detail a {
    width: 100%;
  }
  .detail_selections {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
  }
  .detail_selections button {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background: royalblue;
    color: white;
  }
  .detail_selections button:disabled {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background: lightgrey;
    color: white;
  }
  .detail_selections span {
    color: black;
  }
}

@media (max-width: 600px) {
  .camping_page button {
    width: 40%;
    font-size: 1em;
  }
}

.contents .contents {
  border: none;
  padding: 0;
  box-shadow: none;
}