table.type11 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
}
table.type11 th {
  width: 155px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #e74c3c;
  text-align: center;
  background: #fff;
}
table.type11 td {
  width: 155px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

/*==================================================================
            Feature section Style
====================================================================*/

.main_feature {
}
.main_feature .single_feature {
}
.main_feature .single_feature:hover .single_feature_icon {
  border-color: #e74c3c;
  transform: rotate(45deg);
}
.main_feature .single_feature:hover .single_feature_icon i {
  transform: rotate(-45deg);
}
.main_feature .single_feature:hover h2 {
  color: #e74c3c;
}
.main_feature .single_feature .single_feature_icon {
  border: 1px solid #ddd;
  width: 150px;
  height: 150px;
  line-height: 70px;
  margin: 50px auto;
  transition: all 0.6s;
}

.single_feature p {
  font-size: 18px;
}

.main_feature .single_feature i {
  margin: 35px;
  color: #e74c3c;
  transition: all 0.6s;
}
.main_feature .single_feature h4 {
  transition: all 0.6s;
}

.btn-md {
  background: #999999;
  padding: 1rem 2rem;
  border: 1px solid transparent;
}

.btn-md:active,
.btn-md.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}
button.btn-md:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  color: #e74c3c;
}
button.btn-md {
  text-align: center;
  font-size: 25px;
  color: #444;
  letter-spacing: 1px;
  margin: 0;
  border-radius: 0px;
  margin-top: 0px;
  background-color: transparent;
  transition: 0.5s;
  border: 0px solid #e74c3c;
  font-family: "montserratregular";
}
button.btn-md:hover {
  background-color: transparent;
  color: #e74c3c;
  text-decoration: none;
  border: 0px solid #f4720a;
}

/*=================================================================
                        Camping Car navigation section
===================================================================*/
#campingnav ul ul {
  position: relative;
  left: -9999px;
}

#campingnav ul ul li {
  height: 0;
  align-content: center;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#campingnav li:hover > ul {
  left: auto;
}

#campingnav.align-right li:hover > ul {
  left: auto;
  right: 0;
}

#campingnav li:hover > ul > li {
  height: 55px;
}

#campingnav ul ul li a {
  padding: 16px;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  background: #fff;
  text-transform: uppercase;
}
#campingnav ul ul li:hover > a,
#campingnav ul ul li a:hover {
  color: #e74c3c;
  background-color: #fff;
}

#campingnav.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}

#campingnav.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#campingnav ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
#campingnav > ul > li.has-sub > a:before {
  position: absolute;
  right: -10px;
  font-family: FontAwesome;
  content: "\f107";
}
.campingnav {
  float: none;
}
.is-sticky .header {
  border-bottom: 1px solid #eae7e2;
}

#campingnav,
#campingnav ul,
#campingnav ul li,
#campingnav ul li a {
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}

#campingnav:after,
#campingnav > ul:after {
  content: ".";
  display: inline-block;
  clear: both;
  visibility: hidden;
}
#campingnav #menu-button {
  display: none;
}
#campingnav > ul > li {
  float: left;
}
#campingnav > ul > li > a {
  padding: 25px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#campingnav > ul > li:hover > a {
  color: #e74c3c;
  background-color: #fff;
}
