.header_camp {
    background: #080d10;
    overflow-x: clip;
}
.header_camp .container {
    width: 100%;
    padding: 75px 0 0 0;
}
.header_camp_title h4 {
    color: white;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-image: linear-gradient(to right, red, cornflowerblue);
    border-image-slice: 1;
    border-image-width: 1px 0 0 0;
}

.header_camp_navbar {
    background: linear-gradient(to right, red, cornflowerblue);
    padding: 0px 10px;
    margin-bottom: -5px;
}

.header_camp_navbar #navigation ul li a {
    padding: 15px 80px 15px 20px;
    color: black;
    margin-right: 16px;
}
.main_ul li:first-child:after {
    content: "|";
    position: absolute;
    font-size: 28px;
    bottom: 15%;
    right: -5%;
}
.main_ul ul li:first-child:after {
    content: "";
}
.main_ul > li > a:after {
    position: absolute;
    content: '+';
    top: 18%;
    right: 0%;
    font-size: 28px;
}
.main_ul > li > a:hover {
    background-color: transparent !important;
}
.main_ul > li > ul > li > a {
    background-color: white !important;
}
.main_ul > li > ul > li > a {
    background-color: white !important;
}

.main_ul > li > ul > li > a:hover {
    color: black !important;
}
