.header_camp {
    background: #080d10;
    overflow-x: clip;
    height: 276px;
}
.header_camp .container {
    max-width: 1440px;
    width: 100%;
    padding: 75px 0 0 0;
}
.header_camp_title h4 {
    color: white;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-image: linear-gradient(to right, red, cornflowerblue);
    border-image-slice: 1;
    border-image-width: 1px 0 0 0;
}
.pc_title {
    display: block;
}
.mobile_title {
    display: none;
}

.header_camp_navbar {
    background: linear-gradient(to right, red, cornflowerblue);
    margin-bottom: -5px;
}

.header_camp_navbar ul {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
}

.header_camp_navbar li {
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header_camp_navbar a:hover {
    color: black;
}

.header_camp_navbar .active {
    background-color: white;
}

@media (max-width: 600px) {
    .header_camp {
        height: 300px;
    }
    .pc_title {
        display: none;
    }
    .mobile_title {
        display: block;
    }
}