html {
    height: 100%;
}
body {
    background-color: #F8F6F2;
    height: 100%;
}

#page_title {
    position: absolute;
    top: 10%;
    left: 50%;
    right: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title_box h1{
    width: 300px;
    text-align: center;
    font-size: 40px;
}

#login_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    right: 50%;
}


#login_box {
    width: 250px;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 0.5vh;
    padding: 10px 20px;
}

#login_box label {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

#login_box input {
    height: 25px;
    margin: 10px 30px 5px;
    border: 1px solid lightgray;
    border-radius: 0.5vh;
}

#login_box button {
    width: 5rem;
    margin: 10px;
    border-radius: 0.5vh;
    padding: 5px;
    border: none;
    background-color: #1F1D19;
    color: aliceblue;
}