html {
    height: 100%;
}
body {
    background-color: #F8F6F2;
    height: 100%;
}

#login_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#login_box {
    width: 30vw;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_box input {
    height: 20px;
    margin: 10px;
}

#login_box button {
    width: 14vw;
    margin: 10px;
}