.paying_content {
    padding: 60px;
}

.paying_content h3 {
    font-weight: 900;
    margin-bottom: 20px;
}

#contract_info {
    color: tomato;
}

#info_reserve {
    height: 200px;
}

#info_custom {
    overflow: auto;
}

#hr_reserve {
    margin: 10px 0;
}

.reserve_detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_person {
    margin-bottom: 5px;
}

.input_person div {
    margin: 5px 0;
}

.input_person input {
    width: 30%;
    height: 35px;
    font-size: 20px;
    margin: 3px;
}

.input_demand {
    width: 100%;
    font-size: 20px;
}

#input_demand {
    width: 100%;
}

textarea.noscrollbars {
    overflow: hidden;
    min-height: 100px;
    resize: none;
}

#info_refund {
    overflow: auto;
}

#info_price {
    height: 350px;
}

.price_between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price_between p {
    margin-bottom: 0;
}

#info_deposit {
    height: 200px;
}

#info_done {
    overflow: auto;
}

#info_done p {
    font-size: 16px;
}

#price_desc p{
    margin: 2px;
}



@media (max-width: 650px) {
    .paying_content {
        padding: 20px;
    }
}