* {
    font-family: 'Nanum Gothic', sans-serif;
}

#title_wrapper {
    margin: 0;
}

.card {
    border: 1px solid lightgray;
    border-radius: 0.5vh;
    padding: 12px;
    margin: 10px 0px;
}
.panel-title {
    line-height: 2;
}
.realtime-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.realtime-btn {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    transition:all 0.5s;
    word-break: keep-all;
    margin: 20px 0;
}
.realtime-btn:hover {
    transform: scale(1.05);
}
#select_wrapper {
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 0.5vh;
}

#select_wrapper input[type="radio"] {
    margin-right: 4px;
}

#select_wrapper div {
    margin-bottom: 0;
}

#select_wrapper label {
    margin-bottom: 0;
    width: 140px;
    font-weight: 400;
}

#sel_car {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sel_reg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sel_able {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#table_header {
    background-color: #b3b0ac;
}

.monthly_content {
    padding: 120px 60px 60px;
}

#mobileCard {
    height: auto;
    display: none;
}

#mobileCard .card {
    width: 98%;
    margin: 10px auto;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 0.5vh;
    padding: 20px;
    background-color: #fafafa;
}

#mobileCard .card p {
    margin-bottom: 5px;
}

#mobileCard .card h4 {
    line-height: inherit;
    font-weight: 700;
}

.card button {
    width: 50%;
    word-break: keep-all;
    margin: 0 25%;
}

.to-prior-rent-month-text {
    padding: 10px 0px;
}
.to-prior-rent-month-button-wrap {
    margin-bottom: 20px;
}
.to-prior-rent-month-button {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}



@media (max-width: 600px) {
    .realtime-btn {
        margin-top: 10px;
        width: 100%
    }

    .monthly_content {
        padding: 120px 30px 30px;
    }

    #mainTable table {
        display: none;
    }

    #mobileCard {
        height: auto;
        display: block;
    }

    #sel_car label {
        width: 65px;
    }

    #sel_term label, #sel_reg label, #sel_able label {
        width: 120px;
    }

    .not-show-in-mobile {
        display: none;
    }
}
