.price_menu {
    display: flex;
    justify-content: center;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
    border: 0.1em solid #d6d6d6;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #c4beb2;
}

td[scope=row], th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #c4beb2;
}

th[scope=row] {
    z-index: 3;
}

td[scope=row]:nth-child(2), th[scope=row]:nth-child(2) {
    left: 47px;
}

@media screen and (max-width: 600px) {
    .price_menu {
        flex-direction: column;
    }
}