
#rent-long-reservation .span-control {
    margin-right: 0px;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

/*.look-button {*/
/*    text-align: center;*/
/*}*/

/*.look-button button {*/
/*    color: white;*/
/*    background-color: #c10000;*/
/*    padding: 1.5rem 3rem;*/
/*    border: none;*/
/*    border-radius: 3rem;*/
/*}*/

#car_card_list {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car_cards {
    background-color: white;
    box-shadow: red 0px 3px 8px;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    background-image: url("https://i.ibb.co/2cHb8cq/Group-1.jpg");
    background-size: cover;
    background-position: center right;
    transition: 1s all;
}

.glance_card {
    background-image: none;
    display: flex;
    align-items: center;
    text-align: center;
    width: 450px;
}
.glance_card .car_card_img {
    margin: 10px;
}
.glance_card img {
    height: 200px;
}
.glance_card .car_card_type {
    font-size: 2.5rem !important;
    display: inline;
}
.car_cards:hover {
    /*box-shadow: 5px 5px 30px #707070;*/
    transform: scale(1.05);
}

.car_cards p {
    font-size: 16px;
}


.car_card_type {
    font-family: 'FontAwesome';
    font-weight: bold;
    color: #c10000;
    width: 50%;
    font-size: 2rem !important;
    word-break: keep-all;
    margin-bottom: 5px;
    text-shadow: 2px 2px 0px #FFFFFF;
}

.car_card_textbox {
    display: flex;
    flex-direction: column;
}

.car_card_txt {
    margin-bottom: 10px;
    box-shadow: #c10000 0px 2px 5px -1px, #c10000 0px 1px 3px -1px;
    background-color: white;
    border-radius: 1rem;
    padding: 0.3em 0.5em;
}

.car_card_txt .title {
    display: inline-block;
    width: 90px;
    color: #c10000;
}

.car_card_img {
    height: 170px;
    margin: 10px 0;
}

.car_card_bg {
    width: 100px;
    height: 100px;
    position: absolute;
}

.car_card_contents {
    position: relative;
}

.car_card_img img {
    height: 170px;
    width: 100%;
}

/* 페이지 이동 버튼 css */
.long_term_page {
    border-bottom: 1px solid lightgray;
}

.long_term_page button {
    padding: 15px 25px;
    font-size: 17px;
    width: 170px;
    background: white;
    border: none;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

#new_long_page_btn {
    background: lightyellow;
}

.long_term_page button:hover {
    background: lightyellow;
}

#not-opened-yet {
    display: none;
}

.rent-long-sub-title {
    padding-top: 70px;
    padding-left: 3%;
}

/*  */

@media (max-width: 600px) {
    /*.container {*/
    /*    padding: 0;*/
    /*}*/

    .long_term_page button {
        width: 40%;
        font-size: 1em;
    }

    #car_card_list {
        flex-direction: column;
    }

    .car_cards {
        width: 70%;
        max-width: 350px;
        font-size: 1em;
        margin: 1rem auto;
    }

    .car_card_type {
        font-size: 1.5rem;
    }

    .car_cards p {
        font-size: 13px;
        margin-bottom: 1rem;
    }

    .car_card_img {
        height: 150px;
    }

    .car_card_txt {
        padding-left: 5px;
        margin-bottom: 0px;
    }
    .title {
        width: 60px;
    }
    /*.car_card_txt span {*/
    /*    font-size: 1rem;*/
    /*}*/

    /*.car_cards div p {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*}*/

    #not-opened-yet {
        display: block;
    }

    .rent-long-sub-title {
        padding-left: 8%;
    }

}

@media (max-width: 425px) {
    .card_container {
       height: 44rem;
       /* margin-top: -9rem;*/
    }

}