<!-- 관리자페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/admin.css}" rel="stylesheet">

    <script th:src="@{/js/admin.js}" defer></script>


</head>
<body>
    <div class="page_wrapper">
        <div id="logout_box"><button>로그아웃</button></div>
        <div class="content_wrapper">
            <div class="menu_container">
                <div class="menu_list">
                    <li>메뉴1</li>
                    <li>메뉴2</li>
                    <li>메뉴3</li>
                    <li>메뉴4</li>
                    <li>메뉴5</li>
                    <li>메뉴6</li>
                    <li>메뉴7</li>
                </div>
            </div>
            <div class="list_container">
                <div class="reserve_list" id="reserve_list_title">
                    <p class="car_type">차종</p>
                    <p class="created_date">생성일</p>
                    <p class="modified_date">수정일</p>
                    <p class="rent_date">시작일</p>
                    <p class="rent_time">시작</p>
                    <p class="return_date">반납일</p>
                    <p class="return_time">반납</p>
                    <p class="day">일권</p>
                    <p class="name">성명</p>
                    <p class="deposit">보증금</p>
                    <p class="total">총결제금액</p>
                    <p class="reservation">예약</p>
                    <p class="set_reserve">확정</p>
                </div>
                <div class="reserve_list" th:each="date : ${campingcarDateTimeList}">
                    <a th:href="${'/'+date.id}">
                        <p class="car_type" th:text="${date.carType}"></p>
                        <p class="created_date" th:text="${date.createdDate}"></p>
                        <p class="modified_date" th:text="${date.modifiedDate}"></p>
                        <p class="rent_date" th:text="${date.rentDate}"></p>
                        <p class="rent_time" th:text="${date.rentTime}"></p>
                        <p class="return_date" th:text="${date.returnDate}"></p>
                        <p class="return_time" th:text="${date.returnTime}"></p>
                        <p class="day" th:text="${date.day}"></p>
                        <p class="name" th:text="${date.name}"></p>
                        <p class="deposit" th:text="${date.deposit}"></p>
                        <p class="total" th:text="${date.total}"></p>
                        <p class="reservation" th:text="${date.reservation} == '0'? 'X':'O'"></p>
                    </a>
                    <button th:id="${date.dateTimeId}" class="set_reserve" onclick="setReserve(id)">확정</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>