<!-- 캠핑카렌트(rent_camping.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:src="@{/css/admin.css}" rel="stylesheet">

    <script th:src="@{/js/calendar.js}" defer></script>


</head>
<body>
<div class="page_wrapper">
    <div class="content_wrapper">
        <div class="menu_container">
            <div class="menu_list">
                <li>메뉴1</li>
                <li>메뉴2</li>
                <li>메뉴3</li>
                <li>메뉴4</li>
                <li>메뉴5</li>
                <li>메뉴6</li>
                <li>메뉴7</li>
            </div>
        </div>
        <div class="list_container">
            <div class="reserve_list">
                <p id="custom_id_head">id</p>
                <p id="created_date_head">생성일</p>
                <p id="modified_date_head">수정일</p>
                <p id="rent_date_head">시작일</p>
                <p id="rent_time_head">시작시간</p>
                <p id="return_date_head">반납일</p>
                <p id="return_time_head">반납시간</p>
                <p id="day_head">일권</p>
                <p id="name_head">성명</p>
                <p id="phone_head">연락처</p>
                <p id="depositor_head">입금자</p>
                <p id="deposit_head">보증금</p>
                <p id="total_head">총결제금액</p>
                <p id="reservation_head">예약</p>
            </div>
            <div class="reserve_list">
                <p id="custom_id">1</p>
                <p id="created_date">2021.0.0</p>
                <p id="modified_date">2021.0.0</p>
                <p id="rent_date">8월 11일</p>
                <p id="rent_time">1시</p>
                <p id="return_date">8월 21일</p>
                <p id="return_time">1시</p>
                <p id="day">10일권</p>
                <p id="name">이름</p>
                <p id="phone">01012345687</p>
                <p id="depositor">입금자</p>
                <p id="deposit">보증금</p>
                <p id="total">총결제금액</p>
                <p id="reservation">1</p>
            </div>
        </div>
    </div>
</div>

</body>

</html>