<!-- 캠핑카렌트(rent_camping.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:src="@{/css/admin.css}" rel="stylesheet">

    <script th:src="@{/js/calendar.js}" defer></script>


</head>
<body>
    <div class="page_wrapper">
        <div class="content_wrapper">
            <div class="menu_container">
                <div class="menu_list">
                    <li>메뉴1</li>
                    <li>메뉴2</li>
                    <li>메뉴3</li>
                    <li>메뉴4</li>
                    <li>메뉴5</li>
                    <li>메뉴6</li>
                    <li>메뉴7</li>
                </div>
            </div>
            <div class="list_container">
                <div class="reserve_list">
                    <p class="id">id</p>
                    <p class="created_date">생성일</p>
                    <p class="modified_date">수정일</p>
                    <p class="rent_date">시작일</p>
                    <p class="rent_time">시작</p>
                    <p class="return_date">반납일</p>
                    <p class="return_time">반납</p>
                    <p class="day">일권</p>
                    <p class="name">성명</p>
                    <p class="deposit">보증금</p>
                    <p class="total">총결제금액</p>
                    <p class="reservation">예약</p>
                </div>
                <div class="reserve_list">
                    <p class="id">1</p>
                    <p class="created_date">2021.0.0</p>
                    <p class="modified_date">2021.0.0</p>
                    <p class="rent_date">8월 11일</p>
                    <p class="rent_time">1시</p>
                    <p class="return_date">8월 21일</p>
                    <p class="return_time">1시</p>
                    <p class="day">10일권</p>
                    <p class="name">이름</p>
                    <p class="deposit">보증금</p>
                    <p class="total">총결제금액</p>
                    <p class="reservation">1</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>