<!-- 관리자페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>SAVECAR - 관리자 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}" defer></script>
    <script th:src="@{/js/admin.js}" defer></script>

</head>
<body>
<div class="page_wrapper">
    <div id="logout_box"><a href="/admin/logout"><button id="logout">로그아웃</button></a></div>
    <div class="content_wrapper">
        <div class="menu_container">
            <div class="menu_list">
                <a href="/admin/campingcar/menu"><li>캠핑카 예약</li></a>
                <a href="/admin/counsel/menu"><li>상담 신청</li></a>
                <a href="/admin/discount/menu"><li>할인/인상 적용</li></a>
                <a href="/admin/moren/reservation/menu" style="color: white;"><li style="background: #3a708f">모렌 예약 신청</li></a>
            </div>
        </div>

        <div class="content_container">
            <div class="head_title" style="margin-top: 50px; text-align: center;">
                <h2>예약 신청 상세 페이지</h2>
            </div>
            <div id="reservation-detail-card">
                <p>예약한 시간: <span>예약한 시간</span></p>
                <p>차량 번호: <span th:text="${morenReservationDTO.carNo}" class="carNo"></span></p>
                <p>약정 주행거리: <span th:text="${morenReservationDTO.kilometer}" class="kilometer"></span></p>
                <p>렌트 기간: <span th:text="${morenReservationDTO.rentTerm}" class="rentTerm"></span></p>
                <p>예약자 이름(입금자명): <span th:text="${morenReservationDTO.reservationName}" class="reservationName"></span></p>
                <p>예약자 전화번호: <span th:text="${morenReservationDTO.reservationPhone}" class="reservationPhone"></span></p>
                <p>예약자 생년월일: <span th:text="${morenReservationDTO.reservationAge}" class="reservationAge"></span></p>
                <p>대여 날짜 및 시간:
                    <span th:text="${morenReservationDTO.reservationDate}" class="reservationDate"></span>
                    <span th:text="${morenReservationDTO.reservationTime}" class="reservationTime"></span>
                </p>
                <p>신용 보증: <span th:text="${morenReservationDTO.reservationGuarantee}"></span></p>
                <p>배차 요청 주소: <span th:text="${morenReservationDTO.address}" class="reservationAddress"></span></p>
                <p>배차 요청 상세 주소: <span th:text="${morenReservationDTO.addressDetail}" class="reservationAddressDetail"></span></p>
                <p>요청 사항: <span th:text="${morenReservationDTO.reservationDetails}" class="reservationDetails"></span></p>
                <p>렌트료: <span th:text="${morenReservationDTO.carPrice}"></span></p>
                <p>부가세: <span th:text="${morenReservationDTO.carTax}"></span></p>
                <p>총 렌트료: <span th:text="${morenReservationDTO.carAmountTotal}" class="carAmountTotal"></span></p>
                <p>보증금: <span th:text="${morenReservationDTO.carDeposit}" class="carDeposit"></span></p>
                <p class="costPerKm" th:text="${morenReservationDTO.costPerKm}" style="display: none;"></p>
                <p class="reservationGuarantee" th:text="${morenReservationDTO.reservationGuarantee}" style="display: none;"></p>
                <span class="reservationId" style="display: none;" th:text="${morenReservationDTO.id}"></span>
                <div th:if="${morenReservationDTO.reservationStatus == '0'}" style="display: flex; justify-content: space-between;">
                    <button class="reservation-delete-btn" th:data-index="${morenReservationDTO.id}">취소</button>
                    <button class="reservation-confirm-btn">확정</button>
                </div>
                <div th:if="${morenReservationDTO.reservationStatus == '1'}" style="display: flex; justify-content: space-between;">
                    <p style="text-align: center; width: 100%; color: darkblue;">위 예약 신청은 확정되었습니다.</p>
                </div>
                <div th:if="${morenReservationDTO.reservationStatus == '-1'}" style="display: flex; justify-content: space-between;">
                    <p style="text-align: center; width: 100%; color: red;">위 예약 신청은 취소되었습니다.</p>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>