<!-- 캠핑카렌트(rent_camping.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 캠핑카 렌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/calendar.css}" rel="stylesheet">

<!--    <script>-->
<!--        function toggleImg(id) {-->
<!--            let before = document.getElementById("headerImg").src;-->
<!--            let tmp = document.getElementById(id).src;-->
<!--            document.getElementById("headerImg").src = tmp;-->
<!--            document.getElementById(id).src = before;-->
<!--        }-->

<!--    </script>-->

    <script th:src="@{/js/calendar.js}" defer></script>


</head>
    <div layout:fragment="content">
        <div th:replace="fragments/header_camp::headerFragment"></div>

        <div class="calendar_content">
            <div class="container">
                <div class="header">
                        <a th:href="'/calendar/before/' + ${prevMonth}">
                            <button class="nav-btn go-prev" >&lt;</button>&nbsp;&nbsp;
                        </a>
                        <!--   <button class="nav-btn go-today">Today</button>  -->
                        <div class="year-month">
                            <span name="thisYear" th:text="${thisYear}"></span>년
                            <span name="thisMonth" th:text="${thisMonth}"></span>월
                        </div>&nbsp;&nbsp;
                        <a th:href="'/calendar/' + ${thisMonth}">
                            <button class="nav-btn go-next"  >&gt;</button>
                        </a>
                </div>

                <!-- pc version -->
                <div class="main" id="main_pc">
                    <div style="margin-bottom: 0" class="days">
                        <div style="border-bottom: 3px solid red" class="day">일</div>
                        <div style="border-bottom: 3px solid gray" class="day">월</div>
                        <div style="border-bottom: 3px solid gray" class="day">화</div>
                        <div style="border-bottom: 3px solid gray" class="day">수</div>
                        <div style="border-bottom: 3px solid gray" class="day">목</div>
                        <div style="border-bottom: 3px solid gray" class="day">금</div>
                        <div style="border-bottom: 3px solid blue" class="day">토</div>
                    </div>
                    <div id="dates" class="dates">
                        <div class="date" th:each="date, iterStat: ${calendarDateList}" >
                            <div>
                                <!--  calendar upside part  -->
                                <div class="upside" th:style="${date.day} < ${today}-1 and ${date.month} <= ${thisMonth} ? 'display: none':''">
                                    <span class="this date_day" th:text="${date.day}"></span>&nbsp;
                                    <span class="this date_season season" th:text="${date.season}"></span>
                                </div>
                                <!-- 예약 불가 -->
                                <div class="no_reserve" th:style="${date.day} < ${today}-1 and ${date.month} <= ${thisMonth} ? 'display:block;':'display:none;' ">
                                    <p>예약 불가</p>
                                </div>
                                <!--  calendar downside part  -->
                                <div th:id="${date.day}" class="downside" th:style="${date.day} < ${today}-1 and ${date.month} <= ${thisMonth} ? 'display: none':''">
                                    <div th:if="${dateCampingList[iterStat.index][0].reserved} != '1'">
                                        <a th:href="'/europe_reserve/'+${date.dateId}" th:style="${date.day} < ${today}-1 and ${date.month} <= ${thisMonth} ? 'display: none':''">
                                            <span class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName}"></span><span>(0/1)</span>
                                        </a>
                                    </div>
                                    <div class="reserved_selections" th:unless="${dateCampingList[iterStat.index][0].reserved} != '1'">
                                        <span class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName}"></span><span>(1/1)</span>
                                    </div>

                                    <div th:if="${dateCampingList[iterStat.index][1].reserved} != '1'">
                                        <a th:href="'/liomousine_reserve/'+${date.dateId}" th:style="${date.day} < ${today}-1 and ${date.month} <= ${thisMonth} ? 'display: none':''">
                                            <span class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName}"></span><span>(0/1)</span>
                                        </a>
                                    </div>
                                    <div class="reserved_selections" th:unless="${dateCampingList[iterStat.index][1].reserved} != '1'">
                                        <span class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName}"></span><span>(1/1)</span>
                                    </div>

                                    <div th:if="${dateCampingList[iterStat.index][2].reserved} != '1'" >
                                        <a th:href="'/travel_reserve/'+${date.dateId}">
                                            <span class="this" th:text="${dateCampingList[iterStat.index][2].carName.carName}"></span><span>(0/1)</span>
                                        </a>
                                    </div>
                                    <div class="reserved_selections" th:unless="${dateCampingList[iterStat.index][2].reserved} != '1'" >
                                        <span th:text="${dateCampingList[iterStat.index][2].carName.carName}"></span><span>(1/1)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- mobile version -->
                <div class="main" id="main_mobile">
                    <div class="days" id="days">
                        <div id="day_sun" class="day">일</div>
                        <div class="day">월</div>
                        <div class="day">화</div>
                        <div class="day">수</div>
                        <div class="day">목</div>
                        <div class="day">금</div>
                        <div id="day_sat" class="day">토</div>
                    </div>
                    <div class="dates">
                        <div class="date" th:each="date, iterStat: ${calendarDateList}" >
                            <!--  calendar upside part  -->
                            <div class="upside text-center">
                                <div class="day_wrapper" th:id="${date.dateId+'day'}"
                                     th:style="(${dateCampingList[iterStat.index][0].reserved} == '1' and ${dateCampingList[iterStat.index][1].reserved} == '1' and ${dateCampingList[iterStat.index][2].reserved} == '1')
                                     or ${date.day} < ${today}-1 and ${date.month} <= ${thisMonth} ? 'pointer-events: none; color: gray;'" onclick="dayDetail(id)">
                                    <p th:text="${date.day}" ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="day_detail" style="background-color: aliceblue; font-weight: bold">
                        <div th:id="${date.dateId}" class="detail_wrapper" th:each="date, iterStat: ${calendarDateList}"
                                th:style="${date.day} == ${today} and ${date.month} == ${thisMonth}? 'display:flex'">
                            <div>
                                <p th:text="${thisYear+'-'+date.month+'-'+date.day+' [ '+date.season+' ]'}"></p>
                                <p>선택한 날짜의 객실 목록</p>
                            </div>
                            <a th:href="'/europe_reserve/'+${date.dateId}">
                            <div class="detail_selections" th:if="${dateCampingList[iterStat.index][0].reserved} != '1'">
                                <span class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName}"></span><span>(0/1)</span>
                            </div>
                            </a>
                            <div class="detail_selections" th:unless="${dateCampingList[iterStat.index][0].reserved} != '1'">
                                <span class="this" th:text="${dateCampingList[iterStat.index][0].carName.carName}"></span><span>(1/1)</span>
                            </div>
                            <a th:href="'/liomousine_reserve/'+${date.dateId}">
                            <div class="detail_selections" th:if="${dateCampingList[iterStat.index][1].reserved} != '1'">
                                <span class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName}"></span><span>(0/1)</span>
                            </div>
                            </a>
                            <div class="detail_selections" th:unless="${dateCampingList[iterStat.index][1].reserved} != '1'">
                                <span class="this" th:text="${dateCampingList[iterStat.index][1].carName.carName}"></span><span>(1/1)</span>
                            </div>
                            <a th:href="'/travel_reserve/'+${date.dateId}">
                            <div class="detail_selections" th:if="${dateCampingList[iterStat.index][2].reserved} != '1'"  >
                                <span class="this" th:text="${dateCampingList[iterStat.index][2].carName.carName}"></span><span>(0/1)</span>
                            </div>
                            </a>
                            <div class="detail_selections" th:unless="${dateCampingList[iterStat.index][2].reserved} != '1'" >
                                <span th:text="${dateCampingList[iterStat.index][2].carName.carName}"></span><span>(1/1)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</html>