<!-- 캠핑카렌트(rent_camping.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 캠핑카 렌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/camping.css}" rel="stylesheet">
    <script th:src="@{/js/campingcar.js}"></script>

    <script th:src="@{/js/europe_reserve.js}" defer ></script>
</head>

<body>
    <div layout:fragment="content">
        <div th:replace="fragments/header_camp::headerFragment"></div>

        <!-- content whole wrapper-->
        <div id="wrapper" class="content pinside60">
            <!--  content body-->
            <div class="row">
                <!-- left column -->
                <div class="col lg-8 col-md-8 col-sm-12 col-xs-12 margin-bottom-60 text-center ">
                    <!-- left content1 -->
                    <div class="row padding-bottom-60 text-center">
                        <h1>Limousine VIP CAMPER</h1>
                        <h3>모터홈의 디럭스풍 디자인</h3>
                    </div>
                    <!-- left content2 -->
                    <div id="liomousine" class="car_type text-center pinside30 bg-light margin-bottom-40">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pinside10">
                            <h3>CAPMER 명</h3>
                            <h3>Limousine VIP</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pinside10">
                            <h3>연료 / 미션</h3>
                            <h3>디젤 / Auto</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pinside10">
                            <h3>면허 종류</h3>
                            <h3>1종 보통</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pinside10">
                            <h3>인원</h3>
                            <h3>4인승</h3>
                        </div>
                    </div>
                    <!-- left content3 -->
                    <div class="row padding-bottom-0 width-height-box" style="padding: 0px">
                        <img th:src="@{/img/limimg11.JPG}" id="headerImg" width="100%" height="100%" style="object-fit:contain; max-height: 500px">
                    </div>
                    <!-- left content4   -->
                    <div class="row margin-bottom-40">

                        <!--                        <img th:src="@{/img/limimg3.jpg}" id="carImg2" width="15%" height="100px" onclick="toggleImg('carImg2')">-->
                        <img th:src="@{/img/limimg11.JPG}" id="carImg10" width="15%" height="100px" onclick="toggleImg('carImg10')">
                        <img th:src="@{/img/limimg10.JPG}" id="carImg9" width="15%" height="100px" onclick="toggleImg('carImg9')">
                        <img th:src="@{/img/limimg22.jpg}" id="carImg18" width="15%" height="100px" onclick="toggleImg('carImg18')">
                        <img th:src="@{/img/limimg21.jpg}" id="carImg15" width="15%" height="100px" onclick="toggleImg('carImg15')">
                        <img th:src="@{/img/limimg4.jpg}" id="carImg3" width="15%" height="100px" onclick="toggleImg('carImg3')">
                        <img th:src="@{/img/limimg5.jpg}" id="carImg4" width="15%" height="100px" onclick="toggleImg('carImg4')">
                        <img th:src="@{/img/limimg7.jpg}" id="carImg6" width="15%" height="100px" onclick="toggleImg('carImg6')">
                        <img th:src="@{/img/limimg16.jpg}" id="carImg16" width="15%" height="100px" onclick="toggleImg('carImg16')">
                        <img th:src="@{/img/limimg9.jpg}" id="carImg8" width="15%" height="100px" onclick="toggleImg('carImg8')">
                        <img th:src="@{/img/limimg12.JPG}" id="carImg11" width="15%" height="100px" onclick="toggleImg('carImg11')">
                        <img th:src="@{/img/limimg14.jpg}" id="carImg14" width="15%" height="100px" onclick="toggleImg('carImg14')">
                        <img th:src="@{/img/limimg19.JPG}" id="carImg20" width="15%" height="100px" onclick="toggleImg('carImg20')">

                    </div>

                </div>

                <!-- right column -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-60 text-center">
                    <!-- 대여날짜 -->
                    <div class="select_wrapper row" onclick="doDisplay()">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="date_menu"><h5>시작날짜</h5></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="date_time"><span id='rent_date'  th:title="${dateId}" th:class="${clickedYear}+'년'+${clickedMonth}+'월 '+${clickedDay}+'일요일'+${clickedWDay}"></span></div>
                        </div>
<!--                        <div class="down_arrow col-lg-1 col-md-1 col-sm-1 col-xs-1">-->
<!--                            <img th:src="@{/img/down-arrow.png}" class="img-responsive">-->
<!--                        </div>-->
                    </div><hr />
                    <!-- 대여날짜 달력 -->
                    <div id="calendar_rental" class="row">
                        <div class="header">
                            <a th:href="'/camping/calendar/limousine_reserve/' + ${clickedPrevYear} + '/'+ ${clickedPrevMonth}">
                                <button class="nav-btn go-prev"><i class="fas fa-caret-left" style="font-size: 28px;"></i></button>&nbsp;
                            </a>&nbsp;
                            <div class="year-month">
                                <span name="thisYear" th:text="${clickedYear}"></span>년
                                <span name="thisMonth" th:text="${clickedMonth}"></span>월
                            </div>&nbsp;&nbsp;
                            <a th:href="'/camping/calendar/limousine_reserve/' + ${clickedNextYear} + '/'+ ${clickedNextMonth}">
                                <button class="nav-btn go-next" ><i class="fas fa-caret-right" style="font-size: 28px;"></i></button>
                            </a>
                        </div>
                        <div class="main">
                            <div class="days">
                                <div class="day">일</div>
                                <div class="day">월</div>
                                <div class="day">화</div>
                                <div class="day">수</div>
                                <div class="day">목</div>
                                <div class="day">금</div>
                                <div class="day">토</div>
                            </div>
                            <div id="rent_cal" class="dates btn-group">
                                <div class="date no-padding" th:each="date, iterStat: ${calendarDateList}">
                                    <label th:for="${date.month+'월 '+date.day+'일'}"
                                           th:class="${dateCampingList[iterStat.index][1].reserved} == '1' or (${date.day} < ${today}-1 and ${date.month} <= ${thisMonth}) ? 'disabled_radio' : 'able_radio'">
                                        <input class="this date_day" type="radio" th:id="${date.month+'월 '+date.day+'일'}" th:name="${thisYear}" th:title="${date.season}"
                                               th:value="${date.wDay}" th:text="${date.day}" onclick="sendRentDate(id, name, value);"/>
                                    </label>
                                </div>
                            </div>
                            <div class="select_possible text-right">
                                <span style="padding-right: 30px"> <span style="color: rgb(180 255 175 / 57%);">●</span> 선택가능 </span>
                                <span style="padding-right: 30px"> <span style="color: #9d9d9d">●</span> 선택불가 </span>
                            </div>
                        </div><hr />
                    </div>

                    <!-- 대여 시간 -->
                    <div class="select_wrapper row" onclick="doDisplay_rent_time()">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="date_menu"><h5>시작시간</h5></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="date_time"><h5>시간을 선택해주세요</h5></div>
                        </div>
<!--                        <div class="down_arrow col-lg-1 col-md-1 col-sm-1 col-xs-1">-->
<!--                            <img th:src="@{/img/down-arrow.png}" class="img-responsive">-->
<!--                        </div>-->
                    </div><hr style="background: dimgray;" />

                    <!-- 대여 시간 선택창 -->
                    <div id="calendar_rental_time">
                        <div id="rent_time" class="row">
                            <div class="times text-center">
                                <label for="10시">
                                    <input type="radio" id="10시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 10시
                                </label>
                                <label for="11시">
                                    <input type="radio" id="11시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 11시
                                </label>
                                <label for="12시">
                                    <input type="radio" id="12시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 12시
                                </label>
                                <label for="13시">
                                    <input type="radio" id="13시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 13시
                                </label>
                                <label for="14시">
                                    <input type="radio" id="14시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 14시
                                </label>
                                <label for="15시">
                                    <input type="radio" id="15시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 15시
                                </label>
                                <label for="16시">
                                    <input type="radio" id="16시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 16시
                                </label>
                                <label for="17시">
                                    <input type="radio" id="17시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 17시
                                </label>
                                <label for="18시">
                                    <input type="radio" id="18시" class="rent_time_radio" name="time1" onclick="rentTimeSel(id)" /> 18시
                                </label>

                                <p style="margin-top: 15px; font-size: 14px"><span style="color: red">*</span>배차예약은 회차시간이후 1~2시간이후로 부탁드립니다.</p>
                                <p style="margin-top: 15px; font-size: 14px"><span style="color: red">*</span>6시 이후 대여 및 반납은 전화 문의 해주시기 바랍니다.</p>

                            </div>
                        </div><hr id="hr_time" style="background: dimgray;" />
                    </div>

                    <div class="select_wrapper row" onclick="doDisplay_return()">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="date_menu"><h5>렌트기간</h5></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="date_time"><h5>렌트일자를 선택해주세요</h5></div>
                        </div>
<!--                        <div class="down_arrow col-lg-1 col-md-1 col-sm-1 col-xs-1">-->
<!--                            <img th:src="@{/img/down-arrow.png}" class="img-responsive">-->
<!--                        </div>-->
                    </div><hr style="background: dimgray;" />

                    <div id="rent_days">
                        <div id="calendar_return">
                            <div>
                                <label for="days_select">렌트 일자</label>
                                <select name="days" id="days_select" onchange="daysSelect()">
                                </select>
                            </div>
                            <div>
                                <p><span style="color: red">*</span>다음 예약일 전까지 가능한 날짜만큼만 표시됩니다.</p>
                            </div>

                            <hr style="background: dimgray;" />
                        </div>

                        <div id="extra_time_sel">
                            <div>
                                <label for="extratime_select">추가 시간</label>
                                <select name="extratime" id="extratime_select" onchange="timeSelect()">
<!--                                    <option value="0">==추가 시간 선택==</option>-->
                                </select>
                            </div>
                            <div>
                                <p><span style="color: red">*</span>반납시간 18시까지만 추가시간이 표시됩니다.</p>
                                <p>18시 이후 반납은 전화문의 해주시기 바랍니다.</p>
                            </div>

                        </div>

                    </div>

                    <div>
                        <div id="calResultWrapper">
                            <div class="sel_options" id="sel_option">
                                <h2>선택 사항</h2>
                                <hr style="color: dimgray;"/>

                                <div id="sel_options_output">
                                    <div class="sel_options_outputs">
                                        <p id="sel_option_output1_1"></p>
                                        <p id="sel_option_output1_2"></p>
                                    </div>
                                    <p id="sel_option_length">➔</p>
                                    <div class="sel_options_outputs">
                                        <p id="sel_option_output2_1"></p>
                                        <p id="sel_option_output2_2"></p>
                                    </div>
                                </div>

                                <hr style="margin: 10px 0"/>
                            </div>
                            <div class="sel_options" id="sel_price">
                                <div class="result_details">
                                    <h4>총 렌트료<span>(VAT미포함)</span></h4>
                                    <p id="calRentFee"></p>
                                </div>
                                <div class="result_details">
                                    <h4>추가시간 요금<span>(VAT미포함)</span></h4>
                                    <p id="calExtraFee"></p>
                                </div>
                                <div class="result_details">
                                    <h4>VAT</h4>
                                    <p id="calVat"></p>
                                </div><hr style="color: dimgray" />

                                <div class="result_details">
                                    <h4>총 결제금액<span>(VAT포함)</span></h4>
                                    <p id="calResult"></p>
                                </div>
                            </div>
                            <hr style="background: dimgray; margin: 15px 0;" />
                        </div>
                    </div>

                    <!-- 계산 부분 -->
                    <div class="row">
                        <div>
                            <div>
                                <p id="total_result"></p>
                            </div>

                            <button id="btn_reserve" onclick="postDate()">예약신청하기</button>

                        </div>
                    </div><hr style="background: dimgray;" />
                </div>

                <!-- 사진 -->

                <!-- 밑부분 -->
                <div class="">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
                        <div class="bg-light pinside30" style="margin-top: 20px;  padding: 0px">
                            <div class="row pinside30">
                                <div class="row pinside10">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h2>CAPMER 요금</h2>
                                        <br />
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="overflow-x: auto;">
                                        <img th:src="@{/img/limousine-price.jpg}" id="priceImg" width="100%" height="70%">
                                        <br /><br />
                                        <div th:replace="/fragments/camping_explanations.html :: camper_price"></div>
                                    </div>
                                </div>

                                <div class="row pinside10">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h2>CAPMER 기본 옵션</h2>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div th:replace="/fragments/camping_explanations.html :: limousine_basic_option"></div>

                                    </div>
                                </div>
                                <div class="row pinside10">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h2>CAPMER 시설</h2>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div th:replace="/fragments/camping_explanations.html :: limousine_installation"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 간편상담 란-->

                <div class="">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >

                        <div class="bg-light pinside30" style="margin-top: 20px; padding: 0px">

                            <div class="row pinside30">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h2>CAPMER 렌트정책</h2>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div th:replace="/fragments/camping_explanations.html :: rent_policy"></div>

                                </div>
                            </div>
                            <div class="row pinside30">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h2>CAPMER 보험사항</h2>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div th:replace="/fragments/camping_explanations.html :: rent_insurance"></div>
                                </div>
                            </div>
                            <div class="row pinside30">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h2>CAPMER 이용규칙</h2>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div th:replace="/fragments/camping_explanations.html :: rent_rule"></div>
                                </div>
                            </div>
                            <div class="row pinside30">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h2>CAPMER 환불정책</h2>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div th:replace="/fragments/camping_explanations.html :: refund_policy"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>