<!--  차량 상세 페이지 진행중 (car_detail.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 월렌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/car_detail.css}" rel="stylesheet">

    <script th:src="@{/js/car_detail.js}" defer></script>

</head>
<body>
    <div layout:fragment="content">
        <div th:replace="fragments/header_camp::headerFragment"></div>

        <div class="car_detail_content">

            <!-- title row -->
            <div class="row">
                <div>
                    <h1><a><-</a> 차량 이름</h1>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li><a href="" data-toggle="tab">차량 정보</a></li>
                        <li><a href="" data-toggle="tab">사양 정보</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- info car -->
                        <div class="tab-pane active" id="info_car">
                            <div class="row">
                                <!-- car picture carousel -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                </div>
                                <!-- infos -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                </div>
                            </div>
                        </div>
                        <!-- detail car -->
                        <div class="tab-pane" id="info_detail">

                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>

        </div>
    </div>
</body>


</html>