
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <!-- Title -->
    <title>SAVECAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <link th:href="@{/css/index.css}" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    </style>
    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse"  data-offset="50">

<div layout:fragment="content" class="padding_top_only_mobile">
    <!-- popup.html -->
<!--    <th:block th:replace="fragments/popup::popupFragment" ></th:block>-->

    <script th:src="@{/js/start.js}"></script>


    <!----------------------------------------->
    <!------------ home pc section ------------>
    <!----------------------------------------->


    <!-- service block -->
    <section id="home_pc" class="feature sections">
        <div class="container space-small" style="width: 1500px">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                        <div class="row-main-card"  style="border: 2px solid white; border-radius: 10px; padding-top: 30px; padding-bottom: 0px; background: white">
                            <div class="service-block text-center">
                                    <!-- service block -->
                                    <div class="service-content" style="padding: 20px 0 0 0; line-height: 0;">
                                        <h1 style="font-family: 'Do Hyeon', sans-serif;color: black;">월렌트+12개월렌트</h1>
                                    </div>
                                    <br>
                                        <!-- service content -->
                                        <div class="service-img-main ">
                                            <a href="/rent/month/new" class="imgzoom">
                                                <img th:src="@{/img/main-card-monthly.png}" width="200" height="200" style="border-radius: 30%">
                                            </a>
                                        </div>
                                        <!-- service content -->
                                        <div class="service-text-main" style="padding-top: 40px;">
                                            <p style="font-size: 1.6rem; color: black; margin: 0px;">월/12개월 단위로 대여하는 상품입니다.</p>
                                            <p style="font-size: 1.6rem; color: black">실시간으로 가격을 조회해보실 수 있습니다.</p>
                                        </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="row-main-card"  style="border: 2px solid white; border-radius: 10px; padding-top: 30px; padding-bottom: 0px; margin-left: 5px;  background: white">

                            <div class="service-block text-center" >

                                <!-- service block -->
                                <div class="service-content" style="padding: 20px 0 0 0; line-height: 0;">
                                    <h1 style="font-family: 'Do Hyeon', sans-serif;color: black;">누구나 장기렌트</h1>
                                </div>

                                <br>
                                    <!-- service content -->
                                    <div class="service-img-main ">
                                        <a href="/rent/long_term" class="imgzoom">
                                            <img th:src="@{/img/main-card-yearly.png}" width="200" height="200"  style="border-radius: 30%">
                                        </a>
                                    </div>
                                    <!-- service content -->
                                    <div class="service-text-main" style="padding-top: 40px;">
                                        <p style="font-size: 1.6rem; color: black; margin: 0px;">누구나 이용할 수 있는 장기렌트 상품입니다.</p>
                                        <p style="font-size: 1.6rem; color: black">원하시는 차량의 견적을 받아보실 수 있습니다.</p>
                                    </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="row-main-card"  style="border: 2px solid white; border-radius: 10px; padding-top: 30px; padding-bottom: 0px; margin-left: 5px; background: white">

                            <div class="service-block text-center">

                                <!-- service block -->
                                <div class="service-content" style="padding: 20px 0 0 0; line-height: 0;">
                                    <h1 style="font-family: 'Do Hyeon', sans-serif;color: black;">캠핑카 렌트</h1>
                                </div>
                                <br>
                                    <!-- service content -->
                                    <div class="service-img-main ">
                                        <a href="/camping/main" class="imgzoom">
                                            <img th:src="@{/img/main-card-camp.png}"  width="200" height="200" style="border-radius: 30%;">
                                        </a>
                                    </div>
                                    <!-- service content -->
                                    <div class="service-text-main" style="padding-top: 40px;">
                                        <p style="font-size: 1.6rem; color: black; margin: 0px;">캠핑카를 대여하는 상품입니다.</p>
                                        <p style="font-size: 1.6rem; color: black">럭셔리한 캠핑카가 준비되어 있습니다.</p>
                                    </div>
                            </div>
                        </div>
<!--                    &lt;!&ndash; AtoZSEOTools Counter Code START &ndash;&gt;-->
<!--                    <a href="https://ciroapp.com/free-tools/website-visitor-counter" target="_blank" title="Web Counter">-->
<!--                        <img src="https://ciroapp.com/free-tools/website-visitor-counter/count/&style=style5&show=p&num=9&uid=iR"  title="Web Counter" alt="AtoZSEOTools Web Counter" />-->
<!--                    </a>-->
<!--                    &lt;!&ndash; AtoZSEOTools Counter Code END &ndash;&gt;-->

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="row-main-card"  style="border: 2px solid white; border-radius: 10px; padding-top: 30px; padding-bottom: 0px; margin-left: 5px;  background: white">

                            <div class="service-block text-center" >

                                <!-- service block -->
                                <div class="service-content" style="padding: 20px 0 0 0; line-height: 0;">
                                    <h1 style="font-family: 'Do Hyeon', sans-serif;color: black;">자동차구독</h1>
                                </div>

                                <br>
                                    <!-- service content -->
                                    <div class="service-img-main ">
                                        <a href="/rent/subscribe" class="imgzoom">
                                            <img th:src="@{/img/main-card-yearly.png}" width="200" height="200"  style="border-radius: 30%">
                                        </a>
                                    </div>
                                    <!-- service content -->
                                    <div class="service-text-main" style="padding-top: 40px;">
                                        <p style="font-size: 1.6rem; color: black; margin: 0px;">보다 저렴한 렌트 상품입니다.</p>
                                        <p style="font-size: 1.6rem; color: black">렌트카와 일반 차가 준비되어 있습니다.</p>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of service block -->


    <!--home mobile Section -->
    <section id="home" class="home">
        <div class="container" style="padding: 0px;">
<!--            <div class="row" style="width: max-content; margin: 0 auto;">-->
<!--                <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12" style="margin-top: 50px;">-->
<!--                    <div class="service-block-mobile text-center align-center">-->

<!--                        &lt;!&ndash; service content &ndash;&gt;-->
<!--                        <div id="service-text-mobile">-->
<!--                            <p style="font-family: 'Do Hyeon', sans-serif; font-size: 2rem;">세이브카 Services</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="row" style="margin-right: 0; margin-left: 0;">
                <div class="col-sm-1 col-lg-1 col-xs-1 col-md-1">

                </div>
                <div class="col-sm-10 col-lg-10 col-xs-10 col-md-10">
                    <a href="/rent/month/new">
                        <div class="row" style="margin: 0 -20px; border: 2px solid #2b2d2c; border-radius: 20px; background: black">


                            <div class="col-sm-5 col-lg-5 col-xs-5 col-md-5" style="margin-top: 30px;">
                                <div class="service-block-mobile text-center align-center">
                                    <img th:src="@{/img/main-card-monthly.png}" width="70%" height="90" style="border-radius: 30%">
                                </div>
                            </div>
                            <div class="col-sm-7 col-lg-7 col-xs-7 col-md-7">
                                <div class="row">

                                    <!-- service block -->
                                    <div class="service-content-mobile text-center" style="height: 80px; padding: 25px 20px 0 0; line-height: 0;">
                                        <h2 style="font-family: 'Do Hyeon', sans-serif;color: whitesmoke;margin: 0;">월렌트+</h2>
                                        <h2 style="font-family: 'Do Hyeon', sans-serif;color: whitesmoke;margin: 0;">12개월렌트</h2>
                                    </div>
                                    <br>
                                </div>
                                <div class="row">

                                    <!-- service img -->
                                    <div class="service-content text-center"  style="padding: 0 20px 0 0; margin-bottom: 15px">
                                        <img th:src="@{/img/arrow1.png}" width="30" height="30"  style="border-radius: 50%">
                                    </div>

<!--                                    <a href="tel:1661-3331"><button class="fixed_phone_btn" ><img th:src="@{/img/callblack.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block"></button></a>-->
<!--                                    <a href="sms:010-5277-4113"><button class="fixed_message_btn" ><img th:src="@{/img/email2.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block"></button></a>-->

                                </div>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-1 col-lg-1 col-xs-1 col-md-1">

                </div>
            </div>

            <!-- -->

            <div class="row" style="margin-right: 0; margin-left: 0;">
                <div class="col-sm-1 col-lg-1 col-xs-1 col-md-1">

                </div>
                <div class="col-sm-10 col-lg-10 col-xs-10 col-md-10">
                    <a href="/rent/long_term">
                        <div class="row" style="margin: 0 -20px; border: 2px solid #c70808; border-radius: 20px; background: white">


                            <div class="col-sm-5 col-lg-5 col-xs-5 col-md-5" style="margin-top: 30px;">
                                <div class="service-block-mobile text-center align-center">
                                    <img th:src="@{/img/main-card-yearly.png}" width="70%" height="90" style="border-radius: 30%">
                                </div>
                            </div>
                            <div class="col-sm-7 col-lg-7 col-xs-7 col-md-7">
                                <div class="row">

                                    <!-- service block -->
                                    <div class="service-content-mobile text-center" style="height: 80px; padding: 30px 20px 0 0; line-height: 0;">
                                        <h2 style="font-family: 'Do Hyeon', sans-serif;color: black;margin: 0;">누구나</h2>
                                        <h2 style="font-family: 'Do Hyeon', sans-serif;color: black;margin: 0;">장기렌트</h2>
                                    </div>
                                    <br>

                                </div>
                                <div class="row">

                                    <!-- service img -->
                                    <div class="service-content text-center"  style="padding: 0 20px 0 0; margin-bottom: 15px">
                                        <img th:src="@{/img/arrow1.png}" width="30" height="30"  style="border-radius: 50%">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-1 col-lg-1 col-xs-1 col-md-1">

                </div>
            </div>

            <!-- -->
            <div class="row" style="margin-right: 0; margin-left: 0;">
                <div class="col-sm-1 col-lg-1 col-xs-1 col-md-1">

                </div>
                <div class="col-sm-10 col-lg-10 col-xs-10 col-md-10">
                    <a href="/camping/main">
                        <div class="row" style="margin: 0 -20px; border: 2px solid #4e4c4c; border-radius: 20px; background: #4e4c4c">


                            <div class="col-sm-5 col-lg-5 col-xs-5 col-md-5" style="margin-top: 30px;">
                                <div class="service-block-mobile text-center align-center">
                                    <img th:src="@{/img/main-card-camp.png}" width="70%" height="90" style="border-radius: 30%">
                                </div>
                            </div>
                            <div class="col-sm-7 col-lg-7 col-xs-7 col-md-7">
                                <div class="row">

                                    <!-- service block -->
                                    <div class="service-content-mobile text-center" style="height: 80px; padding: 40px 20px 0 0; line-height: 0;">
                                        <h2 style="font-family: 'Do Hyeon', sans-serif;color: whitesmoke;margin: 0;">캠핑카렌트</h2>
                                    </div>
                                    <br>

                                </div>
                                <div class="row">

                                    <!-- service img -->
                                    <div class="service-content text-center"  style="padding: 0 20px 0 0; margin-bottom: 15px">
                                        <img th:src="@{/img/arrow1.png}" width="30" height="30"  style="border-radius: 50%">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-1 col-lg-1 col-xs-1 col-md-1">

                </div>
            </div>

            <!-- -->
            <div class="row" style="margin-right: 0; margin-left: 0;">
                <div class="col-sm-1 col-lg-1 col-xs-1 col-md-1">

                </div>
                <div class="col-sm-10 col-lg-10 col-xs-10 col-md-10">
                    <a href="/rent/subscribe">
                        <div class="row" style="margin: 0 -20px; border: 2px solid #f8dcdc; border-radius: 20px; background: #f8dcdc">


                            <div class="col-sm-5 col-lg-5 col-xs-5 col-md-5" style="margin-top: 30px;">
                                <div class="service-block-mobile text-center align-center">
                                    <img th:src="@{/img/main-card-yearly.png}" width="70%" height="90" style="border-radius: 30%">
                                </div>
                            </div>
                            <div class="col-sm-7 col-lg-7 col-xs-7 col-md-7">
                                <div class="row">

                                    <!-- service block -->
                                    <div class="service-content-mobile text-center" style="height: 80px; padding: 40px 20px 0 0; line-height: 0; ">
                                        <h2 style="font-family: 'Do Hyeon', sans-serif;color: black;margin: 0;">자동차구독</h2>
                                    </div>
                                    <br>

                                </div>
                                <div class="row">

                                    <!-- service img -->
                                    <div class="service-content text-center"  style="padding: 0 20px 0 0; margin-bottom: 15px">
                                        <img th:src="@{/img/arrow1.png}" width="30" height="30"  style="border-radius: 50%">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-1 col-lg-1 col-xs-1 col-md-1">

                </div>
            </div>

        </div>
    </section>
    <!--End of home section -->


    <!--home mobile Section -->
<!--    <section id="home" class="home">-->
<!--        <div class="overlay">-->
<!--            <div class="home_skew_border">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 main_clogo">-->


<!--                            <div class="main_home_slider text-center">-->
<!--                                <div class="single_home_slider">-->
<!--                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">-->


<!--                                        <h3 class="index-text">WELCOME TO SAVE-CAR</h3>-->
<!--                                        <h1 class="index-text"><b>세이브카 사이트 가격오픈</b></h1>-->
<!--                                        <div class="separator"></div>-->
<!--                                        <h3 class="index-text">다양한 차량 제공 및 고객의 안전을 최우선으로 한 정비-->
<!--                                            <br> 그리고 더욱 더 저렴한 렌트료 제공으로 고객의 만족을 위한 세이브카가 되겠습니다.</h3>-->
<!--                                        <br>-->
<!--                                        <div class="home_btn">-->
<!--                                            <a class="btn1 btn2-default" href="tel:1661-3331" style="font-size: medium; font-weight: bold; margin: 2.5px; width: 240px; height: 50px;">1661-3331 &nbsp; <img th:src="@{/img/callblack.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block"> </a>-->
<!--                                            <a class="btn1 btn2-default" href="sms:010-5277-4113" style="font-size: medium; font-weight: bold; margin: 2.5px;width: 240px; height: 50px;">간단 문자보내기  &nbsp; <img th:src="@{/img/email2.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block"></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="scrooldown">-->
<!--                    <a href="#trial"><i class="fa fa-arrow-down"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!--End of home section -->


    <!----------------------------------------->
    <!------------ 간편 상담신청 section ------------>
    <!----------------------------------------->
    <br><br>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 10px;">
                    <div class="bg-light pinside30">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3>간편 상담신청</h3>
                                <hr>
                                <form name="reservation-info">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label" for="name"><span style="color:red">*</span> 이름</label>
                                                <textarea class="form-control" id="reservation-detail-name" name="textarea" rows="1" placeholder="이름을 입력해주세요."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label" for="phone"><span style="color:red">*</span> 연락처</label>
                                                <textarea class="form-control" id="reservation-detail-phone" name="textarea" rows="1" placeholder="연락처를 입력해주세요."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label" for="carname">차량명</label>
                                                <textarea class="form-control" id="reservation-detail-carname" name="textarea" rows="1" placeholder="차량명을 입력해주세요."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                    <label class="control-label" for="region">지역</label>
                                                    <textarea class="form-control" id="reservation-detail-region" name="textarea" rows="1" placeholder="지역을 입력해주세요."></textarea>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label" for="resdate">대여 일자</label>
                                                <textarea class="form-control" id="reservation-detail-resdate" name="textarea" rows="1" placeholder="예상 대여일자를 입력해주세요."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label" for="textarea">요청 사항</label>
                                                <textarea class="form-control" id="reservation-detail-details" name="textarea" rows="1" placeholder="요청사항을 입력해주세요."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <p class="text-center"><label><input id="agree" type="checkbox"> 개인정보 수집 및 이용에 동의합니다.</label></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group text-center" style="margin:0px">
                                                <a class="btn1 btn1-default" onclick="make_easy_reservation()" href="#">상담신청 </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!----------------------------------------->
    <!------------ service section ------------>
    <!----------------------------------------->
    <br><br><br><br>


    <!-- Rent Section -->
    <section id="rent" class="rent">
        <div class="space-medium bg-light">
            <div class="container">
                <div class="row">
                    <div class="head_title sections text-center">
                        <h1><a href="/rent/month/new">월렌트 + 12개월 렌트</a></h1>
                        <div class="subtitle">
                            <span style="color: red">자차, 정비</span>포함<br>
                            주행거리별 마일리지 제도<br>
                            마일리지별 국내최저가 월렌트 [가격all오픈]

                        </div>
                        <div class="separator"></div>
                            <div class="home_btn">
                                <h3>TEL : 1661 - 3331</h3>
                            </div>
                    </div>
                    <div class="popup1_box1" style="margin-top: 50px">
                        <table class="popup1_table">
                            <tr style="border-bottom: solid 1px black">
                                <td>차종</td>
                                <td>
                                    <span>한달렌트</span>
                                </td>
                                <td>
                                    <span>차종</span>
                                </td>
                                <td>
                                    <span>한달렌트</span>
                                </td>
                            </tr>
                            <tr>
                                <td>모닝 / 스파크</td>
                                <td>
                                    <span>37만원부터</span>
                                </td>
                                <td>
                                    <span>티볼리 / 스토닉 / 코나</span>
                                </td>
                                <td>
                                    <span>42만원부터</span>
                                </td>
                            </tr>
                            <tr>
                                <td>레이 / 레이밴</td>
                                <td>
                                    <span>38만원부터</span>
                                </td>
                                <td>
                                    <span>스포티지 / 투싼 / QM6</span>
                                </td>
                                <td>
                                    <span>51만원부터</span>
                                </td>
                            </tr>
                            <tr>
                                <td>아반떼 / K3 / SM3</td>
                                <td>
                                    <span>42만원부터</span>
                                </td>
                                <td>
                                    <span>쏘렌토 / 싼타페</span>
                                </td>
                                <td>
                                    <span>55.2만원부터</span>
                                </td>
                            </tr>
                            <tr>
                                <td>쏘나타 / K5 / SM6</td>
                                <td>
                                    <span>43만원부터</span>
                                </td>
                                <td>
                                    <span>팰리세이드 / GV</span>
                                </td>
                                <td>
                                    <span>112만원부터</span>
                                </td>
                            </tr>
                            <tr>
                                <td>그랜저 / K7 / K8</td>
                                <td>
                                    <span>52만원부터</span>
                                </td>
                                <td>
                                    <span>카니발 / 스타렉스</span>
                                </td>
                                <td>
                                    <span>52만원부터</span>
                                </td>
                            </tr>
                            <tr>
                                <td>G70 / G80 / K9</td>
                                <td>
                                    <span>105만원부터</span>
                                </td>
                                <td>
                                    <span>미니 / 랜드로버 / 익스플로러</span>
                                </td>
                                <td>
                                    <span>120만원부터</span>
                                </td>
                            </tr>
                            <tr>
                                <td>EQ900</td>
                                <td>
                                    <span>145만원부터</span>
                                </td>
                                <td>
                                    <span>벤츠E / BMW5 / 벤츠GLC</span>
                                </td>
                                <td>
                                    <span>135만원부터</span>
                                </td>
                            </tr>
                            <tr>
                                <td>G90 / 신형G80</td>
                                <td>
                                    <span>230만원부터</span>
                                </td>
                                <td>
                                    <span>벤츠S-CLASS</span>
                                </td>
                                <td>
                                    <span>250만원부터</span>
                                </td>
                            </tr>
                        </table>
                    </div>
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/light_car.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>경차</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/segment_medium.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>준중형</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/medium_car.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>중형 승용</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/large_car.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>대형 승용</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/van.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>승합차</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/foreign_car.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>수입차</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/small_medium_rv.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>소중형 RV</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/medium_rv.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>중형 RV</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">-->
<!--                        <div class="project-img mb30" align="center">-->
<!--                            <a href="/rent/month/new" class="imgzoom"><img th:src="@{/img/large_rv.png}" class="img-responsive" alt="Interior Design Website Templates Free Download"></a>-->
<!--                            <h3>대형 RV</h3>-->
<!--                            <p>렌트 실시간 공개</p>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Rent Section -->

    <!----------------------------------------->
    <!------------ feature section ------------>
    <!----------------------------------------->

    <div id="mainTable" class="not-show-in-mobile">
        <table class="table_available" th:unless="${fiveMorenDTOList.isEmpty()}">
            <thead id="table_header" style="background-color: darkgrey">
            <tr>
                <th style="display: none;"></th>
                <th>
                    <p>차량번호</p>
                    <div onclick="sortContent(1, 'available'); displaySortImage('available_1');">
                        <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_1" style="font-size: 22px;"></i>
                    </div>
                </th>
                <th>
                    <p>차명</p>
                    <div onclick="sortContent(2, 'available'); displaySortImage('available_2');">
                        <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_2" style="font-size: 22px;"></i>
                    </div>
                </th>
                <th>
                    <p>연료</p>
                    <div onclick="sortContent(3, 'available'); displaySortImage('available_3');">
                        <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_3" style="font-size: 22px;"></i>
                    </div>
                </th>
                <th>
                    <p>색상</p>
                    <div onclick="sortContent(4, 'available'); displaySortImage('available_4');">
                        <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_4" style="font-size: 22px;"></i>
                    </div>
                </th>
                <th>
                    <p>년식</p>
                    <div onclick="sortContent(5, 'available'); displaySortImage('available_5');">
                        <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_5" style="font-size: 22px;"></i>
                    </div>
                </th>
                <th>
                    <p>월대여료[VAT별도]</p>
                    <div onclick="sortContent(6, 'available', true); displaySortImage('available_6');">
                        <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_6" style="font-size: 22px;"></i>
                    </div>
                </th>
            </tr>
            </thead>
            <!-- pc -->
            <tbody id="mainTable_tbody" style="background-color: white">
            <tr th:each="moren, iterStat : ${fiveMorenDTOList}" class="moveToDetail" th:data-index="${moren.realTimeRentId}"
                th:unless="${moren.monthlyRent.yearlyRent == null}"
            >
                <td scope="col" style="display: none;" th:text="${moren.realTimeRentId}" class="rentId" th:data-index="${moren.realTimeRentId}"></td>
                <td scope="col" th:text="${moren.carNo}"></td>
                <td scope="col" th:text="${moren.carName}"></td>
                <td scope="col" th:text="${moren.carEngine}"></td>
                <td scope="col" th:text="${moren.carExteriorColor}"></td>
                <td scope="col" th:text="${moren.carOld}"></td>
                <td scope="col" class="discountStyle">
                        <span>
                            <span th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2k,0,'COMMA')}"></span>
                            <span>원</span>
                        </span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="empty-list-card" th:if="${fiveMorenDTOList.isEmpty()}">
            <p>검색 결과가 없습니다. 다른 조건으로 검색해주세요.</p>
        </div>
    </div>

    <!-- Client Logo Section -->
    <section id="clogo" class="clogo">
        <div class="container">
            <div class="row">
                <div class="main_clogo sections">
                    <div class="head_title text-center">
                        <div class="subtitle">
                            <h1><a href="/rent/long_term" style="box-shadow: none">누구나 장기 렌트</a></h1>
                            <h3>[장기렌트 대표전화 : 1544-4680]</h3>
                        </div>
                        <div class="separator"></div>
                    </div>
                    <br>
                    <!-- End off Head_title -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pinside30" align="center">
                        <h2><font color="#760C0C" style="font-weight: bold;">원하는 차종 선택</font></h2>
                        <h4>국산차·수입차·직수입차·중고차·캠핑카</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pinside30" align="center">
                        <h2><font color="#760C0C" style="font-weight: bold;">선수금 30% 상품</font></h2>
                        <h4>최저가 누구나 상품 이용</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pinside30" align="center">
                        <h2><font color="#760C0C" style="font-weight: bold;">선수금 10% 상품</font></h2>
                        <h4>소득증빙 3개월 이상</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pinside30" align="center">
                        <h2><font color="#760C0C" style="font-weight: bold;">순회정비</font></h2>
                        <h4>순회정비로 방문 없이 시간 SAVE!</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pinside30" align="center">
                        <h2><font color="#760C0C" style="font-weight: bold;">만26세 · 자차포함</font></h2>
                        <h4>만 21세 별도 문의</h4>
                    </div>
                    <div class="pricing_business">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pinside30" align="center">

                            <h2>장기렌트 신차중고차</h2>
                            <h3><b style="color:rgb(255,0,0)">누구나장기렌트상품</b> 바로가기</h3>
                            <div class="home_btn" style="display: flex; justify-content: space-evenly;">
                                <a class="btn1 btn2-default" href="/rent/long_term" style="font-size: medium; font-weight: bold; margin: 2.5px; word-break: keep-all; border-radius: 20px;">누구나신차 장기렌트</a>
                                <a class="btn1 btn2-default" href="/rent/long_term" style="font-size: medium; font-weight: bold; margin: 2.5px; word-break: keep-all; border-radius: 20px;">누구나중고차 장기렌트</a>
                            </div>
                            <div class="home_btn" style="display: flex; justify-content: space-evenly;">
                                <a class="btn1 btn2-default" href="/rent/long_term#special-long-term-rent" style="font-size: medium; font-weight: bold; margin: 2.5px; width: 100%; border-radius: 20px;">스페셜 누구나 장기렌트</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="divider"></div>
    </section>
    <!-- End off clogo Section -->

    <!-- service block -->
    <section id="feature" class="feature sections">
        <div class="container space-medium">
            <div class="row">
                <div class="head_title sections text-center">
                    <h1><a href="/camping/main">캠핑카 렌트</a></h1>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" th:each="campingCar, i : ${imagesMainList}">
                    <div class="service-block text-center">
                        <!-- service block -->
                        <div class="service-content">
                            <!-- service content -->
                            <h3>
                                <span th:text="${campingCar.carName.carName.toUpperCase()}"></span>
                                <span> VIP CAMPER</span>
                            </h3>
                        </div>
                        <br>
                        <!-- service content -->
                        <div class="service-img ">
                            <!-- service img -->
                            <a th:onclick="moveToCampingReservation([[${campingCar.carName.carName}]])" style="cursor: pointer; border-radius: 40px;" class="imgzoom">
                                <img th:if="${campingCar.imageId != -1}" th:src="${campingCar.url}" width="360" height="360">
                                <img th:if="${campingCar.imageId == -1}" th:src="@{/img/popup_campingcar.png}" width="360" height="360">
                            </a>
                        </div>
                        <!-- service img -->
                    </div>
                    <!-- /.service block -->
                    <div class="form-group text-center">
                        <a th:if="${campingCar.carName.carName != 'travel'}" class="btn1 btn1-default" th:onclick="moveToCampingReservation([[${campingCar.carName.carName}]])" style="cursor: pointer;">상담 신청 </a>
                        <a th:if="${campingCar.carName.carName == 'travel'}" class="btn1 btn1-default" th:onclick="moveToCampingReservation([[${campingCar.carName.carName}]])" style="background-color: #372d2b; cursor: pointer;">장기 대여중 </a>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </section>
    <!-- end of service block -->



    <!--    feature section -->
    <section id="feature1" class="feature sections">
        <div class="container text-center">
            <div class="row padding-bottom-60">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside30">
                    <h3><a href="https://cafe.naver.com/savecarz/5">캠핑카쉐어링 & 장기렌트</a></h3>
                    <div class="separator"></div>
                    <h3 class="index-text" style="color: black">캠핑카를 렌터카회사의 장기렌트 상품으로 구매하고
                        <br/>고가의 캠핑카의 경제적 가치를 높일 수 있는
                        <br/>세이브카 캠핑카 장기렌트 & 쉐어링 상품을 소개합니다.</h3>
                    <br/>
                    <a target='_blank' href="https://cafe.naver.com/savecarz/5" >
                        <div class="imgzoom" >
                            <img th:src="@{/img/campingcar-banner.png}" width="100%" height="100%">
                        </div>
                    </a>
                    <br/><br/>
                    <div class="home_btn">
                        <a target='_blank' class="btn1 btn5-default" href="https://cafe.naver.com/savecarz/5" style="font-size: medium; font-weight: bold; margin: 2.5px; width: 250px;">카페 상품보러가기&nbsp; <img th:src="@{/img/click1.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block"> </a>
                        <!--                            <a class="btn1 btn2-default" href="sms:010-5277-4113" style="font-size: medium; font-weight: bold; margin: 2.5px;width: 220px; ">SMS 간단신청 &nbsp; <img th:src="@{/img/email1.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block"> </a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!----------------------------------------->
    <!------------ Pricing section ------------>
    <!----------------------------------------->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row">
                <div class="main_pricing_area sections">
                    <div class="head_title text-center">
                        <h1><a target='_blank'  href="https://blog.naver.com/PostView.naver?blogId=itscar&logNo=222272287511&categoryNo=8&parentCategoryNo=0&viewDate=&currentPage=6&postListTopCurrentPage=1&from=postView&userTopListOpen=true&userTopListCount=5&userTopListManageOpen=false&userTopListCurrentPage=6">한눈에 보는</a></h1>
                        <h1><a target='_blank'  href="https://blog.naver.com/PostView.naver?blogId=itscar&logNo=222272287511&categoryNo=8&parentCategoryNo=0&viewDate=&currentPage=6&postListTopCurrentPage=1&from=postView&userTopListOpen=true&userTopListCount=5&userTopListManageOpen=false&userTopListCurrentPage=6">세이브카 가격표</a></h1>
                        <div class="separator"></div>
                        <h3 class="index-text" style="color: red; font-weight: bold; font-size: 2.5vh">사이트 가격 오픈 !!</h3>
                        <br/>
                    </div>
                </div>
                <div class="main_pricing_area sections">
                    <!-- End off Head_title -->
                    <div class="col-lg-3 col-xs-12 col-md-3 col-sm-12 pinside20">
                        <div class="single_pricing">
                            <div class="pricing_head">
                                <i class="single_feature_icon_index fas fa-money-check-alt fa-2x"></i>
                                <h2 class="index-text">한눈에 보는</h2>
                                <h2 class="index-text">월렌트 가격표</h2>
                            </div>
                            <div class="pricing_body">
                                <a target='_blank' class="btn btn-md" href="/price/month/%EA%B2%BD%ED%98%95">
                                    가격 보기
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-4 -->
                    <div class="col-lg-3 col-xs-12 col-md-3 col-xs-12 pinside20">
                        <div class="single_pricing pricing_business">
                            <div class="pricing_head">
                                <i class="single_feature_icon_index fas fa-money-check-alt fa-2x"></i>
                                <h2 class="index-text">한눈에 보는</h2>
                                <h2 class="index-text">12개월 렌트 가격표</h2>
                            </div>
                            <div class="pricing_body">
                                <a target='_blank' class="btn btn-md" href="/price/month/%EA%B2%BD%ED%98%95">
                                    가격 보기
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-4 -->
                    <div class="col-lg-3 col-xs-12 col-md-3 col-xs-12 pinside20">
                        <div class="single_pricing">
                            <div class="pricing_head">
                                <i class="single_feature_icon_index fas fa-money-check-alt fa-2x"></i>
                                <h2 class="index-text">한눈에 보는</h2>
                                <h2 class="index-text">단기 렌트 가격표</h2>
                            </div>
                            <div class="pricing_body">
                                <a target='_blank' class="btn btn-md" href="/price/month/%EA%B2%BD%ED%98%95">
                                    가격 보기
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End off col-md-4 -->
                    <div class="col-lg-3 col-xs-12 col-md-3 col-xs-12 pinside20">
                        <div class="single_pricing pricing_business">
                            <div class="pricing_head">
                                <i class="single_feature_icon_index fas fa-money-check-alt fa-2x"></i>
                                <h2 class="index-text">한눈에 보는</h2>
                                <h2 class="index-text">캠핑 가격표</h2>
                            </div>
                            <div class="pricing_body">
                                <a target='_blank' class="btn btn-md" href="/camping/main">
                                    가격 보기
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off row -->
        </div><!-- End off container -->
        <div class="pinside30"></div>

    </section><br><br>
    <!-- End off Pricing Section -->


    <!-- START SCROLL TO TOP  -->
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
</div>



</body>
</html>