<!--  결제창 (paying.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 결제</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/paying.css}" rel="stylesheet">

    <script th:src="@{/js/paying.js}" defer></script>


</head>
<body>
    <div layout:fragment="content">
        <div th:replace="fragments/header_camp::headerFragment"></div>

        <div class="paying_content bg-light">
            <!-- title -->
            <div class="row">

            </div>
            <!-- main content -->
            <div class="row text-center">

                <!-- left content -->
                <div id="left_col" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <!-- 예약 상품 정보 -->
                    <div class="bg-white pinside20 margin-bottom-20" id="info_reserve">
                        <div>
                            <h3 class="text-left">예약 상품 정보</h3>
                        </div>
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <img th:src="@{/img/camping-car1.jpg}" alt="car_pic" />
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="text-left">
                                    <p>상품 이름</p>
                                </div><hr id="hr_reserve"/>
                                <div class="reserve_detail">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <p>대여 일자</p>
                                        <p th:text="${rent_date+' '+rent_time}"></p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <button id="rent_length" class="" disabled>--></button>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <p>반납 일자</p>
                                        <p th:text="${return_date+' '+return_time}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 예약자 정보 -->
                    <div class="bg-white pinside20 margin-bottom-20" id="info_custom">
                        <div>
                            <h3 class="text-left">예약자 정보</h3>
                        </div>
                        <div>
                            <!-- 성명 연락처 -->
                            <div class="input_person">
                                <input id="input_name" type="text" placeholder="성명" />
                                <input id="input_number" type="number" placeholder="연락처" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" oninput="handleOnInput(this, 11)" />
                                <input id="input_deposit" type="text" placeholder="입금자명" />
                            </div>
                            <!-- 요청사항 -->
                            <div class="input_demand">
                                <textarea id="input_demand" type="text" placeholder="요청사항"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- 취소 환불 규정에 대한 동의 -->
                    <div class="bg-white pinside20" id="info_refund">
                        <div>
                            <h3 class="text-left">취소/환불 규정에 대한 동의</h3>
                        </div>
                        <div class="row pinside30 ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                <p>1) 31일전 취소 : 총렌트료의 100%환불</p>
                                <p>2) 30일전 취소 : 총렌트료의 30% 수수료 부과</p>
                                <p>3) 15일전 취소 : 총렌트료의 40% 수수료 부과</p>
                                <p>4) 7일전 취소 : 총렌트료의 50% 수수료 부과</p>
                                <p>5) 3일전 취소 : 총렌트료의 80% 수수료 부과</p>
                                <p>6) 2일전 취소 : 환불불가</p>
                            </div>
                        </div>
<!--                        <div>-->
<!--                            <img src="" alt="refund" />-->
<!--                        </div>-->
                    </div>
                </div>

                <!-- right content -->
                <div id="right_col" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <!-- 최종 금액 -->
                    <div class="bg-white pinside20 margin-bottom-20" id="info_price">
                        <div>
                            <h3 class="text-left">최종 결제 금액</h3>
                        </div>
                        <div>
                            <div class="price_between">
                                <p>상품 가격</p>
                                <p>1,000,000원</p>
                            </div><hr/>
                            <div class="price_between">
                                <p>총 결제금액</p>
                                <p>1,000,000원</p>
                            </div><hr/>
                            <div id="price_desc">
                                <p>※ 총 결제금액의 50% 선결제</p>
                                <p>* 잔금은 추후 결제하시면 됩니다.</p>
                            </div>
                        </div>
                    </div>

                    <!-- 결제 수단 -->
                    <div class="text-left bg-white pinside20 margin-bottom-20" id="info_deposit">
                        <div>
                            <h3 class="text-left">최종 결제 금액</h3>
                        </div>
                        <div>
                            <h4 class="text-left">계좌 번호</h4>
                            <h5>국민 : 123-456-789-01</h5>
                        </div>
                    </div>

                    <!-- 동의 및 예약완료 -->
                    <div class="text-left bg-white pinside20" id="info_done">
                        <div>
                            <h3 class="text-left">약관 동의</h3>
                        </div>
                        <div>
                            <label for="check_collect" style="cursor: pointer;"><input id="check_collect" type="checkbox" />개인정보 수집 및 이용 동의</label>
<!--                            <button class="btn btn-sm" data-toggle="popover" title="popover" id="contract_info" type="button">약관보기</button>-->
                            <button id="top1" type="button" class="btn btn-default btn-md" data-toggle="tooltip" data-placement="left" title="tooltip on top">Tooltip on top</button>
                            <script>
                                $(function () {
                                    $('[data-toggle="tooltip"]').tooltip()
                                })
                            </script>
                        </div>
                        <div>
                            <label for="check_rent" style="cursor: pointer;"><input id="check_rent" type="checkbox" value="rent"/>차량 렌트 동의</label><button id="rent_info" data-toggle="tooltip" type="button">약관보기</button>
                        </div>
                        <div>
                            <label for="check_last" style="cursor: pointer;"><input id="check_last" type="checkbox" />구매조건 확인 및 결제진행에 동의</label><button id="condition_info" type="button">약관보기</button>
                        </div>
                        <div>
                            <button class="btn btn-danger" id="btn_final" type="button">예약 신청 완료</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>


</html>