<!--  결제창 (paying.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 결제</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/paying.css}" rel="stylesheet">

    <script th:src="@{/js/paying.js}" defer></script>


</head>
<body>
    <div layout:fragment="content">
        <div th:replace="fragments/header_camp::headerFragment"></div>

        <div class="paying_content bg-light">
            <!-- title -->
            <div class="row">

            </div>
            <!-- main content -->
            <div class="row text-center">

                <!-- left content -->
                <div id="left_col" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <!-- 예약 상품 정보 -->
                    <div class="bg-white pinside20 margin-bottom-20" id="info_reserve">
                        <div>
                            <h3 class="text-left">예약 상품 정보</h3>
                            <hr style="margin: 0 0 20px 0" />
                        </div>
                        <div>
                            <div id="car_img_wrapper" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                <img id="car_img" th:src="@{/img/camping-car1.jpg}" alt="car_pic" />
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div id="product_info" class="">
                                    <p class="car_type" th:id="${carType}"></p><p id="use_day" th:text="${day}"></p>
                                    <p id="extra_time" th:text="${'+ '+extraTime+'시간'}" ></p>
                                </div><hr id="hr_reserve"/>
                                <div class="reserve_detail">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <p>대여 일자</p>
                                        <p id="rent_date" th:text="${rent_date}"></p>
                                        <p th:text="${rent_time}"></p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <button id="rent_length" disabled>➔</button>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <p>반납 일자</p>
                                        <p id="return_date" th:text="${return_date}"></p>
                                        <p th:text="${return_time}"></p>
                                    </div>
                                </div>
                                <p style="margin-top: 15px; font-size: 13px"><span style="color: red">*</span>6시 이후 반납은 전화문의 해주시기 바랍니다.</p>
                            </div>
                        </div>
                    </div>

                    <!-- 예약자 정보 -->
                    <div class="bg-white pinside20 margin-bottom-20" id="info_custom">
                        <div class="text-left">
                            <h3>예약자 정보</h3>
                            <hr style="margin: 0 0 20px 0" />
                            <p id="must_desc"><span style="color: red">*</span>필수 입력 항목</p>
                        </div>
                        <div>
                            <!-- 성명 연락처 -->
                            <div class="input_person text-left">
                                <div>
                                    <label><span style="color: red">*</span>성명</label>
                                    <input id="input_name" type="text" placeholder="성명" />
                                </div>
                                <div>
                                    <label><span style="color: red">*</span>연락처</label>
                                    <input id="input_number" type="number" placeholder="연락처" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" oninput="handleOnInput(this, 11)" />
                                </div>
                                <div>
                                    <label><span style="color: red">*</span>입금자명</label>
                                    <input id="input_deposit" type="text" placeholder="입금자명" />
                                </div>
                            </div>
                            <!-- 요청사항 -->
                            <div class="input_demand">
                                <label class="text-left">요청사항</label>
                                <textarea class="noscrollbars" onkeyup="autoGrow(this);" onkeydown="autoGrow(this)" id="input_demand" type="text" placeholder="요청사항"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- 취소 환불 규정에 대한 동의 -->
                    <div class="bg-white pinside20" id="info_refund">
                        <div>
                            <h3 class="text-left">취소/환불 규정에 대한 동의</h3>
                            <hr style="margin: 0 0 20px 0" />
                        </div>
                        <div class="row pinside30 ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                <p>1) 31일전 취소 : 총렌트료의 100%환불</p>
                                <p>2) 30일전 취소 : 총렌트료의 30% 수수료 부과</p>
                                <p>3) 15일전 취소 : 총렌트료의 40% 수수료 부과</p>
                                <p>4) 7일전 취소 : 총렌트료의 50% 수수료 부과</p>
                                <p>5) 3일전 취소 : 총렌트료의 80% 수수료 부과</p>
                                <p>6) 2일전 취소 : 환불불가</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- right content -->
                <div id="right_col" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <!-- 최종 금액 -->
                    <div class="bg-white pinside20 margin-bottom-20" id="info_price">
                        <div>
                            <h3 class="text-left">최종 결제 금액</h3>
                            <hr style="margin: 0 0 20px 0" />
                        </div>
                        <div>
                            <div class="price_between">
                                <p>총 렌트료(VAT미포함)</p>
                                <p id="total_fee"></p>
                            </div>
                            <div class="price_between">
                                <p>VAT</p>
                                <p id="vat_fee"></p>
                            </div><hr style="color: dimgray" />
                            <div class="price_between final_price">
                                <p>총 결제 금액(VAT포함)</p>
                                <p id="total_price" th:class="${total}"></p>
                            </div>
                            <div id="pre_paying" class="price_between final_price">
                                <p>선결제 금액(50%)</p>
                                <p id="half_price"></p>
                            </div>
                            <div class="price_between">
                                <p><span style="color:red;">*</span>보증금(현장에서 결제)</p>
                                <p id="deposits">300,000원</p>
                            </div><hr/>
                            <div>

                                <p>* 총 결제 금액의 50%를 선결제하시고</p>
                                <p>추후에 나머지 50% 금액 + 보증금을</p>
                                <p>현장에서 지불하시면 됩니다.</p>
                                <p style="font-size: 13px"><span style="color: red">*</span>보증금은 반납 일주일 뒤 환불됩니다.</p><br>

                                <p>* 예약 신청 후, 선입금자에게 예약이 확정되고</p>
                                <p>확인 문자가 발송됩니다.</p><br/>

                                <p>*자차 포함</p>

                            </div>
                        </div>
                    </div>


                    <div class="bg-white pinside20 margin-bottom-20" id="info_refund2">
                        <div>
                            <h3 class="text-left">취소/환불 규정에 대한 동의</h3>
                            <hr style="margin: 0 0 20px 0" />
                        </div>
                        <div class="row pinside30 ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                <p>1) 31일전 취소 : 총렌트료의 100%환불</p>
                                <p>2) 30일전 취소 : 총렌트료의 30% 수수료 부과</p>
                                <p>3) 15일전 취소 : 총렌트료의 40% 수수료 부과</p>
                                <p>4) 7일전 취소 : 총렌트료의 50% 수수료 부과</p>
                                <p>5) 3일전 취소 : 총렌트료의 80% 수수료 부과</p>
                                <p>6) 2일전 취소 : 환불불가</p>
                            </div>
                        </div>
                    </div>

                    <!-- 결제 수단 -->
                    <div class="text-left bg-white pinside20 margin-bottom-20" id="info_deposit">
                        <div>
                            <h3 class="text-left">입금 계좌</h3>
                            <hr style="margin: 0 0 20px 0" />
                        </div>
                        <div>
                            <h4 class="text-left">계좌 번호</h4>
                            <h5><span style="font-weight: bold">하나은행</span> : 810-626121-01404</h5>
                            <h5>㈜세이브카</h5>
                        </div>
                    </div>

                    <!-- 동의 및 예약완료 -->
                    <div class="text-left bg-white pinside20" id="info_done">
                        <div>
                            <h3 class="text-left">약관 동의</h3>
                            <hr style="margin: 0 0 20px 0" />
                        </div>
                        <div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <!-- 1번째 동의 -->
                                <div class="panel panel-default">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                    개인정보 이용 동의
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p>본인은 귀사에 차량렌트를 신청함으로써 [개인정보 보호법] 제15조 및 제17조에 따라</p>
                                            <p>아래의 내용으로 개인정보를 수집, 이용 및 제공하는데 동의합니다.</p>
                                            <p><i class="fas fa-star"></i> 개인정보의 수집 및 이용에 관한 사항</p>
                                            <p>- 수집하는 개인정보 항목 : 성명, 입금자명, 전화번호</p>
                                            <p>- 개인정보의 이용 목적 : 수집된 개인정보를 렌트 계약서 작성서류로 활용하며, 목적 외의 용도로는 사용하지 않습니다.</p>
                                            <p><i class="fas fa-star"></i> 개인정보의 보관 및 이용 기간</p>
                                            <p>- 귀하의 개인정보를 다음과 같이 보관하며, 수집, 이용 및 제공목적이 달성된 경우</p>
                                            <p>[개인정보 보호법] 제21조에 따라 처리합니다.</p>
                                            <p class="checkboxes"><input id="check_info" type="checkbox" value="rent"/>개인정보 이용 동의</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 2번째 동의 -->
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                    차량 렌트 정책 동의
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <p><i class="fas fa-star"></i>인수 및 반납</p>
                                            <p>평일 및 토요일,일요일 :  09 : 00 ~ 18 : 00</p>
                                            <p>연료 Full-To-Full : 연료는 입고 시 가득 채워서 반납하셔야 합니다.</p>
                                            <p>방문배회차지 : 장지역[가든파이브], 복정역[강남자동차매매단지] 中 당사 지정장소</p>
                                            <p>국경일 : 배차불가, 회차는 무인 또는 다음날 오전 9시 반납</p>
                                            <p>* 요금은 방문기준이며 배회차시 별도의 요금이 발생합니다.</p>

                                            <br>
                                            <p><i class="fas fa-star"></i>예약 안내</p>
                                            <p>요금은 24시간 기준으로 캠핑카대여 특성상 체크인 & 체크아웃 시간으로 운영하여야 하나</p>
                                            <p>고객의 편의중심으로 24시간 기준으로 요금을 책정하였습니다.</p>
                                            <p>예약금은 디파짓 전액을 입금하시고 대여료는 신용카드 및 현금이 가능합니다.</p>
                                            <p>VAT별도로 자차요금이 포함 되어 있습니다.</p>
                                            <p class="checkboxes"><input id="check_rent" type="checkbox" value="rent"/>차량 렌트 동의</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 3번째 동의 -->
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                차량 보험 사항 동의
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <p><i class="fas fa-star"></i>보험 안내</p>
                                            <p>대인 무한 대물 2천 자손 1.5천</p>
                                            <p>자차포함<b style="font-size: x-small">[최대 2500만원 한정]</b> : 차대차사고 제외, 캠핑카 설비 및 가구 제외, <br/>
                                                자기부담금 50~200만원[과실30%이내]</p>
                                            <br>
                                            <p><i class="fas fa-star"></i>운전자 조건</p>
                                            <p>26세기준 21세 별도 문의</p>
                                            <p>운전면허 1종과 2종 가능차량이 상이하므로 꼭 확인부탁드립니다.</p>
                                            <p class="checkboxes"><input id="check_insure" type="checkbox" value="rent"/>차량 보험 사항 동의</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 4번째 동의 -->
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                    구매조건 확인 및 결제진행에 동의
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            <p>구매 조건 확인 후</p>
                                            <p>결제 진행에 동의하시겠습니까?</p>
                                            <p class="checkboxes"><input id="check_last" type="checkbox" value="rent"/>구매조건 확인 및 결제진행에 동의</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="btn_final_wrapper">
                            <button id="btn_final" type="button" onclick="reserveDone()">예약 신청 완료</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>


</html>