<!-- 렌트가격표(price_month.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>SAVECAR - 렌트 가격표</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                responsive: true,
            } );
        } );


    </script>
</head>

<div layout:fragment="content">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h3 class="page-title">12개월 렌트</h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--feature section -->
    <section id="feature" class="feature sections">
      <div class="container">
          <div class="row">
              <div class="main_portfolio pinside30">
                  <div class="work_menu text-center">

                      <div class="separator"></div>
                      <div id="filters" class="toolbar mb2 mt2">
                          <h2><a href="/price/month"><button class="btn-md fil-cat filter">월 렌트</button></a> /
                              <a href="/price/long"><button class="btn-md fil-cat filter">12개월 렌트</button></a> /
                              <a href="/price/short"><button class="btn-md fil-cat filter">단기 렌트</button></a> /
                              <a href="/price/camp"><button class="btn-md fil-cat filter">캠핑카</button></a></h2>
                      </div> 
                      <div class="separator"></div>
                  </div>    
              </div>
              <div class="main_feature text-center">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-car fa-4x"></i>
                          </div>
                          <h2>정비 포함</h2>
                          <div class="separator3"></div>
                          <p style="font-size: medium; color: #5a5a5a">4년 계약만큼 저렴하다<br/>
                          필요한 개월수만 이용하자 !</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-key fa-4x"></i>
                          </div>
                          <h2>자차 포함</h2>
                          <div class="separator3"></div>
                          <p style="font-size: medium; color: #5a5a5a">26세 기준<br />
                          21세 추가요금 발생<br />
                          단기렌트 : 자차 별도</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-coins fa-4x"></i>
                          </div>
                          <h2>주행거리별 요금제</h2>
                          <div class="separator3"></div>
                          <p style="font-size: medium; color: #5a5a5a">마일리지 제도를 이용하여<br />
                          차량유지비용을 SAVE 하라</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                             <i class="fas fa-people-arrows fa-4x"></i>
                          </div>
                          <h2>송파 장지역 방문 기준</h2>
                          <div class="separator3"></div>
                          <p style="font-size: medium; color: #5a5a5a">VAT 별도 요금<br />
                          지방배회차 상담 환영</p>
                      </div>
                  </div>
              </div>
          </div>


          <div class="pinside50"></div>

          <section class="col-lg-12">
              <div class="pinside20" align="center">
                  <h1 style="font-weight: bold">12개월 렌트</h1>
              </div>
              <table id="example" class="table table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>차종</th>
                          <th>차명</th>
                          <th>보증금</th>
                          <th>2만km</th>
                          <th>3만km</th>
                          <th>4만km</th>
                          <th>21세</th>
                          <th>km당 추가요금</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr th:each="yearlyRent : ${yearlyRentList}">
                          <td scope="col" th:text="${yearlyRent.category2}"></td>
                          <td scope="col" th:text="${yearlyRent.name}"></td>
                          <td scope="col" th:text="${yearlyRent.deposit}"></td>
                          <td scope="col" th:text="${yearlyRent.cost_for_20k}"></td>
                          <td scope="col" th:text="${yearlyRent.cost_for_30k}"></td>
                          <td scope="col" th:text="${yearlyRent.cost_for_40k}"></td>
                          <td scope="col" th:text="${yearlyRent.age_limit}"></td>
                          <td><span scope="col" th:text="${yearlyRent.cost_per_km}"></span>원</td>
                      </tr>
                  </tbody>
              </table>
          </section><br><br>
      </div>
      <!--End of container -->
    </section>
    <!--End of feature Section -->

    <div class="pinside50"></div>


    <!-- START SCROLL TO TOP  -->
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>

</div>
</html>