<!-- 렌트가격표(price.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>SAVECAR - 렌트 가격표</title>

    <script>
        // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
        $(window).on("load resize ", function() {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();
    </script>
</head>

<div layout:fragment="content">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h3 class="page-title">가격표 한눈에 보기</h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--feature section -->
    <section id="feature" class="feature sections">
      <div class="container">
          <div class="row">
              <div class="main_portfolio pinside30">
                  <div class="work_menu text-center">
                      <div id="filters" class="toolbar mb2 mt2">
                          <a href="#month"><button class="btn-md fil-cat filter">월 렌트</button></a> /
                          <a href="#year"><button class="btn-md fil-cat filter">12개월 렌트</button></a> /
                          <a href="#short-term"><button class="btn-md fil-cat filter">단기 렌트</button></a> /
                          <a href="#camping-car"><button class="btn-md fil-cat filter">캠핑카</button></a>
                      </div> 
                      <div class="separator"></div>
                  </div>    
              </div>
              <div class="main_feature text-center">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-car fa-4x"></i>
                          </div>
                          <h2>정비 포함</h2>
                          <div class="separator3"></div>
                          <p>4년 계약만큼 저렴하다</p>
                          <p>필요한 개월수만 이용하자 !</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-key fa-4x"></i>
                          </div>
                          <h2>자차 포함</h2>
                          <div class="separator3"></div>
                          <p>26세 기준</p>
                          <p>21세 추가요금 발생 !</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-coins fa-4x"></i>
                          </div>
                          <h2>주행거리별 요금제</h2>
                          <div class="separator3"></div>
                          <p>마일리지 제도를 이용하여</p>
                          <p>차량유지비용을 SAVE 하라</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                             <i class="fas fa-people-arrows fa-4x"></i>
                          </div>
                          <h2>송파 장지역 방문 기준</h2>
                          <div class="separator3"></div>
                          <p>VAT 별도 요금</p>
                          <p>지방배회차 상담 환영</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--End of container -->
    </section>
    <!--End of feature Section -->
    
      <!---------------->
      <!--- 월 렌트료 --->
      <!---------------->
    <section class="price-table" id="month">
      <div class="month text-center" id="month">
        <h1>월렌트료</h1>
        <div class="separator"></div>
        <div class="tbl-header text-center">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th rowspan="2">차종</th>
                <th rowspan="2">차명</th>
                <th colspan="5">월차 월렌트료</th>
              </tr>
              <tr>
                <th>보증금</th>
                <th>2000km</th>
                <th>2500km</th>
                <th>3000km</th>
                <th>4000km</th>
                <th>21세</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content text-center">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

      <!------------------>
      <!--- 12개월 렌트료 --->
      <!------------------>

    <section class="price-table" id="year">
      <div class="year text-center">
        <h1>12개월 렌트료</h1>
        <div class="separator"></div>
        <div class="tbl-header text-center">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
              <th rowspan="2">차종</th>
              <th rowspan="2">차명</th>
              <th colspan="5">12개월 월렌트료</th>
              <th rowspan="2">km당 추가요금</th>
            </tr>
            <tr>
              <th>보증금</th>
              <th>2만km</th>
              <th>3만km</th>
              <th>4만km</th>
              <th>21세</th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content text-center">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr>
              <td>경차</td>
              <td>모닝 15년이하</td>
              <td>30만</td>
              <td>340,000</td>
              <td>364,000</td>
              <td>388,000</td>
              <td>45,000</td>
              <td>70</td>
            </tr>
            <tr>
              <td>경차</td>
              <td>모닝 15년이하</td>
              <td>30만</td>
              <td>340,000</td>
              <td>364,000</td>
              <td>388,000</td>
              <td>45,000</td>
              <td>70</td>
            </tr>
            <tr>
              <td>경차</td>
              <td>모닝 15년이하</td>
              <td>30만</td>
              <td>340,000</td>
              <td>364,000</td>
              <td>388,000</td>
              <td>45,000</td>
              <td>70</td>
            </tr>
            <tr>
              <td>경차</td>
              <td>모닝 15년이하</td>
              <td>30만</td>
              <td>340,000</td>
              <td>364,000</td>
              <td>388,000</td>
              <td>45,000</td>
              <td>70</td>
            </tr>
            <tr>
              <td>경차</td>
              <td>모닝 15년이하</td>
              <td>30만</td>
              <td>340,000</td>
              <td>364,000</td>
              <td>388,000</td>
              <td>45,000</td>
              <td>70</td>
            </tr>
            <tr>
              <td>경차</td>
              <td>모닝 15년이하</td>
              <td>30만</td>
              <td>340,000</td>
              <td>364,000</td>
              <td>388,000</td>
              <td>45,000</td>
              <td>70</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

      <!---------------->
      <!--- 단기 렌트료 --->
      <!---------------->

    <section class="price-table" id="short-term">
      <div class="short-term text-center">
        <h1>단기 렌트료</h1>
        <div class="separator"></div>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th rowspan="2">차종</th>
                <th colspan="5">3일 요금</th>
                <th rowspan="2">km당 추가 요금</th>
                <th colspan="5">이후 1일당 추가 요금</th>
                <th rowspan="2">km당 추가 요금</th>
              </tr>
              <tr>
                <th>600km</th>
                <th>900km</th>
                <th>3000km</th>
                <th>1200km</th>
                <th>자차</th>
                <th>21세</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
              <tr>
                <td>경차</td>
                <td>모닝 15년이하</td>
                <td>30만</td>
                <td>340,000</td>
                <td>364,000</td>
                <td>388,000</td>
                <td>435,000</td>
                <td>50,000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
      <!---------------->
      <!-- 캠핑카 렌트료 -->
      <!---------------->
    <section class="price-table" id="camping-car">
      <div class="camping-car text-center">
        <h1>캠핑카 렌트료</h1>
        <div class="separator"></div>
        Europe
        <table class="type11 text-center">
          <thead>
          <tr>
            <th scope="cols">디럭스</th>
            <th scope="cols" colspan="2">비수기</th>
            <th scope="cols" colspan="2">성수기</th>
            <th scope="cols">Deposit</th>
            <th scope="cols">월렌트</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4">요금</td>
            <td>주중</td>
            <td>주말</td>
            <td>주중</td>
            <td>주말</td>
            <td rowspan="2">30만원</td>
            <td rowspan="4">4,680,000</td>
          </tr>
          <tr>
            <td>390,000</td>
            <td>390,000</td>
            <td>570,000</td>
            <td>570,000</td>
          </tr>
          <tr>
            <td>5일</td>
            <td>7일</td>
            <td>10일</td>
            <td>15일</td>
            <td rowspan="2">상담</td>
          </tr>
          <tr>
            <td>1,560,000</td>
            <td>1,950,000</td>
            <td>2,340,000</td>
            <td>2,730,000</td>
          </tr>
          </tbody>
        </table>
        <table class="type11 text-center">
          <thead>
          <tr>
            <th scope="cols">스위트</th>
            <th scope="cols" colspan="2">비수기</th>
            <th scope="cols" colspan="2">성수기</th>
            <th scope="cols">Deposit</th>
            <th scope="cols">월렌트</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4">요금</td>
            <td>주중</td>
            <td>주말</td>
            <td>주중</td>
            <td>주말</td>
            <td rowspan="2">30만원</td>
            <td rowspan="4">4,680,000</td>
          </tr>
          <tr>
            <td>390,000</td>
            <td>390,000</td>
            <td>420,000</td>
            <td>570,000</td>
          </tr>
          <tr>
            <td>5일</td>
            <td>7일</td>
            <td>10일</td>
            <td>15일</td>
            <td rowspan="2">상담</td>
          </tr>
          <tr>
            <td>1,560,000</td>
            <td>1,950,000</td>
            <td>2,340,000</td>
            <td>2,730,000</td>
          </tr>
          </tbody>
        </table>
        Liomousine
        <table class="type11 text-center">
          <thead>
          <tr>
            <th scope="cols">디럭스</th>
            <th scope="cols" colspan="2">비수기</th>
            <th scope="cols" colspan="2">성수기</th>
            <th scope="cols">Deposit</th>
            <th scope="cols">월렌트</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4">요금</td>
            <td>주중</td>
            <td>주말</td>
            <td>주중</td>
            <td>주말</td>
            <td rowspan="2">30만원</td>
            <td rowspan="4">4,200,000</td>
          </tr>
          <tr>
            <td>350,000</td>
            <td>350,000</td>
            <td>390,000</td>
            <td>490,000</td>
          </tr>
          <tr>
            <td>5일</td>
            <td>7일</td>
            <td>10일</td>
            <td>15일</td>
            <td rowspan="2">상담</td>
          </tr>
          <tr>
            <td>1,400,000</td>
            <td>1,750,000</td>
            <td>2,100,000</td>
            <td>2,450,000</td>
          </tr>
          </tbody>
        </table>
        <table class="type11 text-center">
          <thead>
          <tr>
            <th scope="cols">스위트</th>
            <th scope="cols" colspan="2">비수기</th>
            <th scope="cols" colspan="2">성수기</th>
            <th scope="cols">Deposit</th>
            <th scope="cols">월렌트</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4">요금</td>
            <td>주중</td>
            <td>주말</td>
            <td>주중</td>
            <td>주말</td>
            <td rowspan="2">30만원</td>
            <td rowspan="4">4,560,000</td>
          </tr>
          <tr>
            <td>380,000</td>
            <td>380,000</td>
            <td>390,000</td>
            <td>490,000</td>
          </tr>
          <tr>
            <td>5일</td>
            <td>7일</td>
            <td>10일</td>
            <td>15일</td>
            <td rowspan="2">상담</td>
          </tr>
          <tr>
            <td>1,520,000</td>
            <td>1,900,000</td>
            <td>2,280,000</td>
            <td>2,660,000</td>
          </tr>
          </tbody>
        </table>
        Travel
        <table class="type11 text-center">
          <thead>
          <tr>
            <th scope="cols">디럭스</th>
            <th scope="cols" colspan="2">비수기</th>
            <th scope="cols" colspan="2">성수기</th>
            <th scope="cols">Deposit</th>
            <th scope="cols">월렌트</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4">요금</td>
            <td>주중</td>
            <td>주말</td>
            <td>주중</td>
            <td>주말</td>
            <td rowspan="2">30만원</td>
            <td rowspan="4">3,600,000</td>
          </tr>
          <tr>
            <td>300,000</td>
            <td>350,000</td>
            <td>350,000</td>
            <td>400,000</td>
          </tr>
          <tr>
            <td>5일</td>
            <td>7일</td>
            <td>10일</td>
            <td>15일</td>
            <td rowspan="2">상담</td>
          </tr>
          <tr>
            <td>1,200,000</td>
            <td>1,500,000</td>
            <td>1,800,000</td>
            <td>2,100,000</td>
          </tr>
          </tbody>
        </table>
        <table class="type11 text-center">
          <thead>
          <tr>
            <th scope="cols">스위트</th>
            <th scope="cols" colspan="2">비수기</th>
            <th scope="cols" colspan="2">성수기</th>
            <th scope="cols">Deposit</th>
            <th scope="cols">월렌트</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4">요금</td>
            <td>주중</td>
            <td>주말</td>
            <td>주중</td>
            <td>주말</td>
            <td rowspan="2">30만원</td>
            <td rowspan="4">3,960,000</td>
          </tr>
          <tr>
            <td>330,000</td>
            <td>350,000</td>
            <td>350,000</td>
            <td>400,000</td>
          </tr>
          <tr>
            <td>5일</td>
            <td>7일</td>
            <td>10일</td>
            <td>15일</td>
            <td rowspan="2">상담</td>
          </tr>
          <tr>
            <td>1,320,000</td>
            <td>1,650,000</td>
            <td>1,980,000</td>
            <td>2,310,000</td>
          </tr>
          </tbody>
        </table>
      </div>
  </section>
</div>
</html>