<!-- 렌트가격표(price.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>SAVECAR - 렌트 가격표</title>

    <script>
        // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
        $(window).on("load resize ", function() {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();
    </script>
</head>

<div layout:fragment="content">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h3 class="page-title">가격표 한눈에 보기</h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--feature section -->
    <section id="feature" class="feature sections">
      <div class="container">
          <div class="row">
              <div class="main_portfolio pinside30">
                  <div class="work_menu text-center">
                      <div id="filters" class="toolbar mb2 mt2">
                          <h2><a href="#month"><button class="btn-md fil-cat filter">월 렌트</button></a> /
                          <a href="#year"><button class="btn-md fil-cat filter">12개월 렌트</button></a> /
                          <a href="#short-term"><button class="btn-md fil-cat filter">단기 렌트</button></a> /
                          <a href="#camping-car"><button class="btn-md fil-cat filter">캠핑카</button></a></h2>
                      </div> 
                      <div class="separator"></div>
                  </div>    
              </div>
              <div class="main_feature text-center">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-car fa-4x"></i>
                          </div>
                          <h2>정비 포함</h2>
                          <div class="separator3"></div>
                          <h6>4년 계약만큼 저렴하다</h6>
                          <h6>필요한 개월수만 이용하자 !</h6>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-key fa-4x"></i>
                          </div>
                          <h2>자차 포함</h2>
                          <div class="separator3"></div>
                          <h6>26세 기준</h6>
                          <h6>21세 추가요금 발생</h6>
                          <h6>단기렌트 : 자차 별도</h6>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                              <i class="fas fa-coins fa-4x"></i>
                          </div>
                          <h2>주행거리별 요금제</h2>
                          <div class="separator3"></div>
                          <h6>마일리지 제도를 이용하여</h6>
                          <h6>차량유지비용을 SAVE 하라</h6>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <div class="single_feature">
                          <div class="single_feature_icon">
                             <i class="fas fa-people-arrows fa-4x"></i>
                          </div>
                          <h2>송파 장지역 방문 기준</h2>
                          <div class="separator3"></div>
                          <h6>VAT 별도 요금</h6>
                          <h6>지방배회차 상담 환영</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--End of container -->
    </section>
    <!--End of feature Section -->

    <div class="pinside50"></div>

      <!---------------->
      <!--- 월 렌트료 --->
      <!---------------->
    <section class="price-table" id="month">
        <div class="month text-center" id="month">
            <h1>월 렌트료</h1>
            <div class="separator"></div>
            <div class="pinside20"></div>

            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="10%"/>
                        <col width="20%"/>
                        <col width="10%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2">차종</th>
                            <th scope="col" rowspan="2">차명</th>
                            <th scope="col" colspan="5">월차 월렌트료</th>
                        </tr>
                        <tr>
                            <th scope="col">보증금</th>
                            <th scope="col">2000km</th>
                            <th scope="col">2500km</th>
                            <th scope="col">3000km</th>
                            <th scope="col">4000km</th>
                            <th scope="col">21세</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content" style="overflow-x: auto;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="10%"/>
                        <col width="20%"/>
                        <col width="10%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                    </colgroup>
                    <tbody>
                        <tr th:each="monthlyRent : ${monthlyRentList}">
                            <td scope="col" th:text="${monthlyRent.category2}"></td>
                            <td scope="col" th:text="${monthlyRent.name}"></td>
                            <td scope="col" th:text="${monthlyRent.deposit}"></td>
                            <td scope="col" th:text="${monthlyRent.cost_for_2k}"></td>
                            <td scope="col" th:text="${monthlyRent.cost_for_2_5k}"></td>
                            <td scope="col" th:text="${monthlyRent.cost_for_3k}"></td>
                            <td scope="col" th:text="${monthlyRent.cost_for_4k}"></td>
                            <td scope="col" th:text="${monthlyRent.age_limit}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="pinside50"></div>

      <!------------------>
      <!--- 12개월 렌트료 --->
      <!------------------>

    <section class="price-table" id="year">
        <div class="year text-center">
            <h1>12개월 렌트료</h1>
            <div class="separator"></div>
            <div class="pinside20"></div>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="10%"/>
                        <col width="20%"/>
                        <col width="10%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2">차종</th>
                            <th scope="col" rowspan="2">차명</th>
                            <th scope="col" colspan="5">12개월 월렌트료</th>
                            <th scope="col" rowspan="2">km당 추가요금</th>
                        </tr>
                        <tr>
                            <th scope="col">보증금</th>
                            <th scope="col">2만km</th>
                            <th scope="col">3만km</th>
                            <th scope="col">4만km</th>
                            <th scope="col">21세</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content" style="overflow-x: auto;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="10%"/>
                        <col width="20%"/>
                        <col width="10%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                    </colgroup>
                    <tbody>
                        <tr th:each="yearlyRent : ${yearlyRentList}">
                            <td scope="col" th:text="${yearlyRent.category2}"></td>
                            <td scope="col" th:text="${yearlyRent.name}"></td>
                            <td scope="col" th:text="${yearlyRent.deposit}"></td>
                            <td scope="col" th:text="${yearlyRent.cost_for_20k}"></td>
                            <td scope="col" th:text="${yearlyRent.cost_for_30k}"></td>
                            <td scope="col" th:text="${yearlyRent.cost_for_40k}"></td>
                            <td scope="col" th:text="${yearlyRent.age_limit}"></td>
                            <td scope="col" th:text="${yearlyRent.cost_per_km}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="pinside50"></div>

      <!---------------->
      <!--- 단기 렌트료 --->
      <!---------------->

    <section class="price-table" id="short-term">
        <div class="short-term text-center">
            <h1>단기 렌트료</h1>
            <div class="separator"></div>
            <div class="pinside20"></div>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="8%"/>
                        <col width="15%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="6%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="6%"/>
                        <col width="10%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2">차종</th>
                            <th scope="col" rowspan="2">차명</th>
                            <th scope="col" colspan="5">3일 요금</th>
                            <th scope="col" colspan="5">이후 1일당 추가 요금</th>
                            <th scope="col" rowspan="2">km당 추가 요금</th>
                        </tr>
                        <tr>
                            <th scope="col">600km</th>
                            <th scope="col">900km</th>
                            <th scope="col">1200km</th>
                            <th scope="col">자차</th>
                            <th scope="col">21세 추가</th>
                            <th scope="col">200km</th>
                            <th scope="col">300km</th>
                            <th scope="col">400km</th>
                            <th scope="col">자차</th>
                            <th scope="col">21세 추가</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content" style="overflow-x: auto;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="8%"/>
                        <col width="15%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="6%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="6%"/>
                        <col width="10%"/>
                    </colgroup>
                    <tbody>
                        <tr th:each="shortRent : ${shortRentList}">
                            <td scope="col" th:text="${shortRent.category1}"></td>
                            <td scope="col" th:text="${shortRent.name}"></td>
                            <td scope="col" th:text="${shortRent.cost_for_three_days_600}"></td>
                            <td scope="col" th:text="${shortRent.cost_for_three_days_900}"></td>
                            <td scope="col" th:text="${shortRent.cost_for_three_days_1200}"></td>
                            <td scope="col" th:text="${shortRent.cost_for_three_days_insurance}"></td>
                            <td scope="col" th:text="${shortRent.cost_for_three_days_age}"></td>
                            <td scope="col" th:text="${shortRent.extra_cost_per_day_200}"></td>
                            <td scope="col" th:text="${shortRent.extra_cost_per_day_300}"></td>
                            <td scope="col" th:text="${shortRent.extra_cost_per_day_400}"></td>
                            <td scope="col" th:text="${shortRent.extra_cost_per_day_insurance}"></td>
                            <td scope="col" th:text="${shortRent.extra_cost_per_day_age}"></td>
                            <td scope="col" th:text="${shortRent.cost_per_km}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="pinside50"></div>

      <!---------------->
      <!-- 캠핑카 렌트료 -->
      <!---------------->
    <section class="price-table" id="camping-car">
        <div class="camping-car text-center">
            <h1>캠핑카 렌트료</h1>
            <div class="separator"></div>
            <div class="pinside20"></div>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="20%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="20%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="cols" colspan="2">캠핑카 종류</th>
                            <th scope="cols">시즌</th>
                            <th scope="cols">기간</th>
                            <th scope="cols">Deposit</th>
                            <th scope="cols">가격</th>
                            <th scope="cols">월렌트</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content" style="overflow-x: auto;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="20%"/>
                    </colgroup>
                    <tbody>
                    <tr th:each="campingCar : ${campingCarList}">
                        <td scope="col" th:text="${campingCar.category1}"></td>
                        <td scope="col" th:text="${campingCar.category2}"></td>
                        <td scope="col" th:text="${campingCar.season}"></td>
                        <td scope="col" th:text="${campingCar.rent_period}"></td>
                        <td scope="col" th:text="${campingCar.deposit}"></td>
                        <td scope="col" th:text="${campingCar.price}"></td>
                        <td scope="col" th:text="${campingCar.rent_for_month}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="pinside50"></div>

</div>
</html>