<!-- 월12개월렌트(rent_month.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 월 12개월 렌트</title>
</head>

<div layout:fragment="content">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">실시간 견적내기 및 상담 요청</h2>
                        <br>
                        <p>
                            <a href="https://blog.naver.com/PostView.nhn?blogId=itscar&logNo=222222675741&categoryNo=8&parentCategoryNo=0&viewDate=&currentPage=2&postListTopCurrentPage=1&from=postView&userTopListOpen=true&userTopListCount=5&userTopListManageOpen=false&userTopListCurrentPage=2">
                                <button id="singlebutton" name="singlebutton" class="btn1 btn1-default">한눈에 보는 가격표</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="padding: 10px;">
                    <div class="bg-light pinside30">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1>예약자 정보 입력</h1>
                                <hr>
                                <form name="reservation-info" action="">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label" for="name">이름</label>
                                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    <input type="text" class="form-control" id="reservation-detail-name" placeholder="예약자의 성함을 입력해주세요.">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label" for="phone">연락처</label>
                                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                    <input type="text" class="form-control" id="reservation-detail-phone" placeholder="예약자 연락처 ex) 010-0000-0000">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label" for="textarea">요청 사항</label>
                                                <textarea class="form-control" id="reservation-detail-details" name="textarea" rows="7" placeholder="요청사항을 입력해주세요."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback">
                                                <p><font color="red" style="font-weight: bold;"> * 21세 이상은 별도 문의</font></p>
                                                <p class="text-center"><input type="checkbox" id="agree"> 개인정보 수집 및 이용에 동의합니다.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group text-center">
                                                <a class="btn1 btn1-default" onclick="make_reservation()" href="#">예약하기 </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="padding: 10px;">
                    <div class="bg-light pinside30">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1>실시간 견적 내기</h1>
                                <h5 align="right">* 배차가능 차종은 상담시 배정해 드립니다.</h5>
                                <hr>
                                <form name="reservation">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <span class="span-control">
                                                <label id="rent-title" value="월렌트, 12개월렌트" class="control-label" for="name">렌트 상품</label>
                                            </span>
                                            <span class="span-input">
                                                <label style="margin-right: 20px;"><input type="radio" id="rent-product1" name="rentProduct" onchange="get_category1(rentProduct.value, selectCategory1)" value="rentMonth">&nbsp; 월렌트</label>
                                                <label><input type="radio" id="rent-product2" name="rentProduct" onchange="get_category1(rentProduct.value, selectCategory1)" value="rentYear">&nbsp; 12개월 렌트</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row" name="selectDetail">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                            <span class="span-control">
                                                <label class="control-label" for="name">차종 선택</label>
                                            </span>
                                            <span class="span-input">
                                                <select id="select-category1" name="selectCategory1" class="form-control-select" onchange="get_category2(rentProduct.value, selectCategory1.value, selectCategory2)" value="차종선택">
                                                    <option value="">--차종을 선택해주세요.--</option>
                                                </select>
                                                <select id="select-category2" name="selectCategory2" class="form-control-select" onchange="get_car_name(rentProduct.value, selectCategory1.value, selectCategory2.value, selectName)">
                                                    <option value="">--차 분류를 선택해주세요.--</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <span class="span-control">
                                                <label class="control-label" for="name">차명</label>
                                            </span>
                                            <select id="select-car-name" name="selectName" class="form-control-select2" onchange="get_mileage(rentProduct.value,selectMileage)">
                                                <option value="">-- 차명을 선택해주세요. --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <span class="span-control">
                                                <label class="control-label" for="kliometer">주행 거리</label>
                                            </span>
                                            <span class="span-input">
                                                <select id="select-mileage" name="selectMileage" class="form-control-select"  onchange="get_price(rentProduct.value, selectName.value, selectMileage.value, document.reservation.totalPrice)">
                                                    <option value="">-- 주행 거리를 선택해주세요. --</option>
                                                </select>
                                                <label> &nbsp; km </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div name="totalPrice">
                                        <div class="row top-text">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-text">
                                                <span class="span-control">
                                                    <label class="control-label" for="kliometer">렌트료</label>
                                                </span>
                                                <span class="span-input">
                                                    <font class="form-control-text top-text" id="carPrice" name="carPrice">00,000원</font>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row top-text">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <span class="span-control">
                                                <label class="control-label" for="kliometer" >VAT</label>
                                            </span>
                                                <span class="span-input">
                                                <font class="form-control-text top-text" id="carVat" name="carVat">00,000원</font>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row top-text">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <span class="span-control">
                                                <label class="control-label" for="kliometer">보증금</label>
                                            </span>
                                                <span class="span-input">
                                                <font class="form-control-text top-text" id="carDeposit" name="carDeposit">00,000원</font>
                                            </span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <span class="span-control">
                                                <label class="control-label" for="kliometer">총 렌트료</label>
                                            </span>
                                                <span class="span-input">
                                                <font class="form-control-text top-text" id="carTotal" name="carTotal">00,000원</font>
                                            </span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <span class="span-control">
                                                <label class="control-label" for="kliometer">대여 조건</label>
                                            </span>
                                            <span class="span-input">
                                                <font class="form-control-text top-text" id="car-name">방문 기준, 자차 포함, 정비 포함, 26세 이상 기준</font>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>