<!--  월렌트 진행중 (rent_month2.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 월렌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/rent_month2.css}" rel="stylesheet">

    <script>

        $(document).ready(function(){

        });
    </script>
    <script th:src="@{/js/rent_month2.js}" defer></script>

</head>
<body>
<div layout:fragment="content">

    <div class="monthly_content container-fluid pinside60" style="padding: 100px;">

        <!-- title row -->
        <div class="row">
            <!-- title -->
            <div class="row" id="title_wrapper">
                <!-- left col -->
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <!-- 월렌트 title -->
                    <div>
                        <h1>월렌트</h1>
                    </div>
                    <!-- descriptions (collapse panel) -->
                    <div >
                        <h3>세이브카의 월렌트는?</h3>
                        <div >
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                1개월 단위로 이용할 수 있는 렌트 상품입니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                세이브카의 수도권 및 지역별 월렌트 차량수령 방문위치 안내드립니다
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                계약 준비 시 필요한 서류와 계약서 작성시 필요한 준비물 입니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right col -->
                <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0 text-center">
                    <img th:src="@{/img/medium_car.png}"  alt="car_img" style="height: 80%; width: 80%" />
<!--                    <a href="https://ibb.co/19RjSgc"><img src="https://i.ibb.co/HrG3JSZ/Kakao-Talk-20210727-130738764.png" alt="car-picture" border="0" style="height: 80%; width: 80%"></a>-->
                </div>
            </div>

            <!-- selections -->
            <form target="_self" method="POST" class="row pinside20 bg-white" id="select_wrapper" action="/rent/month/lookup" style="margin-top: 0px;">

                <!-- 차종 -->
                <div class="row">
                    <!-- left title -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <p>차종</p>
                    </div>
                    <!-- selections -->
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="sel_car">
                        <label for="car_all"><input type="radio" id="car_all" name="carType" value="전체" onclick="sendData()" th:checked="${carType} == '전체'">전체</label>
                        <label for="car_s"><input type="radio" id="car_s" name="carType" value="경차" onclick="sendData()" th:checked="${carType} == '경차'">경차</label>
                        <label for="car_sm"><input type="radio" id="car_sm" name="carType" value="준중형차" onclick="sendData()" th:checked="${carType} == '준중형차'">준중형</label>
                        <label for="car_md"><input type="radio" id="car_md" name="carType" value="중형차" onclick="sendData()" th:checked="${carType} == '중형차'">중형</label>
                        <label for="car_bg"><input type="radio" id="car_bg" name="carType" value="대형차" onclick="sendData()" th:checked="${carType} == '대형차'">대형</label>
                        <label for="car_srv"><input type="radio" id="car_srv" name="carType" value="SUV" onclick="sendData()" th:checked="${carType} == 'SUV'">SUV</label>
                        <label for="car_van"><input type="radio" id="car_van" name="carType" value="승합" onclick="sendData()" th:checked="${carType} == '승합'">승합</label>
                    </div>
                </div><hr style="background: lightgrey; margin: 10px 0" />

                <!-- 약정 주행거리 -->
                <!-- left title -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <p>약정 주행거리</p>
                    </div>
                    <!-- selections -->
                    <div id="sel_reg" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <label for="reg_2000"><input type="radio" id="reg_2000" name="kilometer" value="2000km" onclick="sendData()" th:checked="${kilometer} == '2000km'">2000km</label>
                        <label for="reg_2500"><input type="radio" id="reg_2500" name="kilometer" value="2500km" onclick="sendData()" th:checked="${kilometer} == '2500km'">2500km</label>
                        <label for="reg_3000"><input type="radio" id="reg_3000" name="kilometer" value="3000km" onclick="sendData()" th:checked="${kilometer} == '3000km'">3000km</label>
                        <label for="reg_4000"><input type="radio" id="reg_4000" name="kilometer" value="4000km" onclick="sendData()" th:checked="${kilometer} == '4000km'">4000km</label>
                    </div>
                </div><hr style="background: lightgrey; margin: 10px 0" />


                    <!-- 대기 상황 -->
                <div class="row">
                        <!-- left title -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <p>대여상태</p>
                    </div>
                    <!-- selections -->
                    <div id="sel_able" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <label for="reserve_able"><input type="radio" id="reserve_able" name="reserve_able" value="possible" onclick="sendData()" th:checked="${reservation} == 'possible'">예약가능차량</label>
                        <label for="reserve_soon"><input type="radio" id="reserve_soon" name="reserve_able" value="expected" onclick="sendData()" th:checked="${reservation} == 'expected'">입고예정차량</label>
                    </div>
                </div>
            </form>
        </div>

        <!-- content row -->
        <div>
            <!-- content description -->
            <div >
                <span>※ 상세페이지에서 차량예약이 가능합니다.</span>
                <span align="right">총 <span th:text="${total_num}"></span> 대</span>
            </div>
        </div>

        <!-- content row -->
        <div>
            <!-- car table -->
            <div>
                <div id="mainTable">
                    <table>
                        <thead id="table_header">
                            <tr>
                                <th></th>
<!--                                <th>차종<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortContent(1)></th>-->
                                <th>차명<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortContent(1)></th>
                                <th>연료<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortContent(2)></th>
                                <th>색상<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortContent(3)></th>
                                <th>신차등록일<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortContent(4)></th>
                                <th>주행거리<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortContent(5)></th>
                                <th>월대여료<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortContent(6)></th>
                                <th>반납예정일<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortContent(7)></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="mainTable_tbody">
                            <tr th:each="moren, iterStat : ${morenDtoList}">
                                <td scope="col" th:text="${moren.carIdx}"></td>
<!--                                <td scope="col" th:text="${moren.carGubun}"></td>-->
                                <td scope="col" th:text="${moren.carName}"></td>
                                <td scope="col" th:text="${moren.carEngine}"></td>
                                <td scope="col" th:text="${moren.carExteriorColor}"></td>
                                <td scope="col" th:text="${moren.carOld}"></td>
                                <td scope="col" th:text="${moren.carMileaget}"></td>
                                <td scope="col" th:text="${moren.carPrice}"></td>
                                <td scope="col" th:text="${moren.orderEnd}"></td>
                                <td><a th:href="'/rent/month/detail/' + ${moren.carIdx} +'/' + ${moren.monthlyrentIdx} + '/' + ${kilometer}"><button >상세 페이지</button></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>


</html>