<!--  차량 상세 페이지 진행중 (car_detail.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
  <title>SAVECAR - 월렌트</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Style -->
  <link th:href="@{/css/car_detail.css}" rel="stylesheet">

  <script th:src="@{/js/car_detail.js}" defer></script>

</head>
<body>
<div layout:fragment="content">

  <div class="car_detail_content pinside60 bg-light" style="padding: 100px;">

    <!-- title row -->
    <div class="row">
      <div>
        <h1><a><-</a> 차량 이름</h1>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs margin-bottom-20">
          <li><a href="#info_car" data-toggle="tab">차량 정보</a></li>
          <li><a href="#info_detail" data-toggle="tab">사양 정보</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- info car -->
          <div class="tab-pane active" id="info_car">
            <div class="row">
              <!-- car picture carousel -->
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="height: 311px">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 100%">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox" style="height: 100%">
                    <!-- 메인 사진1 -->
                    <div class="item active">
                      <img th:src="@{/img/medium_car.png}" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>
                    <!-- 사진2 -->
                    <div class="item">
                      <img th:src="@{/img/medium_car.png}" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>
                    <!-- 사진3 -->
                    <div class="item">
                      <img th:src="@{/img/medium_car.png}" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <!-- 좌/우 버튼 -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>

              <!-- infos -->
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <!-- info table -->
                <div class="row">
                  <!-- table left -->
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="info_table"><p>제조사</p><p>기아자동차(주)</p></div>
                    <div class="info_table"><p>연료</p><p th:text="${moren.carEngine}"></p></div>
                    <div class="info_table"><p>신차등록년도</p><p th:text="${moren.carOld}"></p></div>
                    <div class="info_table"><p>주행거리</p><p th:text="${moren.carMileaget}"></p></div>
                    <div class="info_table"><p>차량번호</p><p th:text="${moren.carNo}"></p></div>
                  </div>
                  <!-- table right -->
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="info_table" style="color: transparent"><p>ㅡ</p><p>ㅡ</p></div>
                    <div class="info_table"><p>배기량</p><p th:text="${moren.carDisplacement}"></p></div>
                    <div class="info_table"><p>모델 연도</p><p th:text="${moren.carOld}"></p></div>
                    <div class="info_table"><p>색상</p><p th:text="${moren.carColor}"></p></div>
                    <div class="info_table"><p>소유자</p><p>(주)세이브카</p></div>
                  </div>
                </div><hr />
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="info_table"><p>문의</p><p>1661-3331</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- detail car -->
          <div class="tab-pane" id="info_detail">
            <div class="row">
              <!-- car picture carousel -->
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

              </div>
              <!-- infos -->
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 예약 버튼 -->
    <div class="row">
      <button>예약하기</button>
    </div>

  </div>
</div>
</body>


</html>