<!-- 렌트가격표(price_month.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>SAVECAR - 예약 리스트 확인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script>
        // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
        $(window).on("load resize ", function() {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();
    </script>

    <script>
        var pwd = prompt("관리자 비밀번호를 입력해주세요.", "password");
        while (pwd != '1544ss4680!') {
            if(pwd == null) {
                history.go(-1);
                break;
            }
            alert("비밀번호가 틀렸습니다. 다시 입력해주세요");
            pwd = prompt("관리자 비밀번호를 입력해주세요.", "password");
        }
    </script>
</head>

<div layout:fragment="content">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h3 class="page-title">예약 확인</h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pinside50"></div>

    <!---------------->
    <!--- 예약자 확인 --->
    <!---------------->
    <section class="price-table" id="reservation">
        <div class="month text-center" id="reservaiton">
            <h1>예약 확인</h1>
            <div class="separator"></div>
            <div class="pinside20"></div>

            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="10%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="10%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">전화번호</th>
                        <th scope="col">요구사항</th>
                        <th scope="col">유형</th>
                        <th scope="col">제품명</th>
                        <th scope="col">차종</th>
                        <th scope="col">크기</th>
                        <th scope="col">차명</th>
                        <th scope="col">주행거리</th>
                        <th scope="col">보증금</th>
                        <th scope="col">옵션</th>
                        <th scope="col">금액</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content" style="overflow-x: auto;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                        <col width="8%"/>
                    </colgroup>
                    <tbody>
                        <tr th:each="reservation : ${reservationList}">
                            <td scope="col" th:text="${reservation.name}"></td>
                            <td scope="col" th:text="${reservation.phoneNo}"></td>
                            <td scope="col" th:text="${reservation.detail}"></td>
                            <td scope="col" th:text="${reservation.title}"></td>
                            <td scope="col" th:text="${reservation.product}"></td>
                            <td scope="col" th:text="${reservation.category1}"></td>
                            <td scope="col" th:text="${reservation.category2}"></td>
                            <td scope="col" th:text="${reservation.car_name}"></td>
                            <td scope="col" th:text="${reservation.mileage}"></td>
                            <td scope="col" th:text="${reservation.deposit}"></td>
                            <td scope="col" th:text="${reservation.option}"></td>
                            <td scope="col" th:text="${reservation.price}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="pinside50"></div>

</div>
</html>