<!-- 누구나 장기렌트(main-test.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>장기렌트카 - SAVECAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link th:href="@{/css/rent_long_term.css}" rel="stylesheet">
    <script th:src="@{/js/rent_long_term.js}" defer></script>
</head>
<div layout:fragment="content">
    <!-- end of Header-top -->
    <div class="content">
        <div class="container" style="margin-top: 70px; padding-left: 3%; ">
            <h2 class="page-title">장기렌트</h2>
            <h4 class="page-title" style="word-break: keep-all;">(13개월~60개월 장기렌트 대표전화 : 1544-4680)</h4>
            <p style="word-break: keep-all; color: dimgrey;">
                누구나 장기렌트는 세이브카의 신차 및 중고차를 합리적인 가격에 장기렌트할 수 있는 상품입니다.
            </p>
            <ul id="car_card_list" style="margin-top: 50px;">
                <li class="car_card" th:each="car, i : ${longTermRentList}" th:onclick="|location.href='@{/rent/long_term/}' + ${car.longTermRentId}|">
                    <div th:text="${car.newOld}" class="car_card_slogan"
                         th:style="${car.newOld == '중고차장기'? 'background: red' : ''}" th:styleappend="${car.newOld != '중고차장기' ? 'display:none' : ''}"></div>
                    <div th:text="${car.newOld}" class="car_card_slogan"
                         th:style="${car.newOld == '신차장기'? 'background: blue' : ''}" th:styleappend="${car.newOld != '신차장기' ? 'display:none' : ''}"></div>
                    <div class="car_card_image_box">
                        <img th:if="${imageList[i.index].size()} > 0" th:src="${imageList[i.index][0].imageUrl}" alt="car image">
                        <img th:if="${imageList[i.index].size()} == 0" th:src="@{/img/picture_not_found.png}" alt="car image">
                    </div>
                    <div class="car_card_info_box">
                        <p class="car_card_info_title" th:text="${car.carName}"></p>
                        <p class="car_card_info_subInfo">
                            <span th:text="${car.carYearModel}" th:classappend="${car.fuel=='-' ? 'displayNoneAfter':''}"></span>
                            <span th:if="${car.fuel != '-'}" th:text="${car.fuel}" class="displayNoneAfter hidden-lg hidden-md"></span>
                            <span class="hidden-xs hidden-sm">
                                <span>총 약정 </span>
                                <span th:text="${car.contractKm}"></span>
                            </span>
                        </p>
                        <p class="car_card_info_subInfo hidden-lg hidden-md">
                            <span>
                                <span>총 약정 </span>
                                <span th:text="${car.contractKm}"></span>
                            </span>
                        </p>
                        <p class="car_card_info_subInfo">
                            <span th:text="${car.contractPeriod}"></span>
                            <span th:if="${car.fuel != '-'}" th:text="${car.fuel}" class="hidden-xs hidden-sm"></span>
                            <span th:if="${car.carColor != '-'}" th:text="${car.carColor}"></span>
                        </p>
                        <p class="car_card_info_subInfo">
                            <span>
                                <span>보증금: </span>
                                <span th:text="${car.contractDeposit}"></span>
                                <span>원</span>
                            </span>
                        </p>
                        <p class="car_card_info_price" style="margin: 15px 0 0 0;">누구나 월대여료:</p>
                        <p>
                            <span class="car_card_info_price" th:text="${#numbers.formatInteger(car.contractPrice,0,'COMMA')}"></span>
                            <span class="car_card_info_price">원</span>
                            <span style="color: dimgrey;"> / 월 (부가세 별도)</span>
                        </p>
                        <div style="text-align: right;">
                            <button class="car_card_button" th:onclick="|location.href='@{/rent/long_term/}' + ${car.longTermRentId}|">상담신청</button>
                        </div>
                    </div>
                </li>
            </ul>


            <h2 id="special-long-term-rent" class="page-title">스페셜 누구나 장기렌트</h2>
            <p style="word-break: keep-all; color: dimgrey;">
                세이브카의 스페셜 누구나 장기렌트 상품입니다.
            </p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 20px;">
                <div class="panel panel-default">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                [스페셜 누구나 장기렌트] 클릭 ▼
                            </h4>
                        </div>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="page-title">신차장기렌트 순회점검서비스</h2>
            <p style="word-break: keep-all; color: dimgrey;">
                세이브카의 누구나 신차 장기렌트를 이용하는 분들을 위한 순회 점검 서비스입니다.
            </p>
            <img th:src="@{/img/long_term_service_oil.png}" alt="long_term_service" style="margin-top: 10px; width: 100%;">
            <img th:src="@{/img/long_term_service_blackbox.png}" alt="long_term_service" style="margin-top: 10px; margin-bottom: 50px; width: 100%;">


            <h2 class="page-title">중고차장기렌트 순회점검서비스</h2>
            <p style="word-break: keep-all; color: dimgrey;">
                세이브카의 누구나 중고차 장기렌트를 이용하는 분들을 위한 순회 점검 서비스입니다.
            </p>
            <img th:src="@{/img/long_term_service_best_oil.png}" alt="long_term_service" style="margin-top: 10px; width: 100%;">
            <img th:src="@{/img/long_term_service_blackbox.png}" alt="long_term_service" style="margin-top: 10px; margin-bottom: 50px; width: 100%;">

            <!--상담 신청-->
            <div id="counsel" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p style="font-size: 28px; text-align: center; margin-bottom: 30px;"><i class="fas fa-arrow-down"></i></p>
                    <h2>상담 신청하기</h2>
                    <hr>
                    <div id="reservation-info" name="reservation-info" action="">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside10">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="name">* 이름</label>
                                    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" id="reservation-simple-name" placeholder="성함을 입력해주세요." required oninvalid="this.setCustomValidity('필수 입력 정보입니다.')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside10">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="phone">* 연락처</label>
                                    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="text" class="form-control" id="reservation-simple-phone" placeholder="연락처 ex) 010-0000-0000" required >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside10">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="textarea">요청 사항</label>
                                    <div class="input-group"> <span class="input-group-addon"><i class="fas fa-clipboard"></i></span>
                                        <textarea name="textarea" rows="7" style="display: none;"></textarea>
                                        <textarea class="form-control" id="reservation-simple-details" name="textarea" rows="7" placeholder="요청사항을 입력해주세요.(약정 주행거리 등)"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group has-feedback">
                                    <p class="text-center"><label><input type="checkbox" id="agree1" class="agree"> 개인정보 수집 및 이용에 동의합니다.</label></p>
                                    <p class="text-center"><label><input type="checkbox" id="agree2" class="agree"> 보험사 사고경력조회에 동의합니다.</label></p>
                                    <p class="text-center"><label><input type="checkbox" id="agree3" class="agree"> 보험사고 경력 조회시에 당사 규정에 따라 거부될 수 있음을 확인합니다.</label></p>
                                    <p class="text-center"><label><input type="checkbox" id="agree4" class="agree" onclick="check_all_box()"> 모두 동의</label></p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside10">
                                <div class="form-group text-center">
                                    <button class="btn1 btn1-default" onclick="make_long_term_rent_reservation()">상담신청 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>