<!--  rent/month/detail -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
  <title>SAVECAR - 월렌트</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Style -->
  <link th:href="@{/css/car_detail.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script th:src="@{/js/rent_month2.js}" defer></script>
  <script th:src="@{/js/car_detail.js}" defer></script>
  <!--  <script th:src="@{/js/jquery.min.js}"></script>-->
<!--  <script th:src="@{/js/vendor/bootstrap.min.js}"></script>-->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->

  <script>
    // window.onload = function(){
    //   document.getElementById("address_button").addEventListener("click", function(){ //주소입력칸을 클릭하면
    //     //카카오 지도 발생
    //     new daum.Postcode({
    //       oncomplete: function(data) { //선택시 입력값 세팅
    //         document.getElementById("address_kakao").value = data.address; // 주소 넣기
    //         document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
    //       }
    //     }).open();
    //   });
    // }
  </script>

</head>
<body>
<div layout:fragment="content" style="width: 86%; margin:0 auto">
  <div class="car_detail_content" style="padding-top: 100px;">
    <div id="pickupPriceModal" class="modal">
      <div class="modal_content">
        <span class="modal_close_btn">&times;</span>
        <table>
          <tr class="hidden-mobile">
            <td class="title">금액</td>
            <td class="title">지역 (서울|경기)</td>
          </tr>
          <tr>
            <td class="subtitle">15,000원</td>
            <td>송파구, 성남시[수정구]</td>
          </tr>
          <tr>
            <td class="subtitle">15,000원~20,000원</td>
            <td>강동구, 성남시[중원구]</td>
          </tr>
          <tr>
            <td class="subtitle">15,000원~25,000원</td>
            <td>강남구, 서초구, 성동구, 동대문구, 중랑구, 용산구, 동작구, 관악구, 광진구, 하남시, 성남시[분당구]</td>
          </tr>
          <tr>
            <td class="subtitle">20,000원~30,000원</td>
            <td>노원구, 성북구, 종로구, 중구, 영등포구, 금천구, 도봉구, 강북구, 은평구, 서대문구, 마포구, 양천구, 구로구, 강서구, 광명시, 의정부시, 구리시, 남양주시, 광주시, 과천시, 안양시</td>
          </tr>
          <tr>
            <td class="subtitle">25,000원~35,000원</td>
            <td>부천시, 시흥시, 양주시, 고양시, 용인시, 수원시, 이천시, 군포시, 의왕시</td>
          </tr>
          <tr>
            <td class="subtitle">30,000원~50,000원</td>
            <td>가평군, 양평군, 화성시, 안산시, 김포시, 인천광영시, 파주시, 동두천시, 포천시, 오산시, 평택시, 안성시, 여주시, 연천군</td>
          </tr>
          <tr>
            <td class="subtitle"></td>
            <td>*이외의 지역은 별도 상담을 통해 문의하시기 바랍니다.</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="row" style="margin-bottom: 150px;">
        <!-- Nav tabs -->
        <ul class="nav-tabs">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="/rent/month/new"><i class="fas fa-arrow-left"></i></a>
          </div>
          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <h1 th:text="${morenDto.carName}"></h1>
          </div>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="width: 86%; margin: 0 auto">
          <!-- info car -->
          <div class="tab-pane active" id="info_car">
            <div class="row" style="margin-bottom: 50px;">
              <!-- car picture carousel -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 carousel-box">
                <div class="row car_img_carousel">
                  <div th:if="${#lists.size(morenDto.carImageList) == 0}" id="carousel-example-empty" class="carousel slide" data-ride="carousel" style="height: 100%">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" >
                      <li data-target="#carousel-example-generic"  data-slide-to="0" class="active"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="height: 100%">
                      <!-- 사진 -->
                      <div class="item active">
                        <img th:src="@{/img/picture_not_found.png}" alt="211005" border="0">
                      </div>
                    </div>
                  </div>
                  <div th:if="${#lists.size(morenDto.carImageList) == 1}" id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 100%">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" >
                      <li data-target="#carousel-example-generic"  th:each="image_url, iterStat: ${morenDto.carImageList}" th:data-slide-to="${iterStat.index}" th:class="${iterStat.index} == 0 ? 'active' : ''"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="height: 100%">
                      <!-- 사진 -->
                      <div th:each="image_url, iterStat: ${morenDto.carImageList}"  th:class="${iterStat.index} == 0 ? 'item active' : 'item'">
                        <img th:src="${image_url}" style="padding-top: 30px;padding-bottom: 30px;padding-left: 50px;padding-right: 50px;" alt="...">
                      </div>
                    </div>
                  </div>
                  <div th:if="${#lists.size(morenDto.carImageList) > 1}" id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 100%">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" >
                      <li data-target="#carousel-example-generic"  th:each="image_url, iterStat: ${morenDto.carImageList}" th:data-slide-to="${iterStat.index}" th:class="${iterStat.index} == 0 ? 'active' : ''"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="height: 100%">
                      <!-- 사진 -->
                      <div th:each="image_url, iterStat: ${morenDto.carImageList}"  th:class="${iterStat.index} == 0 ? 'item active' : 'item'">
                        <img th:src="${image_url}" alt="...">
                      </div>
                    </div>
                  </div>
                  <!-- Controls -->
                  <!-- 좌/우 버튼 -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <div class="row" th:if="${#lists.size(morenDto.carImageList) == 1}" >
                  <p style="text-align: right; margin-right: 1rem;">*실제 차량 사진과 차이가 있을 수 있습니다.</p>
                </div>
              </div>
              <!-- infos -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <!-- info table -->
                <div class="row rentcar_detail_right_column">
                  <div class="car_info_box">
                    <p class="car_info_title">차량정보</p>
                    <div class="car_infos">
                      <div class="car_info">
                        <i class="fa-solid fa-hashtag"></i>
                        <span th:text="${morenDto.carNo}"></span>
                      </div>
                      <div class="car_info">
                        <i class="fa-brands fa-y-combinator"></i>
                        <span th:text="${morenDto.carOld}"></span>
                        <span>년식</span>
                      </div>
                      <div class="car_info">
                        <i class="fa-solid fa-oil-can"></i>
                        <span th:text="${morenDto.carEngine}"></span>
                      </div>
                      <div class="car_info">
                        <i class="fa-solid fa-palette"></i>
                        <span th:text="${morenDto.carColor}"></span>
                      </div>
                      <div class="car_info">
                        <i class="fa-solid fa-car-side"></i>
                        <span th:text="${monthlyRent.category2}"></span>
                      </div>
                      <div class="car_info">
                        <i class="fa-solid fa-gear"></i>
                        <span th:text="${morenDto.carDetail}"></span>
                      </div>
                    </div>
                  </div>
                  <div class="car_info_box" th:if="${morenDto.carAttribute01 != ''}">
                    <p class="car_info_title">차량 옵션</p>
                    <div class="car_attribute">
                      <input type="checkbox" checked onclick="return false">
                      <p th:text="${morenDto.carAttribute01}"></p>
                    </div>
                  </div>
                  <div class="car_info_box">
                    <p class="car_info_title">부가서비스</p>
                    <p style="display: flex; justify-content: space-between; align-items: center;">
                      <span>
                        <i class="fa-solid fa-circle-check" style="color: dimgrey;"></i>
                        <span>차량 배달</span>
                      </span>
                      <button id="pickupPriceBtn">배차비 확인하기</button>
                    </p>
                  </div>

<!--                  <div class="col-lg-12">-->
<!--                    <h1 class="carName" th:text="${morenDto.carName}"></h1>-->
<!--                  </div>-->
<!--                  <hr style="border-top: 2px solid white;">-->
<!--                  &lt;!&ndash; table left &ndash;&gt;-->
<!--                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 info-card-left">-->
<!--                    <p>연료</p>-->
<!--                    <p>년식</p>-->
<!--&lt;!&ndash;                    <p>주행거리</p>&ndash;&gt;-->
<!--                    <p>차량번호</p>-->
<!--                    <p>배기량</p>-->
<!--&lt;!&ndash;                    <p>모델 연도</p>&ndash;&gt;-->
<!--                    <p>색상</p>-->
<!--                    <p>옵션</p>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; table right &ndash;&gt;-->
<!--                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 info-card-right">-->
<!--                    <p th:text="${morenDto.carEngine}"></p>-->
<!--                    <p class="carOld" th:text="${morenDto.carOld}"></p>-->
<!--&lt;!&ndash;                    <p th:text="${morenDto.carMileaget}+'km'"></p>&ndash;&gt;-->
<!--                    <p class="carNo" th:text="${morenDto.carNo}"></p>-->
<!--                    <p th:text="${morenDto.carDisplacement}"></p>-->
<!--&lt;!&ndash;                    <p th:text="${morenDto.carOld}"></p>&ndash;&gt;-->
<!--                    <p th:text="${morenDto.carColor}"></p>-->
<!--                    <p th:text="${morenDto.carAttribute01}"></p>-->
<!--                  </div>-->
                </div>
<!--                <div class="row justify-content-md-center">-->
<!--                  <div class="col-auto">-->
<!--                    <div class="tel_info"><p>문의: 1661-3331</p></div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>


            <!--실시간 예약-->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p id="getCarIdx" th:text="${carIdx}" style="display: none;"></p>
                <p id="getDiscount" th:text="${morenDto.discount}" style="display: none;"></p>
                <p id="getRentStatus" th:text="${rentStatus}" style="display: none;"></p>
                <p id="getrentIdx" th:text="${rentIdx}" style="display: none;"></p>
                <p class="car_info_title">가격정보 및 예약하기</p>
                <div class="container selectRentermKilometerBox">
                  <div class="select-box">
                    <p class="select_box_description">※ 렌트 기간, 약정 주행거리, 연령 선택에 따라 대여료가 달라집니다.</p>
                    <p th:if="${rentStatus}=='expected'" class="select_box_description">
                      ※ 입고 예정이나, 기존 고객 연장으로 예약이 불가할 수 있습니다.
                    </p>
                    <div class="display_flex">
                      <div style="margin-right: 20px; margin-bottom: 1rem;">
                        <span style="font-size: 15px;">렌트 기간&nbsp;&nbsp;</span>
                        <select onchange="displayNextOptions(this); dataReset();" id="selectRentTerm" style="padding: 5px; border: 1px solid #414141; border-radius: 0.5rem; background: #eeeeee;">
                          <option th:selected="${morenDto.rentTerm=='한달'}" value="한달">한달</option>
                          <option th:selected="${morenDto.rentTerm=='12개월'}" value="12개월">12개월</option>
                          <option th:selected="${morenDto.rentTerm=='24개월'}" value="24개월">24개월</option>
                        </select>
                      </div>
                      <div style="margin-right: 20px; margin-bottom: 1rem;" id="display_age">
                        <span style="font-size: 15px;">약정 주행거리&nbsp;&nbsp;</span>
                        <select onchange="dataReset();" id="selectkilometer" style="padding: 5px; border: 1px solid #414141; border-radius: 0.5rem; background: #eeeeee;">
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2000km'}" value="2000km" selected>2000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='2000km'}" value="2000km">2000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2500km'}" value="2500km" selected>2500km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='2500km'}" value="2500km">2500km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='3000km'}" value="3000km" selected>3000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='3000km'}" value="3000km" >3000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='4000km'}" value="4000km" selected>4000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='4000km'}" value="4000km">4000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='기타'}" value="기타" selected>기타</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='기타'}" value="기타">기타</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='20000km'}" value="20000km" selected>20000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer!='20000km'}" value="20000km">20000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='30000km'}" value="30000km" selected>30000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer!='30000km'}" value="30000km" >30000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='40000km'}" value="40000km" selected>40000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer!='40000km'}" value="40000km">40000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='기타_long'}" value="기타_long" selected>기타</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer!='기타_long'}" value="기타_long">기타</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='20000km'}" value="20000km" selected>20000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer!='20000km'}" value="20000km">20000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='30000km'}" value="30000km" selected>30000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer!='30000km'}" value="30000km" >30000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='40000km'}" value="40000km" selected>40000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer!='40000km'}" value="40000km">40000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='기타_long'}" value="기타_long" selected>기타</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer!='기타_long'}" value="기타_long">기타</option>
                        </select>
                      </div>
                      <div style="font-size: 20px; margin-bottom: 1rem;">
                        <span style="font-size: 15px;">연령&nbsp;&nbsp;</span>
                        <select onchange="displayEditedPrice(this); sameAgeLimit(this);" id="selectAge1" style="padding: 5px; border: 1px solid #414141; border-radius: 0.5rem; background: #eeeeee;">
                          <option value='upper26' selected>만 26세 이상</option>
                          <option value='upper21'>만 21세 이상~만 26세 미만</option>
                        </select>
                      </div>
                    </div>
                    <div>
                    </div>
                  </div>
                  <div class="result-box">
                    <table class="onlyDesktop">
                      <tr style="background: #eeeeee; border-bottom: 1px solid #3b3b3b;">
                        <td>렌트 기간</td>
                        <td>약정 주행거리</td>
                        <td>보증금</td>
                        <td>월대여료(VAT미포함)</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td th:text="${morenDto.rentTerm}"></td>
                        <td th:if="${morenDto.kilometer=='기타_long'}">기타</td>
                        <td th:if="${morenDto.kilometer!='기타_long'}" th:text="${morenDto.kilometer}"></td>
                        <td th:if="${morenDto.kilometer=='기타'||morenDto.kilometer=='기타_long' }">상담</td>
                        <td style="display: none;" th:text="${priceObject.age_limit}" id="getAgeLimit"></td>
                        <td>
                          <span th:text="${#numbers.formatInteger(priceObject.deposit,0,'COMMA')}"></span>
                          <span>원</span>
                        </td>
                        <td th:if="${morenDto.kilometer!='기타'&&morenDto.kilometer!='기타_long'}">
                          <span th:if="${morenDto.discount != 0}">
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2000km'}" th:text="${#numbers.formatInteger(T(Math).round((priceObject.cost_for_2k*(100+morenDto.discount)/100)/1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2500km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round((priceObject.cost_for_2_5k * priceObject.cost_for_2k / 1000)*1000)*(100+morenDto.discount)/100)/1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='3000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round((priceObject.cost_for_3k * priceObject.cost_for_2k / 1000)*1000)*(100+morenDto.discount)/100)/1000)*1000 , 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='4000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round((priceObject.cost_for_4k * priceObject.cost_for_2k / 1000)*1000)*(100+morenDto.discount)/100)/1000)*1000 , 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='20000km'}" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * priceObject.cost_for_20k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='30000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_3k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_30k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='40000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_4k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_40k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='20000km'}" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * priceObject.cost_for_20Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='30000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_3k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_30Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='40000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_4k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_40Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                          </span>
                          <span th:if="${morenDto.discount == 0}">
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2000km'}" th:text="${#numbers.formatInteger(priceObject.cost_for_2k, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2500km'}" th:text="${#numbers.formatInteger(T(Math).round(priceObject.cost_for_2_5k * priceObject.cost_for_2k / 1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='3000km'}" th:text="${#numbers.formatInteger(T(Math).round(priceObject.cost_for_3k * priceObject.cost_for_2k / 1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='4000km'}" th:text="${#numbers.formatInteger(T(Math).round(priceObject.cost_for_4k * priceObject.cost_for_2k / 1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='20000km'}" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * priceObject.cost_for_20k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='30000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_3k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_30k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='40000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_4k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_40k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='20000km'}" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * priceObject.cost_for_20Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='30000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_3k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_30Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='40000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_4k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_40Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                          </span>
                          <span>원</span>
                        </td>
                        <td style="display: flex; justify-content: space-evenly;">
                          <a target="_blank" onclick="openOffer()"><button class="detail_btn">견적서 보기</button></a>
                          <a target="_blank" th:if="${rentStatus}=='available'" onclick="openForm()"><button class="detail_btn_reserve">바로 예약하기</button></a>
                        </td>
                      </tr>
                    </table>
                    <div class="onlyMobile">
                      <p>
                        <span>렌트 기간</span>
<!--                        <span th:text="${morenDto.rentTerm}"></span>-->
                        <select onchange="displayNextOptions(this); dataReset2(true);" id="selectRentTerm2" style="padding: 5px; border: 1px solid #414141; border-radius: 0.5rem; background: #eeeeee;">
                          <option th:selected="${morenDto.rentTerm=='한달'}" value="한달">한달</option>
                          <option th:selected="${morenDto.rentTerm=='12개월'}" value="12개월">12개월</option>
                          <option th:selected="${morenDto.rentTerm=='24개월'}" value="24개월">24개월</option>
                        </select>
                      </p>
                      <p>
                        <span>약정 주행거리</span>
<!--                        <span th:if="${morenDto.kilometer=='기타_long'}">기타</span>-->
<!--                        <span th:if="${morenDto.kilometer!='기타_long'}" th:text="${morenDto.kilometer}"></span>-->
                        <select onchange="dataReset2(false);" id="selectkilometer2" style="padding: 5px; border: 1px solid #414141; border-radius: 0.5rem; background: #eeeeee;">
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2000km'}" value="2000km" selected>2000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='2000km'}" value="2000km">2000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2500km'}" value="2500km" selected>2500km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='2500km'}" value="2500km">2500km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='3000km'}" value="3000km" selected>3000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='3000km'}" value="3000km" >3000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='4000km'}" value="4000km" selected>4000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='4000km'}" value="4000km">4000km</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='기타'}" value="기타" selected>기타</option>
                          <option th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer!='기타'}" value="기타">기타</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='20000km'}" value="20000km" selected>20000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer!='20000km'}" value="20000km">20000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='30000km'}" value="30000km" selected>30000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer!='30000km'}" value="30000km" >30000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='40000km'}" value="40000km" selected>40000km</option>
                          <option th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer!='40000km'}" value="40000km">40000km</option>
                          <option th:if="${(morenDto.rentTerm=='12개월' && morenDto.kilometer=='기타_long') or (morenDto.rentTerm=='12개월' && morenDto.kilometer=='기타')}" value="기타_long" selected>기타</option>
                          <option th:if="${(morenDto.rentTerm=='12개월' && morenDto.kilometer!='기타_long') and (morenDto.rentTerm=='12개월' && morenDto.kilometer!='기타')}" value="기타_long">기타</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='20000km'}" value="20000km" selected>20000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer!='20000km'}" value="20000km">20000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='30000km'}" value="30000km" selected>30000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer!='30000km'}" value="30000km" >30000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='40000km'}" value="40000km" selected>40000km</option>
                          <option th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer!='40000km'}" value="40000km">40000km</option>
                          <option th:if="${(morenDto.rentTerm=='24개월' && morenDto.kilometer=='기타_long') or (morenDto.rentTerm=='24개월' && morenDto.kilometer=='기타')}" value="기타_long" selected>기타</option>
                          <option th:if="${(morenDto.rentTerm=='24개월' && morenDto.kilometer!='기타_long') and (morenDto.rentTerm=='24개월' && morenDto.kilometer!='기타')}" value="기타_long">기타</option>
                        </select>
                      </p>
                      <p>
                        <span>연령</span>
                        <select onchange="displayEditedPrice(this); sameAgeLimit(this);" id="selectAge2" style="padding: 5px; border: 1px solid #414141; border-radius: 0.5rem; background: #eeeeee;">
                          <option value='upper26' selected>만 26세 이상</option>
                          <option value='upper21'>만 21세 이상~만 26세 미만</option>
                        </select>
                      </p>
                      <p>
                        <span>보증금</span>
                        <span>
                          <span th:text="${#numbers.formatInteger(priceObject.deposit,0,'COMMA')}"></span>
                          <span>원</span>
                        </span>
                      </p>
                      <p>
                        <span>월대여료(VAT미포함)</span>
                        <span th:if="${morenDto.kilometer=='기타'||morenDto.kilometer=='기타_long'}">상담</span>
                        <span th:if="${morenDto.kilometer!='기타'&&morenDto.kilometer!='기타_long'}">
                          <span th:if="${morenDto.discount != 0}">
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2000km'}" th:text="${#numbers.formatInteger(T(Math).round((priceObject.cost_for_2k*(100+morenDto.discount)/100)/1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2500km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round((priceObject.cost_for_2_5k * priceObject.cost_for_2k / 1000)*1000)*(100+morenDto.discount)/100)/1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='3000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round((priceObject.cost_for_3k * priceObject.cost_for_2k / 1000)*1000)*(100+morenDto.discount)/100)/1000)*1000 , 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='4000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round((priceObject.cost_for_4k * priceObject.cost_for_2k / 1000)*1000)*(100+morenDto.discount)/100)/1000)*1000 , 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='20000km'}" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * priceObject.cost_for_20k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='30000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_3k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_30k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='40000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_4k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_40k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='20000km'}" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * priceObject.cost_for_20Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='30000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_3k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_30Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='40000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_4k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_40Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                          </span>
                          <span th:if="${morenDto.discount == 0}">
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2000km'}" th:text="${#numbers.formatInteger(priceObject.cost_for_2k, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='2500km'}" th:text="${#numbers.formatInteger(T(Math).round(priceObject.cost_for_2_5k * priceObject.cost_for_2k / 1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='3000km'}" th:text="${#numbers.formatInteger(T(Math).round(priceObject.cost_for_3k * priceObject.cost_for_2k / 1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='한달' && morenDto.kilometer=='4000km'}" th:text="${#numbers.formatInteger(T(Math).round(priceObject.cost_for_4k * priceObject.cost_for_2k / 1000)*1000, 0, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='20000km'}" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * priceObject.cost_for_20k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='30000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_3k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_30k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='12개월' && morenDto.kilometer=='40000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_4k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_40k / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='20000km'}" th:text="${#numbers.formatInteger(T(Math).round(monthlyRent.cost_for_2k * priceObject.cost_for_20Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='30000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_3k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_30Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                            <span th:if="${morenDto.rentTerm=='24개월' && morenDto.kilometer=='40000km'}" th:text="${#numbers.formatInteger(T(Math).round((T(Math).round(monthlyRent.cost_for_4k * monthlyRent.cost_for_2k / 1000)*1000) * priceObject.cost_for_40Tk / 1000)*1000, 3, 'COMMA')}" id="carPrice"></span>
                          </span>
                          <span>원</span>
                        </span>
                      </p>
                      <div style="display: flex; justify-content: space-evenly;">
                        <a target="_blank" onclick="openOffer()"><button class="detail_btn">견적서 보기</button></a>
                        <a target="_blank" th:if="${rentStatus}=='available'" onclick="openForm()"><button class="detail_btn_reserve">바로 예약하기</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div th:if="${rentStatus}=='expected'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 10px;">
                <div class="pinside30">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p style="font-size: 28px; text-align: center; margin-bottom: 30px;"><i class="fas fa-arrow-down"></i></p>
                      <h2>상담 신청하기</h2>
                      <hr>
                      <div id="reservation-info" name="reservation-info" action="">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside10">
                            <div class="form-group has-feedback">
                              <label class="control-label" for="name">* 이름</label>
                              <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" id="reservation-simple-name" placeholder="성함을 입력해주세요." required oninvalid="this.setCustomValidity('필수 입력 정보입니다.')">
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside10">
                            <div class="form-group has-feedback">
                              <label class="control-label" for="phone">* 연락처</label>
                              <div class="input-group"> <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input type="text" class="form-control" id="reservation-simple-phone" placeholder="연락처 ex) 010-0000-0000" required >
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside10">
                            <div class="form-group has-feedback">
                              <label class="control-label" for="textarea">요청 사항</label>
                              <div class="input-group"> <span class="input-group-addon"><i class="fas fa-clipboard"></i></span>
                                <textarea class="form-control" id="reservation-simple-details" name="textarea" rows="7" placeholder="요청사항을 입력해주세요.(약정 주행거리 등)"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                              <p class="text-center"><input type="checkbox" id="agree1"> 개인정보 수집 및 이용에 동의합니다.</p>
                              <p class="text-center"><input type="checkbox" id="agree2"> 보험사 사고경력조회에 동의합니다.</p>
                              <p class="text-center"><input type="checkbox" id="agree3"> 보험사고 경력 조회시에 당사 규정에 따라 거부될 수 있음을 확인합니다.</p>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pinside10">
                            <div class="form-group text-center">
                              <button class="detail_btn_reserve" onclick="make_monthly_rent_reservation()">상담신청 </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
          </div>
        </div>
      </div>
    </div>

    <div style="display: none;">
      <p id="forPostCarIdx" th:text="${morenDto.carIdx}"></p>
      <p id="forPostCarCategory" th:text="${morenDto.carCategory}"></p>
      <p id="forPostCarName" th:text="${morenDto.carName}"></p>
      <p id="forPostCarNo" th:text="${morenDto.carNo}"></p>
      <p id="forPostCarExteriorColor" th:text="${morenDto.carExteriorColor}"></p>
      <p id="forPostCarGubun" th:text="${morenDto.carGubun}"></p>
      <p id="forPostCarDisplacement" th:text="${morenDto.carDisplacement}"></p>
      <p id="forPostCarMileaget" th:text="${morenDto.carMileaget}"></p>
      <p id="forPostCarColor" th:text="${morenDto.carColor}"></p>
      <p id="forPostCarOld" th:text="${morenDto.carOld}"></p>
      <p id="forPostCarEngine" th:text="${morenDto.carEngine}"></p>
      <p id="forPostCarAttribute01" th:text="${morenDto.carAttribute01}"></p>
      <p id="forPostRentTerm" th:text="${morenDto.rentTerm}"></p>
      <p th:if="${morenDto.kilometer=='기타'||morenDto.kilometer=='기타_long'}" id="carPrice">상담</p>

      <p id="forPostDeposit" th:text="${priceObject.deposit}"></p>
      <p id="forPostOrderEnd" th:text="${morenDto.orderEnd}"></p>
      <p id="forPostRentIdx" th:text="${morenDto.rentIdx}"></p>
      <p id="forPostCarImageList" th:text="${morenDto.carImageList}"></p>
      <p id="forPostDiscount" th:text="${morenDto.discount}"></p>
      <p id="forPostDiscountDescription" th:text="${morenDto.discountDescription}"></p>
      <p id="forPostCostPerKm" th:text="${morenDto.costPerKm}"></p>
      <p id="forPostCredit" th:text="${morenDto.credit}"></p>
      <p id="forPostCarCode" th:text="${morenDto.carCode}"></p>
      <p id="forPostKilometer" th:text="${morenDto.kilometer}"></p>
    </div>

  </div>
</div>
</body>


</html>