<!--  월렌트 진행중 (main.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>월렌트+12개월렌트 - SAVECAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/rent_month2.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function(){
            displayGubun();
        });
    </script>
    <script th:src="@{/js/rent_month.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
   <div class="monthly_content container-fluid pinside60">

        <!-- title row -->
        <div class="row">
            <!-- title -->
            <div class="row" id="title_wrapper">
                <!-- left col -->
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <!-- 월렌트 title -->
                    <div>
                        <h1 class="page-title">월렌트+12개월렌트</h1>
                        <p th:text="${carGubunList}" id="carGubunList" style="display: none;"></p>
                        <p th:text="${realTimeDTO.carType}" id="carTypeForGubun" style="display: none;"></p>
                    </div>
                    <!-- descriptions (collapse panel) -->
                    <div>
                        <p style="word-break: keep-all; color: dimgrey;">
                            세이브카의 실시간 예약가능차량을 조회할 수 있습니다.
                        </p>
                        <div class="not-show-in-mobile">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                월렌트는 1개월 단위로 이용할 수 있는 렌트 상품입니다. 12개월렌트는 12개월 동안 이용할 수 있는 렌트 상품입니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                실시간으로 세이브카의 예약가능차량을 조회해보실 수 있습니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <span>입고예정차량은 </span>
                                                <span th:text="${expectedDayDisplayed}"></span>
                                                <span>일 이내 반납 예정인 차량입니다.</span>
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <span style="font-weight: bold;">월 고객 600명</span>이 월렌트+12개월렌트 상품을 이용중입니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                ALL <span style="font-weight: bold; color: red;">정비, 자차 포함</span> 상품입니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right col -->
                <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0 text-center not-show-in-mobile">
                    <img th:src="@{/img/medium_car.png}"  alt="car_img" style="height: 80%; width: 80%" />
                </div>
            </div>

            <!-- selections -->
            <form target="_self" method="POST" class="row pinside20 bg-white" id="select_wrapper" action="/rent/month/lookup" style="margin-top: 0px;">

                <!-- 차종 -->
                <div class="row">
                    <!-- left title -->
                    <div class="col-lg-2 col-md-9 col-sm-12 col-xs-12">
                        <p>차종</p>
                    </div>
                    <!-- selections -->
                    <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12" id="sel_car">
                    </div>
                </div>
                <hr style="background: lightgrey; margin: 10px 0" />

                <!-- 렌트기간 -->
                <div class="row">
                    <!-- left title -->
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <p>렌트기간</p>
                    </div>
                    <!-- selections -->
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="sel_term">
                        <label for="term_month"><input type="radio" id="term_month" name="rentTerm" value="한달" onclick="sendData()" th:checked="${realTimeDTO.rentTerm} == '한달'">한달</label>
                        <label for="term_one_year"><input type="radio" id="term_one_year" name="rentTerm" value="12개월" onclick="sendData()" th:checked="${realTimeDTO.rentTerm} == '12개월'">12개월</label>
                    </div>
                </div>
                <hr style="background: lightgrey; margin: 10px 0" />

                <!-- 약정 주행거리 -->
                <div class="row">
                    <!-- left title -->
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <p>약정 주행거리</p>
                    </div>
                    <!-- selections -->
                    <div th:if="${realTimeDTO.rentTerm == '한달'}" id="sel_reg" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <label for="reg_2000"><input type="radio" id="reg_2000" name="kilometer" value="2000km" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '2000km'">2,000km</label>
                        <label for="reg_2500"><input type="radio" id="reg_2500" name="kilometer" value="2500km" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '2500km'">2,500km</label>
                        <label for="reg_3000"><input type="radio" id="reg_3000" name="kilometer" value="3000km" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '3000km'">3,000km</label>
                        <label for="reg_4000"><input type="radio" id="reg_4000" name="kilometer" value="4000km" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '4000km'">4,000km</label>
                        <label for="reg_others"><input type="radio" id="reg_others" name="kilometer" value="기타" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '기타'">기타</label>
                    </div>

                    <!-- selections -->
                    <div th:if="${realTimeDTO.rentTerm == '12개월'}" id="sel_reg" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <label for="reg_20000"><input type="radio" id="reg_20000" name="kilometer" value="20000km" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '20000km'">20,000km</label>
                        <label for="reg_30000"><input type="radio" id="reg_30000" name="kilometer" value="30000km" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '30000km'">30,000km</label>
                        <label for="reg_40000"><input type="radio" id="reg_40000" name="kilometer" value="40000km" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '40000km'">40,000km</label>
                        <label for="reg_others_long"><input type="radio" id="reg_others_long" name="kilometer" value="기타_long" onclick="sendData()" th:checked="${realTimeDTO.kilometer} == '기타_long'">기타</label>
                    </div>
                </div>
            </form>
        </div>

        <!-- content row -->
        <div>
            <div>
                <p style="word-break: keep-all; color: dimgrey;">
                    * 조건을 선택하면 아래에 해당하는 차량이 조회됩니다
                </p>
            </div>
            <div>
                <div class="to-prior-rent-month-text">* 아래 목록에 없는 차량은 [차량별 렌트료확인하기]로 필요한 차량을 예약하세요</div>
                <div class="to-prior-rent-month-button-wrap"><a href="/rent/estimate"><button class="to-prior-rent-month-button">실시간 견적내기<br>월렌트/12개월ㆍ마일리지별</button></a></div>
                <div class="to-prior-rent-month-button-wrap"><a href="/price/month/경형"><button class="to-price-rent-month-button">한눈에보는 월렌트/12개월 가격표<image th:src="@{/img/click1.png}" style="width: 20px; height: 20px;"></image></button></a></div>
            </div>
        </div>

        <!-- content row -->
        <div>
            <!-- car table -->
            <div>
                <div id="mainTable">
                    <div class="head_title" style="margin-top: 50px;">
                        <h1 class="page-title">현재 대여가능차량(<span class="page-title" th:text="${#lists.size(morenDTOList)}"></span>대)</h1>
                        <p style="word-break: keep-all; color: dimgrey; display: flex; justify-content: space-between;">
                            <span>* 예약순서는 예약금 선입금순입니다.</span>
                            <span>** 10분마다 업데이트됩니다.</span>
                        </p>
                    </div>
                  
                    <table class="table_available" th:unless="${morenDTOList.isEmpty()}">
                        <thead id="table_header">
                        <tr>
                            <th style="display: none;"></th>
                            <th>
                                <p>차량번호</p>
                                <div onclick="sortContent(1, 'available'); displaySortImage('available_1');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_1" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>차명</p>
                                <div onclick="sortContent(2, 'available'); displaySortImage('available_2');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_2" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>연료</p>
                                <div onclick="sortContent(3, 'available'); displaySortImage('available_3');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_3" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>색상</p>
                                <div onclick="sortContent(4, 'available'); displaySortImage('available_4');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_4" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>년식</p>
                                <div onclick="sortContent(5, 'available'); displaySortImage('available_5');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_5" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>월대여료[VAT별도]</p>
                                <div onclick="sortContent(6, 'available', true); displaySortImage('available_6');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="available_6" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <!-- pc -->
                        <tbody id="mainTable_tbody">
                        <tr th:each="moren, iterStat : ${morenDTOList}" class="moveToDetail" th:data-index="${moren.realTimeRentId}" style="cursor: pointer;"
                            th:unless="${moren.monthlyRent.yearlyRent == null}"
                        >
                            <td scope="col" style="display: none;" th:text="${moren.realTimeRentId}" class="rentId" th:data-index="${moren.realTimeRentId}"></td>
                            <td scope="col" th:text="${moren.carNo}"></td>
                            <td scope="col" th:text="${moren.carName}"></td>
                            <td scope="col" th:text="${moren.carEngine}"></td>
                            <td scope="col" th:text="${moren.carExteriorColor}"></td>
                            <td scope="col" th:text="${moren.carOld}"></td>
                            <td scope="col" class="discountStyle">
                                <span th:if="${realTimeDTO.kilometer == '기타'||realTimeDTO.kilometer == '기타_long'}">상담</span>
                                <span th:if="${realTimeDTO.kilometer != '기타'&&realTimeDTO.kilometer != '기타_long'}"
                                      th:style="${realTimeDTO.rentTerm == '한달' and moren.discount != 0 ? 'text-decoration: line-through; text-decoration-color: darkred; text-decoration-thickness: 3px; ' : 'text-decoration:none'}">
                                    <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2k,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2500km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2_5k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '3000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_3k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '4000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_4k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '20000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_20k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '30000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_30k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '40000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_40k_price,0,'COMMA')}"></span>
                                    <span>원</span>
                                </span>
                                <div th:if="${realTimeDTO.rentTerm == '한달' and realTimeDTO.kilometer != '기타' and moren.discount != 0}" class="discount-wrap">
                                    <p th:text="${moren.description}" class="discountAnimation" style="width: max-content;"></p>
                                    <div th:if="${moren.priceDisplay == 1}">
                                        <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_2k*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                        <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2500km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_2_5k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                        <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '3000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_3k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                        <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '4000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_4k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                        <p>원</p>
                                    </div>
                                </div>
                            </td>
                            <td scope="col" th:text="${realTimeDTO.rentTerm}" class="rentTerm" style="display: none;" th:data-index="${moren.realTimeRentId}"></td>
                            <td scope="col" th:text="${realTimeDTO.kilometer}" class="kilometer" style="display: none;" th:data-index="${moren.realTimeRentId}"></td>
                            <td scope="col" th:text="${moren.discount}" class="discountValue" style="display: none;" th:data-index="${moren.realTimeRentId}"></td>
                            <td>
                                <a th:unless="${moren.isLongTerm}" th:href="'/rent/month/detail/' + ${moren.realTimeRentId} + '/' + ${realTimeDTO.rentTerm} + '/' + ${realTimeDTO.kilometer}  + '/' + ${moren.discount}">
                                    <button class="detail_btn" th:data-index="${moren.realTimeRentId}" th:data-isLongTerm="${moren.isLongTerm}" >실시간 예약하기</button>
                                </a>
                                <a th:if="${moren.isLongTerm}" th:href="'/rent/long_term/main'">
                                    <button class="detail_btn" th:data-index="${moren.realTimeRentId}" style="background: dodgerblue;">장기렌트 바로가기</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="empty-list-card" th:if="${morenDTOList.isEmpty()}">
                        <p>검색 결과가 없습니다. 다른 조건으로 검색해주세요.</p>
                    </div>
                </div>
                <!-- 모바일 --->
                <div id="mobileCard">
                    <div class="card moveToDetail" th:each="moren, iterStat : ${morenDTOList}" th:data-index="${moren.realTimeRentId}" style="cursor: pointer;"
                         th:unless="${moren.monthlyRent.yearlyRent == null}"
                    >
                        <h4 th:text="${moren.carName}"></h4>
                        <p>차량 번호: <span th:text="${moren.carNo}"></span></p>
                        <p>색상: <span th:text="${moren.carExteriorColor}"></span> | 연료: <span th:text="${moren.carEngine}"></span></p>
                        <p>년식: <span th:text="${moren.carOld}"></span></p>
                        <p class="discountStyle">월 대여료[VAT별도]:
                            <span th:if="${realTimeDTO.kilometer == '기타'||realTimeDTO.kilometer == '기타_long'}">상담</span>
                            <span th:if="${realTimeDTO.kilometer != '기타'&&realTimeDTO.kilometer != '기타_long'}"
                                  th:style="${realTimeDTO.rentTerm == '한달' and moren.discount != 0 ? 'text-decoration: line-through; text-decoration-color: darkred; text-decoration-thickness: 3px; ' : 'text-decoration:none'}">
                                <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2k,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2500km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2_5k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '3000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_3k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '4000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_4k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '20000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_20k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '30000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_30k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '40000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_40k_price,0,'COMMA')}"></span>
                                <span>원</span>
                            </span>
                            <div th:if="${realTimeDTO.rentTerm == '한달' and realTimeDTO.kilometer != '기타' and moren.discount != 0}" class="discount-wrap">
                                <p th:text="${moren.description}" class="discountAnimation" style="width: max-content;"></p>
                                <div th:if="${moren.priceDisplay == 1}">
                                    <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_2k*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                    <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2500km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_2_5k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                    <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '3000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_3k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                    <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '4000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_4k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                    <p>원</p>
                                </div>
                            </div>
                        </p>
                        <a th:unless="${moren.isLongTerm}" th:href="'/rent/month/detail/' + ${moren.realTimeRentId} + '/' + ${realTimeDTO.rentTerm} + '/' + ${realTimeDTO.kilometer}  + '/' + ${moren.discount}">
                            <button class="detail_btn">실시간 예약하기</button>
                        </a>
                        <a th:if="${moren.isLongTerm}" th:href="'/rent/long_term/main'">
                            <button class="detail_btn" th:data-index="${moren.realTimeRentId}" style="background: dodgerblue; padding: 4px 7px;">장기렌트 바로가기</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- content row -->
        <div>
            <!-- car table -->
            <div>
                <div id="mainTable">
                    <div class="head_title" style="margin-top: 50px;">
                        <h1 class="page-title">
                            <span>입고예정[확정]차량</span>
                        </h1>
                        <h3><span style="color: red;">[상담신청만 가능]</span></h3>
                        <p style="word-break: keep-all; color: dimgrey;">
                            * 입고예정이나, 기존고객연장으로 예약이 불가할수있습니다.<br/>* 기존 고객님께서 교체하실 경우에는, 당사 방문 교체만 가능하며 교체비 3만원이 발생합니다.
                        </p>

                    </div>
                    <table class="table_expected" th:unless="${morenDTOListExpected.isEmpty()}">
                        <thead id="table_header">
                        <tr>
                            <th style="display: none;"></th>
                            <th>
                                <p>차량번호</p>
                                <div onclick="sortContent(1, 'expected'); displaySortImage('expected_1');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="expected_1" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>차명</p>
                                <div onclick="sortContent(2, 'expected'); displaySortImage('expected_2');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="expected_2" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>연료</p>
                                <div onclick="sortContent(3, 'expected'); displaySortImage('expected_3');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="expected_3" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>색상</p>
                                <div onclick="sortContent(4, 'expected'); displaySortImage('expected_4');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="expected_4" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>년식</p>
                                <div onclick="sortContent(5, 'expected'); displaySortImage('expected_5');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="expected_5" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>입고예정일</p>
                                <div onclick="sortContent(6, 'expected'); displaySortImage('expected_6');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="expected_6" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p>입고일<span style="font-weight: bold;">[확정]</span></p>
                                <div onclick="sortContent(7, 'expected'); displaySortImage('expected_7');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="expected_6" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th>
                                <p style="word-break: keep-all;">월대여료[VAT별도]</p>
                                <div onclick="sortContent(8, 'expected', true); displaySortImage('expected_8');">
                                    <i class="fa fa-arrow-down" aria-hidden="true" data-id="expected_8" style="cursor: pointer; font-size: 22px;"></i>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <!-- pc -->
                        <tbody id="mainTable_tbody">
                        <tr th:each="moren, iterStat : ${morenDTOListExpected}"
                            class="moveToDetail" th:data-index="${moren.realTimeRentId}" style="cursor: pointer;"
                            th:unless="${moren.monthlyRent.yearlyRent == null}"
                        >
                            <td scope="col" style="display: none;" th:text="${moren.realTimeRentId}" class="rentId" th:data-index="${moren.realTimeRentId}"></td>
                            <td scope="col" th:text="${moren.carNo}"></td>
                            <td scope="col"><span th:text="${moren.carName}"></span> <span th:if="${moren.ready_to_return == 1}" style="color: red; font-weight: bold;">[입고확정]</span></td>
                            <td scope="col" th:text="${moren.carEngine}"></td>
                            <td scope="col" th:text="${moren.carExteriorColor}"></td>
                            <td scope="col" th:text="${moren.carOld}"></td>
                            <td scope="col" th:text="${moren.orderEnd}"></td>
                            <td scope="col" th:text="${moren.orderEnd}" th:if="${moren.ready_to_return} == 1"></td>
                            <td scope="col" th:if="${moren.ready_to_return} != 1"></td>
                            <td scope="col" class="discountStyle">
                                <span th:if="${realTimeDTO.kilometer == '기타'||realTimeDTO.kilometer == '기타_long'}">상담</span>
                                <span th:if="${realTimeDTO.kilometer != '기타'&&realTimeDTO.kilometer != '기타_long'}"
                                      th:style="${realTimeDTO.rentTerm == '한달' and moren.discount != 0 ? 'text-decoration: line-through; text-decoration-color: darkred; text-decoration-thickness: 3px; ' : 'text-decoration:none'}">
                                    <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2k,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2500km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2_5k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '3000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_3k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '4000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_4k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '20000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_20k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '30000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_30k_price,0,'COMMA')}"></span>
                                    <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '40000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_40k_price,0,'COMMA')}"></span>
                                    <span>원</span>
                                </span>
                                <div th:if="${realTimeDTO.rentTerm == '한달' and realTimeDTO.kilometer != '기타' and moren.discount != 0}" class="discount-wrap">
                                    <p th:text="${moren.description}" class="discountAnimation" style="width: max-content;"></p>
                                    <div th:if="${moren.priceDisplay == 1}">
                                        <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_2k*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                        <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2500km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_2_5k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                        <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '3000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_3k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                        <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '4000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_4k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                        <p>원</p>
                                    </div>
                                </div>
                            </td>
                            <td scope="col" th:text="${realTimeDTO.rentTerm}" class="rentTerm" style="display: none;" th:data-index="${moren.realTimeRentId}"></td>
                            <td scope="col" th:text="${realTimeDTO.kilometer}" class="kilometer" style="display: none;" th:data-index="${moren.realTimeRentId}"></td>
                            <td scope="col" th:text="${moren.discount}" class="discountValue" style="display: none;" th:data-index="${moren.realTimeRentId}"></td>
                            <td>
                                <a th:href="'/rent/month/detail/' + ${moren.realTimeRentId} + '/' + ${realTimeDTO.rentTerm} + '/' + ${realTimeDTO.kilometer}  + '/' + ${moren.discount}">
                                    <button class="detail_btn">상담 신청</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="empty-list-card" th:if="${morenDTOListExpected.isEmpty()}">
                        <p>검색 결과가 없습니다. 다른 조건으로 검색해주세요.</p>
                    </div>
                </div>
                <!-- 모바일 -->
                <div id="mobileCard">
                    <div class="card moveToDetail" th:each="moren, iterStat : ${morenDTOListExpected}" th:data-index="${moren.realTimeRentId}" style="cursor: pointer;"
                         th:unless="${moren.monthlyRent.yearlyRent == null}"
                    >
                        <h4><span th:text="${moren.carName}"></span> <span th:if="${moren.ready_to_return == 1}" style="color: red; font-weight: bold;">[입고확정]</span></h4>
                        <p>차량 번호: <span th:text="${moren.carNo}"></span></p>
                        <p>색상: <span th:text="${moren.carExteriorColor}"></span> | 연료: <span th:text="${moren.carEngine}"></span></p>
                        <p>년식: <span th:text="${moren.carOld}"></span></p>
                        <p th:if="${moren.ready_to_return} != 1">입고예정일: <span th:text="${moren.orderEnd}"></span></p>
                        <p th:if="${moren.ready_to_return} == 1">입고일<span style="font-weight: bold;">[확정]:</span> <span th:text="${moren.orderEnd}" th:if="${moren.ready_to_return} == 1"></span></p>
                        <p class="discountStyle">월 대여료[VAT별도]:
                            <span th:if="${realTimeDTO.kilometer == '기타'||realTimeDTO.kilometer == '기타_long'}">상담</span>
                            <span th:if="${realTimeDTO.kilometer != '기타'&&realTimeDTO.kilometer != '기타_long'}"
                                  th:style="${realTimeDTO.rentTerm == '한달' and moren.discount != 0 ? 'text-decoration: line-through; text-decoration-color: darkred; text-decoration-thickness: 3px; ' : 'text-decoration:none'}">
                                <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2k,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2500km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_2_5k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '3000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_3k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '4000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.cost_for_4k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '20000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_20k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '30000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_30k_price,0,'COMMA')}"></span>
                                <span th:if="${realTimeDTO.rentTerm == '12개월' && realTimeDTO.kilometer == '40000km'}" th:text="${#numbers.formatInteger(moren.monthlyRent.yearlyRent.cost_for_40k_price,0,'COMMA')}"></span>
                                <span>원</span>
                            </span>
                        <div th:if="${realTimeDTO.rentTerm == '한달' and realTimeDTO.kilometer != '기타' and moren.discount != 0}" class="discount-wrap">
                            <p th:text="${moren.description}" class="discountAnimation" style="width: max-content;"></p>
                            <div th:if="${moren.priceDisplay == 1}">
                                <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_2k*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '2500km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_2_5k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '3000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_3k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                <p th:if="${realTimeDTO.rentTerm == '한달' && realTimeDTO.kilometer == '4000km'}" th:text="${#numbers.formatInteger(T(Math).floor((moren.monthlyRent.cost_for_4k_price*(100+moren.discount)/100)/1000)*1000, 0, 'COMMA')}"></p>
                                <p>원</p>
                            </div>
                        </div>
                        </p>
                        <a th:href="'/rent/month/detail/' + ${moren.realTimeRentId} + '/' + ${realTimeDTO.rentTerm} + '/' + ${realTimeDTO.kilometer}  + '/' + ${moren.discount}">
                            <button class="detail_btn">상담 신청</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="head_title" style="margin-top: 50px;">
                        <h1 class="page-title">상담 신청하기</h1>
                    </div>
                    <div id="reservation-info" name="reservation-info" >
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="name">* 이름</label>
                                    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" id="reservation-simple-name" placeholder="성함을 입력해주세요." required oninvalid="this.setCustomValidity('필수 입력 정보입니다.')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="phone">* 연락처</label>
                                    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="text" class="form-control" id="reservation-simple-phone" placeholder="연락처 ex) 010-0000-0000" required >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="textarea">요청 사항</label>
                                    <div class="input-group"> <span class="input-group-addon"><i class="fas fa-clipboard"></i></span>
                                        <textarea class="form-control" id="reservation-simple-details" name="textarea" rows="7" placeholder="요청사항을 입력해주세요.(약정 주행거리 등)"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group has-feedback">
                                    <p class="text-center"><label><input type="checkbox" id="agree1" class="agree"> 개인정보 수집 및 이용에 동의합니다.</label></p>
                                    <p class="text-center"><label><input type="checkbox" id="agree2" class="agree"> 보험사 사고경력조회에 동의합니다.</label></p>
                                    <p class="text-center"><label><input type="checkbox" id="agree3" class="agree"> 보험사고 경력 조회시에 당사 규정에 따라 거부될 수 있음을 확인합니다.</label></p>
                                    <p class="text-center"><label><input type="checkbox" id="agree4" class="agree" onclick="check_all_box()"> 모두 동의</label></p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group text-center">
                                    <button class="btn1 btn1-default" onclick="make_rent_month_new_reservation()">상담신청 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>