<!--  월렌트 진행중 (main.html) -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SAVECAR - 월렌트+12/24개월렌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Style -->
    <link th:href="@{/css/rent_month2.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">

    <script>

        $(document).ready(function(){
            // 반납예정일로 정렬
            sortExpectedContent(6)
        });
    </script>
    <script th:src="@{/js/rent_month2.js}" defer></script>

</head>
<body>
<div layout:fragment="content">

    <div class="monthly_content container-fluid pinside60">

        <!-- title row -->
        <div class="row">
            <!-- title -->
            <div class="row" id="title_wrapper">
                <!-- left col -->
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <!-- 월렌트 title -->
                    <div>
                        <h1>월+12/24개월렌트</h1>
                    </div>
                    <!-- descriptions (collapse panel) -->
                    <div  >
                        <h3>실시간 예약가능차량 조회하기</h3>
                        <div class="not-show-in-mobile">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                월렌트는 1개월 단위로 이용할 수 있는 렌트 상품입니다. 12/24개월렌트는 12개월 및 24개월 동안 이용할 수 있는 렌트 상품입니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                실시간으로 세이브카의 예약가능차량을 조회해보실 수 있습니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                입고예정차량은 5일 이내 반납 예정인 차량입니다.
                                            </h4>
                                        </div>
                                    </a>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right col -->
                <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0 text-center not-show-in-mobile">
                    <img th:src="@{/img/medium_car.png}"  alt="car_img" style="height: 80%; width: 80%" />
                </div>
            </div>

            <!-- selections -->
            <form target="_self" method="POST" class="row pinside20 bg-white" id="select_wrapper" action="/rent/month/lookup" style="margin-top: 0px;">

                <!-- 차종 -->
                <div class="row">
                    <!-- left title -->
                    <div class="col-lg-2 col-md-9 col-sm-12 col-xs-12">
                        <p>차종</p>
                    </div>
                    <!-- selections -->
                    <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12" id="sel_car">
                        <label for="car_all"><input type="radio" id="car_all" name="carType" value="전체" onclick="sendData()" th:checked="${carType} == '전체'">전체</label>
                        <label for="car_s"><input type="radio" id="car_s" name="carType" value="경차" onclick="sendData()" th:checked="${carType} == '경차'">경차</label>
                        <label for="car_sm"><input type="radio" id="car_sm" name="carType" value="준중형차" onclick="sendData()" th:checked="${carType} == '준중형차'">준중형</label>
                        <label for="car_md"><input type="radio" id="car_md" name="carType" value="중형차" onclick="sendData()" th:checked="${carType} == '중형차'">중형</label>
                        <label for="car_bg"><input type="radio" id="car_bg" name="carType" value="대형차" onclick="sendData()" th:checked="${carType} == '대형차'">대형</label>
                        <label for="car_srv"><input type="radio" id="car_srv" name="carType" value="SUV" onclick="sendData()" th:checked="${carType} == 'SUV'">SUV</label>
                        <label for="car_van"><input type="radio" id="car_van" name="carType" value="승합" onclick="sendData()" th:checked="${carType} == '승합'">승합</label>
                        <label for="car_for"><input type="radio" id="car_for" name="carType" value="수입" onclick="sendData()" th:checked="${carType} == '수입'">수입</label>
                    </div>
                </div><hr style="background: lightgrey; margin: 10px 0" />

                <!-- 렌트기간 -->
                <div class="row">
                    <!-- left title -->
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <p>렌트기간</p>
                    </div>
                    <!-- selections -->
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="sel_term">
                        <label for="term_month"><input type="radio" id="term_month" name="rentTerm" value="한달" onclick="sendData()" th:checked="${rentTerm} == '한달'">한달</label>
                        <label for="term_one_year"><input type="radio" id="term_one_year" name="rentTerm" value="12개월" onclick="sendData()" th:checked="${rentTerm} == '12개월'">12개월</label>
                        <label for="term_two_year"><input type="radio" id="term_two_year" name="rentTerm" value="24개월" onclick="sendData()" th:checked="${rentTerm} == '24개월'">24개월</label>
                    </div>
                </div><hr style="background: lightgrey; margin: 10px 0" />


                <!-- 약정 주행거리 -->
                <!-- left title -->
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <p>약정 주행거리</p>
                    </div>
                    <!-- selections -->
                    <div th:if="${rentTerm == '한달'}" id="sel_reg" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <label for="reg_2000"><input type="radio" id="reg_2000" name="kilometer" value="2000km" onclick="sendData()" th:checked="${kilometer} == '2000km'">2,000km</label>
                        <label for="reg_2500"><input type="radio" id="reg_2500" name="kilometer" value="2500km" onclick="sendData()" th:checked="${kilometer} == '2500km'">2,500km</label>
                        <label for="reg_3000"><input type="radio" id="reg_3000" name="kilometer" value="3000km" onclick="sendData()" th:checked="${kilometer} == '3000km'">3,000km</label>
                        <label for="reg_4000"><input type="radio" id="reg_4000" name="kilometer" value="4000km" onclick="sendData()" th:checked="${kilometer} == '4000km'">4,000km</label>
                        <label for="reg_others"><input type="radio" id="reg_others" name="kilometer" value="기타" onclick="sendData()" th:checked="${kilometer} == '기타'">기타</label>
                    </div>

                    <!-- selections -->
                    <div th:if="${rentTerm == '12개월' or rentTerm == '24개월'}" id="sel_reg" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <label for="reg_20000"><input type="radio" id="reg_20000" name="kilometer" value="20000km" onclick="sendData()" th:checked="${kilometer} == '20000km'">20,000km</label>
                        <label for="reg_30000"><input type="radio" id="reg_30000" name="kilometer" value="30000km" onclick="sendData()" th:checked="${kilometer} == '30000km'">30,000km</label>
                        <label for="reg_40000"><input type="radio" id="reg_40000" name="kilometer" value="40000km" onclick="sendData()" th:checked="${kilometer} == '40000km'">40,000km</label>
                        <label for="reg_others_long"><input type="radio" id="reg_others_long" name="kilometer" value="기타_long" onclick="sendData()" th:checked="${kilometer} == '기타_long'">기타</label>
                    </div>
                </div>



<!--                <hr style="background: lightgrey; margin: 10px 0" />-->
                    <!-- 대기 상황 -->
<!--                <div class="row">-->
<!--                        &lt;!&ndash; left title &ndash;&gt;-->
<!--                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">-->
<!--                        <p>대여상태</p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; selections &ndash;&gt;-->
<!--                    <div id="sel_able" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">-->
<!--                        <label for="reserve_able"><input type="radio" id="reserve_able" name="reserve_able" value="possible" onclick="sendData()" checked="checked">예약가능차량</label>-->
<!--                    </div>-->
<!--                </div>-->
            </form>
        </div>

        <!-- content row -->
        <div>
            <div>
                <div class="to-prior-rent-month-text">* 조건을 선택하면 아래에 해당하는 차량이 조회됩니다.</div>
            </div>

            <!-- content row -->
<!--            <div>-->
<!--                <div class="to-prior-rent-month-text">* 아래의 목록에 없는 차량은 [상시차량 실시간 예약]으로 필요한 차량을 예약하세요</div>-->
<!--                <div class="to-prior-rent-month-button-wrap"><a href="/rent/month"><button class="to-prior-rent-month-button">상시차량 실시간 예약</button></a></div>-->
<!--            </div>-->
            <!-- content description -->
            <!--            <div >-->
            <!--                <span>※ 상세페이지에서 차량예약이 가능합니다.</span>-->
            <!--                <span align="right">총 <span th:text="${total_num}"></span> 대</span>-->
            <!--            </div>-->
        </div>

        <!-- content row -->
        <div>
            <!-- car table -->
            <div>
                <div id="mainTable">
                    <div class="head_title" style="margin-top: 50px;">
                        <h2>현재 대여가능차량</h2>
                    </div>
                  
                    <table th:unless="${morenDTOList.isEmpty()}">
                        <thead id="table_header">
                        <tr>
                            <th></th>
                            <th>차량번호<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortAvailableContent(1)></th>
                            <th>차명<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; width: 25px; height: 25px; display: block; margin: 0 auto" onclick=sortAvailableContent(2)></th>
                            <th>연료<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortAvailableContent(3)></th>
                            <th>색상<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortAvailableContent(4)></th>
                            <th>년식<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortAvailableContent(5)></th>
                            <th>월대여료[VAT별도]<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortAvailableContent(6)></th>
                            <th></th>
                        </tr>
                        </thead>
                        <!-- pc -->
                        <tbody id="mainTable_tbody">
                        <tr th:each="moren, iterStat : ${morenDTOList}" class="moveToAvailableDetail" th:data-index="${moren.rentIdx}" style="cursor: pointer;">
                            <td scope="col" th:text="${moren.carIdx}" class="carIdx" th:data-index="${moren.rentIdx}"></td>
                            <td scope="col" th:text="${moren.carNo}"></td>
                            <td scope="col" th:text="${moren.carName}"></td>
                            <td scope="col" th:text="${moren.carEngine}"></td>
                            <td scope="col" th:text="${moren.carExteriorColor}"></td>
                            <td scope="col" th:text="${moren.carOld}"></td>
                            <td scope="col" th:text="${rentTerm}" class="rentTerm" style="display: none;" th:data-index="${moren.rentIdx}"></td>
                            <td scope="col" th:text="${kilometer}" class="kilometer" style="display: none;" th:data-index="${moren.rentIdx}"></td>
                            <td scope="col" th:text="${moren.discount}" class="discount" style="display: none;" th:data-index="${moren.rentIdx}"></td>
                            <td scope="col" class="discountStyle">
                                <span th:text="${moren.carPrice}" class="number" th:style="${moren.discount != null  and moren.carPrice != '상담' ? 'text-decoration: line-through; text-decoration-color: darkred; text-decoration-thickness: 3px; ' : 'text-decoration:none'}"></span>
                                <div th:if="${moren.discount != null and moren.carPrice != '상담'}" class="discount-wrap">
                                    <p th:text="${moren.discountDescription}" class="discountAnimation" style="width: max-content;"></p>
                                    <p th:text="${moren.carPrice}*(100+${moren.discount})/100" class="number"></p><p>원</p>
                                </div>
                            </td>
                            <td>
                                <a th:href="'/rent/month/detail/' + ${rentTerm} + '/' + ${moren.carIdx} +'/' + ${moren.rentIdx} + '/' + ${kilometer}  + '/' + ${moren.discount} + '/available'">
                                    <button class="detail_btn">상세 페이지</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="empty-list-card" th:if="${morenDTOList.isEmpty()}">
                        <p>검색 결과가 없습니다. 다른 조건으로 검색해주세요.</p>
                    </div>
                </div>
                <!-- 모바일 --->
                <div id="mobileCard">
                    <div class="card moveToAvailableDetail" th:each="moren, iterStat : ${morenDTOList}" th:data-index="${moren.rentIdx}" style="cursor: pointer;">
                        <h4 th:text="${moren.carName}"></h4>
                        <p>차량 번호: <span th:text="${moren.carNo}"></span></p>
                        <p>색상: <span th:text="${moren.carExteriorColor}"></span> | 연료: <span th:text="${moren.carEngine}"></span></p>
                        <p>년식: <span th:text="${moren.carOld}"></span></p>
                        <p class="discountStyle">월 대여료[VAT별도]:
                            <span th:text="${moren.carPrice}" class="number" th:style="${moren.discount != null  and moren.carPrice != '상담' ? 'text-decoration: line-through; text-decoration-color: darkred; text-decoration-thickness: 3px; ' : 'text-decoration:none'}"></span>
                            <div th:if="${moren.discount != null and moren.carPrice != '상담'}" class="discount-wrap">
                                <p th:text="${moren.discountDescription}" class="discountAnimation"></p>
                                <p th:text="${moren.carPrice}*(100+${moren.discount})/100" class="number"></p><p>원</p>
                            </div>
                        </p>
                        <a th:href="'/rent/month/detail/' + ${rentTerm} + '/' + ${moren.carIdx} +'/' + ${moren.rentIdx} + '/' + ${kilometer}  + '/' + ${moren.discount} + '/available'">
                            <button class="detail_btn">상세 페이지</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- content row -->
        <div>
            <!-- car table -->
            <div>
                <div id="mainTable">
                    <div class="head_title" style="margin-top: 50px;">
                        <h2>5일 이내 입고예정차량 <br/><a href="/rent/month" style="color: red;">[상담신청만 가능]</a><br/>
                            <p>* 입고예정이나, 기존고객연장으로 예약이 불가할수있습니다. <br/>* 기존 고객님께서 교체하실 경우에는, 당사 방문 교체만 가능하며 교체비 3만원이 발생합니다. </p></h2>
                    </div>
                    <table class="table_expected" th:unless="${morenDTOListExpected.isEmpty()}">
                        <thead id="table_header">
                        <tr>
                            <th></th>
                            <th>차량번호<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortExpectedContent(1)></th>
                            <th>차명<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; width: 25px; height: 25px; display: block; margin: 0 auto" onclick=sortExpectedContent(2)></th>
                            <th>연료<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortExpectedContent(3)></th>
                            <th>색상<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortExpectedContent(4)></th>
                            <th>년식<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortExpectedContent(5)></th>
                            <th>반납예정일<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortExpectedContent(6)></th>
                            <th>월대여료[VAT별도]<img th:src="@{/img/down-arrow.png}" style="max-width: 100%; vertical-align: middle; width: 25px; height: 25px; display: inline-block" onclick=sortExpectedContent(7)></th>
                            <th></th>
                        </tr>
                        </thead>
                        <!-- pc -->
                        <tbody id="mainTable_tbody">
                        <tr th:each="moren, iterStat : ${morenDTOListExpected}" class="moveToExpectedDetail" th:data-index="${moren.rentIdx}" style="cursor: pointer;">
                            <td scope="col" th:text="${moren.carIdx}" class="carIdx" th:data-index="${moren.rentIdx}"></td>
                            <td scope="col" th:text="${moren.carNo}"></td>
                            <td scope="col" th:text="${moren.carName}"></td>
                            <td scope="col" th:text="${moren.carEngine}"></td>
                            <td scope="col" th:text="${moren.carExteriorColor}"></td>
                            <td scope="col" th:text="${moren.carOld}"></td>
                            <td scope="col" th:text="${moren.orderEnd}"></td>
                            <td scope="col" th:text="${rentTerm}" class="rentTerm" style="display: none;" th:data-index="${moren.rentIdx}"></td>
                            <td scope="col" th:text="${kilometer}" class="kilometer" style="display: none;" th:data-index="${moren.rentIdx}"></td>
                            <td scope="col" th:text="${moren.discount}" class="discount" style="display: none;" th:data-index="${moren.rentIdx}"></td>
                            <td scope="col" class="discountStyle">
                                <span th:text="${moren.carPrice}" class="number" th:style="${moren.discount != null  and moren.carPrice != '상담' ? 'text-decoration: line-through; text-decoration-color: darkred; text-decoration-thickness: 3px; ' : 'text-decoration:none'}"></span>
                                <div th:if="${moren.discount != null and moren.carPrice != '상담'}" class="discount-wrap">
                                    <span th:text="${moren.discountDescription}" class="discountAnimation" style="width: max-content;"></span>
                                    <span th:text="${moren.carPrice}*(100+${moren.discount})/100" class="number"></span><p>원</p>
                                </div>
                            </td>
                            <td>
                                <a th:href="'/rent/month/detail/' + ${rentTerm} + '/' + ${moren.carIdx} +'/' + ${moren.rentIdx} + '/' + ${kilometer} + '/' + ${moren.discount} + '/expected'">
                                    <button class="detail_btn">상세 페이지</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="empty-list-card" th:if="${morenDTOListExpected.isEmpty()}">
                        <p>검색 결과가 없습니다. 다른 조건으로 검색해주세요.</p>
                    </div>
                </div>
                <!-- 모바일 -->
                <div id="mobileCard">
                    <div class="card moveToExpectedDetail" th:each="moren, iterStat : ${#lists.sort(morenDTOListExpected, byOrderEnd)}" th:data-index="${moren.rentIdx}" style="cursor: pointer;">
                        <h4 th:text="${moren.carName}"></h4>
                        <p>차량 번호: <span th:text="${moren.carNo}"></span></p>
                        <p>색상: <span th:text="${moren.carExteriorColor}"></span> | 연료: <span th:text="${moren.carEngine}"></span></p>
                        <p>년식: <span th:text="${moren.carOld}"></span></p>
                        <p>반납예정일: <span th:text="${moren.orderEnd}"></span></p>
                        <p class="discountStyle">월 대여료[VAT별도]:
                            <span th:text="${moren.carPrice}" class="number" th:style="${moren.discount != null  and moren.carPrice != '상담' ? 'text-decoration: line-through; text-decoration-color: darkred; text-decoration-thickness: 3px; ' : 'text-decoration:none'}"></span>
                            <div th:if="${moren.discount != null and moren.carPrice != '상담'}" class="discount-wrap">
                                <span th:text="${moren.discountDescription}" class="discountAnimation"></span>
                                <span th:text="${moren.carPrice}*(100+${moren.discount})/100" class="number"></span><p>원</p>
                            </div>
                        </p>
                        <a th:href="'/rent/month/detail/' + ${rentTerm} + '/' + ${moren.carIdx} +'/' + ${moren.rentIdx} + '/' + ${kilometer} + '/' + ${moren.discount} + '/expected'">
                            <button class="detail_btn">상세 페이지</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>


</html>